[2017-10-12 12:55] jarun commented on #219
Thank you for testing the patch!

[2017-10-12 21:40] hubitor commented on #219
I'm running now the above command with v.3.4 as well as the latest patched version and both are stuck at some index for many hours (the first at index 13 and the second one at index 32). This is actually the second time it happens. The first time I did buku -u and stopped it with Ctrl+C when it got stuck. Besides that, I see [ERROR] for every index. Many kinds of errors like these:

- [ERROR] [500

[2017-10-13 02:08] jarun commented on #219
The error codes indicate that the URLs do not exist anymore or there is a server error. You have 8K URLs, there can be a substantial number of URLs which do not work anymore.

When you say index 13 and 32 we wouldn't be able to make anything out of that. You have to at least share the URLs at those indices.

[2017-10-13 02:13] jarun commented on #219
Also, the timeout for each URL is 40s after which Buku will stop trying to connect to it. And for 8K URLs, some amount of time is required to complete the refresh. As it is a silent refresh, it appears to be stuck but it's not. Buku refreshes in multiple threads and other threads would be running even if some are stuck.

I think I was wrong in asking you to run `buku -u --tacit`. You should run:

[2017-10-13 02:36] rachmadaniHaryono commented on #174
after reading the recent comment #219, is it possible and more advantageous to fetch the title asynchronously to speed up the process?

[2017-10-13 02:39] jarun commented on #174
Please explain in more detail. I didn't quite understand. Currently it is threaded. Which approach are you proposing?

[2017-10-13 04:25] rachmadaniHaryono commented on #174
I'm thinking something with aiohttp to fetch page.

Reference https://stackoverflow.com/questions/8546273/is-non-blocking-i-o-really-faster-than-multi-threaded-blocking-i-o-how

But looking at the code not quite feasible this is and if this will make maintenance better.

It also only used when importing a lot of bookmark which is not essential. So I'm still not sure about this

[2017-10-13 06:40] jarun commented on #174
The thread is more of a propaganda than having any real meat. Here's my take:

- We are in the age of i7 and SSDs. The overhead of threading for fetching webpages is insignificant. Note that we have minimal data processing overhead and NO graphical overhead.
- Even if we use asynchronous IO the program waits for the slowest thread. We can't exit.
- Full refresh is a once-in-a-while operation.

[2017-10-13 09:17] hubitor commented on #174
I had several links in my notepad and I couldn't find a way to import them directly into buku. The add option accepts only one link. So first I add them with an add-on in firefox, then export all the bookmarks and finally import them into buku. The problem was that it took some time because not only the new bookmarks were imported but also some thousands bookmarks which were already in firefox.

S

[2017-10-13 09:24] hubitor commented on #219
True. How can I remove these URLs from buku? I hope not manually.

I should check before was tacit means. I didn't realize it was showing me only dead URLs.

[2017-10-13 09:44] jarun commented on #219
buku -d _space_separated_ids_from_tacit_output
You'll have to provide the IDs manually. Buku doesn't intelligently automate any operation that may lead to data loss.

[2017-10-13 09:46] jarun commented on #174
It would be a very small script in ANY scripting language (shell/python/perl...). Please write it yourself.

[2017-10-13 11:51] hubitor commented on #219
I run the update again and redirected the output to a log file. It was writing the file normally and then stopped for over an hour. The last index was 80. I then updated the subset 1 to 80 without a problem. These are the last lines from the output in the terminal:

[code]

[2017-10-13 12:00] hubitor commented on #219
I can confirm that more and less work fine with the patched version:
with:
`$ buku -p | less -R
`
I have colors and can scroll up & down. No error when I quit.

with:
`$ buku -p | more
`
I have colors and can scroll down. No error when I quit.

[2017-10-13 12:15] jarun commented on #219
The problem is with `about:newtab` set as a URL. We will handle this.

[2017-10-13 13:44] jarun opened #220 "Exception on malformed URL"
A bookmark `about:newtab` throws error during auto-refresh.

[code]

[2017-10-13 13:45] jarun commented on #220
The exception should be caught in `about:newtab`.

[2017-10-13 13:46] jarun commented on #219
Raised issue #220 to fix this.

[2017-10-13 14:13] rachmadaniHaryono commented on #220
Related to this https://developer.mozilla.org/en-US/Firefox/The_about_protocol

Can I do  It?

[2017-10-13 14:21] jarun commented on #220
Sure! I can't be happier if collabs pick up issues.

[2017-10-13 15:00] hubitor commented on #219
I have found and removed this URL with DB Browser for SQLite, it was at index 0. After that I initiated a new update which finished normally.

[2017-10-13 15:19] jarun commented on #219
We have identified the problem. Once we have a fix you can have that *url* as well. Thanks for sharing the details of the exception.

[2017-10-13 15:27] jarun commented on #220
@rachmadaniHaryono I don't think we need to do any special handling of these *URLs*. The reason is they are not really web URLs.

I think we should add the following:

- add `about:` to `ignored_prefix` in `is_nongeneric_url()`
- add a call to `is_nongeneric_url()` in `network_handler()` [after the call to `is_bad_url()`] and return the tuple `('', 0, 1)`.

[2017-10-14 11:14] #220 closed

[2017-10-15 02:32] jarun commented on #174
@mosegontar @rachmadaniHaryono can you guys audit the add bookmark path and see if there's any way to optimize the performance anywhere? It can be reduction of condition checks, loops, less variables, anything... It's not that we are slow, but it's always great to be audited.

[2017-10-15 15:58] mosegontar commented on #174
Sure 👍  i'll take a look

[2017-10-16 02:40] mosegontar opened #223 "Bookmark add path optimization"
I think `parse_tags` can be simplified and at least reduce some condition checks and assignments in the for loop used to create the list of unique tags. I used `set()` instead of the for loop here:

https://github.com/mosegontar/Buku/commit/61154960607711847e4795266fb72f91abc5865b

If this is okay, I can make a PR. (I haven't looked closely at the rest of the add path).

[2017-10-16 04:14] jarun commented on #223
Seems fine. Also, we have several of test cases around parse_tags(). When you raise the PR those shall pass. ;)

[2017-10-16 04:16] jarun commented on #223
Including @rachmadaniHaryono. I have changed the title. Try to find figure out as many optimizations as possible. We have been writing this for a long time. I am sure there are places where we could have done better.

[2017-10-16 12:49] questor commented on #174
two suggestions:
- html-export with template (already done, I can make a pull request if you want; helpful to create a static website with filtering possibilities in JS)
- it would be cool to have some sort of plugins to update the database, for example if you have a github-repo bookmarked to automatically create tags based on the license and language. something to make it easier to grab more info

[2017-10-16 15:22] mosegontar commented on #223
Ok, sounds good

[2017-10-16 15:33] jarun commented on #174
This is definitely a new plugin/project. Please create one and I'll add a mention to it.

[2017-10-16 15:35] jarun commented on #174
any comments?

Are you creating a plugin framework or a plugin in this case? The framework would be a part of Buku, the plugin will be a separate project.

[2017-10-16 15:57] rachmadaniHaryono commented on #174
See also http://yapsy.sourceforge.net

I'm thinking the plugin workflow should be like this

- buku have a default plugin folder or user can set that
- User add plugin( python file)  to that folder
- each time user add bookmark, if the bookmarks match with given condition on plugin (regex or simple function), the e.g. Add additional tags or modify the url, etc
- the plugin can be run for other act

[2017-10-16 16:06] jarun commented on #174
I think it would be greatly useful. Please collaborate and go ahead. Please add an issue and a branch (`plugin-fw`) to work on this.

@questor I am adding you as a collab. Please accept and work on the branch for plugin framework.

[2017-10-16 16:10] jarun commented on #174
I have created the branch `plugin-fw`.

[2017-10-17 09:02] questor commented on #174
okay, to give you some more insights what I want to achieve and what workflow I have in mind some explanations:
- I want to handle the plugins in the update function, an extra plugin-update-handling could also be possible (with selection which plugin to run?)
- but if the user changed something the plugin should not overwrite user-content. this one is tricky because tags can be updated on a tag-ba

[2017-10-17 09:04] questor commented on #174
btw: the template changes are really simple and does not interfere with the other options. the changes can be seen here: https://github.com/questor/Buku/commit/eb4b8c745f793eb631842e290a650d3a8259e6ff

[2017-10-17 09:18] jarun commented on #174
I will need some time to think about it. At the same time, the plugins should be as detached as possible.

[2017-10-17 12:03] jarun commented on #174
I think a plugin should have its own database for its own data. The foreign key should be the URL which is unique in Buku DB.

[2017-10-17 12:07] jarun commented on #174
Let's say the user updates description through plugin. It should be in the desc field of Buku. For fields which are available both Buku and plugins work on the same field. That it, no data duplication.

[2017-10-17 17:11] jarun commented on #174
@rachmadaniHaryono are there any test cases for shorten and expand? I believe for well-known services like google the shortened url is always the same. Can you please add the test case if not in place already? This we ensure we know if the tny.im service is active.

[2017-10-17 20:52] Hund opened #225 "[Request] More verbose feedback when deleting bookmarks"
This is the current behaviour when deleting a bookmark:

[code]

It would have been nice to get some feedback, so you know that you did indeed delete the correct bookmark and if you didn't you have a chance to readd it when its in the feedback output:

[code]

[2017-10-17 23:48] jarun commented on #225
1. You asked for the deletion of the bookmark at index 53 and it was deleted, How did you know you had to delete the bookmark at index 53 in the first place? And if you don't know that, why would you delete a random bookmark?
2. If we wanted to do what you are asking for, we'll have to read the bookmark, which is an extra operation unrelated to delete.

[2017-10-17 23:48] #225 closed

[2017-10-19 07:23] rachmadaniHaryono commented on #174
@jarun sorry it may take some time as i focus on other things on these recent days

[2017-10-20 02:03] jarun commented on #174
Sure! Please take your time.

[2017-10-24 01:28] diamond-lizard opened #226 "No module named 'requests'"
After installing buku using pipsi, I get an error when first trying to run it:
[code]

Here's the output of the pipsi install:
[code]

[2017-10-24 02:16] jarun commented on #226
What happens if you use `sudo pip3 install buku`?

[2017-10-24 02:48] jarun commented on #226
I confirmed `pip3`works. Please use any of the documented mechanisms to install `Buku`.

[2017-10-24 02:48] #226 closed

[2017-10-25 08:21] jarun commented on #223
@mosegontar are you working on this? If not, please raise the PR with changes you have already.

[2017-10-25 08:22] jarun commented on #174
@questor are you working on the plugin framework?

[2017-10-25 08:24] jarun commented on #174
Also @questor, please raise a PR for the template stuff so we can review it.

[2017-10-25 09:41] questor commented on #174
I'm thinking through the stuff and the things I want to have (which of course might not necessarily is the same the rest want to have). my current idea is to have a template-output (already done, will make a PR later) with the possibility to have a static webpage with the output and some javascript code to make filtering in the page (something like filtrify).
here bringing plugins into play would

[2017-10-25 09:50] jarun commented on #174
If the requirement is to have a template from which a static webpage can be generated I don't think we would really need a plugin. Have the template and build it up by fetching data from the webpages separately. What one really needs is the links. Why would we need to store additional data for this requirement in the Buku database. If you want a cool page, you need to ave the thumbnails which woul

[2017-10-25 11:02] questor commented on #174
okay, you are thinking about a datascraper-plugin and another export-plugin or something combined thinking about an export-plugin using the buku-db-url, downloading some more data and doing the export?
having two separate plugins would allow to use custom data-scraping plugins also for normal database population, but having the additional data in an extra database would mean that using the special

[2017-10-25 15:50] jarun commented on #174
My idea is pretty straight for this plugin (set of plugins): get the urls from the DB and do whatever you want with your own data.

[2017-10-26 17:49] mosegontar commented on #223
@jarun Hi! Sorry, I've been tied up lately and haven't gone beyond what I did in PR #224. I will get back to it. Do you prefer that I raise small PRs as I find things?

[2017-10-26 19:45] jarun commented on #223
Sure thing! I am closing this defect accordingly.

[2017-10-26 19:45] #223 closed

[2017-10-26 22:39] brokengillou opened #228 "Msys2 installation"
Hi,
     I tried to install your tool but it's not working:
any buku gives:

`
Traceback (most recent call last):
  File "/usr/local/bin/buku", line 32, in <module>
    import requests
ModuleNotFoundError: No module named 'requests'
`

I'm on
Windows 10 version 10.0.15063
Msys2 2.9.0-2
Mintty 2.7.9 (x86_64-pc-msys)
mingw-w64-x86_64-python3 3.6.3-1
mingw-w64-x86_64-python3-asn1crypto 0.22.0-1
mingw

[2017-10-27 03:07] jarun commented on #228
You need to have the dependencies installed. Please read the [deps](https://github.com/jarun/Buku#dependencies) section in the project readme.

[2017-10-27 03:07] #228 closed

[2017-10-29 16:39] mosegontar opened #229 "Selecting multiple suggested tags when using --suggest"
When using `--suggest` to get a list of suggested tags with the `suggest_similar_tags` method, the user is presented with the following:

    similar tags:
    1. suggestion1
    2. suggestion2
    3. suggestion3
    ...
    n. suggestionN

    select:

To select more than one tag, the user must enter, e.g., `1 2`. Each number must be delimited by a space. Using `,` as the delimiter won't work. Si

[2017-10-29 16:47] jarun commented on #229
Indices are not tags. Even in the omniprompt switch `g` we use space-separation. Indices throughout buku are separated by spaces. Don't confuse it with anything else.

[2017-10-29 16:47] #229 closed

[2017-10-29 16:58] mosegontar commented on #229
Ah okay I see, got it

[2017-11-11 07:50] jarun opened #233 "ToDo List"
Continued from #174.

#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to assist any new contributor. We need your help!

Some of the fresh-baked features may not have been released yet. Grab the master branch for those.
#### Identified tasks

[2017-11-11 07:50] jarun commented on #174
Rolled at #233.

[2017-11-11 07:50] #174 closed

[2017-11-13 19:53] stepnem opened #234 "Fetch the title for editing when adding a bookmark"
When editing a bookmark being added with `xsel | buku -w -a`, I would
also like to review and possibly edit the page title, but that is fetched
only after having edited the template (as long as the title field is
left blank). I would prefer the title to be fetched in advance and
supplied as the default value.

[2017-11-13 20:00] stepnem opened #235 "Possibility to abort adding bookmark while editing"
There seems to be no way to abort adding a new bookmark from an editor:
even when an editor returns with a non-zero exit status, the bookmark
is added anyway. I would expect the process to abort in that case,
same as when editing an e-mail message, VCS commit message etc.

[2017-11-14 03:37] jarun commented on #235
Start with:

    buku -w
Quit without saving and the bookmark won't be added.

[2017-11-14 03:37] #235 closed

[2017-11-14 03:40] jarun commented on #234
I don't think we can do this without changing the flow heavily. And we don't intend to do that at this stage of the project.

You are doing this manually. So, please run:

    buku -w -1
after adding the bookmark to edit the last added bookmark.

[2017-11-14 03:40] #234 closed

[2017-11-14 09:59] stepnem commented on #235
This works only if you don't supply other options, but what about e.g. the
"xsel | buku -w -a" case (or just "buku -w -a URL")?

[2017-11-14 16:28] jarun commented on #235
This is fixed on master. Thanks for reporting the issue.

[2017-11-19 23:42] Chinggis6 commented on #30
for archlinux it was `localectl set-locale LANG=en_US.UTF-8`, and a `reboot` after (sadly)

[2017-12-26 08:52] QiangF commented on #233
Since importing from different sources would inevitably introduce many duplications, a method of merging duplicated urls is crucial, I would suggest to pick the shortest title, and merge the tags.

[2017-12-26 08:53] jarun commented on #233
Are you interested in implementing the feature?

[2017-12-26 09:06] QiangF commented on #233
Yes, I will try,  I have only very little knowledge of python and know nothing about sql.

[2017-12-26 10:01] jarun commented on #233
I'm afraid at this stage of the project we need a little more experienced hands. BTW, Buku doesn't store duplicate URLs. So the first URL and associated data would be stored, rest would be discarded. I've thought about merging earlier but then as long as the URL is in (and the user thought at some point the entry is complete with the first set of data) I think we are reasonably safe.

[2017-12-26 15:22] jarun opened #239 "Please add Fedora 27 to supported distributions"
Fedora 27 has been released last Nov. Please add it to distributions.py.

[2017-12-26 15:29] randrej opened #240 "Page full-text extraction and searching"
Is there a barrier to adding full-text searching to the program (and database)?

What I mean by full-text searching is parsing (with readability?) the text content of a web page upon bookmarking and storing it in the database along with the rest of bookmark's data.
We could then add a 'full-text' switch that allows us to search for text in the page summaries.

[2017-12-26 16:04] jarun commented on #240
Yes, we would need to write another google back-end which is beyond our capacity at current bandwidth.

[2017-12-26 16:04] #240 closed

[2017-12-26 19:04] jarun commented on #239
Oops! Wrong project. ;)

[2017-12-26 19:04] #239 closed

[2017-12-27 12:05] randrej commented on #240
I was thinking of using a drop-in solution for sqlite3, this one in particular:
https://sqlite.org/fts3.html

The FTS3 (or 4) extension is easily accessible through the official python sqlite3 library:
https://docs.python.org/3/library/sqlite3.html#sqlite3.Connection.enable_load_extension

I wanted to try doing this myself, I'm not asking You to develop a (not so) niche feature that I like. I'm ju

[2018-01-08 02:14] pgnd opened #241 "how to export when places.sqlite, not bookmarks.html, is the primary store?"
i've installed
[code]
firefox Sync is enabled/in-use.

exec of "Auto-import from Firefox, Google Chrome and Chromium",
[code]
works as expected.

re: export, iiuc the docs correctly ("Import/export bookmarks from/to HTML or Markdown"),  export is ONLY to html or md.

afaict, for firefox v58 bookmarks, <profile>/bookmarks.html is NOT the primary store -- places.sqlite is.

If places.sqlite is missi

[2018-01-08 04:02] jarun commented on #241
- you can export bookmarks from Buku to HTML or Markdown
- you can import HTML or markdown formatted bookmarks to Buku

The method to import bookmarks from Buku to browsers ahs always been through Buku-exported HTML which browsers understand. Are you saying that doesn't work in FF 58?

Also, there's [bukubrow](https://github.com/SamHH/bukubrow).

[2018-01-08 04:19] pgnd commented on #241
No,  I'm saying that bookmarks.html isn't used if places.sqlite is in place.

So html export FROM buku TO firefox's bookmarks.html is of no immediate use.

At least, here, it's completely ignored.

It appears we need 'export' to places.sqlite ...

[2018-01-08 04:37] jarun commented on #241
You can export your bookmarks to HtmL format first:

    buku -e ~/bookmarks.html

Then import the bookmarks from bookmarks.html using Firefox's bookmark import process:
 <kbd>Ctrl-Shift-O</kbd> -> _Import and Backup_ -> _Import Bookmarks from HTML..._

[2018-01-08 04:37] #241 closed

[2018-01-08 04:38] jarun commented on #241
You should never replace the bookmarks.html file manually.

[2018-01-25 04:37] flashus commented on #233
I think storing bookmark save date would be nice.

[2018-01-25 10:40] putsan commented on #233
[**@flashus**](https://github.com/flashus) commented on [25 січ. 2018, 06:37 GMT+2](https://github.com/jarun/Buku/issues/233#issuecomment-360358693 "2018-01-25T04:37:28Z - Replied by Github Reply Comments"):

So I think it may be necessary for me too

[2018-01-25 11:08] rachmadaniHaryono commented on #233
@flashus , @putsan

see #103

[2018-01-29 03:28] jpdasma commented on #233
Hello, I saw your thread here.
https://www.reddit.com/r/archlinux/comments/7tk50u/need_aur_maintainer/

I could volunteer for maintaining the AUR package, I have some experience in creating Fedora and Debian package. I might also look at the code sometime and contribute (currently using Python for work)

[2018-01-29 12:04] jarun commented on #233
That's great! Can you please share your AUR username so I can add you as a maintainer?

[2018-01-29 12:07] putsan commented on #233
Someone can make a package for Solus Os?

[2018-01-29 12:17] jarun commented on #233
@putsan please contact the Solus OS team to add Buku to their repository. And probably some more of my utilities ;).

[2018-01-30 04:32] jarun commented on #233
@jpdasma can you please share your AUR username?

[2018-01-30 04:33] jarun commented on #233
@rachmadaniHaryono would it be possible for you to take care of the PyPi update? I am not expecting a next release of Buku soon.

[2018-01-30 05:43] jpdasma commented on #233
Hello, although I have experience in creating Fedora and Debian packages due to work related reasons, I have minimal experience in creating an AUR package (thus still no AUR username). Is it okay if I could still maintain it? I'll try creating an AUR account later today.

[2018-01-30 08:43] rachmadaniHaryono commented on #233
@jarun ,  i will try it on the next release. ping me when new release is finished

[2018-01-30 13:22] jarun commented on #233
@jpdasma that should be fine. There's one change in the last release of Buku you should be aware of - you can remove `python-requests` from the list of dependencies.

I have added you as a co-maintainer on AUR. Welcome!

[2018-01-30 13:23] jarun commented on #233
@rachmadaniHaryono we are not going to have a new release soon. The last release is not updated on PyPi yet.

[2018-01-31 01:45] jpdasma commented on #233
@jarun I'll take note of that

[2018-01-31 04:54] jarun commented on #233
@jpdasma that's awesome!

[2018-01-31 05:56] rachmadaniHaryono commented on #233
@jarun

- it seems i can't upload to pypi.

[code]
based on error, i need to get permission to upload it

- so i look at the [pypi page](https://pypi.python.org/pypi/buku/3.5) and trying to fix the page.
  - first i use pypandoc to convert `readme.md` (https://stackoverflow.com/a/26737672/1766261)
  - write the converted text to `readme.rst` and check it with rstcheck. i found out that:
    -  the

[2018-01-31 06:15] jarun commented on #233
I have added you for the permission issues. Try once more. For the other part, do as you see fit.

[2018-01-31 06:25] rachmadaniHaryono commented on #233
https://pypi.python.org/pypi/buku it is done

my browser load the page stop few second between these lines
[code]
maybe rst need few time to process `?                      show this help`  due to leading question mark

[2018-01-31 06:31] jarun commented on #233
No issues with loading here! 👍
Where's the test.pypi file? Link please.

[2018-01-31 06:48] rachmadaniHaryono commented on #233
add the doc see the 3th edit of my comment above

you mean this ?

https://test-files.pythonhosted.org/packages/c3/74/c4b3cedaf04e262d9a78bf1d291c08ddea0882d336c19baf5e2d78abe691/buku-3.6.post8.tar.gz

it is basically this commit 83165e26c20ae461a4034e07b6bdf8aff578136f

[2018-01-31 08:14] jarun commented on #233
Ignore ;). As long as users can download the package we are good!

[2018-02-06 14:51] jarun commented on #233
@mosegontar would you have the time to try the first item? I added it today.

[2018-02-06 23:41] mosegontar commented on #233
@jarun,hi!  thanks for pinging me. I'll have to do some research how to do this in SQL and modify the search queries, but I can take a crack at it this weekend, if that's okay.

To clarify the task:
If `bookmarkA` has the title "title1" and the tag "tagA", and `bookmarkB` has the title "title2" and tag "tagA", and we run `buku -s tagA title2`, both bookmarks should be returned in the results (curr

[2018-02-07 02:38] jarun commented on #233
Yes, your understanding is correct. 👍
Also, we are using sqlite in Buku so research based on sqlite.

[2018-02-11 22:54] jarun commented on #233
Please take your time.

[2018-02-23 14:04] fstakem opened #246 "More Pythonic Installation"
I was looking to use this software but do you have a more Pythonic way to install it? I do not pollute my system python with other libraries and that is a deal breaker for me.

[2018-02-23 14:08] jarun commented on #246
First read the [installation instructions](https://github.com/jarun/Buku#installation). If none of the ways suit you then you should find your deal somewhere else.

[2018-02-23 14:08] #246 closed

[2018-02-24 01:43] Aninstance commented on #233
@jarun I've created a snap package for this, for easy installation across my local Linux systems. It's very easy to maintain (when the snap is installed it pulls directly from your latest release, installs all the dependences etc).

Would you be interested in publishing the snap in the Ubuntu snap store? It'd make installing over most popular Linux distros as easy as 'snap install buku'. If you'd

[2018-02-24 03:07] jarun commented on #233
I do not maintain any downstream packages. If you can maintin I have no issues.

Please ensure the changes in the codebase are minimal.

Generally I discourage snaps but Buku has a few deps so we can have it.

[2018-02-24 20:32] Aninstance commented on #233
@jarun Thank you for permitting your application to be snapped, much appreciated. The snap would build directly from your latest released version, so no changes to your codebase at all. I've got the ball rolling - it's now pushed to a buku repository in the Ubuntu snap store and should be published soon.

[2018-02-25 03:06] rachmadaniHaryono commented on #233
@jarun i create https://github.com/jarun/Buku/wiki/Upload-to-pypi, so anyone who want to upload the program to pypi can look at that instead searching in todo list thread

[2018-02-25 04:04] jarun commented on #233
thanks @Aninstance and @rachmadaniHaryono!

[2018-03-04 04:24] QiangF opened #248 "No confirmation before overwriting bookmark database"
The confirmation should be several keys like "yes", so no accidental mistakes.

[2018-03-04 04:59] jarun commented on #248
1. you typed `buku -d`
2. you pressed `y`
3. you pressed `Enter`

and you claim it's accidental???

[2018-03-04 04:59] #248 closed

[2018-03-04 05:13] jrmiller82 opened #249 "export db file issue"
`buku -e ~/synced_dir/bookmarks.db`

Doesn't export a sql db, it exports a firefox-style html export with the extension of .db.

Buku version 3.2. Ubuntu 17.10.

[2018-03-04 05:22] jarun commented on #249
v3.2 is too old. Please try the latest released v3.6. I couldn't reproduce the issue with v3.6.

[2018-03-04 06:07] QiangF commented on #248
1. the user typed buku
2. an new database is create
There should be a confirmation.

[2018-03-04 06:11] jarun commented on #248
If the earlier db exists, it won't be overwritten. On creation of a new DB, the user is notified.
Please share the correct workflow.

[2018-03-04 06:19] QiangF commented on #248
I just come across one overwritten. Fortunately I have a backup. If I move my backup to overwrite the database created, next time I reboot and type buku it will get overwritten again.

[2018-03-04 06:52] QiangF commented on #248
"/home/q/.local/share/buku/bookmarks.db"

[2018-03-04 07:39] jarun commented on #248
There is a specific check to confirm if the file exists:

https://github.com/jarun/Buku/blob/master/buku.py#L478

If it exists we don't even proceed with DB creation. Doesn't matter if it is the original file or the backup file. So I am not sure I clearly understand your issue.

How is it related to the issue you have raised? If the file `/home/q/.local/share/buku/bookmarks.db` exists, we don't tr

[2018-03-04 07:40] jarun commented on #248
In addition to my last comment, which version of `Buku` are you using?

[2018-03-06 04:13] jarun commented on #249
Closing this as the issue is not reproducible with the latest version.

[2018-03-06 04:13] #249 closed

[2018-03-06 08:39] QiangF commented on #248
Update to the latest version seems to fix it. Thank you!

[2018-03-06 08:54] jarun commented on #248
Thanks for confirming!

[2018-03-13 00:19] BlackLotus opened #250 "Searching for tags and keywords"
I probably miss something very obvious, but how can I search for keywords (in the title or url) and filter for tags at the same time with commands.
[code]

I'm sure this must work somehow, but I can't figure out how.

[2018-03-13 00:45] jarun commented on #250
This is not available at the moment. You can either search all fields or only tags. Filtering is supported for tags-only (see examples 19-21).

It will be good to add this feature. I will add it to the ToDo list. If interested, please raise a PR.

[2018-03-13 00:45] #250 closed

[2018-03-13 02:00] jarun commented on #250
I have added the changes needed to handle each search option with different sets of keywords at commit https://github.com/jarun/Buku/commit/912b147bfec8ee11f841cbac02375cf1c4fbb106.

[2018-03-16 01:41] mosegontar commented on #233
@jarun hi! my apologies for the delay. I'm pretty tied up lately, so I don't think I'd have time to work on it, but thanks for checking with me.

[2018-03-16 01:41] #233 closed

[2018-03-16 03:08] jarun commented on #233
@mosegontar Hey no problem!

[2018-03-16 14:59] jarun opened #251 "ToDo List"
Continued from #233.

#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to assist any new contributor. We need your help!

Some of the fresh-baked features may not have been released yet. Grab the master branch for those.

#### Identified task

[2018-03-16 14:59] jarun commented on #233
Rolled at #251.

[2018-03-22 11:42] alex-bender commented on #250
Hi @jarun, seems that it would take more time then I can dedicate for now, sorry.

[2018-03-22 13:01] jarun commented on #250
No problem @alex-bender!

[2018-03-22 13:28] jarun opened #253 "Multiple tag exclusion doesn't work"
The following query gives wrong results:

[code]

The tags after the first `-` are combined together as a single tag and result 14 shows up.

[2018-03-22 13:30] jarun commented on #253
@mosegontar could you please take a look? It seems we need to tweak `prep_tag_search` to handle multiple tags separated by `-`. It should also work with the following patterns:

    + - + -
    and
    - + - +

[2018-03-22 14:28] jarun commented on #253
I think for simplification we should support:

[code]

[2018-03-22 15:27] #253 closed

[2018-03-22 15:29] jarun commented on #253
@rachmadaniHaryono we need test cases for the api `prep_tag_search()`.

[2018-03-22 23:45] jarun commented on #250
@BlackLotus this feature is implemented at https://github.com/jarun/Buku/commit/f804233ef966382346c66b7e654de378abe1ade6.

[2018-03-23 12:35] rachmadaniHaryono commented on #251
related to idea on #255

example: https://github.com/rachmadaniHaryono/Buku/tree/feature/server

screenshots
![buku api - chromium_002](https://user-images.githubusercontent.com/6340878/37829297-76893bdc-2ed9-11e8-8312-2b204c082f4f.png)
![buku api - chromium_003](https://user-images.githubusercontent.com/6340878/37829306-7d361414-2ed9-11e8-96e6-47502ec575bf.png)
![buku api - chromium_004](https://

[2018-03-23 12:39] tom-i commented on #251
Looks pretty awesome, @rachmadaniHaryono are you planning to integrate function for having buku-server on some other network place (server) than localhost?

[2018-03-23 12:50] jarun commented on #251
Awesome!!! We _must_ have it in the main project :). Probably we can add a directory named `buku_server` and have the implementation there. Slowly you can add the functionality we have in core. I am pathetic with GUI stuff but I believe we will get contributors as we keep adding ToDo items.

[2018-03-23 12:53] rachmadaniHaryono commented on #251
i haven't tried with other but you can put it on `0.0.0.0` so other device can reach it

https://stackoverflow.com/questions/31904761/what-does-app-runhost-0-0-0-0-mean-in-flask

so run the command like this
[code]
see also more `run` option with ```buku-api run --help```

[2018-03-23 12:55] rachmadaniHaryono commented on #251
imo we can rename the `api` folder to `buku_api` or `buku_server` and change the setup for the new path. the name `api` is too common and may conflict with other package

[2018-03-23 12:58] jarun commented on #251
`buku_server` would be fine.

Where do I run the command `buku-api run --host 0.0.0.0` in your tree?

[2018-03-23 12:59] rachmadaniHaryono commented on #251
first just install it in your virtualenv

[code]

the run the command

[2018-03-23 13:02] jarun commented on #251
I emant we can rename `api` to `buku_server`.

cool!

[2018-03-23 13:03] rachmadaniHaryono commented on #251
should the command be changed as well (from `buku-api` to `buku-server`)?

[2018-03-23 13:15] jarun commented on #251
How about `bukuserver` in both cases?

[2018-03-23 13:21] rachmadaniHaryono commented on #251
done, will edit recent comment to match new command

[2018-03-23 22:10] tom-i commented on #251
@rachmadaniHaryono
What am I doing wrong? :-(
[code]
[code]

[2018-03-24 00:29] rachmadaniHaryono commented on #251
@tom-i
- first make you are on this commit 250758b1aaf8c5a131bdba84416f552590d3407a (run `git show`)

- check if `setup.py` contain entrypoint like below
[code]
  - check also if `setup.py` have extra server dependencies
[code]
- check if templates file exist on `bukuserver/templates/bukuserver` folder. there should be 4 html files
- i also make it possible to run it directly on `server.py` like s

[2018-03-24 01:38] jarun commented on #251
Sorry, Friday night is family movie time and I was off the terminal! :) We watched Paddington 2.

I guess we need to document all the steps under a README.md under bukuserver directory and link to it from the main README.md. Not urgent, but eventually.

[2018-03-24 01:54] rachmadaniHaryono commented on #251
For documentation I can only think of 2 points
- additional installation package. See more below
- running the server. Show how to run on user defined host & port.

I just realize that on ubuntu installation it is recommended to install from ppa. I haven't check if required  server package  is on ppa so I recommend only to install from pip for now

---
Also maybe inform user that this feature is s

[2018-03-24 02:00] jarun commented on #251
:+1:

[2018-03-24 09:57] tom-i commented on #251
Hi @rachmadaniHaryono,
I've looked to that git show and I had this one.. so not yours :-/
I don't know, how is it possible
[code]
but `git pull` shows me:
Already up to date

also `entry_points` have not that last part about `'bukuserver=bukuserver.server:cli'`
and `extras_require` there is missing `'server': server_require,`

So it looks, that I'm using wrong commit or so :-/
Because I have there

[2018-03-24 10:02] rachmadaniHaryono commented on #251
Try this to get server branch https://stackoverflow.com/questions/9153598/how-do-i-fetch-a-branch-on-someone-elses-fork-on-github

[2018-03-24 11:43] tom-i commented on #251
[code]
[code]
[code]
What should I put to `pull`?

[2018-03-24 11:46] rachmadaniHaryono commented on #251
You can checkout the branch `git checkout rachmadaniHaryono/feature/server`

[2018-03-24 17:14] tom-i commented on #251
@rachmadaniHaryono
I'm noob with this, anyway how to pull your branch?
[code]
I'm using yours, but `git pull` or `git pull rachmadaniHaryono/feature/server` doesn't do anything :-/

[2018-03-24 17:36] jarun commented on #251
Try

    git remote add upstream ...

Otherwise, wait till we merge this on Buku master branch and then you can test it out much easily.

[2018-03-24 18:54] tom-i commented on #251
Hmm doesn't help. How long that merge will take, please? A week?

[2018-03-24 19:16] jarun commented on #251
We don't know at this moment. Please have patience.

[2018-03-25 03:43] rachmadaniHaryono commented on #251
[code]
That will create `rh-server` branch on you local repo

Currently I don't have my laptop until few hours later, so please check the command  again

[2018-03-25 21:09] tom-i commented on #251
@rachmadaniHaryono ha.. cool that helps ;)
Now I see that page with my bookmarks ;)
Tomorrow, I'll try to install it on my EspressoBin server, to check if it's working with `--host 0.0.0.0` ;)
Thx man..

[2018-03-28 09:21] rachmadaniHaryono commented on #251
note on doc conversion for pypi upload

2 example from last time (#233) is already fixed directly by pypandoc

now it seems example 1 to 9 is not formatted correctly

see https://test.pypi.org/project/buku/3.7/

pypandoc seems merge some line on one of those example

[2018-03-28 09:41] jarun commented on #251
Fine by me. Not a major issue.

[2018-03-28 13:18] SaltyCatFish commented on #251
@jarun FYI, not sure if anyone else is working on it yet, but I plan on having a PR for paging this weekend.

[2018-03-28 13:26] jarun commented on #251
@SaltyCatFish that would be awesome!

[2018-03-28 14:57] tsaoyu commented on #251
Any interests on orgmode markdown `.org` export?
So that bookmarks can be integrated with GTD.

[2018-03-28 15:08] jarun commented on #251
which service is GTD?

[2018-03-28 16:50] yigitemres commented on #248
@jarun Hi. Firstly, thank you and thank all contributors for such a good app. 🥂 I'm starting to using right now and I wonder that, can we have force args (at least for exporting, `buku -ef bukulist.md`)?

[2018-03-28 17:26] jarun commented on #248
@yigitemres it's really simple to achieve that without an extra option (there are many options already and -f is also taken). You can use a simple script.

    #!/bin/bash

    rm bukulist.md
    buku -e bukulist.md

[2018-03-28 20:14] tsaoyu commented on #251
@jarun GTD, stand for get things done, here it is not a service but a way to manage bookmarks within personal workflow. Suppose we come across `GitHub.com` and we want to read it in the future. It is easy to do so with orgmode by exporting `.org` list from `buku`.  See example [here](http://recordit.co/c5sw9rARSu)

[2018-03-29 01:40] jarun commented on #251
OK, I have an idea now. How about importing a .org file?
Also, would you raise a PR for this?

[2018-03-29 17:36] jarun opened #261 "Excluded tags must be reg-escaped"
The following query fails:

    buku -t '[books] - [math]'
The reason is brackets are regex metachars and we need to escape the tag tokens.

[2018-03-29 17:37] #261 closed

[2018-03-30 06:08] drcharlieroot opened #262 "renaming tags"
is it not possible to rename a tag so its name is changed on all bookmars?

[2018-03-30 06:10] jarun commented on #262
Please take a look at example 29 in the README.

[2018-03-30 06:10] #262 closed

[2018-03-30 13:37] jarun commented on #251
@SaltyCatFish can you please let us know how you are planning to implement paging? We can have a short review of the design and all of us can be on the same page as to what we expect. Please raise an issue for the discussion and add the details so we can review it.

[2018-03-30 14:02] SaltyCatFish commented on #251
Will do.

On Fri, Mar 30, 2018, 9:37 AM Arun Prakash Jana <notifications@github.com>
wrote:

[2018-04-03 06:30] rachmadaniHaryono commented on #251
- http://blog.jonparrott.com/github-flavored-markdown-on-pypi/
- https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi

This means release branch can be deleted and no  conversion needed for next release

[2018-04-03 06:48] jarun commented on #251
👍

[2018-04-04 20:55] jarun commented on #251
@SaltyCatFish any update on the paging task?

[2018-04-04 21:29] SaltyCatFish commented on #251
Sorry, not yet.

*Ryan Long*Software Developer

*email:** RyanLong1004@gmail.com <RyanLong1004@gmail.com>*

[image: https://www.linkedin.com/profile/view?id=45665900&trk=spm_pic]
<https://www.linkedin.com/profile/view?id=45665900&trk=spm_pic>[image:
Twitter] <http://www.twitter.com/RyanRLong>[image: Bitbucket]
<https://bitbucket.org/SaltyCatfish>[image: Github]
<https://github.com/SaltyCatFish>

O

[2018-04-04 21:31] jarun commented on #251
No problem! I know it's tricky. You can get some clues for ddgr interface and code.

Thanks for the update!

[2018-04-04 21:41] SaltyCatFish commented on #251
Awesome, thanks!

*Ryan Long*Software Developer

*email:** RyanLong1004@gmail.com <RyanLong1004@gmail.com>*

[image: https://www.linkedin.com/profile/view?id=45665900&trk=spm_pic]
<https://www.linkedin.com/profile/view?id=45665900&trk=spm_pic>[image:
Twitter] <http://www.twitter.com/RyanRLong>[image: Bitbucket]
<https://bitbucket.org/SaltyCatfish>[image: Github]
<https://github.com/SaltyCatFish>

[2018-04-14 02:04] jarun commented on #251
@SaltyCatFish any update on paging?

[2018-04-15 20:48] eikenb opened #265 "tag for each folder in hierarchy when importing"
Currently when importing you can optionally include the parent folder name as a tag. But that only includes the direct parent of the bookmark, not the full folder hierarchy. This leads to many tags that are meaningless on their own as their meaning is derived from the context of their parent folder.

I'd like to have every folder in the hierarchy added as a tag upon import.

Thanks.

[2018-04-16 00:35] jarun commented on #265
Please raise a PR so we can review.

[2018-04-16 13:35] SaltyCatFish commented on #251
No, I've bit off a bit more than I can chew with some other projects.  I
still hope to spend some quality time with the code base this week, but if
anyone else wants to tackle this request, feel free.

*Ryan Long*Software Developer

*email:** RyanLong1004@gmail.com <RyanLong1004@gmail.com>*

[image: https://www.linkedin.com/profile/view?id=45665900&trk=spm_pic]
<https://www.linkedin.com/profile/vi

[2018-04-16 18:41] jarun commented on #251
I don't think it's happening... even I have one pending task and I can't find time due to other things... but please try to spare some time on it.

[2018-04-17 00:42] SaltyCatFish commented on #251
@jarun How should this work?  Does the user type "buku -paging-option 10 20" to see rows 10 - 20, or do you want a something like unixs less/more?

[2018-04-17 02:34] jarun commented on #251
The results should be paged:

    buku -n 10
should show 10 results per page and one should be able to navigate with the `n` and `p` keys at the prompt. Just run `googler` and `ddgr` for a feel of it.

[2018-04-19 14:38] jarun commented on #251
We do not track usage data. If we want to have this feature (and it looks great) we should have it disabled by default and enable only if user wants it.

there are issues around the DB desing as well
shared DB: pugin may corrupt it
separate DB: plugin may get out of sync

[2018-04-19 15:09] rachmadaniHaryono commented on #251
Not quite sure if this is categorized as tracking usage data, because all data calculated each time per request and the result is not saved anywhere. Also no other database request other the first time getting all records. So Imo opinion it is similar to display number of your bookmarks

Of course unless the flask bootstrap or the included chart.js is compromised, it will be different story

There

[2018-04-19 15:12] jarun commented on #251
Then how do you get the count? I am missing something here for sure.

[2018-04-19 15:14] rachmadaniHaryono commented on #251
Use python collection.Counter?

[2018-04-19 15:25] jarun commented on #251
If the server goes down, the data would be lost, right?

[2018-04-19 15:30] rachmadaniHaryono commented on #251
Yes, no result data recorded

[2018-04-19 15:53] jarun commented on #251
I think if we add this feature, users may want the data to be persistent. Hence, at some point we will have to work on making it persistent and add that option to enable it.

[2018-04-21 01:05] jarun commented on #265
Will be addressed in https://github.com/jarun/Buku/pull/266.

[2018-04-21 01:05] #265 closed

[2018-04-21 01:26] jarun opened #268 "ToDo list"
Continued from #251.

#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to assist any new contributor. We need your help!

Some of the fresh-baked features may not have been released yet. Grab the master branch for those.

#### Identified task

[2018-04-21 01:26] jarun commented on #251
Rolled at #268.

[2018-04-21 01:28] #251 closed

[2018-04-29 23:51] rachmadaniHaryono commented on #268
model 1 is currently used template see #251

model 2

![buku server - chromium_013](https://user-images.githubusercontent.com/6340878/39412021-f6436e34-4c47-11e8-90a8-be2811c4a03a.png)

model 3

![buku server - chromium_014](https://user-images.githubusercontent.com/6340878/39412020-f165ac2e-4c47-11e8-98cc-a91ec7129909.png)

---

i'm playing on bookmark view and see if there is anything that can b

[2018-04-30 03:57] jarun commented on #268
- fetching favicon seems fine then
- don't do anything. each browser show link (on chromium it is bottom left) when mouse over the link. (this one)
- through css. related https://stackoverflow.com/a/1318119/1766261 (this one would take care of variable page size too)
- for expand on click maybe bootstrap's collapse https://getbootstrap.com/docs/3.3/javascript/#collapse (good and we don't need a co

[2018-04-30 04:15] jarun commented on #268
@rachmadaniHaryono once these are done we can plan for the next release. The server seems to be in good shape. What do you think?

[2018-04-30 04:26] rachmadaniHaryono commented on #268
OK hopefully this will be the last thing before next release

[2018-04-30 05:26] jarun commented on #268
Cool!

[2018-05-02 13:18] pfsmorigo opened #272 "Not fetching title"
Hello,

Buku is not fetching the title of the following URL:
https://go-review.googlesource.com/c/go/+/33587

Thanks for the project!

[2018-05-03 15:47] Beeblebrox-BSD commented on #268
Hello, please consider the following issues/ideas.

* Browser integration through add-on: I don't think Bukubrow's Cargo.lock structure will work with *BSD OS, but don't quote me on that. Rusqlite will have to be a separate port, plus there needs to be a list of Depends under "Building".

**Wish list suggestions (by order of importance):**
* http front end so as to access BM's from tablet/phone (e

[2018-05-03 15:59] rachmadaniHaryono commented on #268
currently working on that bukuserver.

@tom-i mention he can run on on espresso server and can access that.

to run it locally and make it accesible to device on same network, just host it on `0.0.0.0`

this feature may or may not included on bukuserver goal. the actual reason there is development for it is just an accessible frontend through hosted server.

currently bukuserver don't need additio

[2018-05-03 17:17] jarun commented on #268
Please check with the Bukubrow project on this one. And to be frank I don't see the need for another browser plugin. You can add any bookmarks you want directly to buku from the browser oR import later OR export from Buku to the browser later.

@rachmadaniHaryono I believe he is requesting for this flag on the webpage. We already have immutable support at an API level.

Is there a web-plugin with

[2018-05-03 19:31] tom-i commented on #268
Bukuserver accessible from local network is awesome feature, but next level (from my side) would be, to open port (5001) on my router and access bukuserver page from Internet.
So I have questions:
1. Is it save to open that port to the Internet?
2. Is there any security issues for the front end? I mean if someone can hack the page and can easily access to my router.
3. If there is new update (via

[2018-05-03 21:29] rachmadaniHaryono commented on #268
As note there is this doc on how to deploy flask http://flask.pocoo.org/docs/1.0/deploying/  but I haven't try it yet

[2018-05-08 13:14] jarun commented on #171
Yes, we would like to keep it _hidden_ from regular users. There's a high chance of mixing up if someone tries to use both.

[2018-05-09 02:50] rachmadaniHaryono commented on #268
example of current markdown on pypi https://test.pypi.org/project/buku/3.7.post4/

[2018-05-14 01:27] rachmadaniHaryono commented on #268
https://github.com/rachmadaniHaryono/Buku/tree/feature/append-tag-on-import

current behaviour
- import file
- bookmark exist
- nothing changed

in my use case, i move the folder and expect it also reflected on buku tag.

there are actually two options, replace or append, but i choose append to prevent any undoable step and probability of missing tag.

currently on branch only work on html import

[2018-05-14 03:26] jarun commented on #268
Are duplicate tags parsed out and final tags ordered?

If you call parse_tags() all the duplicates will be removed and they will be ordered.

Yes, I think preserving all tags is a great idea.

[2018-05-14 03:59] rachmadaniHaryono commented on #268
[code]
does that part on `append_tag_at_index` method didn't remove duplicate tag already?

[2018-05-20 03:57] kirakrishnan commented on #268
Hi Jarun, I am newbie to opensource. Please give me beginner tasks.

[2018-05-20 04:52] jarun commented on #268
@kirakrishnan I guess the core library is already quite matured and stable. I was thinking of pagination but I guess the server with GUI already does it very well.

@rachmadaniHaryono do you have anything in the server side... or need help with testing the features?

[2018-05-20 05:51] rachmadaniHaryono commented on #268
can't think anything simple for server.

imo the next step should be designing the additional database, adding more javascript capability, pluginize some parts

[2018-05-20 10:47] jarun commented on #268
@kirakrishnan let us know if you are interested in the items @rachmadaniHaryono mentioned and more importantly, you think you can handle those. If not sure, feel free to ask.

[2018-05-20 13:27] kirakrishnan commented on #268
@jarun I am interested in the items. I am very comfortable with sql and I have some hands-on experience in javascript. Please tell me little more about the task.

[2018-05-20 13:33] jarun commented on #268
@rachmadaniHaryono can you check if it's possible to create small tasks for the items?

[2018-05-21 05:50] rachmadaniHaryono commented on #268
@jarun @kirakrishnan not quite sure how small it is, but here is some items that can be done:

- ajax call to edit/create bookmark
- example urls for bookmark

[2018-05-24 19:30] stkw0 opened #276 "pypi tar file for buku don't have tests folder"
seems that the tarball from https://pypi.org/project/buku/#files is incomplete, it don't have the folder named tests/test_bukuDb which produces an error when executing the tests.

[2018-05-24 22:52] jarun commented on #276
@rachmadaniHaryono please check.

[2018-05-24 23:35] jarun commented on #268
@rachmadaniHaryono seeing that you have responded 4 days back without any reply yet, I believe @kirakrishnan has demonstrated his enthusiasm. Please work on the ideas yourself.

People tend to love the idea they would write amazing code in amazing projects, only they never really find the time to start. ;)

[2018-05-25 01:39] rachmadaniHaryono commented on #276
thank you @stkw0 , fix created on the pr.

do we create fix release or just let @stkw0 clone the repo @jarun?

[2018-05-25 01:44] rachmadaniHaryono commented on #268
will be late for this and not sure how long. this may affect that image/screenshot task for bukuserver. hope some irl problem will be resolved fast so i can get back to it.

[2018-05-25 01:45] jarun commented on #276
This!

Thanks @rachmadaniHaryono!

[2018-05-25 01:45] #276 closed

[2018-05-25 01:51] jarun commented on #268
no hurry! we just made a release.

we need the screenshot as soon as possible. people are visiting the page and don't know what to expect. not everyone would install a sever by looking at the description, they need something more attractive than that.

[2018-05-25 02:15] DooDip opened #278 "BukuServer more than 10 per page."
Hello, I created a working Dockerfile for BukuServer, but I can't figure out this portion of the documentation. Is this located in the server.py file? The docker bukuserver is working, but it still only shows 10 bookmarks per page when I have thousands loaded in the database. Thanks!

**_

[code]

_**

[2018-05-25 02:19] rachmadaniHaryono commented on #278
no, it is not set on `server.py`.

i am not familiar with docker but there is this doc where you can set up environment variable

https://docs.docker.com/docker-cloud/getting-started/deploy-app/6_define_environment_variables/

there is this example line

[code]
BUKUSERVER_PER_PAGE=100
based on that the flag would be ```--env BUKUSERVER_PER_PAGE=100```

[2018-05-25 03:59] DooDip commented on #278
Thank you! It works when I add it to the Dockerfile instead of during the build.

I added this to the Dockerfile
"ENV BUKUSERVER_PER_PAGE=100"

[2018-05-25 03:59] #278 closed

[2018-05-25 18:29] stkw0 opened #281 "installation error: can't copy 'bukuserver/screenshot': doesn't exist or not a regular file"
When running `python3 setup.py install --user` the next error is shown

  warnings.warn(msg)
running install
running bdist_egg
running egg_info
writing buku.egg-info/PKG-INFO
writing dependency_links to buku.egg-info/dependency_links.txt
writing entry points to buku.egg-info/entry_points.txt
writing requirements to buku.egg-info/requires.txt
writing top-level names to buku.egg-info/top_level.txt
r

[2018-05-25 22:18] jarun commented on #281
@rachmadaniHaryono please take a look.

[2018-05-25 22:39] jarun commented on #281
The screenshots will now be hosted on imgur and we won't have the directory.

[2018-05-25 22:39] #281 closed

[2018-05-29 08:10] rachmadaniHaryono commented on #268
@jarun some reply here to not make it cluttered

---

https://github.com/jarun/Buku/commit/a481e9c0558a435f6656a9e284f6783e2ed0046c

name and description should be separated.

not quite sure why it have to be changed to md, but i will follow it.

also unrelated to this edit, but this part should be added

https://github.com/jarun/Buku/issues/278

---
https://github.com/jarun/Buku/commit/aea87cb2ae

[2018-05-29 12:34] jarun commented on #268
Updated the documentation at c1c43a006e0d646aeb3a7161cdfd96b989e6f632. Please review.

Moved it to markdown as the main page is also in markdown.

Is there a working alternative to imgur? I used another site earlier but it went down. imgur still lives. ;)

[2018-05-29 12:50] rachmadaniHaryono commented on #268
The update is ok

Ok that is fine

Nothing as simple as imgur. Maybe keep imgur for now and add alternative when user ask

[2018-05-29 12:52] jarun commented on #268
OK!

[2018-05-29 12:53] jarun commented on #268
Can you please add server-side identified tasks to the task list? In case someone wants to contribute.

[2018-05-29 13:06] rachmadaniHaryono commented on #268
- designing the additional database,
- adding more javascript capability,
  - ajax call to edit/create bookmark
  - example urls for bookmark
- pluginize some parts
- use non minified JavaScript

That is just copy paste from comments above.
---
Some idea

- image screenshot
- web status (404, 200)
- GitHub Link details,( programming language, Stars,etc)

Some crazy idea that I write, so I don't fo

[2018-05-29 13:37] jarun commented on #268
I think you'll have to make the points more elaborate. For example:

- `designing the additional database` - which database, where does it help etc.
- adding more javascript capability - which capability

like that.

[2018-05-29 15:08] fturco opened #283 "Custom separator for tags"
As far as I know Buku only supports commas as tag separators. Is it possible to use spaces instead? Of course in the latter case spaces could not be part of tag names, but that's fine for me, as I could use dashes or underscores instead. What do you think?

[2018-05-29 15:11] jarun commented on #283
No, it can't be customizable.

[2018-05-29 15:11] #283 closed

[2018-05-30 21:15] tom-i commented on #268
Hello guys,
is it possible that I have 2 different versions of bukuserver?
I've updated bukuserver yesterday and today too, kill bukuserver from running processes and run bukuserver via:
[code]
I saw that there are some icons before URLs, so I realized, that it's some kind of new feature.
Then I've restarted my NAS server and my bukuserver started via `cron` after reboot:
```@reboot cd /home/nasho

[2018-05-31 03:56] rachmadaniHaryono commented on #268
this is just guess, but buku installation on this virtualenv `/home/nashome/programs/Buku/bukuserver/env/bin` is not updated. try running `pip install -e .` once again on virtualenv after updating buku to latest version  to reinstall it.

based on your description, the upgrade should be
- kill bukuserver running instance
- activate virtualenv
- `git fetch && pip install -e .` buku repo or just run

[2018-06-11 20:09] Migliutin opened #285 "Questions | Multiline comments & MSWindows porting"
Hello there!

Because of the plan by the good folks at Mozilla to drop the bookmark _**description**_ field (which I heavily rely upon for multiline text), I'm currently considering alternatives to Firefox Bookmarks Sync.

That said, I got two questions:

- I've checked that Buku can correctly import Firefox html bookmarks files, including multi-line field 'description';  I still haven't found, th

[2018-06-11 20:33] rachmadaniHaryono commented on #285
As long as you can install pip,it is no problem

See https://stackoverflow.com/questions/4750806/how-do-i-install-pip-on-windows

Other option is to create windows compiled version as example using py2exe or similar tools http://www.py2exe.org. But we don't have maintainer for that (yet)

[2018-06-12 02:46] jarun commented on #285
Please check the first example: https://github.com/jarun/Buku#examples
You can use your favourite editor to do this (even GUI editors work).

[2018-06-12 16:56] jarun commented on #285
Closing as the query is answered.

[2018-06-12 16:56] #285 closed

[2018-06-20 11:42] biocyberman opened #286 "Escape special characters for tags?"
- Debug logs using the `-z` option:
[code]
- Details of operating system, Python version used, terminal emulator and shell;

`zsh 5.5.1 (x86_64-pc-linux-gnu) inside a `tmux` under Mate Terminal emulator.`

I can add the 'C++' tag, but can't search with it.

[2018-06-20 12:30] jarun commented on #286
I will check it. Fun fact - I have a tag for C++ things... and it's _cpp_!!!

[2018-06-20 16:23] #286 closed

[2018-06-20 16:57] jarun commented on #286
This is now fixed. Please test and confirm.

[2018-06-20 20:50] stkw0 opened #287 "python3.6 support"
For what I can read on the setup.py of buku, python3.6 is supported, but one of the dependencies of bukuserver (this: https://github.com/lixxu/flask-paginate ) doesn't support python3.6 (only 2 and 3.4).

Moreover, flask-paginate don't seems to be very active.

Should buku use an alternative library, or it's better to open an issue on flask-paginate asking for python3.6 support?

Thanks

[2018-06-20 20:59] jarun commented on #287
@rachmadaniHaryono can you please check this?

[2018-06-21 07:58] rachmadaniHaryono commented on #287
I haven't check if there is another alternative for that library,but imo because current llibrary work and there is no hack/edit to be done for python 3.5 3.6 ,so we can keep using it

If user with that python version find problem with pagination, we will try to fix that it and if possible create pr for flask-paginate

Cc @lixxu

[2018-06-21 09:31] stkw0 commented on #287
Is it possible to import a python3.4 library from python3.6? Python3.4 is reaching EOL in 2019, anyway

[2018-06-21 09:48] rachmadaniHaryono commented on #287
It is possible As Long there is no restrictions on library

[2018-06-21 11:10] biocyberman commented on #286
I've been using Yeah I thought about using Cpp too, but then somehow I got adventurous and used C++ :full_moon_with_face: The search works perfectly now. Thanks

[2018-06-21 11:13] stkw0 commented on #287
If the library can work with python3.6 without troubles, isn't supposed that the library also add 3.6 to the list of supported versions?

To put a little bit of context, I was trying to create the package for the new version of buku and bukuserver. Gentoo tomorrow will make python3.6 the default (https://www.gentoo.org/support/news-items/2018-05-22-python3-6.html). In theory as buku supports 3.6 i

[2018-06-29 19:47] rachmadaniHaryono commented on #268
Random thought :

This part is not filled yet

https://github.com/jarun/Buku/community

Also Imo #287 can be closed now

[2018-06-30 00:19] #287 closed

[2018-06-30 00:20] jarun commented on #268
I saw that earlier but left untouched. Closed the issue.

[2018-07-06 14:59] benoliver999 opened #290 "-o option that doesn't open random page?"
I am trying to get buku to work with dmenu in a simple bash script. This is what I have so far.

    buku -p -f 3 | dmenu -i | cut -f 1 | buku -o

Step 1: Get all bookmarks (id <tab> url)
Step 2: Pass them to dmenu
Step 3: Cut the index of the selected bookmark from dmenu
Step 4: feed the ID back to buku and open it

This works fine for opening stuff, but it fails when I hit escape to exit, becaus

[2018-07-06 15:01] benoliver999 commented on #290
Probably not related... but dmenu exits with status 1 when escape is pressed. I have tried `set -o pipefail` in the script but it doesn't exit.

[2018-07-06 17:55] rachmadaniHaryono commented on #290
Try pair last buku command with xargs?

https://stackoverflow.com/questions/8296710/how-to-ignore-xargs-commands-if-stdin-input-is-empty

[2018-07-06 20:22] benoliver999 commented on #290
Yes! Thank you!

[2018-07-06 20:22] #290 closed

[2018-07-18 22:12] jarun opened #291 "urllib3 should be a mandatory dependency for buku"
I think we have urllib3 as an optional dependency in extras section:

https://github.com/jarun/Buku/blob/master/setup.py#L62

I tried installing buku on termux and I had to install urllib3 separately. This needs to be a mandatory dependency.

[2018-07-18 22:13] jarun commented on #291
@rachmadaniHaryono I have assigned this to you. Please add urllib3 as a mandatory dependency in PyPI. Most things do not work without it.

[2018-07-18 23:22] #291 closed

[2018-07-18 23:23] jarun commented on #291
I have added the other 2 deps as mandatory as well.

[2018-07-25 14:50] piovac opened #293 "Homebrew formula and buku script header require fixes"
The current formula install a version of buku that includes its own `python3` (version 3.7). Because of library dependencies the `buku` script does work if the version of `python3` installed by brew is a different version (like 3.6.5 in my case).

The problem can be fixed by changing the header of `buku` (`../Cellar/buku/3.8_1/bin/buku`) from `#!/usr/local/Cellar/buku/3.8_1/libexec/bin/python` to

[2018-07-25 16:10] jarun commented on #293
@zmwangx can you please check this?

[2018-07-26 23:29] jarun commented on #293
Adding @ilovezfs as well if he can help with this.

[2018-07-26 23:37] zmwangx commented on #293
Sorry, didn't see the previous ping.

The formula does not include "its own python3". When it is installed, Homebrew creates a venv with Homebrew's python3, then installs the dependencies inside. The dependencies are completely contained, isolated and reproducible (and hence guaranteed to work reproducibly), which is not possible with a generic shebang.

It sounds to me like you rolled back the Ho

[2018-07-26 23:39] zmwangx commented on #293
I should add that you probably rolled back the upgrade and removed the keg (i.e., `/usr/local/Cellar/python/3.7.0`) entirely, rendering the venv stranded. I believe if you simply switch to a previous 3.6.5 keg with `brew switch python 3.6.5` and leave the 3.7.0 keg alone, buku should still work.

[2018-07-27 02:57] piovac commented on #293
That is not exactly what I did. The python 3.7 had issues with my atom+hydrogen installation so I switched to and pinned python 3.6.5. Buku was installed after. I will try to reinstall everything and let you know how it goes.

[2018-07-29 17:11] rachmadaniHaryono commented on #268
https://www.ghacks.net/2018/07/27/mozilla-plans-to-remove-bookmarks-descriptions

[2018-07-29 17:17] jarun commented on #268
I don't think they will remove the particular field from the specification. They will probably stop importing the description field.

[2018-08-01 09:36] dkiyatkin opened #296 "Some title are not recognized"
After that commit
https://github.com/jarun/Buku/commit/69281444fd74bc135c9fc763c49e5475e7c11e4b
some adresses not recognized and dont saved:
For example:
http://www.vim.org/scripts/script.php?script_id=4641 (vim.org! :scream: )
http://www.kadrof.ru/cat_exchange.shtml

[code]

[2018-08-01 09:50] dkiyatkin opened #297 "Double spaces and new lines"
I want to reply to this comment
https://github.com/jarun/Buku/pull/294#issuecomment-409412665

All web developers _ expect_ that the title in browser-tab will not have double spaces and line breaks, since all browsers remove them. This is the standard behavior of the html tag (`<pre />` is an exception).
All browsers as i know delete double spaces and line breaks in tab-titles.

Please reconsider

[2018-08-01 09:52] jarun commented on #296
Makes sense. Please raise a PR for the same.

[2018-08-01 09:52] dkiyatkin commented on #297
So, reallife example, web developer may paste in html something like that:
[code]

And he expect that browser show title without any double whitespace characters.

[2018-08-01 09:53] jarun commented on #296
I will look into it.

[2018-08-01 09:54] jarun commented on #297
Makes sense. Please raise a PR from the same. use the method @rachmadaniHaryono suggested at https://github.com/jarun/Buku/pull/294#issuecomment-409401051.

[2018-08-01 10:16] jarun commented on #296
vim.org sends:

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

I think the space between `text/html` and `charset=ISO-8859-1` makes it fail because the content-type string is returned as just `text/html` and the rest is missing.

[2018-08-01 13:57] jarun commented on #296
Fixed at 92c6e5c7c7ee8b7e00088ae5dfb5f9a76572d19f.

[2018-08-01 13:57] #296 closed

[2018-08-01 13:58] jarun commented on #297
Fixed at 4983209dfdf47fc55fb724688c391574c011ddae.

[2018-08-01 13:58] #297 closed

[2018-08-04 15:59] jarun commented on #293
Closing this as no response. Please feel free to reopen with more info.

[2018-08-04 15:59] #293 closed

[2018-08-06 00:49] jarun opened #300 "Handle unusual tags in pages"
Tags generally are separated by commas, but sometimes they aren't.

Examples of some _interesting_ tags are:

1. visualgo data structure algorithm visualization animation online learning tutorial lecture
2. unix linux commands cli tip sheet reference howto examples
3. show apps that use internet connection at the moment.

We need to handle these cases.

[2018-08-06 00:50] jarun commented on #300
A general approach could be:

Filter out _tags_ which are more than 3 words and doesn't have a comma in between.

Log a message with the fetched tag so the user knows.

[2018-08-06 08:57] rachmadaniHaryono commented on #300
imo it is better to keep that tag.

link on last pr: https://www.w3schools.com/tags/tag_meta.asp

there is also this doc from mozilla which stated the same thing https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta

actually there is also this specification which have tag-like data http://ogp.me/ (see video:tag, book:tag, article:tag etc)

---

imo this solution is too ambiguous and may

[2018-08-06 09:03] rachmadaniHaryono commented on #268
doc for new feature taken #301

[code]

doc:
- https://www.w3schools.com/tags/tag_meta.asp
- https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta

[2018-08-06 09:25] jarun commented on #300
Yes, the general way to store tags/keywords is to separate by commas. If we really have to store tags which are _unusually_ long, we can still append them to the descriptions so we don't lose the data. We will still notify the user that we are appending the particular tag to description as it doesn't look a list of keywords. This will be documented in the operational notes.

This also solves our p

[2018-08-06 12:48] rachmadaniHaryono commented on #300
may unrelated to this, but is it possible to isolate update bookmark code on main function, so it can be properly tested?

example:

[code]

[2018-08-06 12:52] jarun commented on #300
I think it will be too difficult to refactor it, given it has to work with input title, tags, desc, url as well as search and update etc.

[2018-08-06 12:58] rachmadaniHaryono commented on #300
so only variable scope? i haven't fully check it but, does that update section return something to be processed on other section?

[2018-08-06 13:02] jarun commented on #300
I don't think so. You can try refactoring it out. :+1:

[2018-08-06 13:14] jarun commented on #300
:+1: Looks good!

[2018-08-06 13:16] rachmadaniHaryono commented on #300
i will create another pr for this alongside some test. it should be added after #301 merged

[2018-08-06 15:42] jarun commented on #300
I chose the following filter to detect _non-tag_ keywords:

- a full stop found
- more than 3 words without any commas
- word to comma ratio is greater than 3

[2018-08-06 15:43] #300 closed

[2018-08-06 23:12] jarun commented on #300
This is wrong. We do search partial tags with `-s`.

[2018-08-10 09:03] in-in commented on #296
Both sites have a separate `meta` tag with the `charset` attribute (`<meta charset="UTF-8">`), but the title not recognized
https://www.debuggex.com/
http://wikemacs.org/wiki/Starter_Kits

[code]

[code]

Firefox don't show any certificate problem for debuggex.com
![18081001](https://user-images.githubusercontent.com/8797432/43948866-afd6cc8c-9c94-11e8-82b8-322297bdbb7c.png)

[code]

[2018-08-10 14:03] jarun commented on #296
@in-in please consider submitting a new defect instead of appending to a closed. It becomes very difficult to remember where a comment was.

[2018-08-10 14:10] jarun commented on #296
The first link has certificate related issues:

[code]

The second link works with https:

[code]

[2018-08-10 14:15] jarun commented on #296
For the second link, with our latest on master:

[code]

[2018-08-10 14:17] jarun commented on #296
We have enabled strict SSL certificate verification on master. Sites with certificate issues would fail.

[2018-08-14 19:03] dakka2 opened #304 "Add Date Information / Make Tag date more accurate"
There appears to be no date added or modified information available at all aside from the very very inaccurate tag date that doesn't even match the added date (at least inaccurately from a firefox import) . Is this planned? Even importing and exporting from firefox doesn't save the information and adds the incorrect and inaccurate tag date.

[2018-08-14 19:57] jarun commented on #304
From the readme:

_Buku is too busy to track you - no hidden history, obsolete records, usage analytics or homing._

[2018-08-14 19:57] #304 closed

[2018-08-14 21:56] dakka2 commented on #304
Then why bother adding the date to the tag?

[2018-08-15 03:09] vredesbyyrd opened #305 "Add support for Vivaldi Browser, + possible bug."
ENVIRONMENT INFO

[code]
Thanks much for making and sharing Buku...its a truly awesome tool. I use Vivaldi browser, and with buku 3.7 I was using them together after a simple one line edit to 'buku.py'. I just pointed buku to Vivaldi's bookmark directory rather than chromes.

line 2188:

[code]
Hackish yes, but it worked. After updating to python 3.7, then updating to buku 3.8 I can no longer impo

[2018-08-15 03:11] jarun commented on #305
Can you please share the bookmark file which work with 3.7 and does not work with 3.8? Please remove any sensitive data before sharing. We just want to reproduce the issue.

[2018-08-15 03:12] jarun commented on #305
@rachmadaniHaryono would it be possible for you to check this one?

[2018-08-15 03:34] vredesbyyrd commented on #305
No problem. I removed any folders / urls that could be considered sensitive, and tried to import again to make sure it was not a particular url I had removed. Issue persists. I am not sure if there is a better way to share the bookmark file...but here is a link to it in my onedrive, you should just be able to download it. Any issues getting the file let me know please. Thanks for the help.

https:

[2018-08-15 05:17] vredesbyyrd commented on #305
I am using buku-git from the aur. I just rebuilt it to make double sure I am up to date.... package is on the latest commit so all good there. I made sure permissions were correct on the vivaldi bookmark flle. It still refuses to import. Something funky must be going on. I am going to take a closer look at my python environment in the morning....though I am a stickler when it comes to keeping ever

[2018-08-15 05:52] vredesbyyrd commented on #305
OMG, uhg....I am going to have to swallow any ego I may have and admit user error on this one. So at some point I typed:

buku -ai

rather than

buku --ai

Note to self, take a closer look when using shell completion while tired. Sorry for wasting your time. Regardless, thank you for all your work on this great tool. Closing.

[2018-08-15 05:52] #305 closed

[2018-08-15 06:01] jarun commented on #305
No problem!

[2018-08-16 17:31] japorized opened #306 "Error: incorrect number of arguments"
Hi there,

I get the following error when trying to run buku. I get the same error when I compile from source as well. Here is the debug log from the version compiled from source, which is the exact same error log as when it is ran without the -z flag, and also the same error on the package I've gotten from my local installation.

[code]

Here are some of the details of my system:

* OS : Arch Lin

[2018-08-16 22:19] rachmadaniHaryono commented on #306
similar error to this https://github.com/jupyter/notebook/issues/3840

https://bugs.python.org/issue31014

[2018-08-16 22:30] rachmadaniHaryono commented on #268
doc on slow test

based on this rachmadaniHaryono@f6cbbe8 here are slow tests

[code]

related pr
- https://github.com/jarun/Buku/pull/301

notes:
- maybe use vcrpy to cache
- check if any sites used take too long to load. replace them or cache them
- maybe split slow test and fast test
- last faster test is https://travis-ci.org/jarun/Buku/builds/411723456
- first slow test is https://travis-ci.o

[2018-08-20 18:11] alasdairdc opened #307 "Package bukuserver"
Would like to see either `bukuserver` included in the Debian package or as its own separate package.  It appears to be missing from the Debian packages despite the first entry in the Packages section under `What's in?` being

    A self-hosted http server, bukuserver, that exposes core functionality

[2018-08-20 18:15] alasdairdc opened #308 "Git integration"
Would be great if you could integrate git into this to version control the bookmarks similar to https://github.com/zx2c4/password-store

This could aid syncing for when a mobile app is developed.

[2018-08-20 20:23] jarun commented on #307
@szlin can you please take care of this?

[2018-08-20 20:26] jarun commented on #308
Sorry, we don't want to track the records and the changes to them. `Buku` works like a unique (perhaps _latest_) snapshot.

[2018-08-20 20:26] #308 closed

[2018-08-21 04:06] rthorntn opened #309 "Security features in bukuserver"
Thanks for creating and maintaining this project.

A bukuserver on the web seems to make sense for me, I would put it on a public IP address, so I could add bookmarks to it from all my devices, is there a way to secure it though, to stop some random person from altering my bookmarks?

I have an Android phone, iPad tablet, Linux, Mac and Windows PC's, I want to be able to access my bookmarks on any

[2018-08-21 10:51] alasdairdc commented on #308
No problem, was only a suggestion and thought may make transferring between devices easier.

[2018-08-22 18:01] japorized commented on #306
Looks like a fix has been issued (some time ago, apparently). I shall close this issue while we await the fix to be publicized.

[2018-08-22 18:01] #306 closed

[2018-08-24 07:52] szlin commented on #307
@jarun As I mentioned before [1], the bukuserver is excluded in Debian package due to DFSG violation.

I suggest to add original javascript into it.

[1] https://github.com/jarun/Buku/commit/b3437a4bfbbe87093aad9ae5edd0a42171355992#commitcomment-29123671

[2018-08-24 16:36] jarun commented on #307
Please raise the PR.

[2018-08-29 02:13] jarun commented on #307
@szlin any update on this? I think it will be a good addition to the next release which we will make shortly.

I think the OP is requesting the server files to be added to the generated packages as well. That would need changes to the Makefile.

[2018-08-29 02:14] jarun commented on #307
@rachmadaniHaryono can you do the Makefile changes? I am at a loss how to handle this.

[2018-08-29 02:46] jarun commented on #307
It would be great if we can have a different Makefile target for bukuserver. The idea is to generate a separate package. PackageCore guys confirmed it's possible to generate multiple packages using separate files.

[2018-08-29 05:38] jarun commented on #307
Why do you think we need a separate project?
- We can have distinct targets in Makefile for `bukuserver`

Isn't it possible to generate 2 different packages with that?

[2018-08-29 16:57] alasdairdc commented on #307
If my understanding is correct I think the separate git repo may be to comply with DFSG.

From the https://wiki.debian.org/Javascript/Policy in the linked https://github.com/jarun/Buku/commit/b3437a4bfbbe87093aad9ae5edd0a42171355992#commitcomment-29123671 if my understanding is correct the separate git repos are to comply with the Debian suggestions where

implying:

- `bukuserver/static/bukuserve

[2018-08-30 00:46] jarun commented on #307
@alasdairdc I believe that we do not have the bandwidth to work on this item for now. I have added in the last release notes that `bukuserver` needs to be installed from PyPi for now.

We need to proceed with the planned release. And this action item may take more time to stabilize things across distros and environments.

I am closing this defect with the note and I will add an item in the ToDo li

[2018-08-30 00:47] jarun commented on #309
I am adding an item in the ToDo list for this and closing the defect.

[2018-09-05 16:56] arcticicestudio opened #311 "Support for "real" keyword searches"
First, I want to say thanks for this great project and the still ongoing development of new features :+1:. I currently switch to Buku as my default CLI bookmark manager. I've also tested [shiori](https://github.com/RadhiFadlillah/shiori), but it definitely lacks support for many features (still in a very early state of development) and I want to use a already stable-proven and "production-ready" a

[2018-09-05 17:15] jarun commented on #311
Thanks for the suggestion. My understanding from your explanation is the _keyword_ is the shortcut to a url e.g. a search URL. So when you fire the _keyword_ with a _search pattern_ the pattern is appended to the URL.

To me it seems more relevant to a web search utility than a bookmarking one because not all URLs would be _search_ URIs. Yes, it's also relevant to a browser where you can use it to

[2018-09-18 02:02] jpdasma commented on #268
I have some free time this weekend. I'll try to work on -n and -p if nobody is still doing it. :D

[2018-09-18 02:05] jarun commented on #268
@jpdasma please go ahead. That would be a great boost to user experience.

[2018-09-28 11:59] ktinkerer opened #313 "Error searching bookmarks"
I installed Buku yesterday and I've imported my bookmarks, I can see them using buku -p but any search I try raises an error:

[code]

I'm using Python 3.7.0, and Arch 4.18.9

[2018-09-28 13:03] jarun commented on #313
Python 3.7.0 is not tested yet. Do you see the issue on 3.6.x?
In the meantime I will see if I can grab 3.7.0 and try test this. Thanks!

[2018-09-28 13:48] jarun commented on #313
I tried with python 3.7 and it works fine on Ubuntu 18.04 amd64:

[code]

Can you share the command you are using to search?

[2018-09-28 13:54] jarun commented on #313
In addition to my last question:

I can see a difference in how the search term is quoted: `'\\btest\\b'` vs `\btest\b` (your case).

Which shell are you using?

[2018-09-28 14:19] ktinkerer commented on #313
I haven't tried it on python 3.6, I'm using bash, I've just tried it again and I am getting `'\\btest\\b'` sorry it must have got lost copying it from the terminal!

Anything else I can do to find out what is causing it?

[2018-09-28 15:08] jarun commented on #313
I tried bash as well. No issues seen.

Can you try the method explained in https://stackoverflow.com/questions/45824209/how-to-get-an-error-kind-from-sqlite-create-function to see what the actual error is?

[2018-09-28 15:14] jarun commented on #313
Also, can you check if any particular record in your DB is causing the error?

Probably take a backup, remove 50% of the records and search. if you see the error remove 50% again, else take the other 50% and remove 50%... basically a `git bisect` way of finding out if there's any such record quickly.

[2018-09-28 15:17] ktinkerer commented on #313
I've been doing some testing and I'm pretty sure it's a particular record causing the error, it seems that the regexp function at line 3985 is for being passed None as the item for one of the records causing the error.

[2018-09-28 15:21] ktinkerer commented on #313
That was it, I deleted the entry where it was failing and it works now. Thanks for your quick help!

[2018-09-28 15:50] #313 closed

[2018-09-28 15:51] jarun commented on #313
I have added a fix to skip the check. Please test with latest master and confirm.

[2018-09-28 15:52] ktinkerer commented on #313
I originally imported a html bookmark file, I've attached the offending entry, just tried reimporting this file and it causes the same error. (Renamed .txt as github won't let me attach .html!)
[fails.txt](https://github.com/jarun/Buku/files/2428845/fails.txt)

[2018-09-28 15:52] ktinkerer commented on #313
OK I'll test it now

[2018-09-28 15:53] ktinkerer commented on #313
That's fixed it!

[2018-09-30 19:04] humCopper opened #314 "Crashes trying to open website with buku -o"
When I try to run buku -o 90 I get the below output. This still happens with any other number also.

Debug logs buku -z -o 90:

Traceback (most recent call last):
  File "/usr/bin/buku", line 11, in <module>
    load_entry_point('buku==3.9', 'console_scripts', 'buku')()
  File "/usr/lib/python3.7/site-packages/buku.py", line 4931, in main
    bdb.browse_by_index(int(idx))
  File "/usr/lib/python3.

[2018-09-30 20:06] jarun commented on #314
This is a duplicate of #306.

[2018-09-30 20:06] #314 closed

[2018-09-30 20:58] humCopper commented on #314
Fix by adding

to .zshrc or .bashrc

[2018-10-09 18:12] Airgunster commented on #313
@jarun, Also got exactly the same issue (and got it fixed with latest fix from `Master`). Do you plan to release a new version of buku which will include the fix?

Thanks a lot in advance!

[2018-10-09 18:49] jarun commented on #313
In a week or two... :+1:

[2018-10-11 13:08] SamHH opened #316 "Buku expects delimiter at start and end of tags column in SQLite"
Hi there! This is a fairly small issue.

It's been raised over at [bukubrow#64](https://github.com/SamHH/bukubrow/issues/64) that bookmarks edited or created with my extension are not displaying correctly in Buku CLI.

The issue is that the tags column is, somewhere in Buku's code, expecting a delimiter at the start and end of the entire string, rather than simply between each tag. For a terse exa

[2018-10-11 13:14] jarun commented on #316
Yes, this can be fixed upstream. Would it be possible for you to raise a PR? I think you need to use `delim_wrap()`.

[2018-10-11 13:30] jarun commented on #316
I will take a look myself.

Please provide more detail on the issue you see with examples. I would try to explain.

[2018-10-11 15:58] jarun commented on #316
Which APIs do you call to add and edit/update?

I can see that `add_rec()` wraps the tags with delimiter.

also, the delimiter saved in the column helps in optimizing the search (and fetching exact tags) instead of having to handle the first and the last tags _specially_.

[2018-10-11 16:00] jarun commented on #316
In addition, I am not sure if I understood your note regarding tags stored as array of strings correctly. sqlite stores only these: https://www.tutorialspoint.com/sqlite/sqlite_data_types.htm

[2018-10-12 09:40] SamHH commented on #316
Thanks for taking a look for me.

Regarding the array of strings I meant within Python when you deserialise. That said, you're right, having the delimiter at each end does help with optimising the query given SQLite's lack of array support.

If there isn't an elegant alternative to that then it'd probably make the most sense for me to patch this on my end, I think?

[2018-10-12 13:02] jarun commented on #316
https://github.com/jarun/Buku/blob/master/buku.py#L581-L585
`add_rec()` already wraps... I am not sure why it's not working for you even if you send unwrapped tags. If it's not `add_rec()` please let me know which APIs you call.

[2018-10-14 10:42] SamHH commented on #316
I'm not calling any APIs, I'm directly accessing the database. I'd be happy to change that approach if there's a more idiomatic means.

[2018-10-14 12:01] jarun commented on #316
ok, that makes sense. I assume you can't use python APIs. In that case you would have to `delim_wrap()` yourself.

[2018-10-14 16:10] SamHH commented on #316
Cool, will do. :+1:

[2018-10-14 16:10] #316 closed

[2018-10-14 17:12] jarun commented on #316
Thank you!

[2018-10-15 03:19] benjyiw commented on #308
@alasdairdc version control was a deal breaker for me. I'm a fan of Buku, so I found a work around to utilize Git as my version control. I initialized git in the data store directory (~/.local/share/buku/). Using git with a binary file sucks, but by using steps from [here](https://stackoverflow.com/questions/33809881/whats-a-good-way-or-tool-to-version-control-a-sqlite-database-schema-only) I was

[2018-10-25 20:33] hubitor commented on #313
I get same error when I search:
[code]
but
`$  buku -p`
lists all bookmarks normally.

[2018-10-25 20:46] jarun commented on #313
@hubitor can you please

1. go through the thread to understand the problem we had earlier and
2. try to figure out which record causes the problem?

Without having any data or info we can't do anything about your issue.

[2018-10-25 20:47] jarun commented on #313
Also it's pretty evident from the conversation the fix is in master and is not released yet. Did you try master?

[2018-10-25 20:49] hubitor commented on #313
Yes, I've seen that but I don't know how to do it. I have installed buku from the AUR.

[2018-10-25 20:54] jarun commented on #313
Download https://github.com/jarun/Buku/archive/master.zip, extract and run the `buku.py` file within it with the same args.

[2018-10-25 21:09] hubitor commented on #313
Thanks! Indeed this works fine:
`$ python  buku.py -s paper`

[2018-10-25 22:39] hubitor commented on #313
I had issues with records in the past. I've checked the database again and I couldn't find something weird except some encoding issues in the metadata column. But as far as I remember the search was working properly even I after I inserted a bunch of bookmarks via a bash script (Lately I'm saving the bookmarks in a .csv file and I'm importing them into buku once in a while). So, I think it was the

[2018-10-27 13:03] msalini opened #319 "Post-installation errors running "buku" and "bukuserver" commands"
Hi Arun,

I have just installed the lastest version of baku 3.9.1 (I tried both source-compiling and deb package) without encounerting any errors. However, I get this error when I initiate buku:

[code]
And a similar error for bukuserver:

[code]
I am on Ubuntu Mint 18.3 on kernel ``4.4.0-122-generic``

Running Python 3.5
[code]
Alll dependencies are satisfied:
[code]
Please advise.

Thanks!

Marc

[2018-10-27 13:35] jarun commented on #319
I think the problem is with installation of deps. Can you purge the deps from apt and install them using pip3?

Please refer to https://stackoverflow.com/questions/38447738/beautifulsoup-html5lib-module-object-has-no-attribute-base

[2018-10-27 14:07] msalini commented on #319
Arun,

not as easy as it appears. I managed to remove ``python3-bs4`` but the other three files have way too many dependencies associated. Too risky! (unless you can give me a bullet-proof removal strategy)

[code]

[2018-10-27 14:38] jarun commented on #319
I don't have any solution for local setup/environment issues I can't touch. Good luck!

[2018-10-27 14:38] #319 closed

[2018-10-27 18:16] jarun commented on #268
@jpdasma would it be possible for you to implement firefox-exported json import?

[2018-10-28 21:01] msalini opened #320 "<EMPTY TAG> anchor link"
Hi Jarun,

In the Tags menu, the <empty tag> anchor link points to the wrong results page. In fact, clicking on it, it just opens an empty page, whereas it should open a list of bookmarks with no tags.

I guess the right anchor link should be:
` http://127.0.0.1:5001/bookmark/?flt2_tags_number_equal=0`

Thanks

Marco

[2018-10-28 21:43] rachmadaniHaryono commented on #320
thanks for the report, related pr added fix for this

[2018-10-29 02:38] rachmadaniHaryono commented on #320
@jarun travis still error because flake8 check, do you working on that? if not, i can create another pr for that

[2018-10-29 03:45] jarun commented on #320
Yes, please

[2018-10-29 03:55] jarun commented on #320
Also it seems like auto-import is failing with Firefox 63. Can you please take a look?

[2018-11-04 01:18] stkw0 opened #325 "Test failure when using the release of pypi"
I was running the tests for the last version (4.0), when running the tests from the github release all is ok, but I download it from pypi tests fails:

[code]

[2018-11-05 13:21] rachmadaniHaryono commented on #325
@stkw0 PR created. you can check this when running `python setup.py sdist` and created package will alco include bookmark file

[2018-11-16 15:50] jarun commented on #325
Closed at #326.

[2018-11-16 15:50] #325 closed

[2018-11-17 22:55] Krazybug opened #327 "Preserve some preexising data during update operation"
When you run an update operation without any option on a url (`buku -u`), the data are retrieved from the remote site and overwrite the preexisting fields (title, comment) or append them (tags).
However, you sometimes only want to update specific fields and preserve the others that are already present from any modification. For instance after an import of your bookmarks tagged with your own keywor

[2018-11-17 23:00] jarun commented on #327
Thanks for the issue. As discussed, I am assigning it to you.

[2018-11-17 23:05] Krazybug commented on #327
Ok Thanks. I'll try to work on it on my free time and raise a PR.

[2018-11-24 11:52] garfieldnate opened #329 "symlinking instructions don't work"
I want to store the bookmark database in a folder synched via pCloud. The wiki page on synching says that I should be able to simply create a symlink. This leads to a strange error, however:

    $ buku --ai
    DB file is being created at /Users/nglenn/.local/share/buku/bookmarks.db.
    You should encrypt it.
    ...
    $ mv ~/.local/share/buku/bookmarks.db ~/pcloud/appdata/bookmarks.db
    $ l

[2018-11-24 13:09] jarun commented on #329
Here are my steps (tried out just now with Dropbox, I don't have pCloud account):

[code]

Works without any issues.

After creating the symlink can you check that it actually exists? Because if the file exists, `Buku` wouldn't overwrite it to create the file again.

If nothing else works, use the undocumented `--db` option with which you can specify a db file location other than the default one.

[2018-11-24 20:32] jarun commented on #329
I noticed you edited the wiki. Problem solved?

[2018-11-24 20:35] garfieldnate commented on #329
You are right. It works fine with Dropbox. pCloud has problems with symlinks.
Since I was able to use the commands you sent immediately, I added them to the wiki page.

I was not able to understand what is meant by this line in the wiki:

    buku -e ~/Dropbox/Public/bookmarks.db

The documentation says that -e will export the database file. Won't this command just read the entire database from Dr

[2018-11-24 20:42] jarun commented on #329
I have updated the line now. This is for the non-symlink manual sync case.

People are bound to mess up if they don't add an alias in the rc file. And the default works in 99% of the cases.

[2018-11-24 20:42] #329 closed

[2018-11-24 23:12] garfieldnate commented on #329
Thanks for your help! Great tool.

[2018-11-25 02:07] jarun commented on #329
You are welcome!

[2018-11-27 23:46] ChristopherA commented on #171
I like to use Boku with Tails OS, however, though I can now make the app be persistently installed using their new persistent apps feature, the DB file is saved by default to /home/amnesia/.local/buku/bookmarks.db when I want it saved to /home/amnesia/Persistent/.local/buku/bookmarks.db so that the database is persistent as well.

I can't recompile Boku to make this change — I have to use the scri

[2018-11-27 23:53] jarun commented on #171
What's `Boku`?

You can use the `--db` flag. It's available but not documented.

[2018-12-02 01:12] Nevrage opened #330 "Feature: netloc for command line"
Hello,

First, thanks a lot for the awesome tool

I have noticed the netloc feature on the web frontend recently and was going to come ask for it to be added in the CLI when I stumble upon this [issue](https://github.com/jarun/Buku/pull/269).

I think this and/or a context/association feature would be a great add to the CLI.

We probably end up tagging a lot of url based on the context of said URL

[2018-12-02 14:32] jarun commented on #330
As I understand you want to search by netloc. We have a a deep search (option `--deep`) which can search the URLs too. That's the best we can do about it. There are too many existing ways to search already.

[2018-12-02 14:32] #330 closed

[2018-12-02 14:33] jarun commented on #327
This is a 15-days old issue without any response from dev on the status. I have added it to the ToDO list.

[2018-12-03 01:16] Nevrage commented on #330
I understand your will to not bloat the tool and respect it.
The regex search can be coupled with the tag one, this will do for now, otherwise a trigger on the db is the next best option.

Thanks for considering it

[2018-12-07 17:15] Nevrage opened #332 "Recovering from delete all"
Hi,

I accidentally deleted my most updated buku database and understand it's entirely my fault.
I am only posting here as if there is a solution it will be easier for someone else encountering the same issue to find.

After losing all my data, I immediately copied the .db and journal file somewhere else.
My sqlite file is currently 4.7 MB which leads me to believe it has some data somewhere.

Giv

[2018-12-07 17:31] jarun commented on #332
Do you have this file? ~/.local/share/buku/bookmarks.db

If not, copy the .db fiel you have to the above location and run `buku -p` to list the bookmarks.

[2018-12-07 22:01] Nevrage commented on #332
Hey thanks for answering yeah, I tried. Buku says zero entries.

I was wondering if there was a more sqlite way of doing it.

Looking at different backup this confirms what I suspected a while ago: the timestamp are not correct

[2018-12-08 01:45] jarun commented on #332
Sorry, I may not be of much help here.

[2018-12-09 01:18] Nevrage commented on #332
Thanks for looking into it!
I'll share the solution if I ever find onem you can close the issue.

[2018-12-09 01:31] jarun commented on #332
Sure! I would be glad to know.

[2018-12-09 01:31] #332 closed

[2018-12-09 01:33] jarun commented on #332
BTW, to ensure this doesn't happen again, use the method explained here: https://github.com/jarun/Buku/wiki/System-integration#sync-database-across-systems

[2018-12-09 06:14] Nevrage commented on #332
Thanks
As I mentioned my buku database doesn't get its timestamp updated all the time which makes syncing a bit harder.
This is a completely different issue though and it could be my system even if it happened on different machines and OS's.
I'll make sure to write up a ticket once I have repro steps unless it isn't an issue

[2018-12-09 14:06] 1xPdd opened #333 "Duplicate booksmarks"
Hey,

First, thanks for this great application. I'm a big fan.

I've run into one problem, however. It seems the import deduplicate function is quite narrow in what gets considered a duplicate. Thus (having imported backups from old browsers across several machines), I have a pile of near duplicates, e.g.,

* http://domain.tld
* http://domain.tld/
* http://en.domain.tld
* http://domain.tld/en
* ht

[2018-12-09 14:45] jarun commented on #333
Matching so many options would make add bookmark very slow so we go by exact string match. I hope you understand that there is no reasonable absolute solution to this.

You can do it manually though. With your example, search `domain.tld` with the option `--deep` which would also search URLs. Then you can delete the redundant ones.

Hope that helps.

[2018-12-09 14:45] #333 closed

[2018-12-09 15:39] 1xPdd commented on #333
Sorry if I wasn't clear: manual is fine. I wouldn't want Buku to slow down. But my problem is (at least I don't know how) to do this for 5000 bookmarks, at least 25% of which I'd guess are near duplicates. Is it possible to script a check for these somehow?

[2018-12-09 15:55] jarun commented on #333
No, it's not that easy to script a solution that will match `http://domain.tld/en` with `en.domain.tld`.

I can think of one way.

You can dump all URLs along with DB index with `-f=1`. So try this:

[code]

Or, for all bookmarks:

    buku -p -f 1 | sort -k 2

Then start picking from the first frequent domain. The DB indices are printed in the first column. You can add them as a space-separated l

[2018-12-09 15:59] jarun commented on #333
On a different note, when you say _I'm a big fan_ consider awarding a star on GitHub to the project. ;)

[2018-12-09 18:48] 1xPdd commented on #333
Cool, this helps, thanks.

Do you have any idea how I might deal with the http/https redundancies?

Done!

[2018-12-10 01:34] jarun commented on #333
You can pipe the output of sort to another cmd which will remove the part till the first `//` (if i exists in the string).

[2018-12-10 01:35] jarun commented on #333
It would be of great help to other users if you can share your final script.

[2018-12-11 13:16] 1xPdd commented on #333
Will do. Though no promises that it won't destroy computers. My scripting skills are all but negligible but I'll see if I can come up with something.

[2018-12-11 22:38] hubitor opened #334 "Why buku returns max 10 results? [Question]"
I tried to search some bookmarks and I saw that buku (v4.0) returned always max 10 results.
Why is this? Is there any option to change it?

[2018-12-12 00:53] jarun commented on #334
Use the option `-n` to change that.

[2018-12-12 00:53] #334 closed

[2018-12-13 09:26] ckolumbus opened #335 "New Feature 'bukuserver': provide path to bookmark db"
What do you think about extending bukuserver to accept a dbfile as parameter so that a different database can be served?
I thought of extending the configuration to contain an optional db path.

Thoughts? Ideas?

[2018-12-13 09:40] jarun commented on #335
@rachmadaniHaryono please share your opinion on this.

[2018-12-13 22:05] ckolumbus commented on #309
you might want to check out [Shaarli](https://github.com/shaarli/Shaarli) for production ready solution for publicly hosted internet service.
I actually have both services running, buku and Shaarli, for different usage scenarios

[2018-12-14 09:33] rachmadaniHaryono commented on #335
i have seen https://github.com/ckolumbus/Buku/commit/ba79c13ef1cd8cc21b9361f308c8dad10933826e, and i think you can create pr for that and i will comment on that, so please ping  me when you made that.

basically thing you should change

- create new function to get buku db object. that way `current_app.config` will be written on that function only. this may useful later when we can get user featur

[2018-12-14 15:13] ckolumbus commented on #335
Hi @rachmadaniHaryono
thanks for your comments, I'll create a PR.

Here's a rational for the implementation
 * the access via `current_app.config` was modeled after the way how `BUKUSERVER_PER_PAGE` and `BUKUSERVER_URL_RENDER_MODE` was used. But you're right, access function is cleaner
 * access to `bukudb` in `StatisticsView` was modeled after `BookmarkModelView`: there `bukudb` was referenced vi

[2018-12-15 02:51] jarun commented on #309
@rachmadaniHaryono would it be possible to expose the DB file encrypt and decrpy feature? That should block unauthorized access to the database till you can come up with a password-based locking mechanism.

[2018-12-15 02:58] jarun opened #337 "Import firefox exported json (title, url, tags, desc; parent folder if opted)"
Hint: see API `importdb()`.

[2018-12-15 06:59] rachmadaniHaryono commented on #309
2 way to do this

1. put an interface for user to input password on encrypted database
2. put a password prompt every time user start with an encrypted database

2 is the easiest with minimum change to html/routing etc

1 need more planning. i assume there should be a way so user can decrypt once on a single session until the server shutdown or user log out

[2018-12-15 08:14] jarun commented on #309
I am fine with the easiest option as long as the security aspect remains the same.

[2018-12-15 17:52] ckolumbus commented on #309
**Regarding sharing**: you could, but it's not implementd on either side. and i'm not sure whether this is necessary, at least in my case(see reason below)

**Regarding my reasons for using both:**

Shaarli has a very good integration with other systems: you have firefox add ins, an android app, it can integrate with wallabag, and much more. This is all very nice for my private needs where my book

[2018-12-17 01:57] jarun commented on #337
Right! The work item needs to add the support for json.

[2018-12-17 14:07] jarun commented on #335
Closed at #336.

[2018-12-17 14:07] #335 closed

[2018-12-17 17:13] ckolumbus commented on #337
Does anyone haave a link to a schema defintion of this json format? I'd like to understand the fields, but can't find anything (easily) :-(

[2018-12-17 21:52] ckolumbus commented on #337
Work started [feature branch](https://github.com/ckolumbus/Buku/tree/feature/import-firefox-json),  first version behaves weird, import so far disabled (only console prints).

Design to be rethought: due to FF json structure, import follows more the auto-import implementations than the `import_{db,md,org}` scheme. Need to find out what's the best solution.

Any feedback is welcome!

[2018-12-17 22:00] jarun commented on #337
Here's the schema doc: https://wiki.mozilla.org/File:Places.sqlite.schema.pdf

We already do the auto-import from places.sqlite. The json file we are discussing here is the one exported anytime from Firefox (Show all Bookmarks -> Import and backup -> Backup).

[2018-12-17 22:05] ckolumbus commented on #337
yes, I know. sorry for expressing this wrongly. Maye you can have a look at the implementation. I can parse the json file hierarchically. But as said there is some problem with the integrated functionin `buku`, standalone parsing works fine. Some stupid mistake... i'll look for it tomorrow.

[2018-12-17 22:06] jarun commented on #337
No problem. Please take your time.

[2018-12-18 20:54] tdehaeze commented on #308
@benjyiw Could you share your dotfiles related to that setup? Are you using something like gitwatch to automatically push to some repo?
Thanks

[2018-12-21 17:37] benjyiw commented on #308
@tdehaeze i had a simple approach that i came up with in just a couple minutes. I put this in my shell's rc file:

[code]
I am not automatically pushing, as I have a passphrase on my key, but that could be added to a solution like that with an additional `&& git push`.

[2018-12-23 18:53] T4P4N commented on #268
using urwid for frontend? argument interface is good but sometimes it's painful to edit bookmarks. i think it should be in todo list.

[2018-12-24 02:39] jarun commented on #268
Sorry, at this stage of the project I wouldn't like someone to spend valuable bandwidth on interface. There are many features to be implemented.

[2018-12-24 14:03] tdehaeze commented on #308
Thanks for the tip

[2018-12-25 21:02] BurhanDanger opened #339 "[question] Is it possible to specify dbfile with buku -p"

[2018-12-26 08:56] jarun commented on #339
Yes, with all options. Use `--db`.

[2018-12-26 09:35] #339 closed

[2018-12-28 22:51] jarun opened #340 "json import behaviour issues"
When I import a json, I see the following:

[code]

- please import only the last level of tags (e.g. bookmarks menu or mozilla firefox)
  - use the exported bookmarks.html import behaviour as the example
- `/` prepended to tags
- `/` in between multiple tags
- please check the `ERROR]` at the end

[2018-12-28 22:52] jarun commented on #340
@ckolumbus please check this.

[2018-12-28 22:54] jarun opened #341 "Remove newline when importing bookmarks description"
Example import from bookmarks.html:

[code]

[2018-12-28 22:56] jarun opened #342 "Do not update results from web during import from json"
It seems the imported bookmarks are getting updated from the web when importing json. We should avoid this during import.

[2018-12-28 23:17] #342 closed

[2018-12-28 23:43] #341 closed

[2018-12-29 10:13] jarun commented on #337
Closed by https://github.com/jarun/Buku/pull/338.

[2018-12-29 10:13] #337 closed

[2018-12-29 10:16] jarun opened #343 "ToDo list"
Continued from #268.

#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to assist any new contributor. We need your help!

Some of the fresh-baked features may not have been released yet. Grab the master branch for those.

#### Identified task

[2018-12-29 10:16] jarun commented on #268
Rolled at #343.

[2018-12-29 10:16] #268 closed

[2018-12-29 11:59] rachmadaniHaryono commented on #343
this is finished

[2018-12-30 13:30] jarun commented on #340
For the tag `/bookmarks menu/mozilla firefox`, the actual tag is `mozilla firefox`, i.e., only the parent folder (not the whole tree separated by `/`).

No, the tag should be just `Kids`.

I have attached something for your reference. There is a html file. Import that and you will see how the current behaviour is. json import should follow the same.

[2018-12-30 13:32] jarun commented on #340
The current PR takes care of the error message. Please ensure the tag import behaviour remains the same.

[2018-12-31 08:59] jarun commented on #340
Thanks! I will test it out.

[2019-01-01 15:53] jarun commented on #343
[code]

[2019-01-01 16:09] rachmadaniHaryono commented on #343
is that empty database at first or there is already records in that?

[code]
that is the file (10.4mb), yet no record either from buku or from sqlite db browser

[2019-01-01 16:13] jarun commented on #343
There were records at first. I have around 477 bookmarks in my personal file.

I think it would be a better option to just remove the file instead of dropping the table. That would be fast and reclaim the space. Added to the ToDo list.

[2019-01-01 16:36] jarun opened #346 "File size remains unchanged when all records are deleted"
Please refer to https://github.com/jarun/Buku/issues/343#issuecomment-450737699.

We should use `VACUUM` to purge the DB file.

[2019-01-01 16:40] #346 closed

[2019-01-01 19:12] jarun commented on #340
Please check the comments on #344.

[2019-01-04 15:42] #340 closed

[2019-01-07 05:35] cezhunter commented on #311
I did a similar project for school (tagging web pages for bookmark organization/categorization) and I discovered that [Aylien](https://aylien.com/) and [Google](https://cloud.google.com/natural-language/) provide services that work wonders (topic modeling and keyword extraction) for something like this.

[2019-01-07 06:20] jarun commented on #311
It would be great if you can contribute this feature.

[2019-01-08 16:02] shimizurei opened #348 "Broken Link Checker?"
#### Feature requests

Is there a way to check for dead links? It would be nice if there was a link checker that returned http status codes and was run through antivirus (like with virustotal). That way we can batch delete dead (404, 403, etc.) and/or malware links.

[2019-01-08 16:19] jarun commented on #348
run `buku -u`.

[2019-01-08 16:19] #348 closed

[2019-01-08 16:20] jarun commented on #348
for batch delete grab o/p and script.

[2019-01-12 06:23] lisinaner opened #350 "support to chinese search"
#### Bug reports

Before opening an issue, please try to reproduce on [the latest development version](https://github.com/jarun/Buku#from-source) first. The bug you noticed might have already been fixed.

If the issue can be reproduced on master, then please make sure you provide the following:
- Debug logs using the `-z` option;
- Details of operating system, Python version used, terminal emulato

[2019-01-12 07:29] #350 closed, assigned to nobody

[2019-01-14 22:59] rookiejet commented on #343
A "-r" reverse sort option for import (and export) could be useful to maintain chronology.

[2019-01-14 23:02] jarun commented on #343
reverse sort based on which criteria?

[2019-01-14 23:32] rookiejet commented on #343
Date added.

[2019-01-14 23:36] jarun commented on #343
`Buku` doesn't store that information.

[2019-01-15 00:49] rookiejet commented on #343
Entry/record order could work as well (atleast it is enough for my use case). Pinboard export maintains chronology of entries in descending order of most recent, and when imported to buku it is reversed.

[2019-01-15 00:55] jarun commented on #343
Please read the introduction: no hidden history, obsolete records, usage analytics or homing

[2019-01-15 01:06] rookiejet commented on #343
So would bookmark entry order falls under obsolete records? I don't follow. Buku already records and surfaces that. Sorry, I may have miscommunicated what I intended.

[2019-01-15 01:34] jarun commented on #343
You mentioned "chronology". If you are asking for just printing in reverse order, I think you can add a filter to do that while listing. If you really need it, please raise the PR.

[2019-01-19 04:38] jarun commented on #309
@rachmadaniHaryono @ckolumbus could any of you pick this up?

[2019-01-21 07:54] plum opened #352 "> I'm curious as to why "obsolete records" would be considered "tracking you.""
Hi , thanks for a great prgramme.
This is merely a question seeking confirmation;
Am I correct to assume that when buku with the above  command returns, in the output to stdin in terminal   a "404" ,  that it is recording the same finding by writing, e.g.`  ^[[1mIndex 2276: No title^[[0m` , to file?

[2019-01-21 10:30] plum opened #353 "db update urls whilst retaining tags"

[2019-01-21 10:47] plum commented on #353
With `buku -u  --tacit` I lost most of my existing user-defined tags, which were replaced form the title. I have 5,00 urls in the DB. From my reading of th eman page, this is not supposed to happen, as I understand it.
How could this have happened, and what could can I do about it? (it's OK I have a backup).

I'll test again on a smaller set.

[2019-01-21 10:53] plum commented on #353
Testing with a smaller set, the results are the same; all my tags are repalced with long tags form the title, it seems.

[2019-01-21 10:55] plum commented on #353
This is the orignal test scheme:
[code]
And following $buku -d tacit,
[code]
[code]

[2019-01-21 12:54] jarun commented on #353
Description fixed at commit 5df231947392475ced257a6ba5e4cec3c3fbb5a9.

[2019-01-21 12:54] #353 closed

[2019-01-21 12:59] jarun commented on #352
If there's a title already, it won't be overwritten. Buku doesn't write no title to file either. Empty titles are reported that way.

[2019-01-21 12:59] #352 closed

[2019-01-21 20:07] plum commented on #352
I'm sorry, I mean redirecting  output  to a file, as suggested  - not writing to the database -  for subsequent parsing, as in:
`buku -u --tacit >> log_bukuuodate.txt`
That  is how I got the example given above. Output to console merely gave a list of 404's  without indices, whereas output  redirected to file gave a list of indices with 'No Tiutle' but no indication of 404's.

[2019-01-21 20:14] plum commented on #353
Alos, can you give an example of how  I can query a user-defined tag and update that set, wihtout losing the tag?
Thanks, John

[2019-01-21 20:21] jarun commented on #353
tags are appended, older tags are not lost

[2019-01-21 20:35] plum commented on #353
I tried:
`buku -u  --stag electronics`
but I gety the same result with same extra tags appended.

[2019-01-21 20:41] jarun commented on #352
This should be fixed in master now. Check it out.

[2019-01-21 20:43] jarun commented on #353
not from title, they are from the page data.

I mentioned that we have a line item to give more granular control. Please wait for that to come it or raise a PR if you need it right away.

[2019-01-21 20:50] plum commented on #353
I'm not sure what you mean by line item?

[2019-01-21 20:57] plum commented on #352
OK, shall do. I'll  return to confirm success.  Good man.
John

[2019-01-23 22:24] plum commented on #353
Checking out the line items, I found it as: Add option --preserve to ignore specific fields during auto-update [see API update_rec() and issue #327].
I myself am not ably prepared to tackle this issue with a pull request - I think its out of my depth without significant advance preparation, it being outside my programming scope at this time.

I can give you a further  idea of how, without it a use

[2019-01-28 06:17] ckolumbus commented on #309
@jarun I'm quite busy at the moment but i'll try to get a little design proposal done for review so that the security aspects are considered appropriately

[2019-01-31 17:39] jarun commented on #353
I have added a patch to master to disable updating tags from the page. Even the tags of my bookmarks have gone for a toss.

Please test and confirm. Thanks for the report!

[2019-02-13 15:17] plum commented on #353
Thanks for kind consideration Jarun.  I ran the latest from git today with  success regarding keeping user-defined tags when updating selected url as follows
$buku -u XXXX

The command above updates the title but leaves the user-defined tags in place without any additions from the hosted web page.

The behaviour is particularly useful. You say the 'tags of my bookmarks have gone for a toss'; i gue

[2019-02-13 15:42] jarun commented on #353
Yes, the titles would be updated. However, you can mark a bookmark as immutable and in that case no field would be updated.

Can you please share an example link?

[2019-02-13 17:25] plum commented on #353
Sure. Here:
`https://wordpress.com/stats/jakbop.wordpress.com
`

[2019-02-13 17:30] jarun commented on #353
Can't access the stats page but I can see if I add the home page the title is fetched correctly:

[code]

[2019-02-13 17:43] plum commented on #353
Yes, that's true the home page when updated returns a nice, fully  descriptive title, in this case. That is, a page for public view. The admin stats page for the blog (useful for admins!) doesn't... and so this is just one example of how titles and their usefulness vary from one server impplementation to another.  It's a small point - an observation.

~As I say, I think the tags behaviour mow, is

[2019-02-16 10:31] endless22 opened #354 "Feature request : reverse proxy for bukuserver"
Hello,

A way of configuring bukuserver to run behind a reverse proxy would be a great feature.
I did something like that and it seems to work so far :

#### server.py
[code]
[code]

#### apache conf
[code]
#### usefull ressources :
http://flask.pocoo.org/snippets/35/
http://blog.macuyiko.com/post/2016/fixing-flask-url_for-when-behind-mod_proxy.html

[2019-02-16 14:03] jarun commented on #354
@rachmadaniHaryono can you please review?

[2019-02-16 14:33] rachmadaniHaryono commented on #354
the value on ```apache conf``` is fixed and it is not configurable on code above.

also just make sure it is optional, so maybe env variable flag to enable it

[2019-02-22 06:26] jabagawee commented on #343
Thoughts on adding [type hints][1]?

[1]: https://www.python.org/dev/peps/pep-0484/

[2019-02-22 07:32] rachmadaniHaryono commented on #343
while it could be done, it is better to put the effort into making new feature

[2019-02-22 13:44] jarun commented on #343
Please feel free to add to the ToDo list.

[2019-02-23 01:51] jabagawee commented on #343
What's the best way to chat? Seems like the gitter.im instance is inactive, and I'm not sure what way works best for you.

[2019-02-23 02:11] jarun commented on #343
I pinged you now. I didn't get the noti from gitter.

[2019-02-27 00:11] jabagawee opened #360 "Split Buku into multiple files"
Tracking issue for splitting Buku up into multiple files

[2019-02-27 21:18] ranebrown opened #361 "Custom root certificate"
Would it be possible to add the option to point to a custom root certificate in addition to the `certifi.where()` ca certs? I'm getting a `'[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain` error when using the `--shorten` or `--update` commands.

Thanks

[2019-02-28 02:12] jarun commented on #361
@rachmadaniHaryono can you please take a look?

[2019-02-28 04:25] rachmadaniHaryono commented on #361
can you put the output of `pip3 freeze` (especially certify and urllib3) @ranebrown 	?

[2019-02-28 17:09] ranebrown commented on #361
Here you go:
[code]

[2019-03-04 15:06] jarun commented on #360
@jabagawee how is it going?

[2019-03-04 15:08] jarun commented on #354
@endless22 can you please address the comment from @rachmadaniHaryono?

[2019-03-04 22:40] jabagawee commented on #360
I have a good split in [my own branch](/jabagawee/Buku/tree/split-files), but I wanted to find a good way to submit one PR at a time that was easily reviewable and understandable.

[2019-03-04 22:42] jabagawee commented on #360
A lot of it comes down to the entanglement of code that would lead to circular dependencies, so there would be refactors that actually move methods in and out of classes. I might end up creating issues / PRs that explain each entanglement to see if they should be moved around.

[2019-03-05 02:18] jarun commented on #360
No problem! Just wanted to confirm we are at it. :+1:

[2019-03-05 06:50] jabagawee opened #363 "Reduce the use of mutable global variables"
Blocks #360

The following variables are global and mutable:

- [ ] `INTERRUPTED`
- [ ] `MYHEADERS` and `MYPROXY`
- [ ] `PROMPTMSG`
- [ ] `ID_STR`, `ID_DB_STR`, `MUTE_STR`, `URL_STR`, `DESC_STR`, and `TAG_STR`

This disrupts the ability to split up files, because it is hard to reason about the changes in these variables as we move between files. We should do our best to rewrite the usages of these

[2019-03-06 04:27] ranebrown commented on #361
@rachmadaniHaryono any updates?

[2019-03-06 04:35] rachmadaniHaryono commented on #361
i think i can work this week. thursday is holiday and i will ping if i start create pr for this

[2019-03-06 04:47] jarun commented on #361
Awesome! Thanks a lot!

[2019-03-13 11:45] aodj opened #366 "Fail to import bookmarks from Firefox"
I installed buku from Homebrew, and after running `buku --ai` simply received the following output:
[code]

Adding `-z` didn't give any more information:

[code]

I uninstalled the Homebrew version and installed from source, and added a simple `raise` to the error handler:

[code]

which threw the following exception:

[code]

I'm running Firefox 65.0.1 on macOS 10.14.3

[2019-03-13 11:46] aodj commented on #366
After quitting Firefox and rerunning it, the auto-import completed successfully.

[2019-03-13 12:35] jarun commented on #366
We can't read the DB if it's locked. So probably we should handle the exception, show a reasonable msg and exit gracefully. Can you please raise a PR?

[2019-03-18 15:06] tikkol opened #367 "Exported html file from Buku is unusable"
Nothing happen when I imported the exported html file from Buku to Chromeu

Here's what I found on the exported html file

![Screenshot_2019-03-18-22-54-35-924_com estrongs android pop pro](https://user-images.githubusercontent.com/45262705/54540126-60f2de80-49d2-11e9-8231-89b070593df0.png)
![IMG_20190318_225243](https://user-images.githubusercontent.com/45262705/54540143-68b28300-49d2-11e9-8933-f

[2019-03-18 15:08] jarun commented on #367
Please share the html file you imported.

[2019-03-18 15:11] jarun commented on #367
Hmmm... I cannot reproduce this locally. Can you share your db file with the specific entries which are creating problem?

[2019-03-18 15:15] jarun commented on #367
Here's the result after adding the first 2 sites and then exporting as html:

[code]

I don't see any issue. I think you have imported a malformed set of bookmarks.

[2019-03-18 15:15] #367 closed

[2019-03-18 15:46] tikkol commented on #367
What should be the column name for the urls in the table of my db ?

[2019-03-18 15:50] jarun commented on #367
https://github.com/jarun/Buku/blob/master/buku#L456-L462

[2019-03-19 16:18] leongm opened #368 "New feature request : --force flag"
Hi
buku is a great piece of job. I would like to use it for bookmark backup, syncing, im/export and manipulation (eg tag filtering). However, some buku operations (eg `-d --ai` etc) expect user interaction (typically y/n answer) and calling buku from a bash script to automate bookmark manipulation seems problematic. I wasnt able to find a suitable buku option that prevents this behavior. My attemp

[2019-03-19 16:35] jarun commented on #368
To some extent you can do that using the option `--tacit`.

[2019-03-19 17:53] leongm commented on #368
Thank you for your answer. But still not the solution
`buku --tacit -d` prompts the user and `buku --tacit --ai` does not allow me to answer 'no' to chromium bookmark import and 'yes' to firefox bookmarks

[2019-03-19 23:05] jarun commented on #368
`-d` is completely destructive and the prompt was added based on an issue. It's much safer that way.

`buku --tacit --ai` is a one-time command. I don't see the issue.

[2019-03-20 02:56] jarun commented on #363
Closing this as we are going to have a single file.

[2019-03-20 02:56] #363 closed

[2019-03-20 02:56] jarun commented on #360
Closing this as the plan is to have a single file.

[2019-03-20 02:56] #360 closed

[2019-03-20 08:03] leongm commented on #368
about `-d` : yes it drops the database but it is no more destructive than usual commands such as `rm`. The latter defaults as an interactive command prompting the user to confirm the action ; but it has a `--force` flag allowing the user to bypass confirmation. `buku -d` could have the same behavior. Moreover, as buku imports bookmarks that are otherwise stored in various browser databases, bookma

[2019-03-20 08:10] jarun commented on #368
This is a great solution! I will add it to the wiki.

[2019-03-20 13:40] #368 closed

[2019-03-20 13:48] #366 closed

[2019-03-20 13:49] jarun commented on #366
I see graceful handling is already in place. Added this to the documentation.

[2019-03-20 13:50] jarun commented on #354
Closing this as there's no response in more than 2 weeks.

[2019-03-20 13:50] #354 closed

[2019-03-25 01:38] dertuxmalwieder commented on #343
A Chocolatey package would be awesome. I might have some time to try to build one some time in 2019...

(Packed calendar currently.)

[2019-03-25 02:21] jarun commented on #343
@dertuxmalwieder whenever you have the time!

[2019-03-25 23:18] #361 closed

[2019-04-07 14:30] Buglouse opened #370 "db_exists and enc_exists"
Why does the check for both encrypted file and flat db file exist? I have a decrypted db file and a link to my 'secure path' where the encrypted file is stored. I would think that the check should be for if neither exist, encrypted exists; otherwise use the database and leave the crypting management to the user.

[code]

[2019-04-07 14:38] jarun commented on #370
Allowing both means there's a chance of them going out of sync. The design is to support a single file - either the db file or the encrypted one. So please keep the one which you are use using and move the backup one somewhere else.

[2019-04-07 14:38] #370 closed

[2019-04-10 03:30] jarun opened #371 "Fix Python 3.7 test case failures on CircleCI"
Please fix the failing test cases for Python3.7. Thought of submitting a defect as this would enable us to certify that Buku supports Python 3.7.

[2019-04-13 01:46] #371 closed

[2019-04-24 21:02] jarun commented on #307
Closing this as there is a line item in the ToDo list and this is linked there.

[2019-04-24 21:02] #307 closed

[2019-04-24 21:03] jarun commented on #309
This defect is linked in the ToDo list. Closing the defect.

[2019-04-24 21:03] #309 closed

[2019-04-24 21:05] jarun commented on #311
This is already in the ToDo list. Closing the defect.

[2019-04-24 21:05] #311 closed

[2019-04-24 21:05] jarun commented on #327
This in linked in the ToDo list. Closing the defect.

[2019-04-24 21:05] #327 closed

[2019-04-24 21:07] jarun commented on #327
Also note that tags are not refreshed now reducing the severity of the problem.

[2019-04-24 21:09] jarun commented on #343
@rachmadaniHaryono can you please add the test cases for `exportdb()`?

[2019-04-28 01:17] rachmadaniHaryono commented on #343
@jarun python 3.4 eol is last month

also there is warning from circleci

[code]

until when do we support it?

[2019-04-28 02:04] jarun commented on #343
I'll remove it. :)

[2019-04-28 02:30] rachmadaniHaryono commented on #343
@jabagawee i started added annotation on the pr and some function/method on buku

it is not perfect yet but it is a start

[2019-04-29 00:10] EncryptedCurse commented on #343
Would it be possible to add a bookmark cleanup function of sorts (e.g. find dead links)?

Also, why doesn't the interactive prompt accept the same arguments as running Buku directly?

[2019-04-29 02:29] jarun commented on #343
Try `buku -u --silent`

If you want it that way, please raise a PR.

[2019-04-30 05:53] jubalh opened #376 "New release missing on pypi"
4.2 is missing from
https://pypi.org/project/buku/#files

[2019-04-30 05:58] rachmadaniHaryono commented on #376
there is error on export function so maybe after that.

see https://github.com/jarun/Buku/commit/cd302c45ac995b45c46b3f9f13b6e9626521121f

[2019-04-30 12:50] jarun commented on #376
We will make a new dot release.

[2019-04-30 12:52] OrionRandD opened #379 "selecting web-browser"
How do I set up my preferred web-browser to open buku links?
They open in Chrome, but I want to set up firefox to handle them..

[2019-04-30 12:59] jarun commented on #379
Export the env var BROWSER. Refer to: https://docs.python.org/3/library/webbrowser.html

[2019-04-30 12:59] #379 closed

[2019-04-30 23:30] rachmadaniHaryono commented on #343
not mentioned anywhere but we actually don't know the actual return type for record

based on the #375 it should be

[code]

[2019-05-01 00:15] jarun commented on #343
@rachmadaniHaryono I think we had some very early discussion on having page thumbnails in the web interface. Well, people are looking for it and this may be the right time to have it in. I think it would be good to store the thumbnail by the actual DB index.

[2019-05-01 00:32] rachmadaniHaryono commented on #376
https://pypi.org/project/buku/4.2.1/

[2019-05-01 00:32] #376 closed

[2019-05-01 02:45] jarun commented on #343
@rachmadaniHaryono please take a look at this thread: https://www.reddit.com/r/commandline/comments/bj31ie/browserindependent_bookmark_manager_buku_v42_is/em6iym4

This is relevant to the comment above and there are some links to google users may not be comfortable with.

[2019-05-01 03:35] rachmadaniHaryono commented on #343
not sure if this a good idea, iirc our index is not fixed to url and each time url-index pair changed, the image pair id should be changed as well

2 solution i can think
- save the url based on unicode-decoded url name. bukuserver will save the image with unicode-replaced-valid filename. ie thumbnail from youtube.com will be saved as `http://youtube.com.jpg` note that `:`, '.' and `/` is unicode

[2019-05-01 03:52] jarun commented on #343
Yes, I thought of that removal problem but then thought we could rename the image too. Unfortunately, that mandates the deletion from the server interface all the time.

So I'm fine with any of the 2 methods above, maybe we should avoid another DB if we can and take the first route.

Sure!

[2019-05-01 08:37] AbsurdMagpieScrutinies commented on #343
This ToDo list belongs on the 'Projects' tab, visible at the top of this page. That's what the Project's Kaban Board is for. It should not be a GitHub ticket.

These ideas need to be grouped and the groups triaged.

[2019-05-02 06:30] jubalh commented on #376
But now I see a 4.2.2 which is not on pypi :-)

[2019-05-02 06:51] rachmadaniHaryono commented on #376
https://pypi.org/project/buku/4.2.2/

[2019-05-07 11:39] rachmadaniHaryono commented on #343
testing test on 4.2 https://github.com/rachmadaniHaryono/Buku/commit/cd302c45ac995b45c46b3f9f13b6e9626521121f

- run `python setup.py --version`, https://github.com/rachmadaniHaryono/Buku/tree/feature/change-circleci : test is still passed
- enable travis test again, https://github.com/rachmadaniHaryono/Buku/tree/feature/travis : travis test also pass

recommendation:

- run full test before packa

[2019-05-07 12:40] jarun commented on #343
In that case i will send out a note before making a release, may be a day or 2 prior so everyone can confirm.

[2019-05-07 13:13] rachmadaniHaryono commented on #343
is there other packaging other than opensuse that test the package before upload?

[2019-05-07 13:15] jarun commented on #343
@dilawar, @eclipseo, @maxice8, @pabloariasal, @szlin, @jpdasma can you please respond to @rachmadaniHaryono's question?

[2019-05-11 15:14] isavcic opened #385 "Bookmarklet"
Hello,

Is there perhaps a bookmarklet available for Buku web?

Thanks

[2019-05-11 15:15] jarun commented on #385
Current projects based on Buku are listed here: https://github.com/jarun/Buku#related-projects

Just check out.

[2019-05-11 15:19] isavcic commented on #385
Thanks, missed that (searched for "bookmarklet")

[2019-05-11 15:19] #385 closed

[2019-05-11 15:28] isavcic commented on #385
Ugh, this "web extension" is an overkill. Overthought implementation of such a trivial feature. Thanks anyhow.

[2019-05-11 15:39] jarun commented on #385
Would you like to implement a lighter bookmarklet?

[2019-05-11 18:02] SaltyCatFish commented on #309
I can have a look, but I'm confused if this issue is closed or not.

[2019-05-11 18:03] cardi opened #386 "PROMPTMSG not displaying correct colors"
Hello! Thank you and to the many other contributors for creating and maintaining buku.

On starting up `buku`, `PROMPTMSG` is not displaying the reverse video colors correctly, and prints the color sequences instead:
[code]

This problem happens when `readline` is imported. If `readline` is not imported (e.g., by commenting out L39-L43), the prompt will correctly display the colors.
https://github

[2019-05-11 23:46] #386 closed

[2019-05-11 23:46] jarun commented on #386
Please test the patch and confirm it works.

[2019-05-11 23:47] jarun commented on #309
It's not closed. Feel free to pitch in!

[2019-05-12 00:37] SaltyCatFish commented on #309
@jarun Can I use Flask issued plug-ins with pip?

[2019-05-12 02:25] jarun commented on #309
@rachmadaniHaryono please confirm.

[2019-05-12 10:40] rachmadaniHaryono commented on #309
i think it is fine

[2019-05-12 21:58] rachmadaniHaryono commented on #343
@jarun i register the application here because i want to see the statistic of the project

[2019-05-13 01:37] jarun commented on #343
@rachmadaniHaryono sure thing!

[2019-05-13 07:21] cardi commented on #386
This seems to work fine now. Thanks!

[2019-05-14 13:12] rachmadaniHaryono commented on #385
[code]
that is for bukuserver on 127.0.0.1:5001. but this will not tell you if the url is already on buku or not or if POST success

will add more document about this later on new pr

[2019-05-14 13:56] isavcic commented on #385
Great, thank you! Since you seem versed in Javascript (which I'm definitely not), is there a way to have the selected text to automatically populate the description of the bookmark? That's a feature del.icio.us had and it was quite nifty.

[2019-05-14 14:21] rachmadaniHaryono commented on #385
not tested but here is the javascript code

[code]

code to getting selected text is taken from here https://stackoverflow.com/a/5379408/1766261

what is needed from this is to handle if bookmark is already there and another description exist

you can edit code above and generate bookmarklet here http://bookmarklets.org/maker/

[2019-05-26 13:42] benoliver999 opened #390 "AUR vs Released Package"
I am the maintainer of buku on the AUR.

Users have noticed that the package in the releases here does not match the package that gets created in the AUR when built from source. The main focus of the issue revolves around bukuserver.

When built from source, bukuserver is present (therefore all dependencies must be met). When using the released pre-built package, it is not.

Would you like to be a

[2019-05-26 13:54] jarun commented on #390
The auto-generated packages (all flavours) are only for buku rather than bukuserver. Would adding a disclaimer in the release page make this clear?

[2019-05-26 14:21] benoliver999 commented on #390
It just depends on what you want in the AUR. We can't use the auto-generated package there, users have to rebuild every time.

So either:

- Things stay the same (buku and bukuserver included in one package)
- We split it into two AUR packages, buku and bukuserver.

[2019-05-26 14:23] jarun commented on #390
I think this is the best way to go.

I was thinking of another approach though. What if the generated package is renamed to `buku-cli`? In that case there wouldn't be a conflict.

[2019-05-26 14:52] jarun commented on #390
@rachmadaniHaryono to explore the first option, what would it take to package `bukuserver` as well during auto-generation?

[2019-05-26 15:08] benoliver999 commented on #390
In terms of the AUR, this would not really change anything. The reason being that you cannot submit a pre-built package to the AUR. You can only 'build from source' so to speak.

[2019-05-26 15:10] rachmadaniHaryono commented on #390
i'm still not quite understand the solution and aur package problem.

but if you want a single folder for buku and bukuserver possible solution i can think of is this

- move buku to buku/__init__.py: this hopefully minimize import error if other package is using this
- move bukuserver content to buku folder: there will be no bukuserver module but i don't think anyone use that. acess to bukuserver

[2019-05-26 15:13] jarun commented on #390
@benoliver999

I think we are talking on 2 different things here.

The auto-generated package has nothing to do with the AUR package. The auto-generated package is just there for having a quick test of buku engine (and NOT the server). Users who are on Arch should use the PKGBUILD from AUR. Where is the conflict?

My earlier understanding was - someone installing buku from the auto-generated packa

[2019-05-26 15:16] benoliver999 commented on #390
Ah sorry no - I wan't very clear!

The issue is simply that some users have noticed that bukuserver is included in the AUR build, but not in the auto-generated one. They are saying that therefore we should not include bukuserver, because you are not doing so in the auto-generated one.

If you are happy with the AUR PKGBUILD as it stands, we should leave it that way.

[2019-05-26 15:21] jarun commented on #390
Right, that's why I wanted to rename the auto-generated package to `buku-cli` and add the note in the README clearly stating that the auto-generated package doesn't have the server component.

I am more than happy with it and the commendable effort you guys put into bringing state-of the art software to users. Thank you!

[2019-05-26 15:22] benoliver999 commented on #390
Got it, and thank you for your time! buku is awesome!

[2019-05-26 15:22] #390 closed

[2019-05-26 15:59] jarun commented on #390
I have made the required changes in commit 8e5357ea7c83dd651c65948e96ab8d726d98b6f5.

[2019-05-27 12:36] benoliver999 commented on #390
Just FYI - I have since had a couple of emails asking the AUR to be split. It is more like the 'arch way', so I have done it.

`buku` is now CLI only.

`bukuserver` installs both.

[2019-05-27 12:56] jarun commented on #390
Awesome! Thank you!

[2019-05-27 14:17] isavcic commented on #385
Unfortunately, the direct POST to the API is inflexible and unintuitive. I gave more details in the pull request you've provided. I come from a del.icio.us (later Pinboard) world and the bookmarklets there provided a small window to fill in the data which is not automatically fetched and filled, like the URL, title, and excerpt of the page bookmarked.

[2019-05-27 14:24] rachmadaniHaryono commented on #385
just copy my comment from pr, because imo better to discuss it here

[2019-05-27 14:49] cinghiopinghio commented on #390
dear @benoliver999,
I just updated from AUR and noticed that `buku` is not accessible as a python module anymore (and I was relying on this for my daily work).
Is this meant to stay as is? Should I install `bukuserver` instead?

[2019-05-27 14:51] jarun commented on #390
My expectation is - package `buku` installs the cli and package `bukuserver` installs both cli and server.

[2019-05-27 16:24] benoliver999 commented on #390
This is correct. As for using it as a python module, I would install `bukuserver`.

This is because to build bukuserver we run setup.py, but to build buku alone we just do

`make DESTDIR="${pkgdir}" PREFIX=/usr install`

Which doesn't install it as a python package I don't think.

[2019-06-02 23:47] Dobbie03 opened #393 "Remove auto tag when importing bookmarks"
Is there anyway to remove the autotag?

[2019-06-03 00:42] jarun commented on #393
Please see the last point: https://github.com/jarun/Buku/wiki/Operational-notes#import

You have to use `--tacit`.

[2019-06-03 00:42] #393 closed

[2019-06-03 02:09] Dobbie03 commented on #393
Ah thank you for that.

[2019-06-04 03:08] rameshm76 opened #394 "Bookmarks Listing Page - When the user click on any link on the search results should open a new tab or window"
Bookmarks Listing Page - When the user click on any link on the search results should open a new tab or window.

I believe the change will be in views.py:

`res += '<a href="{0.url}" target="_blank">{1}</a>'.format(model, title)`

[2019-06-04 10:21] maxigaz opened #395 "Termux: "Installing build dependencies ... error""
When I try to install buku in Termux through `pip install buku`. I get a build error.

I've found in #291 that urllib3 is required as a dependency, so I ran `pip install urllib3` just in case. The building process still fails.

Here's the terminal output (with urllib3 installed):

[code]

[2019-06-04 13:16] jarun commented on #395
@rachmadaniHaryono and @fornwall any ideas?

[2019-06-04 23:58] rameshm76 opened #396 "Buku import bookmark file should honor the case sensitiveness of the folders."
Buku is converting the folder names to lower case when adding the tags. I believe it should import the folder names as tags with out lowering the case. I guess it is at the following line in in file https://github.com/jarun/Buku/blob/master/buku

orig_tags = tags.lower().strip(DELIM).split(DELIM)

[2019-06-05 00:08] rameshm76 opened #397 "Export bookmarks data as a bookmark file should preserve the folder structure"
Currently, the bookmark export is generating a html file without the folder hierarchy. If a file is imported from bookmarks file or from browser, Buku should preserve information and, enable the export to be hierarchically formatted(one level). In case of a duplicate bookmark, the import should allow to pick the folder name based on alphabetical order.

[2019-06-05 02:39] jarun commented on #396
This is as designed. PS https://github.com/jarun/Buku/wiki/Operational-notes.

[2019-06-05 02:39] #396 closed

[2019-06-05 03:09] jarun commented on #397
The folders are imported as tags. The exported information cannot be hierarchical. To support that we need to change the design and it would start right from the schema and would even affect searches, merges and so on.

I think you are looking for a utility that specifically backs up browser bookmarks along with the paths and restores them the same way. That's not a design goal for `Buku`.

[2019-06-05 03:09] #397 closed

[2019-06-05 07:09] zoredache commented on #385
Honestly, solving this would be a lot easier if you started by building a **single form** on the backed that would handle both the New and Edit.  Having a separate create_view and edit_view route makes creating a bookmarklet needlessly complicated.

[2019-06-05 10:16] jarun commented on #385
@zoredache can you start with that? We are ready to help out.

[2019-06-06 23:38] rachmadaniHaryono commented on #385
i actually agree with this. unfortunately there is no tutorial on how to hack flask-admin specified this feature. i'm very thankful if anyone can make it or tell me how to do this.

in the meantime this issue and the pr will get delayed because i'm out of town till next week. it is ok if anyone want to take this

[2019-06-06 23:42] rachmadaniHaryono commented on #395
@maxigaz can you try `pip3 install -U cffi` and tell us the version number?

and also your os information? (like with neofetch)

[2019-06-07 01:28] #394 closed

[2019-06-07 11:57] maxigaz commented on #395
Do you mean the version number of the available package `cffi`? It's 1.12.3.

Although I have a similar error message:

[code]

Here's the system info according to `neofetch` (although it doesn't mention, I'm running LineageOS, by the way):

[code]

[2019-06-09 00:13] rachmadaniHaryono commented on #395
based on https://github.com/termux/termux-packages/issues/2430

[code]

if this work can you document the entire process @maxigaz ?

[2019-06-09 02:04] jarun commented on #395
@maxigaz I need a favour from you once this is through. Could you add a wiki page with the steps on Termux? I have made it editable for all.

[2019-06-09 12:51] maxigaz commented on #395
Do you mean [here, on GitHub](https://github.com/jarun/Buku/wiki)? Sure, I can do that once I got it working.

I still get an error though, even after having installed `libcrypt-dev` and `libffi-dev`.

However, I could at least get rid of the part "unable to execute 'arm-linux-androideabi-clang': No such file or directory" from the previous outputs by installing clang through `pkg install clang`.

[2019-06-09 13:42] maxigaz commented on #395
After some searching on the issue tracker of [termux-packages](https://github.com/termux/termux-packages), coming across [this issue](https://github.com/termux/termux-packages/issues/2847) and trial and error, I've got it!

First, I realised that I had `python` installed, but not `python-dev`. Also installing the latter took care of the build dependencies error for `cryptography`.

So the build pr

[2019-06-09 15:34] maxigaz commented on #395
I've just created a wiki page [here](https://github.com/jarun/Buku/wiki/Installation-on-Termux). I decided not to go into much detail about what possible errors may occur, but include a link to this issue for reference instead.

Thank you for making this awesome tool called Buku!

[2019-06-09 15:34] #395 closed

[2019-06-09 15:49] jarun commented on #395
Thank you so much!

[2019-06-14 15:41] AlexFielder opened #399 "Build from source on Windows 10 (Release 1804)"
I installed buku on Windows 10 by doing the following:

`pip3 install buku`

which appears to be fine. Except it can't import Chrome bookmarks because "readline" doesn't work on Windows 10.

I have fixed this in my Windows 10 branch here:

https://github.com/AlexFielder/Buku/commit/201b23c6759c517c4e9c4847f5af3d22ec09a3e7

But now I can't get a successful build from the setup.py file. py2exe appea

[2019-06-14 16:25] jarun commented on #399
Please raise a PR.

[2019-06-17 13:01] AlexFielder commented on #399
#400 is opened. And should be passing the tests now.

What I want to do is build a working .exe file as per the releases here.

How do I do that since py2exe is non-functional?

[2019-06-17 13:06] jarun commented on #399
I am not so sure. But I have a better proposal for you instead of going roundabout.

Why don't you submit the package to Chocolatey? That way everyone gets it through a proper channel. There won't be too many releases of `Buku` in near future so you don't ahve to spend too much time.

For an example, someone has done it for googler already: https://chocolatey.org/packages/googler

[2019-06-17 13:25] AlexFielder commented on #399
I just noticed there aren't any releases here; maybe I meant to build a .exe that you get when you run "pip3 install buku"? As per the .exes present on my system here:

![buku.exe & bukuserver.exe](https://i.imgur.com/1ITIXKD.png)

[2019-06-17 13:41] jarun commented on #399
I think @zmwangx maintains a project with the latest version of googler in it: https://github.com/zmwangx/chocolatey-googler

But you can run pip3 on Windows too, right?

[2019-06-17 14:03] zmwangx commented on #399
I didn’t read the full back and forth, but I’m confused by “I can pip install...”, “I edited something”, “I can’t pip install anymore”. If you can pip install the first time, then there’s zero reason you can’t `pip install .` or `pip install ./buku` again, depending on from which directory you call pip. Pip should take care of console script generation just like the first time round. If not, raise

[2019-06-17 14:16] AlexFielder commented on #399
Assuming the merge goes without a hitch I assume the pip-install-able version gets updated? In which case you are correct.

[2019-06-17 15:51] zmwangx commented on #399
Since pip install works on local directories, you don’t need a merge to bless a version as pip-installable.

[2019-06-17 16:06] AlexFielder commented on #399
I guess TIL that ^ is as easy as:

https://stackoverflow.com/a/41537134/572634

:)

[2019-06-21 23:00] rachmadaniHaryono commented on #343
@jarun i think i feel overwhelmed with thumbnail feature. biggest challenge is actually trying to change the html and the backend from bukuserver

maybe i will work on it but not in the near future. sorry

[2019-06-22 01:55] jarun commented on #343
@rachmadaniHaryono hey, no problem!

The code is open source, we have it as a open line item so anyone interested can always pick it up. I think we are doing a fantastic job with `Buku` already and anyone looking for time-consuming features have to pitch in themselves.

[2019-06-28 06:32] rachmadaniHaryono commented on #343
i try import a lot of bookmarks html using this command

[code]

but these html is mostly incremental backup which contain a lot of duplicate url

so i use this script to import those into buku

[code]

[2019-07-15 17:34] EmilianoCostantini opened #404 "Enhanced Regexp Search | Permutations, Fuzzy matching"
It would be great to enhance the search capabilities with features such as:
- deterministic permutations
- fuzzy searching

***

I'm not big on [fuzzy searching](https://en.wikipedia.org/wiki/Approximate_string_matching), but let me make an example about [permutations](https://www.wyzant.com/resources/lessons/math/precalculus/factorials_permutations_and_combinations/).

Say the user enters the sea

[2019-07-15 18:11] jarun commented on #404
We are storing a lot of text and I know users having up to 40K bookmarks. I would leave fuzzy search out of the equation.

The search is case-insensitive - https://github.com/jarun/Buku/wiki/Operational-notes#search

Please go through the Search section. We support regex searches. And the searches are independent of the order of the tokens (try `--sany` and `--sall`). Am I missing something here?

[2019-07-17 18:58] EmilianoCostantini commented on #404
It may be the case.

Please, try adding the following three bookmarks:

***

` # Lines beginning with "#" will be stripped. `
` # Add URL in next line (single line). `
**` www.animals.com `**
` # Add TITLE in next line (single line). Leave blank to web fetch, "-" for no title. `
**` 1 cat, 2 dogs, 2 monkeys, 2 lions, 2 tigers, 2 elephants `**
` # Add comma-separated TAGS in next line (single line)

[2019-07-17 19:24] jarun commented on #404
Yes, you didn't try regex.

$ buku -r monkey[s]

[code]

That was a simple one but I think you can have a more complex regex pattern that would match all the string and return just what you want. Probably you are looking for lookahead.

https://www.regular-expressions.info/completelines.html

Coming to the deep search results. I see:

[code]

So the desired result is at the top because of the rank

[2019-07-17 19:24] #404 closed

[2019-07-17 19:52] #399 closed

[2019-07-20 18:33] stkw0 opened #405 "Unsafe load() call disabled by Gentoo."
Seems that gentoo have disable yaml.load for security reasons (see https://bugs.gentoo.org/659348 ) and buku tests fails on gentoo. Could we use safe_load on buku? Seems that it's not as easy as replacing "load" to "safe_load".

Extract from tests logs

[code]

[2019-07-20 23:37] jarun commented on #405
@rachmadaniHaryono please take a look.

[2019-07-21 04:56] #405 closed

[2019-07-21 04:58] jarun commented on #404
I think I missed this in my earlier note - if you really need it, please feel free to implement this and raise a PR. We would be glad to help with anything you need.

[2019-07-21 13:18] stkw0 opened #407 "Unsafe load() call disabled by Gentoo"
Some tests are still failling

[code]

[2019-07-21 13:36] jarun commented on #407
@rachmadaniHaryono please check.

[2019-07-21 23:23] rachmadaniHaryono commented on #407
@stkw0 	can you try run this?
[code]

this is based on this https://stackoverflow.com/questions/9169025/how-can-i-add-a-python-tuple-to-a-yaml-file-using-pyyaml

[2019-07-22 17:13] stkw0 commented on #407
it seems to work

output:
[code]

[2019-07-23 18:00] #407 closed

[2019-08-10 20:29] codingCoffee opened #410 "Dockerization"
This is a feature request, which I would love to contribute.

It would include dockerizing the `bukuserver`, and using `uwsgi` instead of the default `flask` server to server requests from within the `docker` container.

Would love to hear your feedback and if you would like to have this in Buku.

[2019-08-10 20:34] jarun commented on #410
@rachmadaniHaryono need your input here.

[2019-08-11 07:20] rachmadaniHaryono commented on #410
i have heard about docker but haven't play with it. i would agree with any pr related to this. if anyone need something to be changed for it, i'm okay with it

[2019-08-11 11:24] jarun commented on #410
@codingCoffee please raise the PR when ready!

[2019-08-11 13:54] rachmadaniHaryono commented on #410
also note that bukuserver is not yet ready to be hosted on public server

[2019-08-11 20:00] codingCoffee commented on #410
@rachmadaniHaryono yes, I'm aware of it.

I have a checklist which I would like to target:

Part I:

- [x] `Dockerfile` to build the `bukuserver` container
- [ ] `uwsgi` or `gunicorn` to serve requests from within the container
- [x] Related docs to build the container

Part II:

- [ ] CI to build and push docker container to [docker hub](https://hub.docker.com/) with every merge to `master` branc

[2019-08-22 17:40] eugene55 commented on #410
I would suggest slightly different approach to Dockerfile:
[code]
Differences:
* no git install (you don't need it here)
* proper cleanup after Bukuserver installation
* flask file argument for gunicorn changed to installed package

[2019-08-22 19:17] codingCoffee commented on #410
@eugene55 great suggestions, I've made the changes except the flask file argument change, since for some reason, `bukuserver` does not server some css files while using that. The error which pops up is `Charts is not defined`. Until that is fixed, the application will have to be served from the directory, as opposed to from the pip installed package.

[2019-08-22 19:41] eugene55 commented on #410
I see. To fix the issue @codingCoffee, @jarun  we have to modify `MANIFEST.in` by adding `recursive-include bukuserver/static *` line at the end. I tried it and it works

[2019-08-22 20:04] codingCoffee commented on #410
I tried it, doesn't work. Try opening `/statistic` endpoint. The pie charts won't load

[2019-08-22 20:05] eugene55 commented on #410
/statistic endpoint itself will not work of course, but full path (http://127.0.0.1:5001/static/bukuserver/js/Chart.js) works

[2019-08-22 20:07] eugene55 commented on #410
What this additional line do is to forces pip install to copy static files beside server.py and others, so then they can be served by gunicorn

[2019-08-22 20:22] codingCoffee commented on #410
Not `/static`, `/statistic`, i.e. (http://127.0.0.1:5001/statistic/)
Try saving 2 bookmarks and opening the above URL. It won't load the pie charts. Atleast it doesn't for me. Nor is it serving the http://127.0.0.1:5001/static/bukuserver/js/Chart.js file

[2019-08-22 20:40] eugene55 commented on #410
Just built image using following Dockerfile
[code]
After build I ran `sudo docker run -ti --rm --entrypoint="" bukuserver ls -lR /usr/local/lib/python3.7/site-packages/bukuserver/` to see the listing:
[code]
And it works. I can see charts in /statistics

[2019-08-22 21:12] codingCoffee commented on #410
Okay I found the problem. Not mentioning the full path to pip while installation was causing the issue. For instance if I do a `pip install Buku[server]` (assuming I'm in the root directory) installs the Buku, but probably fails to copy the static files over. However, mentioning the full path `pip install /Buku[server]` copies over the static files. Weird! Anyways, thanks a lot. Have fixed created

[2019-09-05 22:15] Nevrage opened #415 "Unable to reverse-proxy Buku Server"
Hello,

I am currently unable to reverse proxy the bukuserver using nginx and the following configuration:

`location /buku/ {
      proxy_pass http://buku:5001;
      rewrite ^/buku(.*)$ $1 break;
    }`

This usually works for me to redirect a web app on a given port to a url but bukuserver does not seem to be aware of it and the url are not properly rewritten.

The homepage loads but any of the

[2019-09-06 01:09] jarun commented on #415
@rachmadaniHaryono please take a look.

[2019-09-09 12:59] jarun commented on #410
@codingCoffee can you please be a little faster on this? What's remaining and when can we close this issue?

[2019-09-20 14:53] rachmadaniHaryono commented on #415
@Nevrage there is feature request + example for this on #354, but the op there don't follow up.

i don't understand about reverse proxy but maybe i can help you on flask-framework.

because you want to install it from docker maybe also discuss on this on #410

[2019-09-20 15:09] rachmadaniHaryono commented on #343
hi @jarun, on this september i will get operation on my spine.

i have no idea how long this will affect me, but if i don't respond to anything from october or november, i recommend to get new member to replace me

[2019-09-20 15:14] jarun commented on #343
@rachmadaniHaryono no problem at all! I will handle in the meantime. Wish you a speedy recovery!

[2019-10-11 17:17] Boot-Error commented on #311
Was this implemented? This seems different from the OP's suggestion. Can you please clarify the issue?

[2019-10-16 18:00] jarun commented on #415
Closing this as no response.

[2019-11-10 13:45] ahmedelgabri opened #418 "Include tags in exported files?"
Currently, tags are only exported when you export a `.db` or `.html` but not in `.md` or `.org` for example. I'd like to have tags exported too in these files, maybe as comments inside these files?

For example in Markdown

[code]

Or if this is not feasible, maybe support `.csv` export?

[2019-11-10 13:58] jarun commented on #418
Please raise a PR. I am not usre anyone will be taking it up at this stage of the project.

[2019-11-11 21:28] #418 closed

[2019-11-13 14:17] Muadiv opened #420 "Help to install in Windows and integrate with Cmder"
Hi, I copied the repo and installed with pip install -e .
I added later one more library that was missing, and start to work. But I can't edit links, every time that I try to open with
`buku -w nano 123`
it's opening two nano, one with nothing there, and other to add a new one.
Could you please put clear installation for windows also, or to integrate with cmder?
Btw, I have installed last version

[2019-11-13 18:59] jarun commented on #420
Try setting EDITOR to `nano` and `buku -w 123`.

`cmder` is just another shell. There's nothing special. If you are having any specific issues with Windows please let us know.

Adding @dertuxmalwieder for Windows.

[2019-11-13 19:08] dertuxmalwieder commented on #420
`nano` on Windows? Eww.

[2019-11-14 13:08] Muadiv commented on #420
@dertuxmalwieder yes... nano but via cmder, is the editor that I like :).

then, when I try to edit a link, this is what happens:

![image](https://user-images.githubusercontent.com/5289235/68859450-8e219900-06e7-11ea-814d-d86d1fba97e5.png)

and once I close that one :
![image](https://user-images.githubusercontent.com/5289235/68859496-a8f40d80-06e7-11ea-9ae1-7d2600c89030.png)

and I can't edit th

[2019-11-14 20:34] dertuxmalwieder commented on #420
Does it work with a ~~better~~ different editor in cmder?

[2019-11-17 19:31] gnievin opened #421 "Firefox import fails; get_firefox_profile_name() chooses incorrect profile"
Running Ubuntu Linux 19.10 and Firefox 70.0.1 (64 bit) under Python 3.7.5rc1
Also same problem on a different system running Fedora Linux 31 and Firefox 70.0 (64 bit) under Python 3.7.5

The buku function get_firefox_profile_name fails because it's looking at the wrong profile.  I think the problem is in parsing the ~/.mozilla/firefox/profiles.ini (and possibly ~/.mozilla/firefox/installs.ini) fil

[2019-11-17 20:33] jarun commented on #421
Please raise a PR.

[2019-11-17 21:32] jarun commented on #421
From my system (FF 70):

[code]

I think we can still refer to only `~/.mozilla/firefox/profiles.ini` and look for the section that starts with `Install` (like `Install4F96D1932A9F858E`), and just get the value of "Default" field from there.

Can you try it? I am a little with other projects at the moment.

[2019-11-17 21:59] #421 closed

[2019-11-17 21:59] jarun commented on #421
I have added a patch for fix the issue. Please test and confirm.

[2019-11-18 00:02] gnievin commented on #421
Yup, nicely done.

Cheers,
Garrett

On Sun, 17 Nov 2019 13:59:55 -0800
Mischievous Meerkat <notifications@github.com> wrote:

[2019-11-18 02:01] jarun commented on #421
Thanks for confirming!

[2019-11-19 13:53] Muadiv commented on #420
Even worst, with something like the ~~horrible~~ vim, I get a crazy loop that keep trying to open one file when I tried from the inside console of buku, or same error from outside:

First if I tried from outside callling "buku -w vim 30"

![image](https://user-images.githubusercontent.com/5289235/69151990-fc959b00-0adb-11ea-879d-d64f805a2bc6.png)
and again a new file:
![image](https://user-images.

[2019-11-19 13:59] jarun commented on #420
You can either pass the record id (like 30) OR the editor.

When you pass the record ID export $EDITOR to vim to open it in vim.

Please read the docs.

[2019-11-19 13:59] #420 closed

[2019-12-02 09:28] Monirzadeh opened #422 "support socks5 in buku"
hi
please add an option to buku set socks5 proxy
it can be better if buku try connect direct if it can't automatically switch to socks5

[2019-12-02 10:58] jarun commented on #422
Hi,

Please raise the PR for the same and we'll review it.

[2019-12-02 10:58] #422 closed

[2019-12-03 17:58] cosmiccdev commented on #343
May be tough, but import from Reddit saved might be an interesting addition.

[2019-12-03 18:03] jarun commented on #343
Reddit is not even a bookmarking site.

[2019-12-03 18:20] cosmiccdev commented on #343
@jarun Reddit Saved is a section where users can save Reddit posts. Reddit is classified as a social bookmarking site, and you can save URLs and image links in your accounts saved section. I use it as a bookmark system for Reddit and I'd love to be able to import them into my buku db.

[2019-12-03 18:24] jarun commented on #343
See if you can raise a PR.

[2019-12-10 13:35] chemacortes opened #424 "Bukuserver fails browsing tags"
Bukuserver will go into error when click in tags buttons. At [line 402](https://github.com/jarun/Buku/blob/467d865e420a11c5a5f858a83f38bd9d5b3abd82/bukuserver/views.py#L402]) of `views.py` must be `list`, not `dict`:

    tags = list(tags.items())

[2019-12-10 13:43] jarun commented on #424
@rachmadaniHaryono please take a look.

[2019-12-11 09:39] chemacortes commented on #424
This issue is fixed in #425 now.

[2019-12-11 09:39] #424 closed

[2019-12-12 13:33] sadid opened #426 "`buku -a youtube.com` content is in Chinese in latest version"
I'm using Linux, kernel `5.4.2`, python `3.8.0`, zsh and urxvt.

This might be desired feature for some but by default I want all my retrieved information of the link be in English.

[code]

and here is the output of `locale` command:
[code]

[2019-12-12 13:37] jarun commented on #426
This isn't related to `Buku`. Also, it works fine here:

[code]

Please check your DNS settings, IP address, proxy settings, whois etc.

[2019-12-12 13:37] #426 closed

[2019-12-16 09:00] flexibeast opened #427 "New related project: EBuku, for Emacs"
Firstly, thanks for Buku! It's made management of my bookmarks much easier. :-)

i just wanted to let you know that i've created an Emacs front-end to Buku, [EBuku](https://github.com/flexibeast/ebuku). If appropriate, please feel free to add it to the "Related projects" section of the README. :-)

[2019-12-16 09:05] jarun commented on #427
Awesome! I'll check it out and definitely add it.

[2019-12-16 18:15] jarun commented on #427
Nice one! :+1:

I have added EBuku at commit e3f725bbaa8a19b96cceba3dcb0552d6836d419c.

[2019-12-16 18:15] #427 closed

[2019-12-16 21:19] flexibeast commented on #427
Thanks!

[2019-12-17 12:56] chemacortes opened #428 "Export to db fails after a search"
#### Bug report

Exporting a search to db:

[code]
you always get an error like this:

[code]

Following the trace into `buku.py`, the `search_results` at line 5227 has one field less than expects at line 2098, because the field `flags` is missing from the `search_by_tag` method (SQL query at line 1320).

I see that the field `tags` is also missed from selects in  `searchdb` and `compactdb`.

[2019-12-17 13:01] jarun commented on #428
Would it be possible for you to raise a PR?

[2019-12-17 17:21] #428 closed

[2019-12-17 22:18] chemacortes commented on #428
Sorry, I saw your question too late. Perhaps next time.

[2019-12-21 15:40] rakanalh commented on #211
I am having this issue while adding youtube links... title appears as "[Youtube]" only. Is there a workaround?

[2019-12-21 16:18] jarun commented on #211
Yes, I can repro this. I'll take a look.

[2019-12-21 16:21] jarun commented on #211
This happens as the page title is indeed "Youtube"!

[2019-12-21 16:25] jarun commented on #211
What you see in the tab comes from javascript that's loaded later. It's within the <script> tag and`Buku` doesn't parse that.

[2019-12-21 16:26] jarun commented on #211
For now the only option is to edit and set the title. Probably you would want to make the bookmark immutable so you don't accidentally re-update it later to "Youtube".

[2019-12-21 16:26] rakanalh commented on #211
So the title in the HTML is `Youtube` and then updated via javascript?

[2019-12-21 16:27] jarun commented on #211
yep.

[2019-12-21 16:31] jarun commented on #211
I tried the following patch as mentioned in an earlier note:

[code]

Now:

[code]

[2019-12-21 16:35] rakanalh commented on #211
Yup, that works. Would it make sense to use that user agent for youtube?

[2019-12-21 16:37] jarun commented on #211
We can't have it specifically. But I think we can do something. We can add an alternative UA (I would prefer latest w3m UA) for textonly mode and if it's used we can set a flag in the DB (there's a flag field) to use it whenever we update the record.

Would it be possible for you to submit a PR?

[2019-12-21 16:41] rakanalh commented on #211
Thanks for the help. I'll see if i can put together something during next week.

[2019-12-21 16:52] jarun commented on #211
I took a quick look at the code and I can see that we use a PoolManager that's pre-formed (see `get_PoolManager()`). Then we use the instance to work with all records. While we can hack the code to make it work the way (using an extra flag in DB) as I suggested earlier, I think we will need to maintain 2 poolmanager instances and it would be messy.

As a simpler solution we can have a program opti

[2019-12-27 19:41] Nevrage commented on #415
Hello,

Sorry for the lack of answer.
Essentially, the idea with a reverse-proxy is that you want to hide from the client which server is answering.
This is how many computers, virtual machines or containers can take care of certain aspect of a domain and how you can extend the URL of an app.

You could have app1 running at domain/app1 and app2 at domain/app2.

It's exactly what I would like to do

[2019-12-28 05:03] rachmadaniHaryono commented on #415
@Nevrage

i think this can be added easily. but i don't know how to test it

i can make a branch, so can you test it when it is finished?

if you agree, i will ping you later

[2019-12-28 06:38] Nevrage commented on #415
I appreciate the effort, I can of course test it whenever you need me to.

[2019-12-28 10:10] rachmadaniHaryono commented on #415
@Nevrage pr is created. can you try that branch?

maybe move the discussion on that pr

[2019-12-29 02:54] sadid commented on #426
Consider someone who has traveled to another country etc. I want bookmarks in English and independent of my location. I know this is because of website query policy but is there a workaround for this? I tried `torify buku -a youtube.com` and it didn't work.

Another option were to instruct buku get the setting from chrome profiles and query in English (or respect the LOCALE) but I didn't see that

[2019-12-29 02:59] jarun commented on #426
Can you raise a PR independent of Google Chrome, maybe system settings?

[2019-12-29 03:03] sadid commented on #426
For the record I tweak further with tor/bridge and now `torify buku -a youtube.com` works as expected (as a workaround).

Regarding independent of Google Chrome, i don't understand what you mean. I use buku from terminal and it seems it doesn't check/import anything from my browser (Chromium). Would you please give more detail?

[2019-12-29 03:20] jarun commented on #426
I wouldn't want to tie `buku` with a browser, so I suggested a way to figure the locale settings from the OS

Also, now I see `buku` supports proxy, and you can always tunnel your traffic through a proxy located in the US or UK. You already figured it. So we don't need any other elaborate detection.

[2019-12-29 03:42] sadid commented on #426
As in original post, the LOCALE is set to en_US.UTF-8 in OS. But Youtube doesn't care for that and as you pointed out check the IP's the buku query from and post local version.... Yes, proxy works and it's OK.

Thanks for Buku!

[2019-12-29 03:48] rachmadaniHaryono commented on #415
@jarun can we reopen this issue? it only require documentation from @Nevrage and we can close it after that

[2019-12-29 03:58] jarun commented on #415
Sure!

[2019-12-31 20:04] Aquan1412 commented on #343
Would it be possible to add tag support for import/export to the Emacs Org-Mode format? I currently use an Org file to "sync" my bookmarks to my phone (via Orgzly), and having tagged entries would make this solution much more viable.

[2020-01-01 01:17] jarun commented on #343
Feel free to raise a PR. I have no idea of org.

[2020-01-01 11:27] Aquan1412 commented on #343
Ok, I just raised the PR, #432
The changes are minimal, so I don't expect any problems

[2020-01-01 11:31] rachmadaniHaryono commented on #343
can you fix the travis test @Aquan1412?

also can you made test case for this? if you can't just tell us

[2020-01-01 12:20] Aquan1412 commented on #343
The tests should fixed now.
Regarding a new test case: I'm not sure how to do it properly. I could just copy "test_import_md()" and adjust that accordingly?

[2020-01-01 12:25] rachmadaniHaryono commented on #343
yes @Aquan1412

you can copy the test and change test method if it is different

if it is just parameter use that pytest.mark.parametrize

see pytest documentation

[2020-01-01 12:43] Aquan1412 commented on #343
Ok, I added the new test, and all the tests run successfully now, @rachmadaniHaryono

[2020-01-18 14:28] jarun commented on #415
@rachmadaniHaryono shall we close this?

[2020-01-18 20:50] rachmadaniHaryono commented on #415
yes. @Nevrage can ask to reopen it when necessary

[2020-01-19 00:55] jarun commented on #415
Okies!

[2020-01-19 00:55] #415 closed

[2020-01-25 15:15] EmilianoCostantini opened #433 "Combining search options"
As far as I can see currently it is not possible to combine the search options:
- `np`
- `count`
- `format`
- `exclude`

For instance, is it not possible to search:
` buku  --np  --count 7  --format 1  --deep  keyword1  keyword2  --exclude  keyword3`
` buku  --np  --count 7  --format 1  --sany  keyword1  keyword2  --exclude  keyword3`
` buku  --np  --count 7  --format 1  --sall  keyword1  keyword2

[2020-01-25 15:29] jarun commented on #433
[code]

[2020-01-25 16:14] EmilianoCostantini commented on #433
Would you mind trying with  `--count 1` ?

[2020-01-25 16:54] jarun commented on #433
Please raise a PR to fix it. I think it would be minor.

[2020-01-25 17:04] EmilianoCostantini opened #434 "Bug on «count» option"
The option `--count` seems not to work along with some other options.

For further reference see issue [#433](https://github.com/jarun/buku/issues/433).

[2020-01-30 01:20] jarun commented on #433
`count` relates to pages only. The help reads very clearly:

    -n, --count N        show N results per page (default 10)

`count` does not apply if you are in oneshot mode or are using a formatted output as all the results are printed.

Pipe to head or tail for what you are looking for:

[code]

[2020-01-30 01:20] #433 closed

[2020-02-08 17:37] E3D3 opened #436 "quoted url's"
According to "Operational notes" in the Wiki, url's that contains characters like ;, & or brackets, need to be quoted, but when I do this then none of my webbrowser (GUI nor CLI) can handle the url anymore.

I use buku on MX Linux, a Debian-derivate, and yet didn't try to reproduce this on the latest development version. I still use buku version 4.2.2.

And while I'm here, I like to thank you very

[2020-02-08 19:10] jarun commented on #436
An example of how you are adding and using this type URL please.

Can you prepare a new one and contribute it? I would love to have one with the latest features.

Isn't this documented somewhere? BTW, markdown and org preserve when exporting... can you check if they preserve when importing?

Use option `-n`.

Please add it to Wiki somewhere. it's publicly editable.

Try `buku -o`... revealing kill

[2020-02-08 20:38] E3D3 commented on #436
An example of how I quote url's with forbidden characters:
`"http://www.denijmeegsestadskrant.nl/index.php?id=05&url=mrt09"` or with single quotes.

I can't make a new screencast because asciinema is to old on my Linux distribution to work, and I don't want to install npm to install it, nor am I as fluent in giving buku-commands as you do, but maybe later. Btw I was so proud that my own buku-notes

[2020-02-08 22:56] jarun commented on #436
The quotes are required for the shell's implementation, not directly something related to `buku`. For the same URL:

[code]

works just fine for me.

v4.3 is released.

Thanks! Can you explain what you mean by _appearance_? I can't figure from the output.

[2020-02-08 23:14] E3D3 commented on #436
Now I understand. I have/had the url quoted while using `buku -w` cq in the editor. I see that using quotes while adding a new bookmark with `buku -a` works perfect. So now I can also add the bookmarklets, although they don't work with bukubrow.

I mean with "appearance" the counting of how many times a tag is used, the number between brackets after tagnames in the listing (`buku -t`). Please corr

[2020-02-08 23:27] jarun commented on #436
Please raise a defect on bukubrow. I am sure @SamHH will be happy to check it out.

Understood, I'll fix. Thanks!

[2020-02-08 23:27] #436 closed

[2020-02-09 16:52] EmilianoCostantini commented on #433
How about making `count` apply to oneshot mode and formatted output as well (of course changing the help accordingly), as suggested in the issue title?

Besides enhancing greatly usability and making more sense overall, it would work even on Microsoft Windows, where the use of winpty does not allow to pipe the output to `head`:
![immagine](https://user-images.githubusercontent.com/13163617/7410617

[2020-02-09 17:18] jarun commented on #433
There have been several instances where users have pitched in themselves. It's OK if you don't prefer to do that.

I understand the following:

- it's a feature request from you
- as it's my project I have the discretion to take a call; anyone who thinks otherwise can fork the project and have his own custom features

Here's what I have to say:

1. I do not have a MS setup for personal usage nor d

[2020-02-17 16:56] HQupgradeHQ commented on #433
As a workaround you can change code here https://github.com/jarun/buku/blob/960247a8fbef3e45d525620da03dde71ef3ca815/buku#L3831
to something like this:
[code]
example command: `buku python --exclude bitbucket --stag "github + tool - library" --np`
results:
[code]

[2020-02-20 18:43] noelzubin opened #438 "Can i delete bookmarks in interactive mode."
Can  i delete my bookmakrs  when im on interactive mode ?

[2020-02-21 00:52] jarun commented on #438
Deletion is only possible using the `-d` option to the program.

[2020-02-21 00:52] #438 closed

[2020-02-21 07:29] noelzubin commented on #438
@jarun  can i make a pr to add delete to interactive prompt as well.

[2020-02-21 12:42] jarun commented on #438
I see that we are already using `d` in the prompt for `deep` search. Also, I intentionally left any destructive operation out of the prompt. Maybe just have a fork for yourself with the change. At this stage we are not going to do very big modifications to the project so you can rebase all the time.

[2020-02-21 14:18] noelzubin commented on #438
wokay

[2020-02-26 03:19] jarun commented on #438
@noelzubin I have a user request you may be interested in. Currently we support the Wayback machine to fetch cached pages. It would be great if we can submit a URL to archive.org as well. If the link is not present already it would be added, if it's available already we should show the info to the user.

[2020-03-14 13:48] f-dj opened #439 "Improve export and import workflows/allow more configuration"
Although I really like to use buku, I think some things work in a way that is hard to configure/unintuitive. Mostly I have stumbled about import/export features.

## Example Import
I use `buku --ai`. Assume all my bookmarks are in the "root"/"Other Bookmarks" folder. Buku will then ask me if I want to use the folder name as a tag. In my case, of course not, because I use the top level menu folder.

[2020-03-14 14:20] jarun commented on #439
Use `--tacit` for your import issue. See the operational notes: https://github.com/jarun/buku/wiki/Operational-notes#import

For the export thing, the problem is, there is no standard folder and we would like to keep these bookmarks separate. Some other user might complain that his/her bookmarks are all mixed up and he can't figure which ones he imported from `buku`.

[2020-03-14 14:45] f-dj commented on #439
Thanks for your reply!

Unfortunately, this is specifically the issue. From your link:

.. which I don't want. I neither want the auto-generated tag. I don't want any tags auto generated from folders or dates, just the tags that are already present on the hyperlink. Is there any option to achieve this?

As for the export, I can understand that. I would still love to have the option to disable the

[2020-03-14 15:04] jarun commented on #439
OK. I thought your issue is with the date tag. I think it's best to add a new flag to skip adding both. It would also skip "buku bookmarks" while exporting.

Would it be possible for you to add such a flag? I am currently too busy to work on this right away.

[2020-03-15 14:10] #439 closed

[2020-03-15 14:12] jarun commented on #439
I have added an explicit question for the user to generate the auto-tag or not. You do not have to use `--tacit`. Please confirm if it works fine for you.

[2020-03-15 16:35] f-dj commented on #439
This is great, thanks! I did not read your reply until now. I am not that fluent in python, but maybe I would have been able to add this myself. Next time I have an issue I try submitting my own PR :)

Works great for me now, very impressive how fast this issue was addressed :+1:

[2020-03-22 15:58] tom-i commented on #309
Hi guys, is there any possibility how to secure bukuserver from internet?

[2020-03-24 04:41] sergeevabc commented on #343
Windows 7 x64, Python 3.8.1
[code]

[2020-03-24 06:39] jarun commented on #343
We probably need to handle `ModuleNotFoundError` along with `ImportError`. Please raise a PR.

[2020-03-24 06:48] sergeevabc commented on #343
@jarun, raise what? I am a mere user w/o prep who cares that tech serves people, not nerds only.

[2020-03-24 11:37] tom-i commented on #343
Hi guys, is there any possibility how to secure bukuserver from internet?

[2020-03-24 12:23] jarun commented on #343
@sergeevabc

I don't care what you care.

@tom-i

No plans for now as far as I know. @rachmadaniHaryono anything in that line?

[2020-03-24 14:29] sergeevabc commented on #343
@jarun, thanks for being straightforward, your “zero fucks” attitude towards profane feedback is surely something broader audience should be aware of when choosing an everyday tool, recommending it to try, or even feeling an urge to donate.

Dear Windows users, I found a [solution][1] for “readline” issue on Stackoverflow: ```pip install pyreadline```
Perhaps this so-called developer can grow a co

[2020-03-24 14:46] jarun commented on #343
@sergeevabc

As I have a open project available you have the advantage of adding whatever comments you want hoping people would see the dev of the project in that light. Once again, I am least bothered.

The problem I have with is your attitude in the following line:

I checked your account now. You know what a PR is. What do you mean _raise what_? Learn to respect the time and effort of others. I

[2020-03-24 14:48] jarun commented on #343
Also, go and use profanity to litter your own projects, not mine.

[2020-03-24 15:48] rachmadaniHaryono commented on #343
\[part removed\]

i want to comment about second comment from sergeevabc but second last comment from jarun already fixed that

---

i think we can add the fix from sergeevabc  on next release by adding pyreadline package for windows installation

as i also don't have window dev, i hope someone can test it if i create pr for it (maybe tommorow)

---

i'm quite confused with error text because i th

[2020-03-24 17:38] tom-i commented on #343
@rachmadaniHaryono thx man, I'm going to try that ;)

[2020-03-26 15:29] zenyusy opened #440 "maybe a typo in code doc?"
Guess  "returns None otherwise" should be "returns False otherwise" here.

https://github.com/jarun/buku/blob/a8c5b84fe3d13d900287eef3fd075ce35da987d4/buku#L4414

[2020-03-26 15:40] #440 closed

[2020-03-26 15:41] jarun commented on #440
Fixed. Thanks!

[2020-03-29 04:12] ajakk opened #442 "Ubiquitous vcrpy usage"
Hi, I'm working on packaging buku 4.3 for Gentoo. In Gentoo, when the package manager runs a package's unit tests, network access is disabled by default. I noticed that the buku 4.3 tests don't all work with network access disabled, so I'm looking to expand vcrpy usage until the tests can all work without access to the Internet.

I see two ways of doing this:
- Add `@vcr.use_cassette(...)` decorat

[2020-03-29 04:34] jarun commented on #442
@rachmadaniHaryono please take a look.

[2020-03-29 04:52] rachmadaniHaryono commented on #442
if jarun allow the additional file i'm ok with it.

i'm interested with second method.

first method may be harder with the maintenance because each test need to be  paired with individual yaml file

[2020-03-29 05:12] jarun commented on #442
@rachmadaniHaryono what's this additional file? can you explain a bit?

[2020-03-29 06:08] rachmadaniHaryono commented on #442
see this commit example https://github.com/ajakk/buku/commit/1b5a6eeb063690dd2627e7c14afc9714bca5485a

each test with vcrpy may require yaml file

there is possibility that the yaml will only be created not added from repo, but it mean each tester may have different result, unless the tester share the yaml files outside from repo

[2020-03-29 07:31] jarun commented on #442
No can do. ;)

Can't gentoo users install from pip?

[2020-03-29 16:52] ajakk commented on #442
They *can*, but that doesn't mean they *should*. Such an approach broken for several reasons, the biggest of which is probably that it confuses the package manager if something is installed or uninstalled by pip as root. [It can break systems](https://wiki.gentoo.org/wiki/Pip#Package_installation). Surely on just about every distribution the recommended (and supported) way of installing software i

[2020-03-29 17:20] jarun commented on #442
It's not 1/2 extra files... it's too many extra files. If you can't come up with a sensible test strategy without the need to use tons of files to a repo, I don't see why I need to allow this.

- I like to keep my project repos clean
- Any additional file added to a repo is a burden for the maintainers; maybe not when it works, but definitely when they fail

That's the disaster. It's ridiculous be

[2020-03-29 17:25] jarun commented on #442
Because the package manager is not capable of tracking the timestamps and checksums for each package installed through it in it's exclusive database?

[2020-03-29 18:07] ajakk commented on #442
The benefits of using vcrpy are [clear](https://vcrpy.readthedocs.io/en/latest/)(see the 'Rationale' section).

The burden would be minimal or even less than what it is now if my option #2 is pursued. I think it would be helpful to see what extensive vcrpy usage would look like in the real world. Let's take my package `tuir`. It has [numerous cassettes](https://gitlab.com/ajak/tuir/-/tree/master/t

[2020-03-29 23:02] rachmadaniHaryono commented on #442
this happenned multiple times and we just change/remove it when needed.

i can't say anything about adding extra file as jarun is the one who determine if we can add more file or not.

but imo we should focus on the problem, which is

another option other than vcrpy+yaml is to disable any test with network access on gentoo test. this may skip error on gentoo user but this is (hopefully) minimal as

[2020-03-29 23:23] ajakk commented on #442
This is an easy example of where using vcrpy for all test network-accesses would reduce the maintainence burden on the maintainer. An application's tests should fail if and only if the application's code is broken somehow, not because the Internet changed.

Just not using tests that fail defeats the purpose of testing. Why test at all if you just ignore potential test failures?

[Jarun suggested i

[2020-03-29 23:59] rachmadaniHaryono commented on #442
jarun suggested using pip but not sudo pip

---

you are correct, but i will let jarun decide the file addition as he is the owner of the repo

i do still interested if we can work out how to fix gentoo test

[2020-03-30 02:35] jarun commented on #442
Not other file package managers. Looks like it can't identify files it installs.

Please get back with the tests in a single file that can be run without using the internet and those comprehensively tests Buku's functionality and run those.

Otherwise, as @rachmadaniHaryono suggested, see if you cna use your branch. `Buku` is not going to be changed a lot in the future.

[2020-04-02 04:44] flexibeast opened #444 "Status of undocumented --db option?"
An Ebuku user [would like the ability to specify the database location](https://github.com/flexibeast/ebuku/pull/15), so that they can use their buku database in Dropbox directly, instead of symlinking. i'd like to do so, but i see from the buku source that the `--db` option is listed as an "Undocumented API". To what extent can this option be used and relied upon to be available?

Thanks!

[2020-04-02 05:23] jarun commented on #444
@flexibeast this was undocumented to keep users from manual error.

Say a user has created a new db using `--db`. Now for all operations (s)he should use `--db`. If not, something's got to go wrong.

Does `ebuku` remember the path to the file? Then using this should be fine as user can create and forget. You may have to show the path to the db file somewhere if user requests as (s)he might forget

[2020-04-02 05:23] #444 closed

[2020-04-02 06:18] flexibeast commented on #444
@jarun: Thanks for your prompt reply!

Ah okay, that makes sense. Yes, the implementation will involve a variable containing the database path: by default, the path will be as per the `buku(1)` man page, but that variable will also be able to be specified by the user manually.

i'll go ahead and make use of `--db`. Thanks!

[2020-04-02 06:31] jarun commented on #444
Awesome! :+1:

[2020-04-02 20:10] rachmadaniHaryono commented on #444
@jarun is this mentioned elsewhere? if not maybe add this on operational note?

https://github.com/jarun/buku/wiki/Operational-notes#general

[2020-04-03 01:07] jarun commented on #444
Sure! We can do that!

[2020-04-03 01:59] jarun commented on #444
Done!

[2020-04-08 09:31] hubitor opened #445 "[ERROR] network_handler(): HTTPSConnectionPool(host='monitor.firefox.com', port=443)"
I tried to add a bookmark to buku and after several seconds, buku added the bookmark but it gave me an error:

[code]

OS: Arch Linux
Python: v3.8.2
Terminal emulator: terminator
shell: zsh

[2020-04-08 10:18] jarun commented on #445
I think the URL https://monitor.firefox.com has some enhanced security check in addition to user agent that leads to the failure. Basically there's no response:

[code]

I have tried the following URLs and they work:

https://firefox.com
https://support.mozilla.org

I can't invest time on this single failure at the moment. If you are really interested, please contact the maintainers of firefox.com

[2020-04-08 10:19] #442 closed

[2020-04-10 07:28] catPill opened #446 "not displaying correctly in Windows cmd.exe"
https://github.com/jarun/buku/blob/9fce289d6ff766f245f1505a69e171659014a825/buku#L4989-L4995

`args.nc` is not been set to `True` after the statement even  `--colors` or `%BUKU_COLORS%` is not specified. Is `colorstr_env is None` the correct?

[2020-04-10 08:59] jarun commented on #446
The check is correct.

Please print `args.colorstr` and `colorstr_env` to see why `args.nc` is not set.

[2020-04-10 09:30] catPill commented on #446
[code]
Thanks, is these normally?

[2020-04-10 09:38] jarun commented on #446
args.nc is False. That's correct.

[2020-04-10 09:38] #446 closed

[2020-04-10 09:57] catPill commented on #446
Sorry, but I get confused.
So I need to set `%BUKU_COLORS%` to make `colorstr_env` non-None in order to disable color feature in cmd?

[2020-04-10 10:08] jarun commented on #446
Use `--nc`.

[2020-04-11 21:13] thepenguinthatwants commented on #343
How to backup or restore the saved bookmarks?
Normally I thought that

` buku -w `
Would be reading and saving from a file. But now it seems that it most likely saves to the database?
Any way to easily backup or restore the bookmarks?

[2020-04-11 21:18] rachmadaniHaryono commented on #343
not sure if it is the answer but there is user who use git to backup buku everytime buku command invoked

https://github.com/jarun/buku/issues/308

[2020-04-12 00:22] jarun commented on #343
You can also store the actual database file in a synced cloud storage directory and have a symlink to the file at the location `buku` looks for.

[2020-04-18 16:44] SimonMonecke opened #447 ""waiting for input" in json output"
Hi,
I'm just started to use buku and because I like rofi and i3 I've tried [buku_run](https://github.com/carnager/buku_run) and added a global hotkey in my i3 config.
After adding the first bookmark I was a little confused because the rofi menu was messed up and it contained the words "waiting", "for", "input" where the fields of the just created bookmark should appear. So I decided to write my ow

[2020-04-18 18:00] jarun commented on #447
See this thread: https://github.com/qutebrowser/qutebrowser/issues/2491.

This was done for this issue and we need to have it. You are not taking a json file as input, you are taking the output of buku as input. This print goes before the json option is parsed.

I think a good option would be to have an optional arg to `-j` and provide a filename. Then your process can read from that filename than

[2020-04-20 16:15] #447 closed

[2020-04-21 09:36] bitozoid commented on #343
This is just an idea. Think of a wiki. A wiki consists of a set of nodes, every node with an id, a title and a content, and in the content you may found references to others ids. Think of a Zettelkasten. It consists of a set of nodes (zettel, cards), every node with an id, maybe a title, a content with references to others ids, and a link to an external source (a book). I wonder whether buku could

[2020-04-21 10:45] jarun commented on #343
The   url is the unique thing and tags relate the bookmarks.

[2020-04-21 13:55] bitozoid commented on #343
How about is the url is slightly modified? The "link" from one entry to the other would be missing. Tags relate bookmarks, but they do not point other specific entries.

[2020-04-21 17:29] jarun commented on #343
Can you please elaborate?

[2020-04-21 20:19] bitozoid commented on #343
The point is to create a "brain" of bookmark entries linked among them, where every bookmark entry has a description and internal links to other bookmark entries. A bookmark entry may have tags, but its tags do not work as pointers to other named bookmark entries (they would refer to every entry that has that tag). Is my point clearer? Anyway it is just an idea.

[2020-04-21 21:10] jarun commented on #343
I think it will make the solution over-complicated. We have extensive search facilities already and I am of the opinion that the types of search is more than adequate to find a bookmark.

@rachmadaniHaryono what do you think?

[2020-04-22 03:42] rachmadaniHaryono commented on #343
for buku itself imo kinda hard due to terminal user interface

for bukuserver it may have work by creating custom text-to-html, which will link any matching text to another entry (e.g. reddit `r/subreddit` text)

[2020-04-26 03:31] catPill commented on #446
Could you tell how to enter interactive mode with `--nc`?

[2020-04-26 03:43] jarun commented on #446
[code]

[2020-04-27 06:21] zoredache opened #449 "bukuserver breaks with Werkzeug>1.0"
#### Bug reports

bukuserver breaks with Werkzeug>1.0

Short term I adjusted the bukuserver/requirements.txt to `Werkzeug>=0.11.15,<1.0` on my local install, and installed using that requirements.

Error

    # bukuserver
    Traceback (most recent call last):
      File "/usr/local/bin/bukuserver", line 5, in <module>
        from bukuserver.server import cli
      File "/usr/local/lib/python3.7/

[2020-04-27 09:33] jarun commented on #449
Sorry, I am not aware of Werkzeug. Please fix it if you can and raise a PR.

[2020-04-28 06:17] rachmadaniHaryono commented on #449
note that i already create pr for flask reverse proxy fix but it haven't been merged yet

https://github.com/antarctica/flask-reverse-proxy-fix/pull/1

[2020-04-30 09:04] faan11 opened #451 "[feature-request] auto_import improvement"
### feature request

One of the reasons which may leads the auto import feature to fail is the profile name of browser.
In buku the function "auto_import_from_browser" tries "Default" profile name.

In my opinion, i think this procedure can be improved  by:
1.  checking  which browsers are installed by examining the existence of the browser's path. For Mozilla, the function can check the existence

[2020-04-30 11:27] jarun commented on #451
There checks are never failsafe because they are configurable. We are already doing what we can do best. If the defaults are not OK, one can always export to HTML and import.

[2020-04-30 11:27] #451 closed

[2020-04-30 11:28] jarun commented on #449
I am closing this defect as it's not caused by `Buku`.

[2020-04-30 11:28] #449 closed

[2020-05-01 15:22] rachmadaniHaryono commented on #449
tldr for this issue

- as op suggested: install `Werkzeug>=0.11.15,<1.0` or
- wait till this pr https://github.com/antarctica/flask-reverse-proxy-fix/pull/1 accepted or
- install from this branch https://github.com/rachmadaniHaryono/flask-reverse-proxy-fix/tree/feature/fix-import

[2020-05-03 12:31] maln0ir opened #452 "Too many redirects error when adding/updating doi.org url"
Adding scientific papers to database using doi.org url often ends in "too many redirects" error. This isn't really buku's fault (I think), but still some inconvenience.

Example url: https://doi.org/10.1080/00140139.2013.790485

Log:
[code]

I used `-u`, because I've already added this article to database, but the same happens with `-a` option.

[2020-05-03 12:38] jarun commented on #452
Works fine for me.

[code]

The following works too: `buku -a 'https://www.doi.org/'`

Maybe a temporary problem.

[2020-05-03 12:45] maln0ir commented on #452
No, not just https://doi.org, but full url that points to specific paper like this one: https://doi.org/10.1080/00140139.2013.790485

Here is _more correct_ example:

[code]

[2020-05-03 12:51] jarun commented on #452
Sorry, I don't think I can do much here. it's a server-side redirect. Probably check with the domain owner why this is happening.

[2020-05-03 13:06] maln0ir commented on #452
Well, my browser (Firefox) redirects me correctly. `curl` also can do that, so I don't think this is server issue. Looks like redirects limit is set to 3 and if this limit is reached buku raises an error.

Here is what `curl -vsL https://doi.org/10.1080/00140139.2013.790485 > /dev/null` says: [curl.log](https://github.com/jarun/buku/files/4570345/curl.log)

[2020-05-03 13:19] jarun commented on #452
The relevant function is `get_PoolManager`: https://github.com/jarun/buku/blob/77222946f8a3489b18003e926dc9761beaea3a83/buku#L3534

The documentation is here: https://urllib3.readthedocs.io/en/latest/reference/

I tried both the `retries` and `redirect` options but to no effect. See if you can figure it out.

@rachmadaniHaryono and @zmwangx any ideas?

[2020-05-03 13:24] jarun commented on #452
Similar issue #445. Opening both.

[2020-05-03 14:30] maln0ir commented on #452
I can make it work with urllib3 in the way below.

[code]

Result:
[code]

[2020-05-03 14:41] #445 closed

[2020-05-03 14:41] jarun commented on #452
Thank you so much!

Fixed at commit d0771a58040a3cd21755fae4f3fc230d5adfecf7.

[2020-05-03 14:41] #452 closed

[2020-05-03 14:41] jarun commented on #445
Fixed at commit d0771a58040a3cd21755fae4f3fc230d5adfecf7.

[2020-05-04 07:08] afjoseph opened #453 "Buku import overwrite?"
Hey. Thanks for the great tool!!

I use Buku in sync with multiple devices. My flow is:

[code]

I do, however, get a lot of `URL [xxx] already exists at index xxx` where `xxx` are variable. Is there a way to instruct Buku to "overwrite" any imports?

Many thanks!

[2020-05-04 09:35] jarun commented on #453
Please see the operational notes on import here: https://github.com/jarun/buku/wiki/Operational-notes#import

If an entry exists already it's very much probable that you have imported it earlier and the data has not changed. We want to avoid overwrites to avoid accidental data loss which may have been added manually by user. Note that you can always update the bookmarks using `-u`. If you still th

[2020-05-04 09:35] #453 closed

[2020-05-12 14:18] aleprovencio opened #454 "--write template is wrong"
Hello, the template displayed when the `--write` option is fired have the tittle and tags lines swapped, so if a user fills it the way it is, `buku` will store the tags as title, and vice-versa.

This is `buku` `AUR`'s version.