[2015-11-10 17:12] emk2203 opened #1 "Import functionality"
I would like to propose some sort of import functionality.

For those of us with a significant bookmark collection, it might be easier than starting from scratch. The chrome export format could be used, or something else which is easily accessible.

[2015-11-10 17:52] jarun commented on #1
Please check the last section (usage):
http://tuxdiary.com/2015/11/10/markit/

As I explained, this can be easily achieved with scripts. I would also prefer it as I can add the tags manually.

Does that solve your problem?

[2015-11-11 03:24] rogeriomarques opened #2 "Search-as-you-type"
Thanks for this tool, very useful.

It would be great if it could filter entries as-you-typed, similar to [peco](https://github.com/peco/peco), specially for those with very large collections.

[2015-11-11 03:49] jarun commented on #2
It would be quite processing intensive, something I don't think is a must for a simple bookmark manager. However, I am leaving the issue open for some more inputs from others.

[2015-11-11 07:56] jarun commented on #1
I have added elaborate examples on batch import and update. Please check the Examples section.

[2015-11-11 16:17] emk2203 commented on #1
Thank you. I looked deeper into the format of the Netscape bookmark file
(de facto standard for browser export), and it shouldn't be too big a loss
to reduce it to fit your examples. I was afraid of loosing too much
additional information from this file when I made the request.

Arun Prakash Jana <notifications@github.com> schrieb am Mi., 11. Nov. 2015
um 08:56 Uhr:

[2015-11-11 16:39] jarun commented on #1
Thanks for confirming. I'll close the issue with your comment.

[2015-11-11 16:39] #1 closed

[2015-11-25 09:21] di48l069 opened #3 "password protection"
please implement password protection

[2015-11-25 14:06] di48l069 opened #4 "mysql (data)"
Idea of saving data to mysql database? LIVE database not on local pc

[2015-11-25 14:13] jarun commented on #4
No plans as of now. What I do to keep the DB live is store the actual DB in Dropbox.
`~/.cache/markit/bookmarks.db` is a link to that file. That way, it's updated whenever I make any changes to my bookmarks.
However, if you want to enhance it for your needs, please feel free to do so. I will accept the patches if they look fine.

[2015-11-25 14:15] jarun commented on #3
This was in my plans when I started. Later I thought one might not want to go through the pain of having to unlock the DB repeatedly. As you are looking for the feature, I will find some time to implement it :).

[2015-11-25 14:18] di48l069 commented on #3
@jarun Thanks man cool app by the way

[2015-11-25 14:19] di48l069 commented on #4
Cool cool

[2015-11-25 14:19] #4 closed

[2015-11-25 14:49] jarun commented on #3
Thank you!

[2015-12-19 13:28] jarun commented on #2
Closing this bug as I didn't get a similar request from anyone else. Also, i think https://github.com/jarun/MarkIt/issues/2#issuecomment-155654058 is reasonable.

[2015-12-19 13:28] #2 closed

[2015-12-19 13:29] jarun commented on #3
Sorry for the delay. Too busy nowadays. Any taker to implement this is more than welcome.

[2015-12-19 16:24] jarun commented on #3
Guys, I am implementing it now. Thanks anyway!

[2015-12-19 19:44] ibaaj commented on #3
I will look how you do it ;)

[2015-12-19 19:59] jarun commented on #3
Please! A review is always welcome!

[2015-12-19 20:37] jarun commented on #3
Fixed at https://github.com/jarun/Buku/commit/97ff185bb713ded5ae6f70290ba05de2838fd49c.

[2015-12-19 20:37] #3 closed

[2016-03-01 17:00] sharethewisdom opened #6 "Feaure: manually add a title?"
*short:*
Could you implement an option to simply allow the user to update the title manually?

*long explenation:*
A few years ago, I remapped the bookmarking hotkey in my [`.vimperatorrc`](https://github.com/sharethewisdom/dotfiles/blob/master/vimperator/vimperatorrc#L107) for some sites, to a javascript snippet that serves as a shim. It fetches and then simplifies the title of the current page,

[2016-03-01 18:29] jarun commented on #6
Will check this. Thanks!

[2016-03-03 17:54] jarun commented on #6
I have added manual title update support in the latest dev branch (option `-m` for manul). Please test and confirm if it solves your problem.
If not, I'll reopen this issue.

[2016-03-03 17:54] #6 closed

[2016-03-04 11:51] sharethewisdom commented on #6
thanks, seems to work fine! I tested with:

[code]

[2016-03-04 13:22] jarun commented on #6
Thanks for confirming!

[2016-03-17 12:33] CaptainQuirk opened #7 "Json output"
Hi there !

First, thanks for your work, it's very promising !

I'm trying to make a small nodejs server that calls buku to retrieve my bookmarks. For simplicity, it would be great if buku could return the bookmarks formatted in json through a command line flag !

Thanks in advance

[2016-03-18 10:01] jarun commented on #7
Hi,

Would it be possible for you to send a patch?

[2016-03-18 12:25] CaptainQuirk commented on #7
Hi,

I'm on it. May last a bit since I don't know anything about python !

[2016-03-18 12:46] jarun commented on #7
That's absolutely fine! Thanks for your help with this.

[2016-03-21 12:42] CaptainQuirk commented on #7
Hi,

I started working on a [topic branch](https://github.com/CaptainQuirk/Buku/commits/json-output). For the moment, I only handled the the ```buku -P``` case.

Would you be so kind and have a look to tell me if the way I'm doing things is acceptable to you ?

Thanks in advance

[2016-03-21 14:45] jarun commented on #7
Reviewed. Don't forget to award Buku a star ;).

[2016-03-22 23:47] CaptainQuirk commented on #7
I made some modifications on my last commit and made a forced update on the same branch. I applied the same method to the ```buku -p N``` and ```buku -s``` use cases.
I'll still have to update the usage section and the man file (do you do it by hand, by the way ?)

[2016-03-23 05:08] jarun commented on #7
Reviewed and added some comments. Yep, I do it by hand.

Also, please raise the pull request after the next release (planned next weekend). There are changes in master already (expect some more) and you may need to rebase your code before raising the pull request.

[2016-03-23 12:29] CaptainQuirk opened #8 "Consider using subcommands"
Hi,

I was wondering if you would consider using subcommands rather than command line flags for the various operations that buku provides.

For now, I found the usage section too complicated to read : I need to read the description to know how to perform an action.

Instead, you could have

- ```buku add````
- ```buku rm|remove|delete```
- ```buku tags```
- ```buku open```
- ```buku ls```
- ```buk

[2016-03-23 12:55] jarun commented on #8
The original idea is to have to type less. Once the user gets used to it, this should not be a big issue. The only regular options are probably add (online) and search.

At the moment, I am not planning to have additional code around options so that we have less to maintain. However, new features are welcome.

[2016-03-23 14:45] CaptainQuirk commented on #8
There is a simple way to avoid typing too much, it's defining aliases. I seldom type ```git checkout``` in the terminal but ```gc```. I think it's reasonable to count on buku users to know of this mechanism and take appropriate measures to save keystrokes.

A subcommand name will always be easier to understand than command line switches, especially if the subcommands are commonly used words for te

[2016-03-23 15:27] jarun commented on #8
True. And after the user sets an alias he doesn't need to remember the option anymore. It's a one-time activity.

I agree and I tried to keep the options initials, as far as possible. Like `a` for add, `w` or web fetch etc.

It's intentional and simply running:

    $ buku
shows the usage. Manpage now has the examples from readme too.

In case this will help your utility as a wrapper, how about ad

[2016-03-23 16:42] CaptainQuirk commented on #8
I see what you mean. Your kingdom, your rules !

[2016-03-23 16:51] jarun commented on #8
As long as it works fine, I constantly try to keep the codebase as small as possible. Less to maintain...

I was thinking about it and I can think of one way... moving to the [argparse](https://docs.python.org/3/library/argparse.html) framework with both short and long options. The codebase will also become smaller with it.

My other utility googler already has an example implementation. Would you

[2016-03-26 06:19] jarun commented on #8
I have broken options in help in two sections: general and power toys. This would hopefully help the users figure out the regular options easily.

If you still believe sub-commands would be more helpful, please feel free to submit a patch with the more modern argparse framework.

[2016-03-26 11:06] jarun commented on #7
The latest release is off the hooks now. You are good to go.

[2016-03-26 20:19] zmwangx commented on #8
Happened to stumble upon this.

Do you want to add long options? It would be trivial.

[2016-03-26 21:11] zmwangx commented on #8
My digression (see comment above) is continued at https://gitter.im/jarun/googler?at=56f6f80776b6f9de194b8333.

[2016-03-27 02:41] jarun commented on #8
I wasn't complaining :). The beauty of `googler` is it works the way your browser would if you just run `googler` at the prompt.

However, the OP is looking for subcommands and optional commands in addition to long options. For example:

    // delete everything
    $ buku delete
    // delete entry 15
    $ buku delete 15

[2016-03-27 02:44] zmwangx commented on #8
@jarun Check out my long-options feature branch if you care at all (see Gitter chat), or let me know otherwise (I don't feel strongly either way).

I know, and sometimes I like that (I'm probably in favor of subcommands in the case of Buku, if I actually use it). And that's the domain of `argparse`.

[2016-03-27 02:47] jarun commented on #8
See you on Gitter ;)

[2016-03-27 02:59] jarun commented on #8
I am open as long as I get a patch for `buku`.

[2016-03-29 11:04] CaptainQuirk commented on #7
Hi !

Too much on my plate this week ! I'll get to it as soon as I can !

Congrats for the release !

[2016-03-29 11:06] CaptainQuirk commented on #8
There's also a package named  [arghandler](https://github.com/druths/arghandler). It seems to handle subcommands specifically while argparse doesn't out of the box !

[2016-03-29 11:17] jarun commented on #8
Thanks for the suggestion.

@zmwangx any notes on arghandler? Pros and cons-wise. I am not familiar with it.

[2016-03-29 11:17] jarun commented on #7
Thanks! No hurry!

[2016-03-29 14:03] jarun commented on #8
I just checked, it is a wrapper over argparse and will create an additional dependency which doesn't come with base python. Please stick to argparse.

[2016-03-29 14:39] zmwangx commented on #8
Not true at all. PSL doc even include several examples of how to parse subcommands: https://docs.python.org/3/library/argparse.html#sub-commands. A real world parser can be directly modeled on the last example, and I've done it numerous times in the past with great success. Of course I would pick argparse over some random wrapper every time you ask me.

By the way, I looked at that arghandler thin

[2016-04-05 18:50] jarun commented on #7
Hi,

Any update on this?

[2016-04-05 18:50] jarun commented on #8
Hi,

Any update on this?

[2016-04-05 21:07] CaptainQuirk commented on #7
Hi,

I'll try and have a look on this next week.

[2016-04-05 21:09] CaptainQuirk commented on #8
Hi,

It represents too much work for me for now given the amount of time I have and my relative ignorance of python.

[2016-04-06 02:23] jarun commented on #8
No issues. I'll close this till someone willing to handle this picks it up OR I get some time myself to add the support. Thanks for bringing this up :+1: .

[2016-04-06 02:23] jarun commented on #7
:+1:

[2016-04-06 04:58] jarun commented on #8
Added this to the [contributions](https://github.com/jarun/Buku#contributions) section for greater visibility.

[2016-04-16 15:20] jarun commented on #7
I'm closing this. Feel free to raise a PR directly.

[2016-04-16 15:20] #7 closed

[2016-04-17 16:00] jarun commented on #7
Closed at https://github.com/jarun/Buku/commit/7197aecbb589408f74fd33ce82ed59c3ac4f9f81.

[2016-04-24 19:25] jarun commented on #8
@CaptainQuirk @zmwangx I have started working on moving to argparse. Check out https://github.com/jarun/Buku/tree/argparse.

It may take a while to finish this but I think it's for the good. I can see a lot of code reduction already.

[2016-04-24 19:48] SagarBhuta opened #12 "Bug: Delete at index 1 gives TypeError"
**_Note_**: This is my first interaction with an Open Source Community. My apologies if I happen to make any mistakes. I was directed to this project from http://up-for-grabs.net/#/

**_Getting to the point_**:
Operating System: OS X El Capitan Version 10.11
Python Version: 3.4.2

I followed the installation steps and got buku _v1.9_ running on a virtual environment.

- The first thing I did is ad

[2016-04-24 20:36] jarun commented on #12
Thanks for the report! I will check this.

[2016-04-24 20:44] jarun commented on #12
Fixed at fbc8d25a89f1acf9b65a034a6bf656896548f1a1.

[2016-04-24 20:44] #12 closed

[2016-04-29 18:12] jarun commented on #8
Closed at https://github.com/jarun/Buku/commit/addeecff944a2e955ce95956bd03075e77e465eb.

[2016-04-29 18:12] #8 closed

[2016-04-29 18:25] jarun opened #14 "TODO list"
- [ ] Add more [tests](https://github.com/jarun/Buku/blob/master/tests/test_bukuDb.py)
- [ ] PyPI packaging
- [ ] Exact word match (instead of substring match as it works currently. Hint: REGEXP)
- [x] Travis CI integration
- [x] Ubuntu deb package generation on new tag
- [x] Merge bookmark database files (for users who work on multiple systems)
- [x] Export bookmarks in FF or Chrome html format.

[2016-04-29 21:08] SagarBhuta commented on #14
Hi @jarun ,

I would like to work on the Exact word match feature. Is it possible for you to give an overview of what you have in mind for the same?

From what I could infer, it would involve modifying the searchdb() function and formulating the query without the wildcard?  Would there be a separate flag in the command line invocation for this feature?

Let me know. Thanks!

[2016-04-30 01:51] jarun commented on #14
That's awesome! Thank you!

For the time being we can use a new option. We can think of ways to merge it to `-s` and `-S` later.

Regarding the implementation, only removing the wildcards will not work because `match` would not match `match.` (note the `.` at the end). Check it out.

There are two options as per my understanding:
- we use regexp. tricky but elegant.
- we fetch the results as per `

[2016-04-30 05:08] jarun commented on #14
You can refer https://github.com/jarun/googler/pull/34#issuecomment-188994841 for a regexp sample.

[2016-05-07 12:56] bcooney opened #15 "Error on URL's with "!""
`$ buku -a "https://groups.google.com/forum/#!forums/iamthecavalry" personal, security`
`-bash: !forums/iamthecavalry": event not found`

I tried wrapping the URL in "" and not, both ways get the same error. I don't find anything about this in the help or readme.md.

Any ideas? Thanks.

[2016-05-07 14:52] jarun commented on #15
I'll check this. Thank you for the report!

[2016-05-07 15:11] jarun commented on #15
Hi,

This happens because of the way bash interprets !, even before `buku` is actually called.

With fish shell:

[code]

Try the following with bash:

[code]

Note the `\ `before `!`.

[2016-05-07 15:11] #15 closed

[2016-05-08 07:12] bcooney commented on #15
@jarun works great, thanks for that!

[2016-05-08 08:22] jarun commented on #15
you are welcome!

[2016-05-15 08:25] jarun commented on #14
Hi @SagarBhuta, any update on the progress?

[2016-05-16 22:01] nick-s-b opened #16 "Feature request: Import for bookmarks.html file"
What a great little utility! Really like how buku works. But to make it useful to me, I'd need to import all of my bookmarks in it somehow. Now that Delicious is dead (it's basically unusable), I’ve been looking for alternatives so I'm glad I came across this.

Since I have 40,000+ links in my bookmarks.html, adding them is a problem. I wish there was an automated way. Also, buku doesn't seem to h

[2016-05-17 02:37] jarun commented on #16
Hi,

I've been thinking of working on the import feature for a while. Other users have requested this feature too.
In the meantime, if you are interested in contributing back the import feature, please take a look at the custom parser in my other utility [googler](https://github.com/jarun/googler) as a sample.

This would warrant a DB schema change which also means I need to take care of backward

[2016-05-17 17:41] jarun commented on #16
On second thoughts, I think comment (description) field should be implemented first to support Firefox bookmark html import.

[2016-05-17 18:40] jarun commented on #7
@CaptainQuirk I'll implement bookmark description/comment support in a couple of days. You may want to update the Json output if you need it.

[2016-05-17 20:12] jarun commented on #16
Support for comment added at https://github.com/jarun/Buku/commit/c252981bd2dec479154bf952b376c7652136dc7c.

[2016-05-18 05:08] jarun opened #17 "Support comment field."
Please refer to issue #16 raised by @nick-s-b: Also, buku doesn't seem to have a "comment" field. Most bookmark managers have that.

Breaking out as a separate request.

[2016-05-18 05:08] jarun commented on #17
Fixed at https://github.com/jarun/Buku/commit/c252981bd2dec479154bf952b376c7652136dc7c.

[2016-05-18 05:08] #17 closed

[2016-05-18 12:57] toyg opened #18 "Feature request: API"
I really like the concept, but keeping it only as a CLI-utility makes it hard to do interesting things.

It would be cool if you could abstract out some of the complexity (db connections, file encryption etc) so that you end up with a simple object that can then be called from other scripts. I'm thinking something like

    import buku
    db = buku.BukuDb()
    db.addItem(url, title, description,

[2016-05-18 13:33] jarun commented on #18
So in brief, you want a library out the current program. Interesting idea indeed, but it would need some refactoring. I would work on it when get some time.

Right now, I have several enhancements that I'ld like to implement in buku.

If you can spare some time, please feel free to raise a pull request with stuff you are looking. `buku` is quite modular with reasonable documentation. And I'm alway

[2016-05-19 14:57] jarun commented on #12
The earlier fix had an issue. Fixed at https://github.com/jarun/Buku/commit/61ab23935157c6db7d2981db69acde8e17b86e57.

[2016-05-20 00:04] manipuladordedados commented on #14
What you think about a sync option with [Simplenote](https://simplenote.com/)?

[2016-05-20 02:48] jarun commented on #14
But `buku` is not a note-taking program. However, there was a request on Hacker News to integrate with Pinboard. If you would like to work on the Pinboard sync, I'm game. :)

[2016-05-20 05:06] cd2357 commented on #16
Hey @jarun, if you're thinking to add an importer, have a look here for a sample implementation https://github.com/cd2357/Moose/blob/master/src/main/java/moose/importer/Importer.java

It's something I wrote for a similar project. It includes
- documentation of the bookmarks.html export file format (see links in header)
- handles imports from Chrome / Firefox / Safari bookmarks.html exports
- ident

[2016-05-20 05:21] jarun commented on #16
@cd2357 Thank you very much for the sample. This really helps. I'll take a look.

My real problem is the lack of time. I am already implementing requested features. Then a full-time job, a 2 yr old, you know the ordeal. :)

[2016-05-20 06:48] toyg commented on #14
I've started looking at the code, and please take the following as *constructive* criticism :) nobody is born perfect and any code can get better (except Knuth's, maybe).

There is a bit of cleanup to do, which I'm happy to help with:

* Function naming is all over the place (some are camelCase, some are snake_case, some are just alllowercase)

* there are dangerous globals in various places.

* i

[2016-05-20 07:02] jarun commented on #14
No probs. I know you'll talk about the code. I'm not so badass myself ;).

I know. And we need good return vals instead of printing stuff within a func.

Thank you so much!

The list would be done before the next release. I want to push in some more changes first. Including yours. And I'm in no hurry for the next release. 2.0 is reasonably stable as I understand from the feedback.

We do show a me

[2016-05-20 08:46] kirill-krokodil commented on #14
hello, jarun! great app, thank you!
i used to use delicious, but... so your app is good alternative.
it would look much more interesting for me if it had web-interface.
i would be very glad if it's not contradict to your vision of app evolution :)
unfortunately my programming skills not so good, so i'm not sure, that could perform it, but it seems not very hard to mount flask to your app.

thank y

[2016-05-20 09:28] jarun commented on #14
It's possible but the code is not yet ready for that. Mostly because I never had the app in mind when I started writing it. We need to refactor the APIs, return values etc. Please take a look at feature request #14.

I'ld be more than happy if you contribute. We can start with the API refactoring keeping the functional logic same.

[2016-05-20 19:35] xcombelle commented on #14
a nice to have would be a pypi packaging

[2016-05-20 19:40] jarun commented on #14
It was a conscious decision not to submit to PyPI at the moment. PyPi is more suited for libraries than standalones. However, if we re-format the code later so it can also be extended, we'll submit to PyPI. There's already a open bug on that at #18.

[2016-05-20 19:44] xcombelle commented on #14
@jarun pypi work well for distributing standalone programs, livestreamer, vprof are maybe library but I never used them as such and always as standalone program and they fit well in my ~/.local/bin

[2016-05-20 19:50] jarun commented on #14
That's the point. They can be extended easily by newer apps. At the moment `buku` is not ready for that. We'll get there, eventually.

[2016-05-22 04:17] jarun commented on #18
Ongoing work: https://github.com/jarun/Buku/pull/21, https://github.com/jarun/Buku/pull/22.

[2016-05-22 16:49] jarun commented on #16
@cd2357 I took a look at the implementation today. I uses Jsoup. Instead of using BeautifulSoup I'ld probably write a small parser extending HTMLParser. In any case, it gives me a hint on the fields. Thanks!

[2016-05-22 18:23] cd2357 commented on #16
Cool, glad I could help.

[2016-05-22 18:43] jarun commented on #16
Comparing BeautifulSoup and my custom parser:

- I can still late import bs4 given the bookmarks import functionality is an ad-hoc function.
- using bs4 reduces the amount of code I need to maintain. So bs4 it is.

[2016-05-22 23:38] jarun commented on #16
Implemented at https://github.com/jarun/Buku/commit/a769f716716ecaf74a15ea71135e1b97af1c1368.

[2016-05-22 23:38] #16 closed

[2016-05-25 04:26] jarun commented on #18
@toyg any update here?

[2016-05-25 06:51] toyg commented on #18
Sorry, been busy. Will try to get something done today.

[2016-05-25 06:56] jarun commented on #18
No hurries! Also, please rebase before you start changing. I'd been pushing changes.

[2016-05-25 08:49] toyg commented on #18
Hey, you've done a lot of cleanup yourself, great job :)

There is one real stumbling block left, which is the way you handle __main__, or rather how you execute everything after your block `if __name__ == '__main__':` in all cases. This means that it gets executed even when I try to import it as a module, which we don't want. Is there any strict requirement for the current behaviour, or can you s

[2016-05-25 08:53] jarun commented on #18
As long as `buku` handles piped input, have it your way. :)

[2016-05-26 18:08] carnager opened #27 "buku is missing -i command."
With version 2.0 I can't seem to import any bookmarks.

[code]

[2016-05-26 18:13] jarun commented on #27
It's in the development version, master branch. We'll make a release soon, probably coming weekend, so updated the README already. Please hold on for a few days or try the master branch.

[2016-05-26 18:13] #27 closed

[2016-05-26 21:24] alaroldai opened #28 "Can't import bookmarks"
Hi! I just installed buku from Homebrew on a mac running Mac OS 10.11.15, and tried to import a bookmarks file exported from Chrome. Buku threw the following error:

[code]

I also tried using `-i` instead of `--import`, with the same result, and checked the man page and found no mention of 'import'. Is this feature still supported?

[2016-05-26 21:25] alaroldai commented on #28
According to Homebrew, the installed version of Buku is version 2.0:
[code]

[2016-05-27 02:26] jarun commented on #28
This is not in v2.0. Please wait for 1/2 days. We'll release v2.1 which will have it. Updated the readme as a preparation of that.

[2016-05-27 02:26] #28 closed

[2016-05-27 02:55] jarun commented on #27
Added a note in the feature list to end the confusion.

[2016-05-27 02:56] jarun commented on #28
Added a note in the feature list to end the confusion.

[2016-05-27 08:36] carnager commented on #27
great. just made a checkout from master and all works as expected

[2016-05-27 10:25] jarun commented on #27
:+1:

[2016-05-27 10:39] carnager commented on #14
buku can add new bookmarks via xsel, which is great.
But buku cannot be used non-interactively for actual searches.
I would love to see an option that simply dumps needed info to a terminal (not sure about the format.
This way one could use the output in dmenu/rofi.

example:

[code]

[2016-05-27 11:09] jarun commented on #14
We can have it. :+1:

[2016-05-27 11:10] jarun commented on #14
Added in the ToDo list.

[2016-05-27 17:03] alaroldai commented on #28
Ah, makes sense. Thanks!

[2016-05-28 06:25] dstuxo opened #30 "'ascii' codec can't encode character '\u2014'"
Hello,
When I add bookmarks, sometimes I get this error, and the entry is invalid

$ buku -a https://medium.com/@Spurrya/20-pcb-tips-and-tricks-47b95a4ba706#.4ksvpq9hi
297. https://medium.com/@Spurrya/20-pcb-tips-and-tricks-47b95a4ba706#.4ksvpq9hi
EXCEPTION [add_bookmark]: (UnicodeEncodeError) 'ascii' codec can't encode character '\u2014' in position 37: ordinal not in range(128)
dstoica@pentoo ~

[2016-05-28 06:30] jarun commented on #30
Works fine for me:

[code]

Which version are you using? What's your terminal emulator?

[2016-05-28 06:41] jarun commented on #30
Tested successfully with AltYo, Terminator, xfce4-terminal.

[2016-05-28 09:48] dstuxo commented on #30
It seems it was a locale issue.
Setting locale to en_US.utf8 has fixed the problem
The result is now:
297. https://medium.com/@Spurrya/20-pcb-tips-and-tricks-47b95a4ba706#.4ksvpq9hi	[297]

Thanks

[2016-05-28 11:55] jarun commented on #30
Thank you for confirming!

[2016-05-28 11:55] #30 closed

[2016-05-28 21:21] jarun commented on #14
noninteractive usage is supported in v2.1.

[2016-05-28 22:25] carnager commented on #14
great. any chance for custom format too? or at least a hardcoded 1-line output if custom format is too much to ask?

[2016-05-29 01:59] jarun commented on #14
`-f N` works for `-S` too. If I'm missing something please cite elaborate examples.

[2016-05-29 08:05] carnager opened #31 "buku does not write tags properly"
with the git version of buku writing of tags is not handled correctly

With version 2.0:

[code]

With checkout from git:

[code]

[2016-05-29 08:10] jarun commented on #31
I'll take a look. Thanks for the report.

[2016-05-29 08:33] jarun commented on #31
I understand that you are trying to use `,` within in a tag. As `buku` uses `,` as the delimiter it wouldn't work. The tags are going to be treated separately. This is bound to happen with any delimiter I use.

I've added a new logic to sort the tags. Which is why cats come first in the list of tags.

The rest seems fine: ` cats` and ` fun` have spaces before them.

I wouldn't fix this and add thi

[2016-05-29 08:42] carnager commented on #31
no, I dont want `,` in my tags. I wanted to associate 3 separate tags with the entry. So I probably misunderstood the syntax. How is it done correctly?

[2016-05-29 08:44] jarun commented on #31
Anyway, you have uncovered a bug! :+1:

For what you want, just try:

    $ buku -a http://www.catsthatlooklikehitler.com/cgi-bin/seigmiaow.pl hitler, cats, fun

[2016-05-29 08:55] jarun commented on #31
Also, please refer the examples. The first example covers your case.

[2016-05-29 08:56] carnager commented on #31
[code]

I actually tried this before, but the output confused me. I checked now with `buku --st` and this confirmed that it actually works. thanks.

[2016-05-29 08:59] jarun commented on #31
I need to add a note below the first example.

[2016-05-29 09:19] jarun commented on #31
I'm thinking of replacing in-tag commas with some other character, probably space. What do you think? The idea is:

"hitler, cats, fun"

makes as much sense as:

"hitler cats fun"

This will be added in operational notes and the add operation would also show it in the output.

What do you think?

[2016-05-29 09:32] jarun commented on #31
Fixed at https://github.com/jarun/Buku/commit/c6c4b8ea6ec83d429528e853173fbad7ce8aed4c.

[2016-05-29 10:28] carnager commented on #14
I am on git master...

[code]

[2016-05-29 11:47] carnager commented on #31
the problem with that last commit is, that the actual representation differs from what buku expects the user to type.

Representation: tag1,tag2,tag3
Expectation:      tag1, tag2, tag3

[2016-05-29 12:02] jarun commented on #14
I see it now. The difference is because search results should show the index as well. In addition there's some optimization done for printing search results.

Can you explain your use case? Why do you need this?

[2016-05-29 12:05] jarun commented on #31
I didn't understand. Both

    buku -a http://www.catsthatlooklikehitler.com/cgi-bin/seigmiaow.pl hitler, cats, fun
    buku -a http://www.catsthatlooklikehitler.com/cgi-bin/seigmiaow.pl hitler,cats,fun

result in
[code]

where's the problem?

[2016-05-29 12:09] jarun commented on #31
And when there's a quoted single tag `hitler, cats, fun`, it's treated as a single tag and the 2 commas within the tag are converted to spaces.

[2016-05-29 16:03] carnager commented on #31
it doesnt work with the -u option

[code]

[2016-05-29 16:41] jarun commented on #31
Checking.

[2016-05-29 16:55] jarun commented on #31
So here's the problem:
`"python,linux,github"` is a single token from the cmdline parsing and so is `python,linux,github`. So there's no way to determine the intention of the user, whether it's a single tag or 3 comma-separated tags without any spaces.

I think I have to mandate - no in-tag commas to begin with.

[2016-05-29 18:05] jarun commented on #31
Please test https://github.com/jarun/Buku/commit/7dd663cc3e5b7242ade56241d8fa058301ac5539 and let me know if this works fine. I simplified the logic now (more manageable).

I have tested myself but a second round of tests would be great.

[2016-05-29 23:26] carnager commented on #31
seems to work fine!

[2016-05-30 01:56] jarun commented on #31
Awesome! Closing the bug.

[2016-05-30 01:56] #31 closed

[2016-06-02 01:35] jomendoz commented on #14
Hi @jarun

I've just come across your project and I really like it. I've been reading the issues, comments and source code so I have a little grasp of the current status.

Something that I really cared when I started using the bookmark system in Chromium and then Firefox was the tree hierarchy that gives you the folders and sorting by date or name.

When I encountered the db schema in buku, I noti

[2016-06-02 03:45] jarun commented on #14
No plans to include date as of now. I saw the field while implementing import, but I don't see why one needs to remember the date when a bookmark was added.
Note that the bookmarks are already sorted in the order they were added (other than the case where a bookmark is deleted).

You probably mean `title` by `name` here. Once again, I don't see how it is relevant if you don't remember anything abo

[2016-06-02 03:46] jarun commented on #14
If you are interested in implementing export bookmarks (in any format recognized by the browsers, date can be the date exported), I am all ears.

[2016-06-02 16:13] carnager commented on #14
https://github.com/carnager/buku_run

[2016-06-02 17:16] jarun commented on #14
This is awesome! I will take a fresh look at the search output as well. But it will take same time.

BTW, you can upload an image on imgur and link that ne from README. Will keep your repo size smaller. I used to store image in-repo earlier but the size increases considerably with each new image after GUI changes.

Also, if the `rofi` project has provisions, you may want to submit the `Buku` 'plug

[2016-06-02 18:31] carnager commented on #14
It's not a plugin at all. rofi has a dmenu mode, which acts as a simple stdin selection tool and dump selection to stdout. It's a great tool for such scripts.

[2016-06-02 18:54] jarun commented on #14
I see. In that case do let me know if you intend to merge this to `Buku`. You will need to modify the current Makefile to install the script though.

[2016-06-02 19:19] carnager opened #36 "Use tabs instead of spaces for fields in -p output"
buku shows id, url and tags in -p output.
Problem is that tags can have spaces, which makes proper parsing a mess.

A very easy solution would be to use tabs instead of spaces:
ID\tURL\tTAGS

[2016-06-02 20:17] jarun commented on #36
Please raise a direct PR. I'll approve.

[2016-06-02 21:28] carnager commented on #36
https://github.com/jarun/Buku/pull/37

[2016-06-03 02:34] jarun commented on #36
Merged.

[2016-06-03 02:34] #36 closed

[2016-06-04 07:16] carnager commented on #14
Another feature request: git support. If the bookmarks directory is a git repository, commit changes to db locally.

Also add an option to commit the changes to a remote git, if present in git config.

[2016-06-04 10:55] jarun commented on #14
No please.

1. what does a bookmark manager have to do with a version control system?
2. git is not the only version control system around. why on earth would we pick git?

[2016-06-05 19:20] jarun opened #39 "TODO list"
Continued from #14.

#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to help out any new contributor.

Some of the just-completed features may not have been released yet. Grab the master branch for those.

#### Currently identified ToDos

-

[2016-06-05 19:20] jarun commented on #14
Continued at #39.

[2016-06-05 19:21] #14 closed

[2016-06-06 09:08] dstuxo opened #40 "'update' command confirmation"
Accidentally, by omitting the bookmark number, I updated the titles to all my records :) Not fun..
I believe the update command should ask for confirmation if no index is provided.
It would be very frustrating if you have 10K records..
Thanks,

[2016-06-06 09:23] jarun commented on #40
Agreed! Will add the check, thanks for reporting the issue.

[2016-06-06 09:35] jarun commented on #40
Wait a sec, you mean all the records were refreshed from web, right? They were not erased.
Or, am I missing something here? What was the command you used?

[2016-06-06 10:20] dstuxo commented on #40
The problem appears when you try to update the title for a single record and forget to specify the index
I mean I executed
$ buku -u -t  "new title"
without the record number - so all the records were updated with the new title.
That would not be a big issue if all the records would have been successfully added from the beginning (no auto title extraction errors ), but for some, I manually edited

[2016-06-06 10:38] dstuxo commented on #40
Another suggestion..  It would help to have the bookmark number (the [xx] on the right) highlighted.
Would be more easy on the eyes when looking for a specific record..

[2016-06-06 10:55] jarun commented on #40
Thank for the info. I'll look into it.

[2016-06-06 13:22] dstuxo opened #41 "Feature request: batch delete"
It would be useful to delete multiple records at once:
- delete all records based on a search result
- delete multiple items eg: 1,2,3,10-30,45 (to delete records 1,2,3, from 10 to 30.. etc)

[2016-06-06 13:26] dstuxo opened #42 "Feature request: search using regexp"
It would be nice to have regexp search in titles/keywords
Also, an idea would be to have an option to fetch the page content (eg. wget/w3m/curl) and search inside the body

[2016-06-06 13:55] dstuxo opened #43 "Feature request: bash completion for tags"
I often mistype the names of the tags and additional effort is required to correct them (if discovered)
It would be useful to have bash completion for tags

[2016-06-06 14:09] dstuxo opened #44 "Feature request: option to append tags (updating records)"
It would be useful to have the option to add one or more tags to a record, without having to write the complete set of tags (along with -u / update command)

[2016-06-06 15:01] jarun commented on #43
I've thought about it earlier but this would take too much processing. If you really want it, please raise a PR directly.

[2016-06-06 15:01] #43 closed

[2016-06-06 15:04] jarun commented on #42
This is currently the 3rd item in the TODO list.

To make this optimal is to write a Google Search Engine. No, please.

[2016-06-06 15:04] #42 closed

[2016-06-06 15:06] jarun commented on #44
Added to TODO list at #39.

[2016-06-06 15:06] #44 closed

[2016-06-06 15:12] jarun commented on #41
Added to TODO list at #39.

Please discuss new features in the rolling TODO list thread. That way a consistent record of new features is maintained.

[2016-06-06 15:12] #41 closed

[2016-06-06 15:21] dstuxo commented on #42
I was thinking on a simple search (no regexp in this case) just to identify the bookmark, and only for a subset of records (eg to filter the search results)
I can imagine the overhead of searching the complete db.. :)
Anyways..

[2016-06-06 15:22] dstuxo commented on #41
Ok. I will do it like that in the future. Sorry

[2016-06-06 16:16] jarun commented on #41
Hey, no problem at all! Keeping an organized journal makes it easier to track the discussions.

[2016-06-06 17:43] jarun commented on #40
Fixed at commit ff3b6f8781d6653123f1404528a2b025644f241e.

[2016-06-06 18:09] jarun commented on #40
Titles are not updated in case of a blank title fetch from web. So I'm not adding any change to `buku -u` case.

For `buku -u -t new title` I'm adding the check.

[2016-06-06 18:56] #40 closed

[2016-06-06 19:00] jarun commented on #40
Removed the logic to full refresh other than `buku -u` command.

The following will fail now:
[code]
Applies to tag and desc too. So there is no way to update a single field (tag or title or desc) in all records.

[2016-06-06 19:01] jarun commented on #40
Please test the change and let me know if you find any issues.

[2016-06-07 05:41] dstuxo commented on #40
I confirm, it is fixed now.

[2016-06-07 06:14] jarun commented on #40
Thank you so much!

[2016-06-12 12:51] jarun commented on #44
Append tags implemented at https://github.com/jarun/Buku/commit/9c37d30da674cbe790633692229bff183e05e2e1.

[2016-06-16 21:23] jarun commented on #41
Deletion of range OR list of indices implemented at https://github.com/jarun/Buku/commit/2abeffe4c56715b51eb359b645e08e79166e326c.

Note that both don't work together... the major reasons being indexes may fall within a range and auto-compaction may delete non-intended indices.

It would be great if you can test the feature and provide feedback.

NOTE: I may not implement `delete all records based

[2016-06-21 02:18] dstuxo commented on #41
I confirm that deleting a range or a list of records works now.
However deleting multipole ranges doesn't. I assume this is not implemented.

About deleting based on a search result,  for me this would be very useful.
It will allow to cleanup the bookmarks database easily. For example: delete all records matching a tag, outdated subject.. etc
It is not straightforward to do this by searching and t

[2016-06-21 02:44] jarun commented on #41
Got it! Would it be possible for you to contribute this feature?

True. -s and -d are treated separately and -d has higher priority. BTW, it does confirm before deleting everything now.

[2016-06-21 02:46] jarun commented on #41
Intentional. `buku -d 5-12 6-11 11-14` would be a lot of unnecessary pain. If you check man or help I did mention `single range`.

[2016-06-21 05:57] dstuxo commented on #41
Not too much spare time, but I'll look at it in the following days.

Yes, but I don't quite see the logic behind using both at the same time if the combined function is not available (yet).
And in this particular case, when no argument is provided to "-d", they're mutually exclusive.
I mean you delete the database (records), then search for something ?

[2016-06-21 06:33] jarun commented on #41
Thanks! It would be great if you can manage some time.

I see your point. Won't be much of a bother changing the order but just thinking if there's a better way to handle stuff. We can make stuff mutually exclusive (but how many?). I think, rather, if you get some time, define an order for the operations. We can discuss and finalize it.

I can do the last one, but I won't see it from your perspect

[2016-06-25 13:24] dstuxo commented on #41
Created pull request https://github.com/jarun/Buku/pull/49
Please review
Thanks

[2016-06-26 12:51] jarun commented on #18
Closing this with the activities already completed. Please raise PRs directly.

[2016-06-26 12:51] #18 closed

[2016-07-05 19:11] nurbo opened #53 "zsh auto-completion errors"
I've recently installed Buku via Homebrew on OS X (`zsh` version 5.0.8) and using the provided makefile on Fedora 24 (`zsh` version 5.2). On both systems I get an error when trying to tab-complete:

`_arguments:comparguments:313: invalid argument: (--merge){--merge}[merge another buku database]:buku db file`

Deleting the line starting with "(--merge)" only causes the next line in the completion f

[2016-07-05 19:32] jarun commented on #53
How about `--import` and `--noprompt`?

[2016-07-05 19:34] jarun commented on #53
Also, please check if manually modifying the line to:

    '(-m, --merge)'{-m, --merge}'[merge another buku database]:buku db file'
helps.

[2016-07-05 21:14] nurbo commented on #53
Thanks @jarun for replying so quickly. I removed the elements from the `args` array that were resulting in the aforementioned error and managed to get the tab completion working. The lines that kept being reported were for options: _merge_, _noprompt_, _tag_, _url_. After removing lines 20, 21, 28 and 31 the tab completion works as intended. I have no idea why those specific options were causing t

[2016-07-05 21:36] jarun commented on #53
Thanks for the details. I think I've found the problem. Will commit a patch shortly and update you.

[2016-07-05 21:43] #53 closed

[2016-07-05 21:44] jarun commented on #53
Please check with the above commit. Hopefully the issue will be fixed.

[2016-07-05 21:52] nurbo commented on #53
Thanks @jarun, everything seems to be working fine now. Keep up the good work!

[2016-07-06 01:36] jarun commented on #53
:+1:

[2016-07-08 15:09] jarun commented on #14
@carnager I've linked the rofi script from the [readme](https://github.com/jarun/Buku/blob/master/README.md). Hope that's fine with you. :)

[2016-07-08 15:10] jarun commented on #14
Continued at #39.

[2016-07-08 19:32] carnager commented on #14
@jarun sure!

[2016-08-21 22:18] wheresmyjetpack commented on #39
Hi @jarun
I'm interested in writing some tests for BukuDb. I'm working filling out the commented-out tests at the moment. Any suggestions for something to work on in particular?

[2016-08-22 00:30] jarun commented on #39
Hi @wheresmyjetpack,

Please take a look at the current test cases to get an idea. If you ask me, Buku does very complex tag management and susceptible to break with even minor changes. I guess you can add stronger test cases there.

[2016-08-25 04:50] wheresmyjetpack opened #58 "Deleting tags for all bookmarks possible unintended behavior"
When there is more than one tag specified for deletion while deleting tags from all bookmarks, there is some (possibly) unintended behavior. The behavior is that not all tags specified are getting deleted.

I have only been able to replicate this when all of the following conditions are true:
* when the to-be-deleted string contains more than one tag
* when one of the tags in the to-be-deleted str

[2016-08-25 18:33] jarun commented on #58
Yes, I see the problem. I'll look into it.

[2016-08-27 15:45] jarun commented on #58
Steps to reproduce:
[code]

[2016-08-27 15:48] #58 closed

[2016-09-05 08:31] jarun commented on #39
Exact word match using regexp supported at https://github.com/jarun/Buku/commit/405b73a392bd5bb7a77dbf2b18b78f0f8e073e3a.

[2016-09-06 14:08] wheresmyjetpack commented on #39
For PR #65, is there a reason / necessity for the prompt staying up after a range of results has been opened? This is causing issues during testing. I'm able to patch `input` to simulate user input, returning a string of results to open ("1-3", for example), but I'm unable able to patch it again once the while loop in `prompt` has been entered. Because prompt requires you to hit enter twice to exi

[2016-09-06 15:18] jarun commented on #39
In my case if I search for a reasonably frequent keyword like `computer`, the list is a long one. I would need to scroll up/down and keep opening results.

If it's of any help, the prompt exits with a `Ctrl-d` if that can be simulated. However, if all of this becomes too cumbersome, leave it. The code seems stable as far as I have tested manually and we'll live with it. If someone finds a bug, we'

[2016-09-06 16:04] wheresmyjetpack commented on #39
Gotcha. One possible solution would actually be to create a very simple wrapper function which would only call `input('Results, ranges (x-y,(a)ll) to open: ')`. Said function would do nothing else, and would replace the second call to `input` in the while loop. It could be called something descriptive, such as `recheck_input`, and would make this testable. In the test case,`input` would be patched

[2016-09-06 16:56] wheresmyjetpack commented on #39
Found a way to handle this, should be opening a PR tonight!

[2016-09-06 16:57] jarun commented on #39
:+1:

[2016-09-07 04:00] wheresmyjetpack commented on #39
Not sure if I'm misunderstanding the prompt for opening bookmarks from search results, but supplying "a" for opening (a)ll bookmarks doesn't seem to produce any of the desired behavior. Presuming this is supposed to be **either** a range **or** "a" for all bookmarks.

[2016-09-07 04:22] jarun commented on #39
I'll check this and get back.

[2016-09-07 18:01] jarun commented on #39
Fixed this at commit d4ec9e8ed41a1afad5ebcd55eff0f7fbbb3365e4.

[2016-09-10 22:45] Ovvovy commented on #39
Hello @jarun

I can look into making a Pypi packages if you are interested.

[2016-09-11 03:10] jarun commented on #39
@Ovvovy thanks for the offer!

There are a few problems we'll face regarding Pypi:

- I do not maintain any of the downstream packages on AUR, Debian Sid, Homebrew etc. In case of Pypi the package name gets tied to whoever submits it. I would gladly give you collaborator rights to this repo (though commits should come through PRs). Are you willing to maintain the Pypi packaging?
- Travis automated

[2016-09-12 11:07] Ovvovy commented on #39
I think it's possible to change the packages owner on Pypi.

I'll look into the naming thing.

[2016-09-12 12:22] jarun commented on #39
Thanks! This is to keep prepared for a situation where a contributor moves on.

Thank you!

[2016-09-12 14:20] Ovvovy commented on #39
Here is the first step: https://pypi.python.org/pypi/buku/0.0.4

I had to move and create some files. I'm not sure it will be possible to do it without breaking Travis builds.
Next step will be to create a command line entry point.

If you give me your Pypi username I can add you to the package

[2016-09-12 15:39] jarun commented on #39
I'll create an account and share it with you.

[2016-09-12 16:20] jarun commented on #39
Please use the handle `arunj`.

[2016-09-14 06:51] emilv commented on #39
Would automatic tag suggestions be interesting? Me and some friends did such a project for bookmarks in a university course and it worked wonders. We trained our model on already categorized bookmarks, then when you insert a new page we calculated a score for each category. In all our tests the highest scoring category was always the correct one! We used an approach very similar to word2vec.

[2016-09-14 08:26] jarun commented on #39
Yes! I'm game if you would like to explore it in `Buku`.

[2016-09-14 15:43] taziden commented on #39
Hi,
I'd love to have an option to get rid of the color in the output (for instance, output of buku -p).
So that I don't need to use sed to remove color codes.

Thanks

[2016-09-14 17:04] jarun commented on #39
Does the `--json` or `--format` option help?

[2016-09-14 17:19] jarun commented on #39
If not, please feel free to contribute an unformatted output option. For example: `--format 3`. Should work with search results as well as `-p`.

[2016-09-14 17:22] taziden commented on #39
Well, `--format 1` is actually perfect for me. Sorry for the noise and thanks for the good work !

[2016-09-14 20:00] dgengtek commented on #39
What do you think about bookmark export filterted for toolbars?

Only entries with the tag  `toolbar` get exported into specific html header with the toolbar flagged instead of currently all bookmarks being exported into the personal toolbar folder.

[2016-09-15 01:59] jarun commented on #39
You can make it generic instead of just `--toolbar`. Export specific tags (multiple) is `--tag` is used. If unused, export all. Feel free to raise a PR.

[2016-09-15 18:16] Ovvovy commented on #39
@jarun didn't really had the time to improve it, but i'll do it this weekend.

I already added you as owner on Pypi. I thought they send an email but guess not.

[2016-09-15 18:19] jarun commented on #39
Nope, didn't get any noti But that's OK. Thanks for the update!

[2016-09-15 18:21] Ovvovy commented on #39
Could you check by connecting to Pypi ?

[2016-09-15 18:27] jarun commented on #39
Yep, I'm there with you. :+1:

[2016-09-23 15:30] hemantcompiler opened #75 "Feature request : Right click firefox context menu link to add"
Can we have an option "add link to buku" when right clicked on a link in firefox? The option can fire up terminal with the url took from firefox and we just have to add tags there.

[2016-09-23 17:29] jarun commented on #75
You are looking for a firefox extension which has to be a separate project.

[2016-09-23 17:29] #75 closed

[2016-10-09 23:19] heliocarbex commented on #39
Can I use in Windows easily?

[2016-10-09 23:24] heliocarbex commented on #39
Are you thinking to produce some UI?

[2016-10-10 02:22] jarun commented on #39
@heliocarbex

- I haven't tested on Windows. Give it a try. No plans to write a GUI myself. The current integration works fine for me. However, PRs are welcome!
- That personalization would be user specific. You'll have to write your own script I'm afraid. If you can share the script I can link to it.

[2016-10-10 05:06] jarun commented on #39
Patch https://github.com/jarun/Buku/commit/b16f08db3827007318a367f15d2459d7469ee69e fixes basic issues on Windows. You'll need to use a terminal that understands console color codes.

[2016-10-17 00:07] heliocarbex commented on #39
Other good ideas:

- Create a daemon to watch changes in bookmarks folders of Firefox, Chrome, Vivaldi, IE, etc (the user can select the desired folder and/or file) and import automatically to the database of Buku.
- Solve problems of duplicated entries in the database (there is solutions in each browser, but it can be interesting have one in this big aggregator).

[2016-10-17 02:23] jarun commented on #39
Hi @heliocarbex
- One can add bookmarks directly to the `Buku` data base any time with keyboard shortcuts. A daemon would be a stronger solution to a simpler problem and will make things more complex than required.
- `Buku` doesn't allow duplicate entries by design.

Are you interested in picking up any of the currently identified tasks?

[2016-10-20 17:37] palagit commented on #39
Hi,

I'm a new user of buku. There is a feature´-request i found nice to have. A switch to check if all bookmark are  still active and save this entry in the database (active, not available + last timestamp active). So inactive bookmark could be deletet.

Sorry for my english , i'm still learning.

[2016-10-20 17:43] jarun commented on #39
Thanks for the suggestion! If you run `buku -u` it will refresh the titles and log (prominent) info if it fails to fetch any. There is no easy way to determine whether a link is *really* live or not. Sometimes there are temporary glitches, sometimes servers are down or are moved... That's the main reason `Buku` doesn't bother about the actual *existence* of a link in it's internal logic.

[2016-10-20 19:31] palagit commented on #39
Ok, I understand your problem. My idea were to check with buku -u all bookmarks, then if not reachable, mark in the database with timestamp, not reachable and a counter. On the next check with buku -u and not reachable, the counter will increased. If the counter reaches a level of 5 the flag bookmark filled with "the site may be deleted".

I tried to write a script to solve my idea.

Thanks for th

[2016-10-20 19:52] jarun commented on #39
:+1:

[2016-10-20 22:16] cpaulik commented on #39
It would be great if there would be an option during import to use the existing folder names from Chrome as tags in buku.

[2016-10-21 02:05] jarun commented on #39
@cpaulik Nice one! Thank you! Added to the list. Would you be interested in contributing the feature?

[2016-10-22 08:31] jarun opened #78 "ToDo list"
Continued from #39.
#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to help out any new contributor.

Some of the just-completed features may not have been released yet. Grab the master branch for those.
#### Identified tasks
- [ ] Need a [P

[2016-10-22 08:31] jarun commented on #39
Rolled at https://github.com/jarun/Buku/issues/78.

[2016-10-22 08:31] #39 closed

[2016-10-22 14:15] some1563 commented on #39
Hi @jarun,
thanks for Buku.
What do you think about extending the database table with columns
'date_added', 'date_visited', 'times_visited', 'status' (e.g. unreachable)
and maybe 'rating'?

[2016-10-22 14:22] jarun commented on #39
I know there are bookmark utilities which track these data and collects stats. We don't want to track users, collect data and intrude into user privacy.

Regarding 'status' please check my earlier comment https://github.com/jarun/Buku/issues/39#issuecomment-255176477.

What's the use case for an additional 'rating' field? Please note that users can have tags like 1 start, 2 star etc.

[2016-10-22 14:47] jarun opened #80 "Import folders as tags while importing bookmarks HTML."
The requirement came from @cpaulik in https://github.com/jarun/Buku/issues/39#issuecomment-255243585:

*It would be great if there would be an option during import to use the existing folder names from Chrome as tags in buku.*

[2016-10-22 15:24] jarun commented on #80
Technical restrictions:

1. This would require *folders* like `Recent Tags` and `Most Visited` to be filtered out, which is more of a hack than a generic solution. Mozilla format uses the same tags for these as regular bookmarks.
2. Stock Firefox mod on Ubuntu has the following directory:

    <DT><H3 ADD_DATE="1440206436" LAST_MODIFIED="1467725517">Ubuntu and Free Software links</H3>
For all prac

[2016-10-22 15:24] #80 closed

[2016-10-22 16:14] jarun commented on #39
Rolled at #78.

[2016-10-23 18:20] jarun opened #83 "Support self-upgrade"
This is a ToDo list item to support in-place upgrade of the program.

[2016-10-23 18:26] jarun commented on #83
If `Buku` is installed using a package manager, this option may trump the version provided by the package manager. This may lead to inconsistencies and unforeseen consequences.

As an alternative, option `--upstream` is provided to check the latest version available upstream. The relevant commit is https://github.com/jarun/Buku/commit/1d1f7a94af9a28d883d7dacdf93e1fe7e005829b.

Upgrading downstream

[2016-10-23 18:26] #83 closed

[2016-10-23 18:36] jarun commented on #1
**Update:** Import/export options are available in `Buku` for a while now.

[2016-10-23 19:12] jarun commented on #42
Regex search is implemented at 3ed68f01974a48ffa4512d7526e898023a04bc25.

[2016-10-23 20:04] tom-i opened #84 "Buku doesn't work in VoidLinux"
Hello there,
I have some weird issue on VoidLinux distro:
[code]
I would like to know, if there is problem with database, or the package is somehow wrong in VoidLinux:
[code]

[2016-10-23 20:06] shaggytwodope commented on #84
@tom-i Need to report the the packager that buku needs to run on python3, this looks like the shebang is somehow changed to python2. Which I'm fairly sure isnt supported at this time.

[2016-10-23 20:17] jarun commented on #84
`Buku` never supported Python 2.x.

[2016-10-24 07:55] jarun commented on #84
This is fixed downstream.

[2016-10-24 07:55] #84 closed

[2016-10-24 19:34] selfsimilar opened #85 "Cryptography lib(s) missing"
On OS X El Capitan, I installed buku via brew and core functionality seems to work: adding, deleting, searching, and opening web pages. However, I cannot lock or unlock the database.

    $ buku -z -l
    [DEBUG] Version 2.5
    [ERROR] cryptography lib(s) missing
    $ buku -z -k
    [DEBUG] Version 2.5
    [ERROR] cryptography lib(s) missing

[2016-10-25 01:54] jarun commented on #85
You mean `Buku`, right?

You'll also need the `cryptography` library. We don't enforce it as cryptography is optional. Please refer to https://cryptography.io/en/latest/installation/.

@asergi am I missing something here?

[2016-10-25 01:56] jarun commented on #85
I don't own a Mac personally. Can you also check if you are able to import bookmarks HTML (from FF or Chrome)?

[2016-10-25 02:43] selfsimilar commented on #85
Sorry, yes, meant 'buku' (aggressive autocorrect).

I think I must have jumped straight to the 'Installing with a package manage' section and missed the very applicable global requirements section above. Apologies, and after installing via `pip` `cryptography` locking works as expected now.

[2016-10-25 02:43] #85 closed

[2016-10-25 13:35] jarun commented on #85
This is closed at https://github.com/Homebrew/homebrew-core/commit/d230781208d004af82eb7ed4d2f9d664c2de4e07.

You don't need to install the dependencies manually anymore.

[2016-10-26 16:31] sporgj commented on #78
How about a "backup" mode. Users could provide backends such as git, S3 where their bookmark database gets pushed to

[2016-10-26 17:07] jarun commented on #78
`Buku` doesn't intend to be a cloud solution by itself. If a solution uses `Buku` as a library they are free to do so.

One could, however, store the database file in a mapped drive which is synced and create a softlink to it in the regular `Buku` db path. I store the actual file in my Dropbox directory, for example.

[2016-10-27 20:56] jarun opened #87 "Search results are deleted even if -d is passed with indices/range"
The following command deletes search results though it should delete the bookmark at DB index 5:

    $ buku -s hello -d 5
Search results should be deleted only if `-d` is passed without a value, like:

    $ buku -s hello -d
Otherwise, it should process delete option separately.

[2016-10-27 20:57] jarun commented on #87
Fixed at commit 8894e286108d7d17da1166893b39c414e121f542.

[2016-10-27 20:57] #87 closed

[2016-11-06 13:11] polo2ro commented on #78
Hi,
Thank you for this usefull tool!
I use it a lot and found like other solutions that it is difficult to detect invalid url, because this is command line i can actually do that myself : https://github.com/polo2ro/buku-scripts
This can be a functionality to include in buku, to be nice to the new users and to be more cross-platform, or keep external but maybe as documentation.

[2016-11-06 13:21] jarun commented on #78
@polo2ro `buku -u` for full DB refresh also shows the error info on failure. Recently I have added a new param for verbosity to some APIs. I think I can make changes to show the info only when there's a failure.

[2016-11-06 13:31] polo2ro commented on #78
yes i think that would do the trick; when using -u on all database i run into other problems because many of my bookmarks where on the same site and they probably have some policy to limit high number of page/seconds, that is why i used the sleep command. I my first try i almost deleted all the links from the same site because of that.

[2016-11-06 13:59] jarun commented on #78
I get it now.

I noticed that you check only for status 200. Does curl handle HTTP re-directions transiently?

There are also some [status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) which indicate temporary failures. I think it would be great to make the script more verbose with the status code if it is not 200 and a verbose description.

[2016-11-06 14:04] jarun commented on #78
Continuing from my last comment, instead of an additional shell script, I think it would be great if you can add an API in `Buku` to do this.

Of course it will need more checks. For example, it would need a better check for malformed URLs (refer to https://github.com/jarun/googler/commit/b53b638613fee5f4d2cf964a6b98b1c4a5b6a18e for a hint). Then the additional delay, verbose status codes and so o

[2016-11-07 10:28] jarun commented on #78
@polo2ro We'll soon move over to urllib3 which has retry support. I believe the above issue will be over with it.

[2016-11-07 13:12] polo2ro commented on #78
here are some examples url of my use case:

http://www.seloger.com/annonces/achat/maison/estang-32/107048765.htm
http://www.seloger.com/annonces/achat/maison/saint-fort-sur-gironde-17/112444387.htm

the first url give me a 200 OK, all good
the second give me a 301 Moved Permanently

The probleme is that the site give me a 301 instead of a 404 for a page that does not exists anymore, that is why i

[2016-11-07 13:33] jarun commented on #78
I'll test the scenario with urllib3 and update.

[2016-11-08 06:58] jarun commented on #78
I think this works fine with urllib3. Results with latest master (at the time of writing):

[code]

[2016-11-08 07:05] jarun commented on #78
In addition, now you can view only failed and skipped (due to mime) using:

    $ buku -u --tacit

[2016-11-08 07:21] polo2ro commented on #78
This is great! i will check this out with an update on my database and get back to you. Thank you

[2016-11-08 07:43] polo2ro commented on #78
The retry functionality is not working in my case because seloger.com give me a 200OK with a error page, i don't know if this a common behavior. I am luky that the error page does not have a title.

I uploaded by database https://1fichier.com/?9urj0c0p14

i get the error message after 45 updates, i think nothing can be done about it because http codes are note used properly here.

I am pretty sure

[2016-11-08 08:02] jarun commented on #78
This doesn't seem standard behavior. Here's an example of correct behaviour:

[code]

[2016-11-08 14:59] jarun opened #91 "URLs are case-insensitively unique in database"
It's possible to do the following:

[code]

[2016-11-08 15:01] jarun commented on #91
The following URLs are different:

[code]
While the first one exists at the time of writing, the second one throws 404.

The current behaviour is the intended behaviour.

[2016-11-08 15:01] #91 closed

[2016-11-12 16:05] jarun opened #92 "Support adding shortened URLs to the database"
With the support for URL shortening, why not introduce an option to store URLs directly shortened with `--add` option. Another improvement would be to (un)shorten URLs stored in DB with `--update`.

[2016-11-12 16:11] jarun commented on #92
There are two problems with this:

1. Adding/updating shortened URLs in DB trumps `--deep` search rendering it useless.
2. Makes it impossible to restore bookmarks if the service ever goes down.

[2016-11-12 16:11] #92 closed

[2016-11-15 23:26] carlos-am opened #94 "InsecureRequestWarning when adding HTTPS URL"
When adding a https url (https://www.example.com), urllib3 emits a warning that an Unverified  HTTPS request is being made.

Buku version: 2.6

How to test:
[code]

Result:
[code]

Possible solutions:
- Suppress warnings with `urllib3.disable_warnings() `
- Alternatively, add certificate verification (see [https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl](https://urllib3.readthedocs.io

[2016-11-16 03:21] jarun commented on #94
This has already been suppressed at f314a19e8b284f14afd8d6ab027e92515d49b48c. If debug is not enabled, we use: `logging.disable(logging.WARNING)`.

And this is what I see:

    $ buku -a https://www.example.com
    350. https://www.example.com

[2016-11-16 03:29] jarun commented on #94
In case this didn't work for you, I'm OK with the change.

[2016-11-16 03:29] #94 closed

[2016-11-16 04:20] jarun commented on #94
It's always best to verify the certificate. However, in our case we are not transmitting any sensitive data, no credentials... which is why the RoI isn't high. Adding the feature also means maintaining it.

[2016-11-19 03:47] drzraf commented on #78
Suggestion:
Make Buku integrated to most modern browsers (would gain traction), eg: firefox, midori, ... extension using Buku as a backend (storage/search/tags/...)
That would greatly help people switching from a browser to another.

[2016-11-19 04:55] jarun commented on #78
Yes, `Buku` is available [as a library](https://github.com/jarun/Buku#as-a-library) and I know terminal based projects which are interested in using it. Personally, I do not have the time to spend in writing browser extensions though. There are several projects I maintain already.

[2016-11-24 17:00] DamianSiniakowicz commented on #78
Hi Jarun
I am new to open-source, and found your project on up-for-grabs.
I want to make refreshdb faster using threads.

[2016-11-24 17:02] jarun commented on #78
Hi @DamianSiniakowicz thank you for your interest in the project. Please let me know any questions you have. I am available on Gitter.

[2016-11-25 19:23] naaaargle commented on #78
Hi! Are there any tests in particular you would like to see? I am new to open source and think that would be a good way to get started. If you don't have anything specific in mind, I can jump in and try to find something not yet covered. Thanks!

[2016-11-25 21:04] AdrianSchurz commented on #2
Weelll, great flipping idea! Why not do something like
`opera $(buku -p -f 2 | awk '{print $2}' | peco) `
hoorray for pipes!
Gonna fiddle a bit and see if tags/titles/descriptions can be made to fit nicely in there as well. That one line will not be fully convenient yet as it will open the browser even when exiting without a selection.

[2016-11-25 21:28] AndreiUlmeyda opened #97 "Json output does not contain index"
Hi there,
great work! Was searching a bit to get a quick workflow going to view/search/open bookmarks. Was going with [buku-run](https://github.com/carnager/buku_run) as advised but found it already scraping the boundary of what poor old bash should be tasked with. Trying to extend it I was quickly in need to parse buku output.

With the pretty format being detrimental to stream processing, as it

[2016-11-25 23:25] AdrianSchurz commented on #78
Herroo!
A few TODOs might possibly be solved by marrying buku and [peco](https://github.com/peco/peco) as preliminarily tested [thereabouts](https://github.com/jarun/Buku/issues/2#issuecomment-263022272).
* Continuous search at prompt
* Delete all records based on a search result

and maybe, since peco supports sticky selections, batch tagging.
I am thinking pucu? beco? I dunno! I bet those are na

[2016-11-26 02:19] jarun commented on #78
@naaaargle thanks for your offer! there are lots of stuff not covered in tests yet. I can come up with a list for you.

[2016-11-26 02:22] jarun commented on #97
Can you please raise a PR for this?

[2016-11-26 02:27] jarun commented on #78
@AndreiUlmeyda, I am open to the options as long as they remain simple. While the terminal is awesome, we'll have to keep the marriage less complicated for the benefit of healthy mortal children.

[2016-11-26 07:39] jarun commented on #78
@naaaargle here are some test cases which popped up:

- test with custom database file (this is not exposed, you can init BukuDb with a custom file)
- encrypt/decrypt buku with custom number of passes
- test cases with empty database (print, delete, search)
- some test cases for update_bm()
- tests for regex search
- tests for delete_resultset
- tests for replacetag
- if you are here you can find

[2016-11-26 14:43] AndreiUlmeyda commented on #78
Altrightythen, I've thrown the <buku|peco> idea inside a [little script](https://github.com/AndreiUlmeyda/loin) and I am pretty sure it classifies as simple, thanks to the inherent neatness of buku. I will try and get the suboptimal line structuring sorted out over the next few days and would greatly appreciate a bit of input from people who can imagine themselves using it. I will open an issue th

[2016-11-26 14:51] jarun commented on #78
@AndreiUlmeyda :+1: Thank you! I'll check it out!

[2016-11-26 20:47] AndreiUlmeyda commented on #97
I think it is the DB index I meant. The thing that buku expects as argument for update operations :]. An the reason it might be needed is that, in case any program tried to act as some sort of frontend for buku it might need to call buku and provide the index argument for a particular operation on that bookmark. Such a frontend would probably choose the most generic and structured buku output avai

[2016-11-26 20:47] #97 closed

[2016-11-27 01:54] jarun commented on #97
Yes, we can include index in the generic Json output (`-f=0` case).

[2016-11-28 22:20] AndreiUlmeyda commented on #97
Thanks a bunch, appears to work just dandy!

[2016-11-29 02:45] jarun commented on #97
My pleasure!

[2016-11-30 08:30] szlin opened #100 "UnicodeDecodeError: 'ascii' codec can't decode"
buku.py is an UTF-8 file but setup.py opened it in ASCII mode instead of UTF-8 mode.

I already sent the pull request. #101

[2016-11-30 13:21] jarun commented on #100
Closed with #101.

[2016-11-30 13:21] #100 closed

[2016-11-30 19:10] Qu4tro commented on #78
Any thoughs on a REST API, so that webapps could have a ready bookmark backend?

[2016-11-30 19:22] jarun commented on #78
:+1: I am open to PRs. :) Added it in the task list.

[2016-12-05 03:23] jarun commented on #78
@AndreiUlmeyda I was trying it. Works well. I have one request though... can you please change the name to something else?

[2016-12-05 10:40] AndreiUlmeyda commented on #78
Aw man, that was the best part. But ok, I will do that. Thanks for checking it out

[2016-12-05 15:19] jarun commented on #78
Thanks!

[2016-12-05 18:53] AndreiUlmeyda commented on #78
@jarun Okay, it is done. And I know climate change is an issue but please don't make me change it again. A little question now that the thing is sufficient for my own needs: Would you rather have it existing as a separate project, have it incorporated into buku, or none of the above? Either thing is fine with me. I was happy to be able to improve my bash a bit but in case some people find use for

[2016-12-05 19:15] AndreiUlmeyda opened #102 "Urls with a trailing / are not found by --sany"
Greetings,
`buku --sany http://www.something.com/`
fails while
`buku --sany http://www.something.com`
does not, even if the former is the url as displayed by buku.

[2016-12-06 01:16] jarun commented on #78
@AndreiUlmeyda I would like it to be a separate project that would be linked to `Buku`. As you would have seen, I linked Rasmus' Rofi frontend for `Buku` from my project. But with your new addition, it wouldnt suffice so I'ld have a distinct section that goes `Porjects using Buku`. That would add more emphasis and visibility.

What do you say?

[2016-12-06 01:45] jarun commented on #102
The reason is `--sany` and `--sall` are limited at word boundaries using regex. So the trailing space is never matched. You have to use `--deep` too. For example, the following work:

[code]

If you search `"hello/"` in google you'ld notice the same behaviour. It searches `hello`. If you search for `"www.hellomagazine.com/"`, the results would include the following:

[code]

So google is ignoring

[2016-12-06 02:03] jarun commented on #102
Another note:

`"hello////"` also returns the same results as `hello`. So all trialing `/`s are removed.

My fix will be along the same line.

[2016-12-06 02:07] #102 closed

[2016-12-06 09:36] AndreiUlmeyda commented on #78
@jarun Sparkles with me! Let's do that.

[2016-12-06 15:35] jarun commented on #78
[Here](https://github.com/jarun/Buku#related-projects) you go!

[2016-12-06 15:35] jarun commented on #78
[Here](https://github.com/jarun/Buku#related-projects) you go!

[2016-12-06 15:48] AndreiUlmeyda commented on #78
Neato. A pleasure doing business with you.

[2016-12-06 16:03] jarun opened #103 "ToDo list"
Continued from #78.
#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to help out any new contributor.

Some of the fresh-baked features may not have been released yet. Grab the master branch for those.
#### Identified tasks
- [ ] Ubuntu Unity

[2016-12-06 16:03] #78 closed

[2016-12-06 18:27] shaggytwodope commented on #103
@jarun I can do pypi, it's really easy for me to maintain for you. Just need access to the "repo".
You can do that [here](https://pypi.python.org/pypi?:action=role_form&package_name=buku) and add the user name `shaggytwodope` to the maintainer role.

[2016-12-06 19:19] jarun commented on #103
Done! Thank you!!! I thought of mailing you once but held back lest I would
be imposing. :)

Regards,

Arun

On Tue, Dec 6, 2016 at 11:57 PM, Johnathan Jenkins <notifications@github.com

[2016-12-06 19:30] shaggytwodope commented on #103
@jarun No worries mate, started a new job tho so weekend releases might get delayed for me. But short of that I'll gladly update asap. It's now updated to the 2.7 release [here](https://pypi.python.org/pypi/buku/). I've tested the install process and it appears to work wonderfully.

Feel free to email or @ ping me anytime. I try to respond quickly. Also we/someone can add `pip install buku` instru

[2016-12-06 19:36] shaggytwodope commented on #103
@jarun oh yeah, so the readme isn't pypi friendly at the moment, I'll look into this later on. I see it as a very low priority. Pypi site is in a transition stage for a new platform. Better markdown support may come. But for now I think it's ok to look a little off. Most likely tomorrow I'll see what options exist to clean it a bit.

[2016-12-06 19:46] jarun commented on #103
No hurries. I'll add the pip installation procedure right away. Thanks again!

[2016-12-14 12:03] Hans-Maulwurf opened #104 "How to add tags when importing"
Hey guys,

is it possible to set the tags in the markdown-file? I just only discovered the syntax (title)[url]. Or maybe with html?

thanks for your help,
Hans

[2016-12-14 15:58] jarun commented on #104
Not at the moment. Is there any markdown standard to represent tags?

Tags are imported in case of html.

[2016-12-16 15:40] jarun commented on #104
I didn't find something that fits the bill. Closing the issue.

[2016-12-16 15:40] #104 closed

[2016-12-19 21:22] tenken commented on #103
@jarun what about storing additional metadata per bookmark such as date_added, date_updated and possibly track how many times a bookmark was opened from buku?

these 3 metadata details seem useful to me because while tags are useful they don't convey when I did something, nor can I trend tag usage over time (as a web developer I create bookmarks per development project). Similarly as tags get adde

[2016-12-20 02:24] jarun commented on #103
Hi, please read the project policy:

[2016-12-20 02:44] tenken commented on #103
@jarun thank you for the clarification. I believe you value privacy above all else, and I salute you for that. I would argue that similar to an Email or a blog post -- knowing the date of something does not imply user tracking; but is a useful fact of the data. Data is only as useful as it is searchable, tags and text searching will take you only so far.

Regardless, thank you for the prompt reply

[2016-12-20 02:48] jarun commented on #103
Thanks for your suggestion and understanding. BTW, if you wish to use `Buku` as your backend you can extend it in your project. I do that already for some columns. Also, would you be interested in the REST API task?

[2016-12-20 17:10] tenken commented on #103
The suggestion of extending it sounds like a good idea for custom columns, I will try that.

Unfortunately I'm not a python developer so I'm out of my element with python+REST :(. Best regards.

[2016-12-20 18:08] jarun commented on #103
In it's simplest form I think you'ld need to (de)serialize the input and return for each API.

[2016-12-20 18:27] tenken opened #105 "search tag short option broken"
All of the short arg options have a single hyphen if they support a long and short form. Example:

`-a, --add URL [tags ...]`

But currently the search tags option lists the following options:

`  --st, --stag [...]   search bookmarks by tag list tags alphabetically, if no arguments`

It appears to be the only option where the short option enforces two hyphens as opposed to 1 hyphen.

I attempted

[2016-12-20 18:44] tenken commented on #105
Maybe I'm wrong and the convention is that single letter options have 1 hyphen, and two letter options have 2 options?

At least to me, it appears that if the option supports a short and long form, the short form has 1 hyphen all of the time for all other options.

[2016-12-20 19:01] jarun commented on #105
This.

[2016-12-20 19:01] #105 closed

[2016-12-24 19:20] Qu4tro commented on #103
Maybe an API specification first?

[2016-12-24 20:20] sixpointzero opened #108 "buku doesn't recognize folders and seperators in the bookmarks.html file exported by Firefox"
It imports the `bookmarks.html` file as a single list. Exporting these bookmarks from `buku` doesn't preserve the layout that was used in the originally exported `bookmarks.html` file.

Is the lack of this feature intentional (part of the design) or could it be added in the future?

[2016-12-24 22:36] jarun commented on #103
@Qu4tro ye, item 2 in the list.

[2016-12-24 22:40] jarun commented on #108
PS #82 & #80.

[2016-12-24 22:40] #108 closed

[2016-12-27 17:42] jarun commented on #105
Also, `--st` appears to work in latest versions because `--st` matches `--stag` without ambiguity... apparently argparse picks the closest unambiguous match!!!

[2017-01-11 00:14] jarun opened #109 "Missing + when shortening URL"
When shortening the following URL:
`https://launchpad.net/~twodopeshaggy/+archive/ubuntu/jarun/`
we receive:
`http://tny.im/HntZ2`
which expands to
`https://launchpad.net/~twodopeshaggy/archive/ubuntu/jarun/`

Note the missing `+`.

[2017-01-11 00:16] jarun commented on #109
The URL should be quoted (including the `+` characters) using `%xx` escape, while sending the request to shorten.

Fixed at bc65e1778223111e90f83ad005b0cc933207ffb9.

[2017-01-11 00:16] #109 closed

[2017-01-13 19:17] Luki138 opened #111 "ZSH Autocompletion not working"
not working due to:
`_arguments:comparguments:319: invalid option definition: (-f --format)-f[limit fields in print and Json output:value`

fixed with #110

[2017-01-15 15:51] #111 closed

[2017-01-30 17:24] dchang0 commented on #103
Hi, jarun--

Here's a feature idea: when buku attempts to pull down the title from the URL, if the server does not respond or produces other HTTP errors, add special tags to the broken entries. This, combined with the delete bookmark by search feature will allow users to cull obsolete/broken bookmarks from their database. It is even possible to use a series of numbered tags like: NoResponse1, NoRe

[2017-01-31 02:42] jarun commented on #103
@dchang0 Tanks for the suggestion! Having a title or not due to HTTP errors becomes irrelevant because of the following options:

- set manual tags and mark immutable
- option to search blank titles using `buku -S blank`
- silent full refresh showing error codes for all bookmarks using `buku -u --tacit`

I'm afraid any additional options would be a feature bloat around titles.

[2017-01-31 02:48] dchang0 commented on #103
Thanks for the reply.

Perhaps I should not have mentioned titles. My actual goal is to make it so that it is easy to automatically cull dead URLs in one or two or three passes. (The only reason for multiple passes is that some URLs might only be temporarily broken.)

And there is not necessarily a need to use tags to store the state of broken URLs, either. If there were some other more elegant me

[2017-01-31 02:57] jarun commented on #103
Why is it important for a bookmark management utility to store the broken/temporarily broken status of pages?

[2017-01-31 03:13] dchang0 commented on #103
Well, that's not actually important. The final goal is the only important part: making it easy to clear out bad bookmarks quickly and without lots of manual labor.

The only reason to have to store a state is only because a server could be down temporarily. If we don't deal with this, it's not necessary to store the state, such as deleting the bad bookmarks immediately.

[2017-01-31 03:17] jarun commented on #103
All I am saying is these statuses are not permanent. They keep changing and if we were to track those properly (in real time) we should find some way to run `buku -u` with some frequency as a daemon in the background.

Let's say a page is showing 404. We mark `Buku` in accordingly. Later the page comes back online but the status is still 404 in `Buku`. Users should never **RELY** on the stored dat

[2017-01-31 03:29] dchang0 commented on #103
Presumably one would run the check just before running the mass deletion for the confirmation that the page is really down. And there would always be the possibility of getting a false positive (user thinks the site is permanently down but it was only temporarily down).

[2017-01-31 03:34] jarun commented on #103
That's what `buku -u --tacit` does for you. For all bookmarks at once. Please run it once first.

I don't want it coming from `Buku`.

[2017-01-31 03:59] dchang0 commented on #103
Understood. I'll have to store the state outside of buku. As it stands, it's too much work to clean up my old database manually.

[2017-01-31 04:09] jarun commented on #103
Thanks for your understanding!

[2017-01-31 07:37] dchang0 commented on #103
How about this idea instead?

Have buku store a "Last seen on [datestamp]" value for each bookmark.

This would never be false, as buku would only update the value if the URL is seen. Thus, it would never produce false positives.

Then, if a user could run searches like this: "show me all the bookmarks that have a Last seen on date older than 90 days" and the user knows for sure that buku had been

[2017-01-31 13:32] jarun commented on #103
`Buku is too busy to track you - no history, obsolete records, usage analytics or homing.`

However, if you are too eager to have this, please extend the `flags` column with a new bit for `last_checked_status`. 0 = OK (default), 1 = some HTTP failure.

[2017-01-31 16:42] dchang0 commented on #103
I'm curious as to why "obsolete records" would be considered "tracking you." A record being obsolete does not reveal anything about the habits of the user to a spying third party. The others, I could understand could expose a user's behavior.

Thanks for the suggestion to extend the flags column. It would have to be a datestamp to be of use.

[2017-01-31 17:04] jarun commented on #103
The same way Google may mine your 2016 search history to *know* you. Anyway, I am not aligned to the datestamp stuff because it is a usage record.

From your earlier comment:

It's actually not, if that's what you want to do and by old database you mean a `Buku` (or importable) database. Run `buku -u --tacit` and redirect the output to a file. Parse (or manually check) the output file for failures

[2017-01-31 17:15] dchang0 commented on #103
Hmm. Well, it seems that we have different definitions for the term "obsolete record," then.

Please allow me to illustrate:

Let's say I bookmark sites A, B, C, and D. Assume no one other than me can see my bookmarks. If B were to go obsolete, that is not through any user action. It happened out of my control (server was shut down). Then, a third party could not deduce any user behavior from B go

[2017-02-01 17:54] kishore-narendran commented on #103
Is the REST API todo still open? Or is someone working on it?

[2017-02-01 22:52] Qu4tro commented on #103
I was thinking about implementing it. Made a small project recently to get the grasps, on Flask-Restful which seems to be a good choice for the problem in hand.

There is still a few things that it's still not clear to me, but I might just be overthinking it. I'm thinking about implementating a small, functional subset first. I have a list of the endpoints that I planned somewhere, that I can post

[2017-02-01 22:55] kishore-narendran commented on #103
@Qu4tro So you are going to work on it? Because, I am also familiar with building RESTful APIs with Flask, and was wondering if I could contribute. Yes it will be great if you can post the list of endpoints, I am curious.

Swagger support might be a little bit overkill IMO.

[2017-02-01 23:14] Qu4tro commented on #103
If you're already familiar I think you should go ahead and create the repository. I will contribute to it as well.
I will post the list later when I get home.

I might be wrong about swagger, but it's gives so much: web gui, other languages clients for API, etc...

[2017-02-02 02:28] jarun commented on #103
@kishore-narendran please start with the REST APIs and @Qu4tro can contribute in. It is a long pending task item and I have come across people interested in this (to have `Buku` as a backend).

REST would be our first target. We'll have a discussion around swagger in phase 2 and take a call. I'm not familiar with it so I'ld have to take a look to understand the pros and cons myself.

[2017-02-02 04:28] jarun commented on #103
@kishore-narendran @Qu4tro I have added both of you as the owner of this task item. Please raise a bug and discuss the design issues, pros and cons, conflicts etc. there. I will pitch in wherever I can.

[2017-02-02 16:45] Qu4tro opened #113 "REST API"
This is the scratchpad I had with the envisioned endpoints:

[code]

Edit: There are still things that are not yet clear, but I was thinking this was a good starting subset:

[code]

[2017-02-03 19:05] kishore-narendran commented on #113
@Qu4tro I think the subset of APIs you are looking it are the most pertinent ones. I still haven't completely figured out the codebase. I am available to work on it in a few more days, in the meanwhile I will update this issue with design, and code samples.

[2017-02-03 19:15] jarun commented on #113
Right!

[2017-02-05 06:45] jarun opened #115 "Support editor args with Buku"
The following command fails with Buku:

`buku -w 'macvim -f'`

As a result macvim opens in the background and exits.

[2017-02-05 06:59] #115 closed

[2017-02-11 03:22] jarun commented on #113
Any update here???

[2017-02-13 18:35] jarun commented on #113
@kishore-narendran @Qu4tro any update here?

[2017-02-13 20:18] kishore-narendran commented on #113
Yes, I've been sketching out stuff on an Independent module for the REST API. I am unfamiliar on how to use SQLite. Do you have any recommendations about that?

[2017-02-13 21:23] Qu4tro commented on #113
Why not use the current BukuDB? I've seen it, and while it needs some refactoring it seems straightforward.

[2017-02-13 22:16] kishore-narendran commented on #113
@Qu4tro I can do that, I did not have a clear look at the BukuDB API. I can use that directly, you are correct. You can expect a first version in a day.

[2017-02-15 14:43] di48l069 opened #119 "File structure"
Hi @jarun

This is just a question why don't you put this project inside a proper python file structure please see link below.

https://github.com/kennethreitz/samplemod

Simple and easy to read and not have 1 file consisting 2921 lines of code.

[2017-02-15 15:28] jarun commented on #119
@di48l069

- How does having all code in a single file make it more complex and difficult to read (as that seems to be your concern)?
- Did you find any non-trivial function that is not commented enough?
- Why should I load multiple files from the disk all the time if loading 1 file is enough? I am assuming not everyone is using SSD yet.
- What the benefit for users?

[2017-02-15 16:11] jarun commented on #119
The answers to all the above questions lead to endless discussions based on personal preferences and biases. I like it this way.

Hence closing this issue.

[2017-02-15 16:11] #119 closed

[2017-02-15 19:36] di48l069 commented on #119
@jarun Had no intensions to upset you was just a question..

Its just how i learned to structure my code and is readable haha had a instant headache browsing your code haha. Reason why i brought it up because i enjoy viewing new changes via my mobile device and the browser gets stuck and crashes i have tried on multiple devices and browsers.

was just an idea and question...

[2017-02-16 02:15] jarun commented on #119
I wasn't upset. The questions I had are the reasons why I use a single file in all of my Python projects.

The file itself is less than 100 KB. You should blame it on weak JS scripting. I faced no issues with Chrome Browser on a reasonably cheap Lenovo A6000.

[2017-02-16 06:01] di48l069 commented on #119
browser is fine on my pc, its the browser on my mobile device.

But its cool you answered my question have a great day.

________________________________
From: Arun Prakash Jana <notifications@github.com>
Sent: Thursday, February 16, 2017 4:15:23 AM
To: jarun/Buku
Cc: Nico Travassos; Mention
Subject: Re: [jarun/Buku] File structure (#119)

I wasn't upset. The questions I had are the reasons why I

[2017-02-16 06:12] jarun commented on #119
[A6000](http://www.fonearena.com/lenovo-a6000_6152.html) is my mobile. :)

[2017-02-16 06:25] di48l069 commented on #119
oh okay my apologies didnt know lenova makes phones i was having issues with Samsung s7 edge

________________________________
From: Arun Prakash Jana <notifications@github.com>
Sent: Thursday, February 16, 2017 8:12:44 AM
To: jarun/Buku
Cc: Nico Travassos; Mention
Subject: Re: [jarun/Buku] File structure (#119)

A6000<http://www.fonearena.com/lenovo-a6000_6152.html> is my mobile. :)

—
You are re

[2017-02-16 06:29] jarun commented on #119
Even I didn't know before i bought this one. ;)

[2017-02-16 06:30] di48l069 commented on #119
hahaha

________________________________
From: Arun Prakash Jana <notifications@github.com>
Sent: Thursday, February 16, 2017 8:29:27 AM
To: jarun/Buku
Cc: Nico Travassos; Mention
Subject: Re: [jarun/Buku] File structure (#119)

Even I didn't know before i bought this one. ;)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ja

[2017-02-17 04:49] jarun commented on #113
This isn't happening.

So @Qu4tro are you OK to start with it alone or do I close this issue? I don't want an issue (with 2 probable contributors) lingering around without a single line of code for a fortnight.

[2017-02-17 08:25] kishore-narendran commented on #113
@jarun I am sorry, I am a graduate student, I had a tough week. This is a WIP on this fork - https://github.com/kishore-narendran/Buku

[2017-02-17 08:35] jarun commented on #113
Do we really need to add so many dependencies? I would love to keep them minimal or at least optional? Is it possible to add the bunch of REST APIs as a layer and if someone needs the functionality then he can install it post core `Buku` install?

[2017-02-17 08:43] kishore-narendran commented on #113
@jarun The dependencies are things that Flask has introduced as a framework. Yes we can do that. I can make the entire REST API a module on its own which depends on Buku but is independent of Buku. I will need some help for that though. I am not extremely familiar with python. Let me try it.

[2017-02-17 08:44] jarun commented on #113
Sure!

[2017-02-17 08:45] kishore-narendran commented on #113
@jarun Do you have any other communication channel? Slack perhaps?

[2017-02-17 08:48] jarun commented on #113
Gitter is good. But I can talk to you in the evening only. IST.

[2017-02-18 13:28] friedrichromstedt opened #121 "Using Buku with Opera"
Hi,

Some years ago, Opera has been refactored completely.  I did not like how bookmarks were reorganised, so I went to use Buku for bookmarking.  After feeding Opera's bookmarks into Buku, I attempted to use Buku with Opera.  To force Buku to open bookmarks in Opera, I am exporting `BROWSER=opera`.  There are two generations of Opera I tried this with: Opera v12.16 (before the refactoring) and Op

[2017-02-18 16:45] jarun commented on #121
Hi,

Seems like a problem with Opera trying to quote UTF-8 characters.

- Does it work well with Google Chrome or Chromium browser?
- Which version of `Buku` are you using?
- Please share the outputs of:
   - `locale`
   - `buku -s buku --deep`

[2017-02-18 18:08] friedrichromstedt commented on #121
Opera 43 is Chromium based, while Opera 12.16 is *not* Chromium based, but uses *Presto*.  Opening bookmarks *does work* with Opera 12.16, but it does *not work* with Opera 43.

I am using Buku 2.8.

Here are the logs you requested:

[code]

Why are you requesting `buku -s buku --deep`?

And about the unicode encoding: Isn't %28 just a plain ASCII `(`?

Another comment on the removal of the colon

[2017-02-18 21:11] jarun commented on #121
I'm talking about the latest Google Chrome browser here. Do you see the issue with it?

Also, can you share a screenshot when the issue occurs please?

[2017-02-18 21:45] jarun commented on #121
I tested on Ubuntu with latest Firefox, Google Chrome, SRWare Iron and Opera 47. While FF, Google Chrome and iron work perfectly, Opera fails with the issue you mentioned and for all URLs!

`openurl` is not a `Buku` api. Maybe Python calls it internally.

In any case, this is in all likelihood a regression with Opera rather than `Buku`.

Closing the issue.

[2017-02-18 21:45] #121 closed

[2017-02-18 21:49] jarun commented on #121
BTW, the following works with Opera:

`export BROWSER=opera-browser`
`buku -o 452`

[2017-02-21 11:09] SamHH opened #122 "Syncing with Chrome"
Is there any way to make this sync with Chrome/Firefox/etc without having to manually import/export after each change?

[2017-02-21 12:27] jarun commented on #122
It's not available now. There is a task item for a browser plugin. Please feel free to pick it up if you are interested.

Closing the issue.

[2017-02-21 13:41] SamHH commented on #122
Ah, I actually would be very interested in doing that. Sorry I missed it.

I can handle the extension side of it quite easily, my only question is how would I go about interfacing with Buku? Some sort of API?

[2017-02-21 14:04] jarun commented on #122
The following APIs would help you:

- `get_default_dbdir()`: gets the Buku  database directory path. The DB file is `bookmarks.db`. It's documented [here](https://github.com/jarun/Buku#operational-notes) as well.
- To add to Buku DB it would be best to use SQLite directly. Please refer to `add_rec()` API for the SQLite command.

Design notes:

 - As the DB file is just SQLite we can avoid Python d

[2017-02-21 14:21] SamHH commented on #122
I suppose the first step is this one: https://developer.chrome.com/extensions/nativeMessaging

Curious to see how browserpass did it: https://github.com/dannyvankooten/browserpass

I'll look into this over the week. Let me know if you have any further insight.

[2017-02-21 14:38] jarun commented on #122
Sure thing! If something else comes to my mind I'll update this thread. Re-opening the issue.

Can't thank you guys enough! Contributors have a large role in where `Buku` is today.

[2017-02-21 15:08] jarun commented on #122
Another capability we can add:

- Import `Buku` bookmarks under a folder `Buku bookmarks`.

[2017-02-22 16:27] SamHH commented on #122
Not very far along yet but I've started working on it. I've got a Go script (first time with Go, pretty fun) successfully pulling a list of bookmarks from the Buku database, and I've got the project setup how I think I want it. Let's see how this goes! https://github.com/SamHH/bukubrow

[2017-02-23 14:14] Paulikid opened #123 "zsh completion is working but shows error"
i sourced the _buku zsh completion in a personal folder in my home directory. The completion is working, but zsh shows "_arguments:comparguments:319: can only be called from completion function"

These are the lines from my .zshrc-file:

fpath=("$HOME/scripts/zsh" $fpath)
source ~/scripts/zsh/_buku

[2017-02-24 18:41] #123 closed

[2017-02-25 01:48] jarun commented on #123
Hey, no problem! Great that you resolved it yourself.

[2017-02-26 14:40] jarun commented on #122
Just noticed you've removed the WIP tag. Excited to try out the first release. :)

[2017-02-26 18:51] SamHH commented on #122
Yep! It's really basic right now, just grabs all of your bookmarks, displays them alphabetically, allows you to search through them and then either hit enter to select the first entry or click/scroll through them manually. It's got a shortcut preset to Shift+Alt+B, and the input is autofocused, so (if you'd prefer) if you hit the shortcut, then start typing, then hit enter, you can go right throug

[2017-02-26 18:58] jarun commented on #122
That's really great news! Once the first release is out, i wanna link  it from the `Buku` README.

[2017-02-26 20:33] SamHH commented on #122
https://chrome.google.com/webstore/detail/bukubrow/ghniladkapjacfajiooekgkfopkjblpn

Firefox will come as soon as it's approved on their addon store.

Closing this issue now as any issues/suggestions can be added over at bukubrow repo. :-)

🎉 🎉 🎉

[2017-02-26 20:33] #122 closed

[2017-02-27 21:06] cinghiopinghio opened #125 "run with python subprocess hang the process"
Hi, great app.
I was trying to get my browsing history/bookmarking unavailable to tracking sites...

To easily access bookmarks (with a bit of eyecandy) I was trying to write a plugin that interfaces `buku` to the [Albert launcher](https://github.com/albertlauncher/albert).

I run into a problem. While calling `buku` with subprocess as:
[code]

I got two different behaviours if i run this bit of c

[2017-02-27 21:33] cinghiopinghio commented on #125
I also tried to write the plugin as a shell script (using bash) but it hangs when I call:
[code]

[2017-02-28 02:47] jarun commented on #125
I'll take a look.

[2017-02-28 03:36] jarun commented on #125
This is what I tried:

[code]

As you can see, I got the desired output (added a print at the end). What is `albert command` (I changed it to `hello`)? Should it be a string in quotes?

[2017-02-28 08:31] cinghiopinghio commented on #125
Hi @jarun,
indeed `albert_query` is just a string and changing it to `hello` is just fine.

In fact when I run my script (that can be found [here](https://github.com/cinghiopinghio/external/blob/master/org.albert.extension.external.buku.py)) from the command line as:
[code]
I get the expected output (just like your). The problem arise when the script is called as a QProcess (from the QT) then, it

[2017-02-28 08:52] jarun commented on #125
I don't have a lot of understanding in Qt either. However, I think `strace` might help you in further investigation.

[2017-02-28 08:56] jarun commented on #125
You can also add/enable logs in `buku` to understand if it's actually called.

[2017-02-28 13:12] jarun commented on #125
I think you should reduce the line and proceed... probably remove jq, then use something simpler like `buku -h` and so on...

Anyway, as the same script you shared is running fine from the terminal I don't think we have an issue with `buku` functionality or return value or printed data here. Probably you need to dive deeper into the QProcess + Python integration. Write some simple Python scripts,

[2017-02-28 13:12] #125 closed

[2017-03-04 03:34] jarun commented on #113
Will we see some new APIs this weekend?

[2017-03-05 23:55] kishore-narendran commented on #113
@jarun: In two days.

[2017-03-06 02:03] jarun commented on #113
:+1:

[2017-03-07 15:41] TjWallas opened #127 "Download full page of each bookmarked item for offline use"
The web is not made of ink. Websites go offline all the time and pages get taken down or removed for various legal and other reasons.

It would be nice if Buku not only downloads and stores the page title but, the full page of each bookmarked item along with its dependencies on external assets, static files and media items for offline use.

Perhaps some wget magic could be used in the process like

[2017-03-07 16:16] jarun commented on #127
`Buku` is not and doesn't intend to be Google Cache or archive.org. You can find more [here](http://cachedview.com/).

[2017-03-07 16:16] #127 closed

[2017-03-07 16:19] jarun commented on #127
I wouldn't say I haven't thought about it in the early stages. But it would be re-writing the Google Search Engine because you don't want to cache pages but the tokens. Storing only the title was a conscious decision.

[2017-03-07 16:45] dheerajkrishna90 commented on #103
Hello jarun, I am new to open source world.I want to contribute to your project.I know Python. How can i help you?

[2017-03-07 17:42] jarun commented on #103
@dheerajkrishna90 unfortunately our test cases are much behind our implementation. Can you start with adding more test cases for new APIs/functionality?

[2017-03-07 23:55] dheerajkrishna90 commented on #103
yeah okay, @jarun should I test cases test_helpers.py or test_bukuDb.py?

[2017-03-08 02:23] jarun commented on #103
You have to write the new cases for class `BukuDb` in in test_bukuDb.py, generic APIs in `test_helpers.py`.

[2017-03-08 02:25] dheerajkrishna90 commented on #103
Yeah got it

[2017-03-08 04:46] castellanprime commented on #103
Hi. I am a somewhat new contributor to open-source software. I have always wanted to contribute to a python project. Is there a task that I can do to be familiar with your codebase? Thanks.

[2017-03-08 05:04] jarun commented on #103
@castellanprime can you team up with @dheerajkrishna90 and work on adding new test cases to strengthen our automated build process? We really need to beef it up with solid test cases that take care of corner cases etc. One of you can open an issue and discuss your plan there.

[2017-03-08 05:11] castellanprime commented on #103
@jarun Okay

[2017-03-08 09:58] dheerajkrishna90 commented on #103
yeah @castellanprime  we will work together

[2017-03-08 10:00] jarun commented on #103
I would love to see test cases where the current logic fails.

[2017-03-09 10:22] TjWallas commented on #127
@jarun Thanks for the link and clarifying the intent behind Boku. But personally, I think "Your mini web!" in the repo description is a bit mis-leading. The first thing that came in mind when I read this sentence was the functionality I described here :)

[2017-03-09 10:33] jarun commented on #127
Web == full page; mini web == only page title ;). Cheers!

[2017-03-18 02:28] rachmadaniHaryono commented on #103
@jarun , @castellanprime , @dheerajkrishna90 is anyone working on test? can i also working on it? i will start with BukuHTMLParser class.

[2017-03-18 02:33] jarun commented on #103
@rachmadaniHaryono AFAIK, no one is right now. Please start right away.

We are far behind implementation in tests. I would love to see dozens fail.

[2017-03-18 03:33] rachmadaniHaryono commented on #103
@jarun, i add pr for this #130.

 is it to your liking? if everything is correct i will add another test for class/func.

[2017-03-22 19:11] pierrediancourt opened #134 "Running Buku in Ubuntu 14.04 using "windows subsystem for linux""
Hi,

I want to use your project on my W10 computer.
Windows subsystem for Linux is installed and functional (running redis and mongodb with it when developping some nodejs projects).
I followed these instructions to install your project on this up to date Ubuntu 14.04 system :

[code]

[code]

Here is the error i encounter (exact same error dump whatever the params i can try to pass to buku)
[code

[2017-03-22 20:29] rachmadaniHaryono commented on #134
If you can use pip, you can fix this by running `pip install requests`

[2017-03-22 20:39] shaggytwodope commented on #134
@pierrediancourt This is a failure on my part, I'm fixing the depends for the ppa as we speak. Within the hour it should be updated accordingly. Any future issues feel free to contact me.

[2017-03-22 20:45] shaggytwodope commented on #134
@rachmadaniHaryono while it is a solution, it's generally encouraged to install things via the users package manager. In this case it would be the package `python3-requests`. Things installed from pip must be manually updated, and provides a weak point for security updates should the user not be aware of any important fixes.

[2017-03-22 21:04] rachmadaniHaryono commented on #134
@shaggytwodope I'm not aware request is in ppa, thanks for the info

[2017-03-23 02:05] jarun commented on #134
Requests is in PPA. I tested it when I wrote the [dependencies section](https://github.com/jarun/Buku#dependencies).

@shaggytwodope is right; if its packaged, there shouldn't be any additional steps.

[2017-03-23 12:40] pierrediancourt commented on #134
Nice, thanks a lot, updating and upgrading did the job

[code]

`root@machine:~# buku`
Now returns the helper as expected
You can close this issue =)

[2017-03-23 13:05] pierrediancourt commented on #134
Ok there's more errors related to dependencies.

[code]
Same error dump for buku -w for example

[2017-03-23 13:57] jarun commented on #134
Are you on Python 2.7?

Just run:

`python3`
and share the output. Buku needs Python 3.3 or above.

You can also try to upgrade the requests package:

`pip install --upgrade  requests`

[2017-03-23 14:28] pierrediancourt commented on #134
[code]

So my python version is okay.
pip wasn't installed. Just did :

`sudo apt-get install python-pip`
[code]

[2017-03-23 14:46] jarun commented on #134
What is the output of:

`/usr/bin/env python3`

[2017-03-23 14:48] pierrediancourt commented on #134
The one we want so i'm really not sure it's the root of the problem
[code]
2.7 and 3.4 comes from the base ubuntu install and coexists perfectly, nothing's weird about any tests i made on theses.

[2017-03-23 14:49] pierrediancourt commented on #134
Ok i it's just pip that is using 2.7 to upgrade requests

[2017-03-23 14:50] jarun commented on #134
I am using Ubuntu 16.04 and my output is:

`$ which python
/usr/bin/python
$ which python3
/usr/bin/python3`

I can think of 2 ways out of this:

1. Ty installing python 3 and dependencies using apt if they are available:
`$ sudo apt-get install python3
sudo apt-get install python3-urllib3 python3-cryptography python3-bs4 python3-requests`
2. You can also try creating a softlink to python3 executa

[2017-03-23 14:51] jarun commented on #134
Ahh... you should use `pip3 install ...`

[2017-03-23 14:55] pierrediancourt commented on #134
I was just doing it :D

[code]

Still having the same dump from buku -V or buku -w

[2017-03-23 15:00] pierrediancourt commented on #134
Okay all is fixed now after

[code]

[2017-03-23 15:00] #134 closed

[2017-03-23 15:01] jarun commented on #134
Thanks for the confirmation! Enjoy `Buku`!

[2017-03-23 15:02] pierrediancourt commented on #134
Thanks ! :)

For documentation purpose here is the full installation process to make it work on WSL/ubuntu 14.04.5 LTS

[code]

[2017-03-23 15:17] jarun commented on #134
Do you need to do the same for beautifulsoup4 and cryptography as well? You can check easily in the following scenarios:

1. `buku -l`
2. `buku -i bookmarks.html`

where bookmarks.html is the html export from FF/Chrome.

[2017-03-23 15:38] pierrediancourt commented on #134
[code]
And the other command seems to work (spamming the terminal with some errors but only about duplicated entries in my .html file apparently.

[2017-03-23 15:44] pierrediancourt commented on #134
[code]

Did it even if i didn't find any errors reporting to this module yet.

[2017-03-23 16:18] jarun commented on #134
You need to use `sudo`, right?

[2017-03-23 16:45] jarun commented on #134
Ahh sorry! I missed `root@machine`. Anyway, I think we have found the reason behind the issue - the default packages on Ubuntu 16.04 do not match the requirements which is purely environmental.

Thanks for sharing the basic instructions!

[2017-03-25 07:40] friedrichromstedt commented on #121
Dear Jarun,

Thanks for your investigation and verification.  I agree on that the problem might originate from Opera.

I have the hope to find a work-around by reproducing your `opera-browser` approach.

When trying to use `export BROWSER=opera-browser`, the respective URL is opening in Firefox on my side.  There is no `opera-browser` on my Arch Linux system.

Maybe you could issue a `$ type opera

[2017-03-25 10:24] jarun commented on #121
Hi,

I am using Ubuntu. I think `export BROWSER=opera-browser` was not solving the problem. I set Opera Browser as my preferred browser and that solved the problem. You'll have to find something like that on Arch. Here's a screenshot:

![Opera 43](http://oi68.tinypic.com/14lpqvk.jpg)

[2017-03-26 11:32] jarun commented on #113
If the way this is going is any indication, we'll have a nightmare maintaining it when we get issue reports.

[2017-03-26 11:32] #113 closed

[2017-03-27 12:52] jarun opened #135 "ToDo List"
Continued from #103.
#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to assist any new contributor. We need your help!

Some of the fresh-baked features may not have been released yet. Grab the master branch for those.
#### Identified tasks

[2017-03-27 12:53] jarun commented on #103
Rolled at 135.

[2017-03-27 12:53] #103 closed

[2017-03-29 22:04] taziden commented on #127
I was happy to discover this issue because that's exactly what was missing for me in Buku and then I found the rest of the conversation which made me quite sad.
What is the purpose of having bookmarks if they lead to pages which doesn't exist anymore ? Giving the opportunity to have a local (and not at Google's :sigh:) copy is a killer feature and would make buku the ultimate bookmark manager for

[2017-03-30 02:29] jarun commented on #127
No search engine actually saves full pages of websites, if that's what you are looking for. That's what caching websites are for.

That's not the purpose of Buku.

Buku does that, but not the entire content of any resource available on the internet.

Looking at your arguments it seems like you are looking for a local utility to store data from the internet so that you can find it later. Buku doesn

[2017-04-02 16:26] dertuxmalwieder opened #142 "Bug: Buku (Windows 10, Firefox as a default browser) opens "all bookmarks" in the same tab."
I'm currently evaluating Buku as a portable alternative to Xmarks.

One of the features of the default Firefox bookmarks I regularly *need* is the possibility to open a whole "folder" (in Buku, probably, a "tag") as new tabs. Buku can theoretically do that - but it opens all websites in *the same* tab, rendering this feature "broken" for me.

Maybe it should try to find the default browser and, if

[2017-04-02 16:27] dertuxmalwieder opened #143 "Suggestion: Take folders into consideration while setting the tags during import from Firefox."
Just an idea:

I use folders and subfolders in my Firefox bookmarks extensively. Buku's import ignores them completely. Maybe it should add them as extra tags.

[2017-04-02 16:28] jarun commented on #142
Are you using `buku -o`?

[2017-04-02 16:38] jarun commented on #142
You are facing this only when FF, is not open, right?

[2017-04-02 16:45] jarun commented on #142
I am able to reproduce this with FF (but not Google Chrome). I'll change the `webbrowser.open()` call, but this may not handle the first race condition case (no browser window open) discussed in the solution [here](http://stackoverflow.com/questions/21843684/opening-multiple-links-in-default-browser-as-tabs-why-do-i-get-multiple-windows). Let's face it, FF is a slow starter.

[2017-04-02 16:48] #142 closed

[2017-04-02 16:50] jarun commented on #143
See #80.

[2017-04-02 16:50] #143 closed

[2017-04-02 16:52] dertuxmalwieder commented on #142
I can live with that. I have Firefox open all the time. Thank you!

[2017-04-02 18:03] dertuxmalwieder commented on #135
Maybe make the web browser configurable? i.e. when you're on a system where your default browser is Firefox but you want to open bookmarks in Lynx because you're on a terminal anyway. Probably:

1. Add a `--browser` option with the binary as an argument.
2. Move the `webbrowser.open()` into an `else` case and add an `if` case for *whether* `--browser` was passed *and* the argument is a valid binar

[2017-04-02 18:28] jarun commented on #135
Try the `BROWSER` environment variable:

`BROWSER=firefox buku -o 3`

[2017-04-02 18:31] dertuxmalwieder commented on #135
Does not work on Windows.

`set BROWSER="C:\Program Files\Some Browser\Browser.exe"` does neither.

[2017-04-02 19:10] jarun commented on #135
Not really a buku problem. A quick google search leads to http://stackoverflow.com/questions/25875093/how-to-set-browser-environmental-variable-for-python-webbrowser

but I don't *pay and use windows*.

[2017-04-02 19:18] dertuxmalwieder commented on #135
The last time I had to *pay* for Windows was in 2001. Later versions came preinstalled (for free) or over MSDNAA (for free).

I can confirm that the `SET BROWSER=Something not in quotes` answer works for me indeed.

[2017-04-02 19:27] jarun commented on #135
LoL!!! :+1:
Thanks for the confirmation.

[2017-04-02 23:36] dertuxmalwieder commented on #142
a1c1092 does *not* fix the issue on Windows 10. Firefox is opened but `buku --oa "some tag"` does still open all 3 sites in the same tab, sequentially. :(

[2017-04-02 23:44] dertuxmalwieder commented on #142
Not working with Vivaldi (Chrome-based) and qutebrowser either: Opens the first page, waits for me to exit the browser, opens the second page in a new instance, waits for me to exit the browser, opens the third page in a new instance.

[2017-04-02 23:45] jarun commented on #142
What happens with simple open? Without the fix? Same behaviour?

[2017-04-02 23:49] dertuxmalwieder commented on #142
Yes, the *upstream* Buku does the same thing.

[2017-04-02 23:52] jarun commented on #142
Well, this is beyond Buku and goes into the realm of Python webbrowser module's behaviour on Windows. I've made the sanest change by the docs and don't have anything else up my sleeves right now.

[2017-04-02 23:58] dertuxmalwieder commented on #142
Actually [it is intended](https://docs.python.org/3/library/webbrowser.html) (the module will literally just wait). Looks like the "solution" [are threads](http://stackoverflow.com/a/1149285/1835564).

[2017-04-03 00:12] jarun commented on #142
Does the following patch work for you?

[code]
I don't see any difference on Ubuntu.

[2017-04-03 00:18] dertuxmalwieder commented on #142
No, because Windows's `os` does not have `fork()`.

What "works" is:

diff --git a/buku.py b/buku.py
index 0fbce7a..d3fe5a3 100755
--- a/buku.py
+++ b/buku.py
@@ -2245,7 +2245,16 @@ def browse(url):
         os.dup2(fd, 2)
         os.dup2(fd, 1)
         try:
    -        webbrowser.open(url, new=2)
    +        if sys.platform != 'win32':
    +            pid = os.fork()
    +        else:
    +

[2017-04-03 03:17] jarun commented on #142
I'll pass. This would be a nasty hack with no clean resolution.

Now coming to:

Intended or not, I believe the behaviour is very inconsistent and should be fixed in the right module so that a mere `webbrowser.open()` API user doesn't have to dig the internet and try forks and threads. I may look at some alternative way of handling this and throw webbrowser out of the window but can't spend more t

[2017-04-03 03:59] zmwangx commented on #142
Is this specific to Windows, or does it happen with FF and gang on *nix too? Any if it's the latter, does `new=2` fix it on *nix?

To troubleshoot, one should just go read https://github.com/python/cpython/blob/master/Lib/webbrowser.py, which is pretty straightforward.  If you can figure out the problem and cook up a patch, then great, submit a pr to python/cpython; if you can't, report it to http

[2017-04-03 07:31] dertuxmalwieder commented on #142
I currently don't have a Unix system with a GUI ready. I might check it later.

I'm not sure if having a broken core feature on most desktop systems would not rectify that *waste*. It looks like threads or something with the `multiprocessing` module (which probably does the same thing on Windows) is the only real chance here.

(Sorry, my daytime job prevented further investigations yesterday.)

[2017-04-03 08:02] jarun commented on #142
Nope. I see the original issue you mentioned on Linux only when FF wasn't open. Which you mentioned is livable in https://github.com/jarun/Buku/issues/142#issuecomment-290998636.

The subsequent issues seem to be occurring on Windows only. At least I don't see those happening (with https://github.com/jarun/Buku/commit/b74cfa0a5fc0fddffd754c9c6306e80c45c86cbd in place) with Firefox or SRWare Iron (

[2017-04-03 08:09] jarun commented on #142
BTW, in FF do you have "Open new windows in a new tab instead" checked?

[2017-04-03 09:21] dertuxmalwieder commented on #142
Yes, I do.

[2017-04-03 09:21] dertuxmalwieder commented on #142
Linux is not "most desktop systems". ;->

[2017-04-03 10:37] jarun commented on #142
- "most desktop systems" came from https://github.com/jarun/Buku/issues/142#issuecomment-291068567. I didn't realize I'll have to backtrack.
- clarification: I'm pretty sure you understand it should be read as *"most desktop systems" belonging to users of Buku*. And they are not Windows users. Buku is quite broken on Windows. I'm not seeking a mass GUI user exodus to buku either. This is probably

[2017-04-03 10:55] dertuxmalwieder commented on #142
OK. :-) I'll check if I can help you out. Some time this week... (I have a number of other projects too.)

[2017-04-04 08:25] jarun commented on #142
Thanks for the PR and testing it out for various scenarios!

Even if I had taken this up in a week or a month I wouldn't know what to do with it without having the OS to test any changes.

[2017-04-04 09:43] dertuxmalwieder commented on #142
No problem. :-) Always glad to bring more Windows into the world. >:-)

I haven't found other problems (except the "one tab only" problem) during regular use yet. I'll send more PRs if they appear.

[2017-04-06 04:32] jarun commented on #143
@dertuxmalwieder we have import folders as bookmarks at https://github.com/jarun/Buku/commit/f1a5cd4b883cf077c30069dfb1ba3507f291e5d8 :).

[2017-04-06 04:33] jarun commented on #80
@cpaulik we have import folders as bookmarks at https://github.com/jarun/Buku/commit/f1a5cd4b883cf077c30069dfb1ba3507f291e5d8 :).

[2017-04-06 06:25] mohammadKhalifa commented on #135
@jarun you should mark "Option to add folder names as tags while importing HTML" as done

[2017-04-06 06:28] jarun commented on #135
Done!

[2017-04-06 07:14] dertuxmalwieder commented on #143
Awesome, thanks!

[2017-04-07 14:56] cinghiopinghio opened #147 "import buku as library"
Dear @jarun, I read from the README that it should be possible to access to `buku` as a python library.
As I cannot find a workaround to https://github.com/jarun/Buku/issues/125, I really would like to attack this problem using `buku` as a library but somehow I cannot import it.
[code]

I'm on Archlinux with buku 2.9 installed.

I'm doing something wrong?

[2017-04-07 15:21] shaggytwodope commented on #147
Previous install method made use of the makefile, this has never dawned on me to update based on previous work. I've now updated the package accordingly. You can see the commit [here](https://aur.archlinux.org/cgit/aur.git/commit/?h=buku&id=1da1fb812eadaec0ac940c954eb911fc6ca26209) Please try this again after updating the package. Sorry for this.

[2017-04-07 15:26] cinghiopinghio commented on #147
Thanks @shaggytwodope, it worked like a charm now.

Closing

[2017-04-07 15:26] #147 closed

[2017-04-08 16:52] Hund opened #148 "Searches should not be as strict"
I think it's a bit to strict right now. :) It should at least mach anything that partly matches "trans".

[code]

[2017-04-08 16:55] shaggytwodope commented on #148
Would assuming all queries a "wildcard" effect performance for larger collections of bookmarks?

[2017-04-08 20:22] jarun commented on #148
I just go by google for defaults. Power users have regex searches. Try it and have fun.

[2017-04-08 20:23] jarun commented on #148
And then we have `--deep` too! Come on!!!

[2017-04-08 20:25] Hund commented on #148
Oh, `--deep` seems to the flag that makes the search feature sane. Its feature should be built in with `-s`.

[2017-04-08 20:26] Hund commented on #148
No idea what Google and regex has to do with this though.

[2017-04-08 20:35] jarun commented on #148
I saw this earlier as well: http://stackoverflow.com/questions/1835148/why-doesnt-google-offer-partial-search-is-it-because-the-index-would-be-too-la

in the line of @shaggytwodope

[2017-04-08 20:41] jarun commented on #148
Did you try the following options:

    buku -r pattern
    buku -s/S pattern --deep

[2017-04-08 20:41] #148 closed

[2017-04-08 20:42] jarun commented on #148
And no, this won't be the default, for obvious reasons. If you need it as the default, set an alias.

[2017-04-12 08:41] lsbernardes opened #150 "Table bookmarks has no column named flags"
When I try to add a new item to the bookmark I get this message:
`[ERROR] add_rec(): table bookmarks has no column named flags`

I tried updating the DB and got this error:
`Traceback (most recent call last):
  File "/usr/local/bin/buku", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.5/dist-packages/buku.py", line 2880, in main
    args.immutable, args.threads)
  File "/

[2017-04-12 08:56] jarun commented on #150
When did you install Buku the first time? There was a sample code to update older versions of the DB and I removed it in one of the latest releases. That may be the issue here.

[2017-04-12 08:59] jarun commented on #150
Try running the version from https://github.com/jarun/Buku/blob/v2.8/buku.py or 2.7 (where flags were introduced). It should create the flags column and anything else missing when run the first time.

[2017-04-12 09:05] lsbernardes commented on #150
A couple months ago. Actually, now I remember I recently upgraded buku (pip).

I'll try this, thanks. (But there is a way to make my DB compatible with the new version?)

[2017-04-12 09:10] jarun commented on #150
Nope, as I said I removed the logic in the latest code. You can download the single file, run it once and remove it. Keep using your pip installed version.

[2017-04-12 12:06] jarun commented on #150
Please let me know if it works.

[2017-04-12 12:46] lsbernardes commented on #150
It works. Thanks, @jarun

BTW, nice work! I'm glad I don't need to use Delicious anymore

[2017-04-12 13:24] jarun commented on #150
My pleasure! Please leave a star as your token of appreciation! :+1:

[2017-04-12 13:24] #150 closed

[2017-04-12 13:25] jarun commented on #150
Note: While I could add it in, I didn't want to run a defensive code at every startup and add some minor delay. The workaround is pretty quick.

[2017-04-17 12:53] kseistrup opened #151 "Please respect umask"
I had umask set to 0027 when invoking `buku` for the first time and storing a URL, yet the `~/.local/share/buku` directory ended up with permissions 0755 (expected: 0750) and the `bookmarks.db` ended uip having permissions 0644 (expected: 0640).

* buku v2.9
* python v3.6.0

[2017-04-17 13:16] jarun commented on #151
What is your umask output? We do not add any special permissions for these files. Here's what I see on m system:

[code]

Results after changing the umask to 0027:

[code]

The perms are consistent with the umask in both the cases. On Linux there are ways to override umask (e.g. using ACLs). Please check if you have are seeing any of those cases.

As I mentioned, there is no tweaking of default pe

[2017-04-17 13:17] jarun commented on #151
Closing the issue with the above explanation.

[2017-04-17 13:17] #151 closed

[2017-04-19 06:09] gyulaweber opened #152 "force push"
Hi!

I think your project is interesting and very useful, so I think it's worth telling that I've notified you did a force push, and it took a few minutes to figure out where is my ~HEAD :)

don't misunderstand me, just telling my opinion, 100 test commit is much better than a confusing state, at least for me, in case you're interested.

Anyways, thanks for working on this, I like it :)
(feel free

[2017-04-19 06:25] gyulaweber commented on #152
I was planning to do so, but wheh... nevermind.

[2017-04-19 06:45] jarun commented on #152
I must admit I use rebase and force pushes a lot... mostly to keep related commits in a single commit. So just make sure you check the upstream history once before you rebase. Thanks!

[2017-04-19 08:23] jarun commented on #152
BTW, if you had any feature in mind but don't want to contribute anymore, we can still add it in the ToDo list. I understand your issue with the force pushes, doesn't mean we have to abandon an interesting idea. Truce!

[2017-04-26 14:14] jarun commented on #152
Whatever...

[2017-05-05 13:39] lukaszkarbownik commented on #135
1. When using --np mode exit code should be different than 0 when search or action fails - this would allow for using Buku in custom scripts
2. It would be awesome if there was a way to perform a search and immediately open all found results. Currently it seems impossible to use -s and -o flags together.
`Buku <some query> -o` opens a random bookmark.

[2017-05-05 14:09] jarun commented on #135
1. It's not so simple because it's not a direct API call. The API `searchdb()` indeed returns number of results or None. I would suggest you write yourself a small wrapper that calls the API directly.

2. Did you try:

`buku -s hello --oa`
?

[2017-05-06 23:27] SamHH opened #158 "Feature request: Bookmark validity check"
Hey there. I was checking out the articles in the README and the top comment on this one would be really helpful I think (my bad if this was already requested, I couldn't find it): https://itsfoss.com/buku-command-line-bookmark-manager-linux/

Here's what it says:

`
I'd like to see buku check bookmarks to make sure they work, i.e., if they cannot pull down the title from the web, mark as potentia

[2017-05-06 23:40] rachmadaniHaryono commented on #158
i also not quite sure if that is already requested, but one of the bug here implied one of the same thing (but require another feature for that completely)

#127

this will need definition of `work`. webpage can be various error (e.g. 404 or 303) or redirected, only open for certain times, passworded, locked, ip-blocked, etc. catching everything is very hard feature for buku (and may need speciali

[2017-05-07 01:21] jarun commented on #158
The way to do it is:

[code]
As soon as I provide n option to delete stuff automatically, I'll get counter-issues saying this error code was acceptable, my bookmark got deleted. This is too subjective and personalized stuff. I wouldn't want to go down that line. Web pages come back, throw tons of errors. So please do the deletion manually. Buku supports multiple ids, ranges with delete. That's all

[2017-05-07 01:21] #158 closed

[2017-05-07 01:22] jarun commented on #158
yes, you can write a simple parser to parse the failed ids and delete them, but let's not do it in buku. we can add as an example though!

[2017-05-12 01:51] QiangF opened #159 "Feature request: auto complete tags"
I use firefox's bookmark manager, it has the convenience of auto complete tags and make the tagging system more consistant, i.e. few typos. But manage bookmarks in firefox is too slow when the number of bookmarks grow.

[2017-05-12 02:50] jarun commented on #159
In the latest release you can literally manage tags with >>, >, << at the prompt.

If you are looking for auto-completion, please check the [related projects](https://github.com/jarun/Buku#related-projects) section. There are nice utilities those use Buku and provide further flexibility.

[2017-05-12 02:50] #159 closed

[2017-05-19 16:45] teto opened #161 "[ERROR] Beautiful Soup not found"
Installion via pip gives no error but upon trying to import my firefox bookmarks, it triggered the error:
`[ERROR] Beautiful Soup not found`
solved with `python3 -mpip install -U --user beautifulsoup4` but pip should have installed it automatically.

Side question: do you know any example of people using buku with qutebrowser ? I am curious about their workflow.

[2017-05-19 17:29] jarun commented on #161
@shaggytwodope do we need an additional instruction to install bs4 via pip3?

People tried, there were issues, they got [fixed](https://github.com/qutebrowser/qutebrowser/issues/2491).

[2017-05-19 17:34] shaggytwodope commented on #161
@jarun no need, it's covered in the read me fully. Right under the line: [`To install package dependencies using pip3, run:`](https://github.com/jarun/Buku#dependencies).
As I see it nothing needs to change documentation wise in this regard, folks just gotta be sure to read the whole thing.

[2017-05-19 17:37] jarun commented on #161
I completely agree!

[2017-05-19 17:37] #161 closed

[2017-05-21 14:47] teto commented on #161
ok didn't realize it was imported only for the import feature. Even if ultimately the error is mine for n,ot looking the README, the error message could be improved because I was not sure if "Beautiful soup" was a bookmark it could not import or sthg else. That's only when looking at the source I got that.
A message such as `Beautiful Soup not found: 'python3 -mpip install -U --user beautifulsoup4

[2017-05-21 15:10] jarun commented on #161
I wish you had read the manual first so you knew there's something such as Beautiful Soup. If we see more users making facing this we will consider it. But not right away.

[2017-05-21 18:50] Chinggis6 opened #162 "Error on buku -p"
Traceback (most recent call last):
  File "/usr/local/bin/buku", line 3310, in <module>
    main()
  File "/usr/local/bin/buku", line 3225, in main
    bdb.print_rec(0)
  File "/usr/local/bin/buku", line 1264, in print_rec
    print_single_rec(row)
  File "/usr/local/bin/buku", line 2381, in print_single_rec
    print(pr)
UnicodeEncodeError: 'ascii' codec can't encode character '\xb7' in position

[2017-05-21 18:51] Chinggis6 commented on #162
Why do I get the error above when i run `buku -p`? Please help me with solving that. I install buku using `pip` on Arch Linux (but I also can use `pacman` or install it form `AUR`).

[2017-05-21 23:31] rachmadaniHaryono commented on #162
Hi @Chinggis6, it looks like you are using python2.7

If it is correct,  can you please reinstall it using pip3

[2017-05-22 00:44] jarun commented on #162
Either that or https://github.com/jarun/Buku/issues/30.

[2017-05-22 00:44] #162 closed

[2017-05-22 06:18] Chinggis6 commented on #162
Thanks, setting the locale to UTF-8 solved the issue:

    export LC_ALL=en_US.UTF-8

I uncommented the right line in `/etc/locale.gen` and re-generated locale using `locale-gen` but it did not set the variables for some reason.

So, I had to set the environmen variable manually using `export`; I wonder why the previous attempt failed.

[2017-05-23 09:46] Chinggis6 opened #163 "Consistent syntax"
I always tend to forget and have to check again in the man page for `buku`'s syntax and options.

As I often use other command-line applications such as [taskwarrior](https://taskwarrior.org/) and [pass](https://www.passwordstore.org/) on Linux so I always naturally expect `buku` to act similarly listing bookmarks with `buku ls`, deleting with `buku rm`, and adding with `buku add`, but unfortunate

[2017-05-23 09:49] jarun commented on #163
Please use the auto-completion scripts in that case.

[2017-05-23 09:55] jarun commented on #163
To be a little more elaborate, this is the first time I am seeing a request like this. Buku has 1000s of users. In addition to the auto-completion scripts, I can also suggest another way to achieve this - use your own aliases in you shell's rc file.

[2017-05-23 09:55] #163 closed

[2017-06-09 01:49] hao-lee opened #164 "Feature request: tag qualifier"
A URL can have many tags, so it would be very useful if we can use tag qualifier. A good example is GitHub Issues which can match issues having the label "A" but lacking the label "B".

I think the command line options may like this:
[code]

[2017-06-09 02:09] jarun commented on #164
The way it is now is `Buku` can search only one tag at a time. I haven't noticed anyone asking to expand it to even multiple tags yet which should be the logical first step. Sure we can make it much more complex than it needs to be (reason: `Buku` is much more personal. You already know and can identify your bookmarks quickly which is not the case with github) but I wouldn't attempt it as long as

[2017-06-09 02:09] #164 closed

[2017-06-09 06:14] carnager opened #165 "listing tags uses a pager - breaks scripts like buku_run"
scripts like buku_run depend on stdout of programs to be able to manipulate/use the data. Seems buku changed its behavior from spitting tags to stdout to open them in PAGER instead, which is an interactive mode. Is there a flag to change this?

Relevant bug report: https://github.com/carnager/buku_run/issues/9

[2017-06-09 06:33] jarun commented on #165
We are not using PAGER anywhere in `Buku` AFAIK. I'll check what went wrong. Maybe `stdout` changed to `stderr`? Will that affect you?

[2017-06-09 07:15] isaaclo123 commented on #165
it seems that this problem can be resolved by just using the --noprompt argument.

[2017-06-09 07:26] jarun commented on #165
Thanks for confirming. Yes, I believe Rasmus kindly wrote this useful script at the very nascent stage of `Buku` when we didn't have the complete subprompt in place.

Closing the issue accordingly.

[2017-06-09 07:26] #165 closed

[2017-06-09 07:34] carnager commented on #165
aaah, thank you

[2017-06-09 09:15] carnager commented on #165
or is there another way to list all tags that I am not aware of? :)

[2017-06-09 12:02] jarun commented on #165
Please use `--np`. Please refer to the [latest help](https://github.com/jarun/Buku#usage) ;).

[2017-06-18 07:44] drbraden commented on #135
It's be nice to have ```created_at``` and ```updated_at``` fields in the bookmarks table of the database to timestamp the records.  Then you could also search by date range, especially since records' index values don't provide old/new context once they've been moved to fill in holes from deleted records.

```created_at``` would only be set at the time the record is first created.  Upon creation, `

[2017-06-18 09:50] jarun commented on #135
@drbraden from the introduction section - `Buku is too busy to track you - no history, obsolete records, usage analytics or homing`. Please read it, It's there for a reason.

[2017-06-20 02:48] rachmadaniHaryono commented on #135
Because there is no example of python script using buku, i write a simple script to print status code of saved url on buku. i'm not quite sure where to put it, so i put it here until there are more example

script use grequest from https://github.com/kennethreitz/grequests

[code]

[2017-06-20 03:46] jarun commented on #135
Very useful. Please add it under the `As a Library` section in README.

[2017-06-29 18:57] Infinisil opened #168 "Completions installation"
Is there a reason the bash/zsh/fish completions don't get installed? On *nix you'd put them probably here (source: NixOS uses this to autodetect installed completions by packages):
- `/share/zsh/site-functions`
- `/share/bash-completion/completions` (or the older `/etc/bash-completion.d`)
- `/share/fish/vendor_completions.d`

I could do a PR which does that, additionally the Makefile could be bett

[2017-06-29 23:25] jarun commented on #168
We really tried once ;). Please refer to https://github.com/jarun/googler/pull/88 for a context on this. If the user needs to tinker with automated stuff (that doesn't work as he intends it to), he can as well do it manually himself.

The number of users googler or Buku has today confirms that people don't mind doing the tiny bit themselves. But I can suggest something else - a generic comment at

[2017-06-29 23:45] Infinisil commented on #168
Ah, I didn't know about that discussion, good points. Although it's hard to know exactly how everybody's installing it, without enforcing this structure from the beginning of the project I think it would be too confusing to change it now. On the other hand I'd think that people who use the command line to manage bookmarks shouldn't really be confused by this.

What do you think about adding an opt

[2017-06-29 23:51] jarun commented on #168
You do that and then our smartest user would expect you to take the prefix into consideration too. The next thing you see - all of them outsmart us. Rule of the thumb - they are all smarter than we think ;).

[2017-06-29 23:51] jarun commented on #168
I am fine with linking to the shell manuals.

[2017-06-30 00:10] Infinisil commented on #168
Fair enough

Well, actually the manuals are pretty bad for that I just found out.. the only other thing I can think of is putting an example of sourcing the file in, but then we have replicated information here that could be looked up elsewhere.

You convinced me, it's probably best how it is for now :) Have a good day!

[2017-06-30 00:10] #168 closed

[2017-06-30 00:11] jarun commented on #168
:+1: you too!

[2017-07-11 03:26] jarun opened #169 "Python 3.6 support: enable Python 3.6 in Travis"
@rachmadaniHaryono I have released Buku v3.1 just now. We haven't tested it on Python v3.6 yet. Can you please enable 3.6 in Travis and ensure the test cases run fine on it?

[2017-07-11 06:39] rachmadaniHaryono commented on #169
i think this should be no problem.

cmiiw [the changelog](https://docs.python.org/3/whatsnew/3.6.html) didn't mention anything that we should notice

there is also this warning on all python version test

[code]

but i can assume it should not hinder the user for now

[2017-07-11 06:47] shaggytwodope commented on #169
Should be worth noting all Arch Linux users of buku have never reported issues. (Prior to 3.1 release of course). Arch defaults to Python 3.6.1 for a rather long period now.

[2017-07-11 07:16] jarun commented on #169
We had a bug earlier on the security warning. Please refer to https://github.com/jarun/Buku/issues/94. I don't see it on my system. Are you you seeing this warning?

[2017-07-11 07:33] rachmadaniHaryono commented on #169
i'm using python3.5 and don't see it unlike in travis.

so just keep this as note for future tester.

not quite sure if #94 is not effectively fix this or pytest add such as pytest-catchlog on enable the warning. but lets ignore it anyway.

[2017-07-12 04:56] tralston commented on #135
I love Buku. What would you think about adding a field to the sqlite3 db for the text of the page? The page's text could be extracted while fetching the title, and all the html tags could be stripped off. It would then be available for searching.

Example: There are several pages that I bookmark to read later or have already read, but the keyword I'm searching for isn't always contained in the tit

[2017-07-12 06:00] jarun commented on #135
Yes. You are asking for a local Google search engine. Search wouldn't remain a plaintext search anymore. The RoI isn't reasonable.

[2017-07-12 15:34] mraxilus opened #171 "Ability to specify database location"
It would be nice if I were able to specify the location of the database file to use, as I like to separate my work bookmarks from my personal ones.

Perhaps even a flag such as `--database` which would allow you to specify which database the command should deal with.

[2017-07-12 16:13] jarun commented on #171
Why not use a tag, say... `professional`? If you ever need you can export specific tags too.

Coming to the option of specifying the DB location:
Switching databases is prone to human errors. Buku is written as a library. If you really want it you can do it at an API level. Check the classes:

[code]

I would like to keep Buku simple for the regular users.

[2017-07-12 16:53] #169 closed

[2017-07-15 18:56] absolutejam commented on #135
Awesome work here! I'm starting up rely on this more and more, and I'm really amazed how feature rich this is already :thumbsup:

One thing I'd like to request, is a flag to specify the db location. I know that it looks in specific locations already - including local directory - but this would let me have multiple, completely separate sets of bookmarks (e.g. Work, personal, temporary/todo). I'm cu

[2017-07-16 04:28] jarun commented on #135
@absolutejam Issue https://github.com/jarun/Buku/issues/171 was the same request. Though I am a bit reluctant, I think it's time to enable it based on *public demand*. ;)

[2017-07-16 04:28] jarun commented on #171
I am re-opening this as I see more requests for this feature. You'll have it soon.

[2017-07-16 09:34] jarun commented on #171
I am adding an undocumented API `--db` which should meet your requirement.

[2017-07-16 09:38] #171 closed

[2017-07-16 15:54] sahil48 commented on #135
Suggested Feature. It would be really nice to have some way to a set of tags automatically assigned when one tag is assigned. Here are some example.

I could tell buku that whenever I assign the tag "django", it should automatically assigns the tags "python" and "programming language"

I could tell buku that whenever I assign the tag "iPhone" to an article, it automatically assigns the tags "Apple

[2017-07-17 03:37] jarun commented on #135
Did you notice that tags can be set using simple redirection at the prompt?

Yes, but parsing/reading/writing to a filesystem numerous times is inherently slower than using a flat file. And listing tags would be scanning all those directories.

We can do this, suggest optionally. When a tag is added find other tags that go together and show the tag names + indices. User can use redirection at the

[2017-07-17 04:11] sahil48 commented on #135
By redirection, do you mean the --tag flag? Would definitely like more clarity on this.

I agree with point 2, which is why I do like tags better than folders. But a possible alternative is an single file with indented tags showing the  hierarchical relationship between tags (ex. Company:Apple:iPhone). Then, when searching, you could have a strict search for the tags assigned to the bookmark only

[2017-07-17 04:30] jarun commented on #135
No, I meant the smart tag editing with >>, > or << symbols at prompt.

The RoI isn't great.

You should if you really want it. I am not sure if I can get back to this.

You have to add a new filter to do that. Check option `-f`.

You can add anything in a note. Try the `-w` option where you can edit it. You can edit a bookmark in your favourite editor.

[2017-07-17 04:34] sahil48 commented on #135
Okay. Thanks.

[2017-07-17 10:08] alex-bender commented on #135
Hello!
Thanks for so good tool.
I would like to implement importing Chrome bookmarks to Buku database but I'm new to Buku.
Could you please advise where should I start from?

[2017-07-17 11:01] jarun commented on #135
@alex-bender are you familiar with the Firefox and Chrome bookmark sqlite schema? If yes, you can check the `importdb()` API which does all import stuff.

[2017-07-17 11:04] alex-bender commented on #135
I've checked Chrome bookmarks file. It's simple json. I don't know anything about FF, but let me check.

[2017-07-17 11:11] alex-bender commented on #135
Yeah, I found it. Are Buku/.github guides the only guides which I should follow?

[2017-07-17 12:03] jarun commented on #135
AFAIK the JSON file is the latest backup. Is the data same as that in the bookmark SQLite file?

Yep!

[2017-07-17 12:33] alex-bender commented on #135
Sorry but I can't find bookmark SQLite file for Chrome. But data in the Bookmark file are the same what I can see in my Bookmark Manager

[2017-07-17 12:43] alex-bender commented on #135
Oh no, sorry. Data are not the same. You are right.. Looking for the database..

[2017-07-17 14:59] jarun commented on #135
Please confirm if the data are same or not. Consider this scenario: you added a new bookmark in Chrome but didn't close the browser. Do you see that latest bookmark in the json file?

[2017-07-17 15:41] alex-bender commented on #135
Sorry for the mess. Here is what i've done:
* Exported bookmarks as html and calculated number of elements there
* Calculated number of elements in the Bookmarks json file
They are equal

Also, I've done what you asked, and result is positive: After adding a new bookmark it does appear in Bookmark file without closing the browser.

[2017-07-17 16:59] jarun commented on #135
Awesome!

Then here's what we need to do - check the same with Firefox. If everything looks fine, add a new option to Buku to auto-import. We need to scan the usual locations (on Mac, Linux and Windows) for FF and Chrome. If any of them is not found, ask the user to specify the location of the file (for the specific browser) manually.

[2017-07-17 23:40] nick-s-b opened #172 "Some bugs I ran into after importing 10,000's of bookmarks from Delicious"
Now that Delicious is officially dead and you can actually export bookmarks (they held it up for ransom for months by disabling export!), I decided to look back into alternatives. I decided to immediately reject Pinb---d because I refuse to pay to blackmailers! They bought Delicious and immediately killed it. Screw those guys!

Since I had Buku installed for a year and used it occasionally, I deci

[2017-07-18 00:39] jarun commented on #172
I'll check this.

[2017-07-18 01:05] nick-s-b commented on #172
@jarun thank you so much!

[2017-07-18 05:29] jarun commented on #172
@mohammadKhalifa the single line comment import is happening due to the following lines in importdb():

[code]

I could reproduce it by adding multiline description to one of my Firefox bookmarks and using the exported html. I have uploaded it [here](http://paste.ubuntu.com/25116852/). Look for `SearchPreview` in the text.

However, I can't find an immediate way around it because if I remove the `

[2017-07-18 12:41] alex-bender commented on #135
Yeah, FF also updated bookmarks db without closing browser.

[2017-07-18 14:36] jarun commented on #135
Great! Waiting for your PR! :+1:

[2017-07-18 17:43] #172 closed

[2017-07-18 17:45] jarun commented on #172
@nick-s-b can you please test and confirm if this is fixed on master?

[2017-07-18 21:59] alex-bender commented on #135
@jarun hello, work is in progress, but you can comment anything you consider important here:
https://github.com/alex-bender/Buku/commit/8102f84fb4a03117594bea076577a0421845eed1
I'm not sure that using webbrowser module for this case is the best decision, but anyway.
Please advice.

[2017-07-18 22:19] rachmadaniHaryono commented on #135
@jarun, is there a plan to refactor parser on importdb function

https://github.com/jarun/Buku/blob/730b80f7388fa6d837aaa3c6455ba3387f9c8c60/buku.py#L1648

i want to test #172, but kinda hard with class method.

[2017-07-18 23:10] nick-s-b commented on #172
@jarun Just installed new version! Everything works great. Importer imported comments perfectly. I've also noticed that import was about 100x faster (not even kidding... it finished so fast, I thought it was an error! Amazing job! Thanks!

[2017-07-19 02:18] jarun commented on #172
Perfect! Thanks for confirming!

[2017-07-19 02:36] jarun commented on #135
@alex-bender thanks! I have reviewed.

If it gives you the installation location of the browser, go ahead. We already import it. Do you have anything else in mind?

[2017-07-19 02:40] jarun commented on #135
@rachmadaniHaryono please feel free to make the necessary changes and refactor. i will review in the PR. Please ensure you test the following cases:

1. <a> </a> in desc
2. <a> some text </a> in desc
3. Multi-line desc
4. Multi-line desc followed by another BM data with text.

Please use the bookmark paste I linked in the issue.

[2017-07-19 05:06] alex-bender commented on #135
@jarun Thanks for reviewing!

As far as I understand `webbrowser` don't give us location, only absence of browser.

I have a question according to the naming: should we check browsers like `chromium` or only `chrome`?
And a question about profiles: there are could be many profiles in `chrome` and `FF`, so should we ask user about desired profile or import bookmarks from all of them?

I'll implemen

[2017-07-19 06:07] jarun commented on #135
OK. I misunderstood earlier. Anyway, it would be local data so we have to check in default location ourselves.

I guess google chrome is sufficient as long as we provide the option to specify manually (documentation would play a really significant role in this feature). Every Google, Opera and Yandex has a fork of Chromium nowadays.

Does FF or GC show bookmarks from all profiles in the UI? If yes

[2017-07-19 08:35] alex-bender commented on #135
@jarun here is GC behavior: In my case two different profiles (chrome://settings/ People section) has different config folders `~/.config/google-chrome/Default` and `~/.config/google-chrome/Profile 1`.
Adding bookmark to one of them -- **does not affect another one**.

[2017-07-19 09:36] jarun commented on #135
Thanks! Here's what I think - if a user has 10 profiles all of the bookmarks belong to him. I think it's OK to import all the bookmarks. I think even when FF/GC is installed and it imports bookmarks from other browsers, it imports all profiles. Can you please verify this?

[2017-07-19 09:37] jarun commented on #135
By user above I meant OS user, not GC profile/user.

[2017-07-19 09:41] alex-bender commented on #135
But what if there are different profiles for different family members? In case when they are using single OS account (Like on `admin` on windows)
I suppose that we should ask user which of the profiles we should work with.

[2017-07-19 10:08] jarun commented on #135
You are saying they are using the same login but Chrome is customized for each to have different profiles? Sorry, I think the idea is very far fetched and a big privacy issue. It's like two people using a single diary to write their journals.

Anyway, what happens in the install -> auto import scenario? We can follow that.

[2017-07-19 10:09] alex-bender commented on #135
Ok, I'll check auto import scenario.

[2017-07-19 10:12] jarun commented on #135
From this [discussion thread](https://productforums.google.com/forum/#!msg/chrome/Xy2HJjpVVEE/0ma_mP9F4ysJ) it seems like they only import from the default profile. We can do the same.

[2017-07-19 10:14] jarun commented on #135
No, I guess it's not absolute.

[2017-07-19 10:17] alex-bender commented on #135
I see here 3 options:
- Import only default
- Import all what we've found
- Ask user which accounts should be imported.

Of course first one is the simplest one. We can stick with it and see what'll happen next.

[2017-07-19 10:56] jarun commented on #135
Yes, let's go default. We'll document this under `operational notes`. As there will be an option to specify manually I don't see a problem.

[2017-07-19 10:57] jarun commented on #135
Please open and new issue for this. We can continue discussing there. I will roll this thread.

[2017-07-19 10:58] jarun opened #174 "ToDo List"
Continued from #135.
#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to assist any new contributor. We need your help!

Some of the fresh-baked features may not have been released yet. Grab the master branch for those.
#### Identified tasks

[2017-07-19 11:02] jarun commented on #135
Rolled at #174

[2017-07-19 11:02] #135 closed

[2017-07-19 11:05] alex-bender opened #175 "Scan and import Firefox and Google Chrome bookmarks DB file"
Feature will allow users to import existing bookmarks from Google Chrome and Firefox browsers from default profiles.
Continued from #135

Add optional argument to `--ib` where user can specify the path.
If option `--tacit` is not used, please ask the user (twice)
whether to import bookmarks from the browser:
* Google Chrome
* Firefox.

The entrypoint for this function can be:

1. A new option, say

[2017-07-19 11:08] jarun commented on #175
For a context on this issue, please go through the discussion towards the end of #135.

[2017-07-19 11:11] jarun commented on #175
The feature development is in progress.

[2017-07-19 13:50] jarun commented on #172
@nick-s-b sorry for bothering you again. I made some further changes for optimization. Can you please test the latest master?

[2017-07-19 17:38] nick-s-b commented on #172
@jarun no bother at all! Just installed the latest version (noticed the new option for unique tags.. that should be useful) and I imported all the bookmarks. It took few seconds and it was done. Comments are imported correctly! Let me know if you want me to test anything else.

[2017-07-19 17:39] jarun commented on #172
Thanks a lot! I think we are good with import. :+1:

[2017-07-20 18:11] alex-bender commented on #175
@jarun Should I avoid importing anything new (even from stdlib)? I want to parse ini file. Of course I can do that without new import, but with `configparser` it'll be much easier.

[2017-07-20 18:23] alex-bender commented on #175
Also, as a straightforward workaround it's could be importing `glob`  module and expand anything what match `~/.mozilla/firefox/XXXXXXX.default/`

[2017-07-20 18:35] alex-bender commented on #175
Also, what about `safari`? Should we import from it?

[2017-07-20 19:16] jarun commented on #175
I think it can be done with simple string manipulation without importing anything new. If you don't find the desired file with check if there's anything else matching. If not, show a message and move on.

Leave it. We don't wanna support every other browser.

[2017-07-20 19:17] jarun commented on #175
BTW, I left you a message on gitter.im. Please check.

[2017-07-20 19:36] alex-bender commented on #175
@jarun Please check this commit https://github.com/alex-bender/Buku/commit/e5b81db94dc0a01d66f908f00a81d79a5f30428e
I will look at gitter.im tomorrow (But I didn't get any emails from the service)

[2017-07-20 19:43] jarun commented on #175
It's OK, I just wanted to know if you'll be interested in becoming a collaborator for Buku. :)

[2017-07-20 19:52] alex-bender commented on #175
Oh, really.. It could be interesting..

[2017-07-20 19:54] jarun commented on #175
Currently we have only 4 people as collabs. It's a small team. I'll add you up. We can have a brief chat of gitter whenever you have some time. I'm in IST.

[2017-07-20 19:59] alex-bender commented on #175
Thank you @jarun. It's pleasure of mine to be here and to do something helpful.
We could contact tomorrow, I'm in GMT+2

[2017-07-20 20:06] jarun commented on #175
OK then. Maybe around 20:00 your time. Leave a msg here in case I forget. I've sent you the invite.

[2017-07-21 12:38] alex-bender commented on #175
@jarun should we consider path to the bookmark as separated tags?
`path/to/the/folder/bookmark` => `bookmark` with tags [path, to, the, folder]

[2017-07-21 14:35] jarun commented on #175
No you can provide the complete path. Please check how the argument to `--import` or `--export` is handled.

[2017-07-21 14:46] alex-bender commented on #175
No, I mean that for now if we will import this bookmarks they will be without tags at all.

[2017-07-21 15:37] jarun commented on #175
You can import the immediate outer folder as tag, if user confirms. You should check for the unique tag. Check the latest `importdb()` code.

[2017-07-21 15:39] alex-bender commented on #175
Ok, I'll check. Let's chat later than. Invite me to the gitter, but use email from my commits please.

[2017-07-21 16:59] jarun commented on #175
Sure! I got held up today. :)

[2017-07-21 17:02] alex-bender commented on #175
Ok, I got it.

[2017-07-27 05:58] eyalev opened #179 "Opening urls in new window"
I'm using Google Chrome.

When I use the `--oa` flag, the urls will open in the browser in the last active window.

Is there a way to open them in a new browser window?

Thanks for the great app

[2017-07-27 06:14] jarun commented on #179
The behaviour depends on the OS. There has been a detailed investigation in https://github.com/jarun/Buku/issues/142. We settled with an attempt to open a new tab per URL. Unfortunately we don't have much control here.

Glad to know you like the utility!

[2017-07-27 06:14] #179 closed

[2017-07-27 08:10] eyalev commented on #179
Suggestion:

[code]

possibly executed only if the user have (e.g) environment variable `BROWSER` with value `google-chrome`.

Do you think something like that can work?

[2017-07-27 08:44] jarun commented on #179
It's more of a hack than a real solution. Anything we try in this case would be. Which is why we would like to keep the behaviour as - "attempt to open in a new tab".

Maybe you could try the [New tab, New Window](https://chrome.google.com/webstore/detail/new-tab-new-window/dndlcbaomdoggooaficldplkcmkfpgff?hl=en) extension. It's mentioned in [this discussion thread](https://productforums.google.co

[2017-07-27 15:52] jarun commented on #175
FF bookmarks schema: https://wiki.mozilla.org/File:Places.sqlite.schema.pdf

Regrading a single query:

There is a note (section **Notes**) on what happens when a tag is added: *Tags result in two new entries...*

Seems like there is a foreign key to moz_places. You would probably need to dump the data with few bookmarks. Then see if [this discussion thread](https://stackoverflow.com/questions/658

[2017-07-27 16:01] jarun commented on #175
Some more resources:

- https://stackoverflow.com/questions/464516/firefox-bookmarks-sqlite-structure
- https://github.com/websafe/ffbx/blob/master/ffbx.sh

[2017-07-28 09:14] alex-bender commented on #175
Sorry for the slow reply. I had some health issues..

Yeah, I saw this note, but it isn't so helpful, because tags and bookmarks are placed in the same table, and I can't figure out how to join both of them with `moz_places` table. So i'm going to iterate over all tags and group links by tags. I know that it isn't so effective, but mine sql skills leave much to be desired.

Thanks for the resource

[2017-07-28 10:21] jarun commented on #175
For a one time stuff, it's absolutely fine.

[2017-07-28 10:37] rachmadaniHaryono commented on #175
not quite sure if it is helpful but i run [pwiz](http://peewee.readthedocs.io/en/latest/peewee/playhouse.html#pwiz) on firefox database and got this model

[code]

maybe good alternative than using sql

[2017-07-28 10:37] rachmadaniHaryono commented on #175
not quite sure if it is helpful but i run [pwiz](http://peewee.readthedocs.io/en/latest/peewee/playhouse.html#pwiz) on firefox database and got this model

[code]

maybe good alternative than using sql

[2017-07-28 10:40] alex-bender commented on #175
@rachmadaniHaryono thanks for sharing `pwiz` and for Models. I'll check it out little bit later

[2017-07-28 11:04] jarun commented on #175
I believe we should stick to sqlite as long as we can get the required fields in a couple of queries.

[2017-07-28 14:28] alex-bender commented on #175
I'm going to look here:
https://hg.mozilla.org/releases/mozilla-esr52/file/tip/toolkit/components/places/Bookmarks.jsm

[2017-08-01 15:16] jarun commented on #175
@alex-bender how is it going?

[2017-08-01 15:18] alex-bender commented on #175
@jarun hey, I've got a lot of work, will continue really soon. I've got some ideas how to implement better.
Sorry for delay

[2017-08-01 15:39] jarun commented on #175
No problem. Please take your time. I am planning to make a release tomorrow. Just wanted to catch up with you.

[2017-08-01 15:41] alex-bender commented on #175
Ok, I got it. I'll be keep you updated

[2017-08-05 13:22] alex-bender commented on #175
@jarun Hello, please review my latest commit.
It is not the most efficient way to import bookmarks, but let's consider it as the simplest  version for now.
Also I have question:
Should user specify exactly what type of bookmark is that or it's ours job?
https://github.com/alex-bender/Buku/blob/import_browser_bookmarks/buku.py#L1727-L1732

[2017-08-05 13:29] alex-bender commented on #175
Also could you please provide couple samples of FF bookmarks files?
I have some issues on my dev machine, so want to double check something.

[2017-08-05 15:02] jarun commented on #175
We decide ourselves on the default one. Also, just go by hardcoded filename (for default). No need to verify file format and stuff.

the html export of the sqlite file?

[2017-08-05 15:13] jarun commented on #175
Please raise the PR. I would take some time.

[2017-08-05 16:14] alex-bender commented on #175
I think it's a bit away from PR. Here is the misunderstanding. Sorry for not clear question.
User could run `buku --ib path/to/bookmarks/file` so which function should we invoke?
FF one, or GC? I've created function `detect_file_type`, which essentially is
[code]
So again: should user specify type of the bookmarks file or we will use this function?
Also, what about the tests. What cases do you wan

[2017-08-05 17:14] jarun commented on #175
Questions:

- Can we detect if Chrome or FF is installed (in default location)?

My understanding is we are using sqlite file for GC and json for FF. I think we can have the following flow:

1. Ask whether to import chrome bookmarks. If yes, import. If failed, say not found.
2. Ask whether to import FF bookmarks. If yes, import. If failed, say not found.

[2017-08-05 17:18] alex-bender commented on #175
Yes, we are doing that by invoking `webbrowser.open`
But what should we do if user executes something like `buku --ib ./some_bookmark_file_without_ext`?
Or should we disallow such ability?

[2017-08-05 17:35] jarun commented on #175
Yes. The file must have the default extension otherwise we fail with file type unknown. Currently we do the same with html and md imports.

While we can do a lot of things we would like to keep our workflows simple. Understanding file types is not necessarily the job of a bookmark manager. So lets not maintain that code.

[2017-08-05 17:36] alex-bender commented on #175
Ok, I'm gonna remove it and prepare for PR review. Thanks!

[2017-08-10 02:57] #175 closed

[2017-08-11 16:55] jarun opened #182 "Delimiter missing between tags"
I have a Firefox bookmark with the tags: `hello`, `language`

After auto-import both tags are combined into 1 as `language hello`

[code]

Should be:
`hello,language`

The delimiter (`comma`) is missing between the tags and they are combined into one (in reverse order). You need to use `parse_tags()`.

Also, please ensure that original spaces within tags are maintained (`parse_tags()`) takes care

[2017-08-11 17:10] alex-bender commented on #182
@jarun what the purpose of the `is_nongeneric_url` function call [here](https://github.com/jarun/Buku/blob/master/buku.py#L1806)?

[2017-08-11 17:26] jarun commented on #182
The function filters out bookmarks those start with `place:`, `file://`, `apt:`.

[2017-08-11 17:27] alex-bender commented on #182
It's little bit strange that `parse_tags` function accepts one element list with a string formatted as `'first_tag,second_tag'` just to split this string and didn't take into account that `keywords` argument could be list of tags already, so only `DELIM.join(keywords)` is actually needed.

So here are two possible variants:
1. Fix function which loads firefox tags (already separated) or
2. Fix the

[2017-08-11 17:31] alex-bender commented on #182
Also, maybe you've already checked, what if we move this function invoke from [here](https://github.com/jarun/Buku/blob/master/buku.py#L1806) to [here](https://github.com/jarun/Buku/blob/master/buku.py#L1781)?

[2017-08-11 17:37] jarun commented on #182
parse tag does it because when we accept the input from users they can be in the form:

`tag 1, tag2` which gives [`tag`, `1,`, `tag2`] and should yield 2 tags: `tag 1`,`tag2` and NOT 3 tags: `tag`,`1`,`tag2`.

You can't move it anywhere before you actually get the url.

[2017-08-11 17:41] alex-bender commented on #182
Sorry, look 3 lined below:
`url = res.fetchone()[0]`

[2017-08-11 17:50] alex-bender commented on #182
Sorry, seems that I din't get something, because I think that even in case ""
we can do this:
[code]

[2017-08-11 17:57] jarun commented on #182
Your input data is in a list. When user enters:

`buku tag 1, tag2, some other`
you get:

[`tag`, `1,`, `tag2,`, `some`, `other`] as args.

[2017-08-11 17:59] jarun commented on #182
We save the bookmarks in the format:

`,tag 1,tag2,some other,`

separated and wrapped by DELIM.

[2017-08-11 18:02] alex-bender commented on #182
Seems that there are some cases which I don't know. If user enters
[code]
With this line we can achieve the same what whole function does:
`DELIM+DELIM.join([tag.strip() for tag in data.split(',')])+DELIM`

[2017-08-11 18:06] jarun commented on #182
[code]

[2017-08-11 18:13] alex-bender commented on #182
now I see. What about adding into parsing func one check like `if len(keywords) > 1` for cases when tags already separated?

[2017-08-11 18:18] alex-bender commented on #182
@jarun oh, nevermind, I'm gonna fix invoking. It'll be easier. Sorry for distracting

[2017-08-11 18:19] jarun commented on #182
There can be an input like [`world,hello`] too. ;). It should be `,hello,world,`. ;)

[2017-08-11 18:26] alex-bender commented on #182
please check this PR https://github.com/jarun/Buku/pull/183

[2017-08-11 18:33] alex-bender commented on #182
Definitely sure! It looks confusing at the first glance, without deep context knowledge..
Sorry again.

[2017-08-11 18:38] jarun commented on #182
Don't be! Actually I am glad to find the second person to dive into it. If you can simplify it that would be great.

[2017-08-11 18:40] alex-bender commented on #182
I have some ideas. Let me check. Just want to be sure that i'm covering all usecases.
Do we have complete unit test for this function?

[2017-08-11 18:40] jarun commented on #182
I left some questions for you in the PR. Take your time to make any other changes if needed. I will review tomorrow.

Also, once you are back we need to document this. Probably after the support for input file is in. Also, how about renaming `-bi` to `-ai` (for `auto-import`). Has a ring to it for sure. ;)

[2017-08-11 19:53] alex-bender commented on #182
I'm clothing this due to PR https://github.com/jarun/Buku/pull/183

[2017-08-11 19:53] #182 closed

[2017-08-12 17:02] mosegontar opened #186 "Feature: "Search multiple tags, exclusion in tag search""
This is one of the incomplete items on the to do list. I'd like to take it on.

### Search multiple tags
Currently, you can search your bookmarks by a single tag. So given these bookmarks:

Bookmark A: tag1, tag2,
Bookmark B: tag1, tag3,
Bookmark C: tag1, tag2, tag3, tag4

the command `buku --stag tag2` will return Bookmarks A and C.

However, if we want all bookmarks with both tag2 and tag3 (only

[2017-08-12 17:57] jarun commented on #186
Notes:

#### Search multiple tags

- search bookmarks having all of tag1, tag2, ..., tagn
- search bookmarks having any of tag1, tag2, ..., tagn

I would suggest using C bitwise operator `&`:

[code]

#### Tag exclusion

`buku -t tag1, tag2 - tag1, tag2`

makes sense. anything after the `-` should be excluded.

[2017-08-12 18:10] mosegontar commented on #186
Great. I think that's a good idea to support both 'any' and 'all' search. & is a good choice.  I'll get to work.

[2017-08-12 18:11] jarun commented on #186
Yes, we have to keep up with `-s` and `-S`

[2017-08-12 18:24] jarun commented on #186
`+` is cool.

[2017-08-12 18:24] mosegontar commented on #186
great, thanks

[2017-08-15 06:04] jarun commented on #186
Fixed at https://github.com/jarun/Buku/commit/2b7f1422451bcef66df013c0237b42e76d644856.

[2017-08-15 06:04] #186 closed

[2017-08-15 06:30] jarun commented on #164
@hao-lee this feature is implemented at https://github.com/jarun/Buku/commit/2b7f1422451bcef66df013c0237b42e76d644856.

[2017-08-15 09:55] jarun opened #189 "Generate packages using PackageCore and Travis CI"
We had just started using BytePackager to auto-generate release packages for several Linux distros. Unfortunately the service is going down. However, the author was kind enough to share his source. Excerpt from his mail:

[code]

Distributing the release packages helps us reach many users immediately.

Can anyone take this up please?

[2017-08-15 20:41] shaggytwodope commented on #189
@jarun I believe I can structure the changes, and open a PR accordingly. It'll take a few to test before pushing to the repo. Good news is the secure key and the settings currently in place can be used with ease. As for other projects you may need to generate a secure key.

[2017-08-15 21:30] jarun commented on #189
That's great! Yes, I guess I'll have to generate some more keys for the other projects but that's absolutely fine.

Please take your time. I'm in no hurry for a release.

[2017-08-16 03:05] hao-lee commented on #164
@jarun Awesome! Thanks!

[2017-08-16 03:49] jarun commented on #164
And it goes to our latest member, @mosegontar! :)

[2017-08-16 11:55] mosegontar commented on #174
I saw there was some discussion last year of integrating with Pinboard. Is this still a desired feature? (I personally would like it).  If so, I can take it. Pinboard has a nice API with an endpoint for fetching all bookmarks and recent bookmarks (up to 100), so an import to Buku feature at least seems doable.

[2017-08-16 11:56] jarun commented on #174
I have to think about it. Whether we really want to integrate or want to go solo. ;)

[2017-08-16 11:57] mosegontar commented on #174
Gotcha, sounds good!

[2017-08-16 15:59] icaroperseo opened #193 "[Wish Feature] Import articles from Wallabag"
Good day!

I do not know if _buku_ is intended for this type of use but I think it would be a sexy feature to have support for [Wallabag](https://wallabag.org/en).

_Wallabag_ currently has support to export the articles in the following formats:

+ JSON
+ CSV
+ TXT
+ XML

I hope you could consider this possibility.

Best regards.

[2017-08-16 16:59] jarun commented on #193
Buku supports importing/exporting the _one_ universally understood format in the browser world - the Firefox standard. Wallabag should consider supporting it.

We do support JSON output, but there's no standard format to do that, remotely as massive as the html counterpart.

Probably request the Wallabag team to handle bookmarks.html.

[2017-08-16 16:59] #193 closed

[2017-08-16 17:01] jarun commented on #189
@shaggytwodope fedora 26 support is in now. Let's have it! Dump fedora 25. ;)

[2017-08-16 17:10] jarun commented on #174
I was going through the Pinboard docs. They do support export/import to/from html. I think we can refrain adding some service specific code to authenticate to pinboard, probably along with some auth code hanging around. Buku _is_ a solution in itself, not an ad-hoc to any solution.

Now, coming to the integration part with popular web services, why don't we just document the fact that Buku support

[2017-08-16 18:13] mosegontar commented on #174
Yeah that's reasonable, especially given that we can't integrate with every service. Sounds like import via bookmarks.html format should satisfy most services. Didn't know about the html format being the standard for bookmarks, interesting.

(I might write some separate small pinboard-to-buku script using https://user:password@api.pinboard.in/v1/posts/all?format=json endpoint to allow for a straig

[2017-08-17 02:29] jarun commented on #174
Of course!

You are in the right place!

[2017-08-17 02:34] jarun commented on #174
Additionally, in the _Introduction_, please make the following modification:

"For GUI integration (or to sync bookmarks with your favourite bookmark management service), refer to the wiki page on System integration."

[2017-08-17 19:22] Rbagman opened #195 "How do I set the editor?"
How do I set the editor?

[2017-08-17 19:35] mosegontar commented on #195
You can set the editor as an environment variable in your terminal shell. If you are using bash as your shell, to set your editor as Vim, you would enter `export EDITOR="vim"`.

[2017-08-17 22:50] jarun commented on #195
I think that's all there is to it. Closing the issue.

[2017-08-17 22:50] #195 closed

[2017-08-17 23:02] jarun commented on #174
@alex-bender the colors support is alredy being worked on by @shv-q3 [here](https://github.com/shv-q3/Buku/tree/coloredoutput-googler). He hijacked this but he is almost done! ;)

[2017-08-17 23:26] jarun commented on #189
The changes are working fine for googler (adapted). Closing the issue.

[2017-08-17 23:26] #189 closed

[2017-08-18 03:26] jarun commented on #174
@mosegontar I have added the note on web service integration.

[2017-08-18 03:36] mosegontar commented on #174
Ah thanks;  (funny timing, I was just about to do this). I've updated the man page (and I'll update the wiki), PR coming in a second.

[2017-08-18 04:17] jarun commented on #174
Now I see what has happened. I had the README change locally, forgot to push it and went to sleep. :) Pushed it now.

[2017-08-27 18:29] jarun commented on #174
@alex-bender @mosegontar how is it going? Planning to make a release early next month, probably in the first week. Can we expect to have the features assigned to you in?

[2017-08-27 21:46] mosegontar commented on #174
@jarun sorry I've been a bit delayed. I'm moving this week and things have been hectic.

I've updated about half of `buku.py` docstrings into NumPy style. I just pushed the current work, https://github.com/mosegontar/Buku/commit/1281e71b620467f75b911736ef9e9dca6e07a634, so please take a look and let me know your thoughts. If things look okay, I can certainly finish the rest by early next month.

W

[2017-08-27 21:54] alex-bender commented on #174
Hi @jarun! Im going back from vacation right now so cant say for sure for now. I'll ping you in a few days.

[2017-08-28 02:52] jarun commented on #174
Thanks guys!

[2017-08-28 02:54] jarun commented on #174
@mosegontar I can see it's going very well! :+1:

[2017-09-03 19:33] mosegontar commented on #174
Just an update, docstrings are updated up to the Editor Mode Functions, so about 80% complete. Hoping to be done by tomorrow or Tuesday!

[2017-09-03 20:12] jarun commented on #174
Simply awesome!

[2017-09-09 04:21] jarun opened #201 "Google Chrome auto-import is broken"
We had an initial patch to auto-import Google Chrome bookmarks at PR #180 and PR #183.

Some additional patches went in https://github.com/jarun/Buku/commit/6e2b459ca41836176191454dd7c7f47e670f05ec.

Unfortunately, when I tested with the following `Bookmarks` JSON file for Google Chrome, it didn't work:

http://paste.ubuntu.com/25491522/

Steps to reproduce:

- Install Google Chrome stable.
- Repl

[2017-09-09 09:36] #201 closed

[2017-09-11 14:46] cinghiopinghio opened #206 "the `suppress_browser_output` attribute is not initialized if used as lib"
#### Bug reports

I use buku as a library and import it in my script.
When I launch an entry with `database.browse_by_index(index)` I got the following error:
[code]

This is because `suppress_browser_output` get initialized in the `main` function.

[2017-09-11 16:23] jarun commented on #206
browse() is a helper function. I believe you have two options here:
- initialize the variable in your module too as we are doing in main(). The attribute is added in the just-released version and is documented.
- use your own function to invoke the webbrowser if the console browser case doesn't apply in your case.

[2017-09-11 19:05] cinghiopinghio commented on #206
In fact I used the first solution.
I found also the docus you are mentioning, anyway it does not mention that it should be initialized...

[2017-09-11 22:57] jarun commented on #206
I will add that right away. Thanks!

[2017-09-11 23:02] #206 closed

[2017-09-12 13:18] jarun opened #208 "Auto-import crashes if Firefox is not installed"
Steps to reproduce:

Uninstall Firefox (if installed) and try to auto-import:

[code]

Reported in v3.3.

[2017-09-12 13:20] #208 closed

[2017-09-16 15:00] mikeedjohn opened #209 "makefile broken"
In stable version 3.3.1 and current master.
I'm using Ubuntu 16.04.3

$ make
gives an error:
make: Nothing to be done for 'all'.
This might be caused by tabs instead of spaces at beginning of lines. So I altered these to spaces, but then get this error:
Makefile:11: *** missing separator. Stop.

With the -d option:

michael@Compaq-CQ58:~/Downloads/Buku-master$ make -d
GNU Make 4.1
Built for x86_64

[2017-09-16 15:16] jarun commented on #209
There is nothing to `make` in case of `Buku`. You only need to run `make install` to install. Please follow the instructions:

https://github.com/jarun/Buku#from-source

[2017-09-16 15:17] #209 closed

[2017-09-18 16:37] lukaszkarbownik commented on #174
Hi @jarun

First, amazing work. I love using Buku.
Have you considered adding support for `-t --stag` flags when using `--print` and `-f<num>`?
Currently using `-t/--stag` with these flags overrides the behaviour and runs app in interactive mode.
My goal is to combine buku with other tools in a way that would allow to pre-query bookmarks by providing a tag, i.e.:
`buku -p -f3 -t $sometag | fzf ...

[2017-09-18 17:13] jarun commented on #174
`-f` is the print format specifier. I believe what you want is search options should honor `-f`. @mosegontar would you like to try it out?

[2017-09-18 17:22] jarun commented on #174
The trick would be to call `print_rec()` if `-f` is used, otherwise call `print_single_rec()` (as it is now). I would definitely love to call `print_single_rec()` [when `-f` is not used] because the overhead is much less. `print_rec()` queries the db again.

Another way would be to have an alternative API to `print_single_rec()` which does the filter check. In any case I would love to keep `print_

[2017-09-18 17:34] mikeedjohn opened #210 "Add/Edit issues with gedit"
Ubuntu 16.04.3
Gnome Shell
Python 2.7.12
GNOME Terminal 3.18.3, bash
Problem exists for 3.3.1, which is the current master.

Gedit as EDITOR seems to have problems when adding and editing existing bookmarks if an existing gedit window is open, for example in another workspace. As you probably know Gedit is the default editor on many Ubuntus.

Gedit
--------
michael@Compaq-CQ58:~$ buku -w -z
[DEBUG

[2017-09-18 18:01] mosegontar commented on #174
Hi! @jarun yes, I'd definitely like to work on this; it's actually addressing a use case I've been thinking about myself. I'll take a closer look and let you know what questions come up.

[2017-09-18 18:44] lukaszkarbownik commented on #174
Thank you.
It's so great to have a simple question met with such an enthusiasm.
Let me know if there's anything I can do to help you with this one.

Also, not related but I think I might have just discovered a bug.
For some reason when updating youtube bookmarks using `-u` all bookmark titles got replaced with a simple 'Youtube' title.
When fetching the same page with curl or wget the title tag co

[2017-09-18 23:16] jarun commented on #174
@lukaszkarbownik this is the correct behaviour. This is what we get: `<title>YouTube</title>`.

Even in the browser (I checked with FF and GC) I could see `Youtube` first which gets updated (and replaced) later by the video title later which comes as:

    document.title = "Some title - YouTube";
and shows as `Some title - YouTube` in the tab.

Coming to the UA string, fetching data from many webs

[2017-09-18 23:19] jarun opened #211 "Youtube video titles are not fetched"
For some reason when updating youtube bookmarks using `-u` all bookmark titles got replaced with a simple 'Youtube' title.
When fetching the same page with curl or wget the title tag contains full title, but when requesting the page with Buku the tag contains only `Youtube`.
Afaik, curl does not process any js, so I'm not sure yet what is causing this behaviour.
I will continue investigating and I

[2017-09-18 23:20] jarun commented on #211
@lukaszkarbownik this is the correct behaviour. This is what we get: `<title>YouTube</title>`.

Even in the browser (I checked with FF and GC) I could see `Youtube` first which gets updated (and replaced) later by the video title later which comes as:

    document.title = "Some title - YouTube";
and shows as `Some title - YouTube` in the tab.

Coming to the UA string, fetching data from many webs

[2017-09-18 23:34] jarun commented on #211
Sample response: https://paste.ee/p/7qWaU

[2017-09-18 23:41] jarun commented on #210
I'll check this.

[2017-09-18 23:43] jarun commented on #210
LoL!!!

[code]

I remember I removed this bloatware on purpose.

[2017-09-18 23:53] jarun commented on #210
Try:

    export EDITOR='gedit --new-window'

then

    buku -w

[2017-09-19 00:02] jarun commented on #210
Sorry, doesn't work.

[2017-09-19 00:12] jarun commented on #210
The following work:

    export EDITOR='gedit -w'
or

    buku -w 'gedit -w'

[2017-09-19 00:13] jarun commented on #210
I am going to document this.

[2017-09-19 00:25] #210 closed

[2017-09-19 08:14] lukaszkarbownik commented on #211
@jarun

I do not believe this is a correct behaviour.
I suspect that YouTube does use user-agent value to determine if client has JavaScript capabilites and if it does, it is returning a simple `<title>YouTube</title>` tag and updates this value using JS after the page is completely loaded.
When user-agent indicates a browser without JS capabilites full title is being returned on initial request.

[2017-09-19 10:59] jarun commented on #211
We can add the user agent string from elinks as the optional user agent string. From my testing it seems it works. We can't make it permanent as it's difficult to predict definitively how every website treats a text mode browser.

Possible but may not be a frequent case given the age and user base of Buku. Anyway, I believe the above arrangement will suffice.

[2017-09-19 12:39] jarun commented on #211
I have tested with 350+ bookmarks as I didn't find any issue with using the user agent from elinks on Linux. So I am going ahead and making this change to use elinks user agent. This is somewhat driven by the fact I don't want to add an extra program option.

[2017-09-19 12:40] #211 closed

[2017-09-19 13:03] lukaszkarbownik commented on #211
Great! Thank you for a quick reaction and fix.

[2017-09-19 14:31] mikeedjohn commented on #210
Thanks, that fixes it.

[2017-09-19 17:54] mosegontar commented on #174
I played around with this last night and was basically able to get this working (search options honor
 `-f`). There's a couple points I'd like to clarify and consider before going further:

- Right now, `--print` can optionally take an argument of an integer or range of integers, indicating which records (by DB index) to print. If search options are included (e.g., `-t` or `-s`), it doesn't seem t

[2017-09-19 18:21] shv-q3 opened #212 "Firefox auto-imprt breaks if profile name does not end with .default"
Firefox auto-imprt breaks if profile name does not end with .default, with firefox profile name like 4r3pvu9s.default-1478290660929 this happens:

**./buku.py --ai**
Traceback (most recent call last):
  File "./buku.py", line 4338, in <module>
    main()
  File "./buku.py", line 4288, in main
    bdb.auto_import_from_browser()
  File "./buku.py", line 2175, in auto_import_from_browser
    profile

[2017-09-19 18:28] alex-bender commented on #212
Thank you for the submitting report. I'll look at this issue. We decided only look for default file names, and I didn't expect that such format exists.

[2017-09-20 02:52] jarun commented on #212
@shv-q3 on which platform is this happening?

@alex-bender from the contents of `profiles.ini` it seems the default profile comes with a line `Default=1`. I think we should change `get_firefox_profile_name()` to return the **full** Path (from the line `Path=6i3qgjrr.default` where `Default=1`) and use it.

[2017-09-20 03:44] #212 closed

[2017-09-20 03:48] jarun commented on #212
@shv-q3 can you please test the patch and confirm it works for you?

@alex-bender I have pushed this interim patch because there was no timeline from you by when you'll be able to fix this critical issue.

If you are interested in implementing reading from the `profiles.ini` to get the default directory please let me know by when you'll be able to finish it.

[2017-09-20 03:53] jarun commented on #174
For the second question, you can add another filter which just shows the url, say `-f0`. Do NOT change the current filters because people use them in their scripts already.

[2017-09-20 04:02] jarun commented on #174
For the first question, `print_single_rec()` takes a record/row. You should use that (call in loop for all search result records) or add a similar function that honours filtering. I would prefer not to change print_rec or print_single_rec. Let's have `print_single_rec_with_filter`.

Now, we should not be checking every time before printing a single record whether filter is enabled or not. Just che

[2017-09-20 06:27] alex-bender commented on #212
@jarun Hi! I would like to take it but I want to discuss it with you first. It was my initial idea to read
profiles.ini file, but we rejected it. Would you be available today for chat?

[2017-09-20 07:57] jarun commented on #212
Yes, I wasn't aware of the fact that the ini file says explicitly which is the default profile. As I see it's there, and is a good way to figure out the default profile.

I am not sure when I will be available. Just leave your questions here.

Also, the platform may not be relevant. You can backup your .mozilla directory and make changes inside to match the scenario. As long as you don't run Firef

[2017-09-20 10:28] alex-bender commented on #212
So do you want me to just parse raw ini file or use configparser module?

[2017-09-20 10:34] jarun commented on #212
Raw parse. No extra deps.

[2017-09-20 10:36] jarun commented on #212
Otherwise, is configparser module installed by default with python? In that case do a local import.

[2017-09-20 10:39] alex-bender commented on #212
@jarun yeah, it's default module.

Ok

[2017-09-20 13:09] shv-q3 commented on #212
@alex-bender @jarun
 I did manage to rewrite get_firefox_profile_name(path) and get it to work but still did not test other distros then linux can you please check it out [link to change](https://github.com/shv-q3/Buku/commit/1df23836bf9cc0be5b637fd233876c82a3584095) and let me know what you think

[2017-09-20 13:15] alex-bender commented on #212
@shv-q3 lets wait jarun. Your comment looks a bit obscure for me.
Also, pay attention that there is a `logerr` function and use `os.paht.join` instead of `iniprof = path + '/profiles.ini'`.

[2017-09-20 14:15] jarun commented on #212
@shv-q3 Alex has raised a review already so I'm checking that. Please feel free to review the PR.

[2017-09-20 17:50] mosegontar opened #214 "Search options should honor --format option"
Opening up this issue to continue the discussion from [here](https://github.com/jarun/Buku/issues/174#issuecomment-330620094) regarding search options honoring `-f`.

@jarun at your suggestion to use `print_single_rec_with_filter` I've done so, which you can see here would be a very minor change: https://github.com/mosegontar/Buku/commit/7dc61df6fc960e98e9503b54c95cfca6bcc7a270. ( I'm not sure if

[2017-09-20 17:56] jarun commented on #214
Nope, if the user asks for it he knows what he wants. Leave it at that.

I will have to go through this and review the code. Need some time. Remind in a day or two if I forget.

[2017-09-20 18:18] jarun commented on #214
Yes, makes sense.

[2017-09-20 18:27] jarun commented on #214
The condition checks should be first and the for loop within each condition as in https://github.com/mosegontar/Buku/blob/7dc61df6fc960e98e9503b54c95cfca6bcc7a270/buku.py#L1591-L1602.

Please make it uniform in both the places. I must have missed this earlier.

Reason: the for loop is constant. But you don't need to check 4 conditions in the worst case for each record. So first check the condition

[2017-09-20 20:17] mosegontar commented on #214
Ah, got it! Many thanks for the explanation.

This is in fact what I did [here](https://github.com/mosegontar/Buku/blob/7dc61df6fc960e98e9503b54c95cfca6bcc7a270/buku.py#L4174-L4175), so I will change it.

I have no problem breaking it up into multiple functions as you mentioned, but I wonder if instead we could pass the records to the function (renamed to something more appropriate such as `print_

[2017-09-20 20:41] jarun commented on #214
Yes, this function should be fine.
Is these a use case where you need to call print_single_rec() within print_rec_with_filter()? I thought if filter is 0 (default), we call print_single_rec() directly. As no filter is the most regular scenario, I would like to have a straight call to it instead of calling it within print_rec_with_filter().

In simple terms, we should have the regular cases working

[2017-09-20 20:51] mosegontar commented on #214
But we can make `print_rec_with_filter` used only with filters > 0.

[2017-09-21 02:48] jarun commented on #214
Yes, call `print_rec_with_filter` only when there is some filter in the context.

[2017-09-21 02:53] jarun commented on #214
No, I'm going back on my comment. Call `print_single_rec` within `print_rec_with_filter`. It's better to have only 1 API. Just ensure the default filter is 0 so `print_single_rec` remains the default case. That will take care of scenarios where no filter is involved. Please ensure you call `print_rec_with_filter` in ALL places where `print_single_rec` is called now.

[2017-09-21 12:17] mosegontar commented on #214
Okay sounds good. There's one place where `print_single_rec` is called where I'm not sure if it should be called from `print_rec_with_filter`:
https://github.com/jarun/Buku/blob/4a817e583ce4908aa61eafdb7eaffadb2522cc9a/buku.py#L3059-L3065. within the prompt.

I could add another optional keyword argument to `print_rec_with_filter` that could then be passed to `print_single_rec` but this seems a bi

[2017-09-21 13:32] jarun commented on #214
Yes, leave it out.

[2017-09-23 17:02] #214 closed

[2017-09-23 17:07] jarun opened #217 "Disable colors on Windows, enable if `--colors` is used"
Windows does not support POSIX colors by default. It works on terminals like ConEmu.

The plan is to disable colors IF the detected platform in Windows (same as `--nc` effect).
Enable colors only if option `--colors` is used.

The relevant discussion is [here](https://github.com/jarun/Buku/pull/213#issuecomment-331099816).

[2017-09-23 21:41] dertuxmalwieder commented on #217
I'd still recommend to - at least - check for ConEmu first, e.g. [via the env. variables](https://conemu.github.io/en/ConEmuEnvironment.html).

[2017-09-24 01:23] jarun commented on #217
No problem. I have reviewed the change. Please take a look.

[2017-09-24 01:55] #217 closed

[2017-09-24 01:59] jarun commented on #217
Note: someone might come back someday asking to support another Windows `terminal emulator` like ConEmu. It would still work for them if `ConemuDir` is set as an env var.

[2017-09-24 02:01] dertuxmalwieder commented on #217
It should be trivial to support any "working" ConEmu-like thing (like console² - someone should test that... ;-)) or non-`cmd` shells as long as they come with their own environment variables. I guess the only reason not to just add a whole bunch of supported cases would be the code size.

[2017-09-26 09:38] rachmadaniHaryono commented on #174
just recently read this

is it possible to use this instead https://github.com/hellysmile/fake-useragent?

[2017-09-26 10:07] jarun commented on #174
Several points:

- it's preferable to go with a static value than grabbing one from the web (per session at that)
- we specifically need one for a text based browser
- while the project by itself is interesting, it's risky to depend on non-standard libraries
- personally I am very much resistant to adding new library deps ;)

[2017-09-27 03:12] jarun commented on #174
@rachmadaniHaryono we have a user agent string of own at https://github.com/jarun/Buku/commit/848d9d79431be6ec7a668995ed282514374b9cab!

[2017-10-11 10:31] hubitor opened #219 "Errors when piping to less or more"
Is buku supposed to work with piping to less and more?

If yes when I do:
`$ buku -p | less
`the bookmarks do not appear normally - they look like this:

[code]

When I press q to quit I get following error:

[code]

And when I do:
`$ buku -p | more
`
the bookmarks appear correctly but when I quit with q I get following error:
[code]

###############################################################

[2017-10-11 10:39] jarun commented on #219
less doesn't understand the ansi color codes and renders them raw. Run:

    buku -p --nc | less

I am unable to reproduce the exception with more or less. Did you wait for some time before pressing q. Please provide more details.

[2017-10-11 10:42] jarun commented on #219
In addition to my last comment, how many bookmarks do you have?

[2017-10-11 10:50] hubitor commented on #219
Thanks for the quick response!

With:
`buku -p --nc | less
`
the bookmarks appear normally **without** color. I can scroll up & down normally. But I still get the error when I quit.

With:
`$ buku -p | more
`
the bookmarks appear normally **with** color. I can scroll down normally with enter.

How long should I wait before pressing q? I've waited for some sec.

I have now around 8'300 bookmarks.

[2017-10-11 10:57] jarun commented on #219
In the meantime I tried with python 3.6 and still couldn't reproduce it.

I think the number of bookmarks is the reason here. Would it be possible to share it (securely of course, not here)?

[2017-10-11 11:08] hubitor commented on #219
Sorry, I prefer not to share my bookmarks.

Or maybe the encoding? There are some bookmarks with wrong encoding like this one:

   + sÃ…Â½ÃƒËœÃƒÂºÃƒÂ°Ã‚Â§Ãƒâ€¦Ã‚Â¡ÃƒÂ¬ÃƒÂÃƒÂ¼u1rÃ‚Â¿Ã‚Â¾uHuLÃ‚Â§ÃƒÂpÃ…Â½ÃƒÅ¡pÃ†â€™Ãƒâ€˜ÃƒÂ©Ãƒâ€˜Ã…Â½ÃƒÆ’pÃ…Â½Ãƒâ€žpÃ…Â½Ã‚Â¿sÃ‚ÂÃƒâ€“Ã‚Â¦ÃƒÂ¯Ã…Â½Ãƒâ€˜Ã‚Â´ÃƒÂ¸ÃƒÂ¹ÃƒÂ¸rÃ…Â½Ã‚Â´pÃ…Â½Ãƒâ€pÃ…Â½Ãƒâ€“pÃƒÂ¥Ãƒâ€˜Ã…Â½Ã‚Â¶u1ÃƒÂ«ÃƒÂÃƒÂ¯Ãƒâ€œu-ÃƒÂ®Ãƒâ€ ÃƒÂ±Ãƒâ€”uEÃƒÂ¾ÃƒÂ¸u:uRÃ‚Â¡Ãƒâ€

[2017-10-11 11:12] mosegontar commented on #219
`less -R` and `more -R` should fix the problem. (e.g., `buku -p | less -R`)

[2017-10-11 11:24] hubitor commented on #219
with:
`$ buku -p | less -R
`
I have colors and can scroll. Error appears when I quit.

with:
`$ buku -p | more -R
`
I get:
`more: unknown option -R
`
plus the BrokenPipeError

To me it's fine like this. Thanks!

[2017-10-11 12:02] jarun commented on #219
@mosegontar can you share your bookmarks db with me so I check the issue? ;)

[2017-10-11 12:07] jarun commented on #219
Leave it, I think we can handle the exception and exit gracefully. Clearly it's not an issue with print(), You quit without flushing the whole stream, print() saw a broken pipe and reported it.

[2017-10-11 12:39] #219 closed

[2017-10-11 12:41] jarun commented on #219
Please try the patch on master and let me know the results.

[2017-10-11 12:59] mosegontar commented on #219
Sounds good 👍  I will try the patch tonight.

[2017-10-11 15:48] jarun commented on #219
In the meantime, @hubitor when you have a 8000+ strong bookmarks set, would you be kind enough to run an auto update (have a copy of your original bookmark db) and confirm it works swell? The command is:

   buku -u --tacit

[2017-10-12 01:17] mosegontar commented on #219
@jarun I tried the patch. Without the patch, there are two "BrokenPipeErrors" thrown (I have the same traceback as @hubitor).  The patch fixes the first BrokenPipeError, but not the second:

[code]

It seems to be related to this issue https://stackoverflow.com/a/18954489, but I'm not sure of the best way to handle it.

[2017-10-12 02:08] jarun commented on #219
try exiting once the broken pipe error is caught: sys.exit(1)...

[2017-10-12 02:23] jarun commented on #219
I have added it. Try latest master.

[2017-10-12 02:41] mosegontar commented on #219
Same error occurs.

I found a fix following https://stackoverflow.com/a/34299346 (combined with sys.exit(1)).
If I understand this opens a new stdout and assigns it as our current stdout. The links describes this as ugly; I don't know enough about it to know the details.

[code]

[2017-10-12 03:17] jarun commented on #219
I think we can have it as long as we don't write anything to stdout and exit immediately.

Also, what happens with less?

While you are it, can you please test if the same issue occurs if you apply a filter as well?

[2017-10-12 03:31] mosegontar commented on #219
less appears to work fine and exits as it normally would (without any errors/problems).

With filters we get the original issue again (2 BrokenPipeErrors). Wrapping that entire if/elif block in print_rec_with_filter with the try/except we used above would solve it here too, but I don't know how desirable that is.

If it's not and to avoid multiple try/excepts, I think the method could be rewritten

[2017-10-12 03:46] jarun commented on #219
Please try latest master and confirm all the cases work.

[2017-10-12 03:47] jarun commented on #219
This would need unlimited buffer. Can't do that.

[2017-10-12 09:43] jarun commented on #219
I could reproduce the issue. The patch works fine.

@rachmadaniHaryono to reproduce this I had to write a small script that generates bookmarks for Buku. I will add the script to the project this evening.

I think it would be a nice to make use of this script in Travis CI, generate hundreds of bookmarks (in 1 python version) and run some tests like update, delete etc. Please take a look when the s

[2017-10-12 12:44] mosegontar commented on #219
Yep, everything works now. I ran `python buku.py -p | less -R` and then with all 8 filters. No errors and clean exit from less.