[2020-05-12 14:21] jarun commented on #454
Here's what I see on master:

[code]

and that's correct.

[2020-05-12 19:49] aleprovencio commented on #454
If template is correct, `buku`'s code logic might be wrong, see:
[code]
produces this:
[code]

[2020-05-13 02:00] jarun commented on #454
How `buku` renders is not in the same order as in the template. When we show, the order is:

[code]

[2020-05-13 02:00] #454 closed

[2020-05-13 13:01] aleprovencio commented on #454
@jarun, yeah I know that but it doesn't seem like an order problem.

Take a close look at the `+` symbol before the tag `distros` which denotes a comment instead of a tag. Also `distros` won't be saved as tag, so it won't be listed in the taglist and such.

[2020-05-13 13:11] jarun commented on #454
On master I see the correct output:

[code]

[2020-05-13 13:13] jarun commented on #454
Also,

This is a new problem. Your earlier issue was with the order of tags and title.

If the problem exists on AUR, please contact the downstream maintainer.

[2020-05-13 13:21] aleprovencio commented on #454
@jpdasma , can you please take a look on this issue?

[2020-05-14 06:44] Unknow0059 commented on #343
Does bukuserver have a Grid View? Or even something like Windows' File Explorer List View?

The concept of an offline bookmark manager is one that I love because most alternatives are webapps intent on using your data and/or being a social platform, but I need an alternative because the list-based approach used by browsers to manage bookmarks doesn't show enough bookmarks at once, making managing

[2020-05-14 06:54] jarun commented on #343
@rachmadaniHaryono do you have any plans for a grid-based view?

[2020-05-14 12:02] rachmadaniHaryono commented on #343
while it is possible, i'm not good enough in html to hack flask admin that. i may try but i will not promise anything

but i will love if bukuserver can what shiori does https://github.com/go-shiori/shiori

https://i.stack.imgur.com/BW7xN.png

i kinda confused with this because i have no idea how does each item will look like

increase bookmarks per page config here https://github.com/jarun/buku/t

[2020-05-14 12:06] Unknow0059 commented on #343
Yeah it'd be nice. I tried shiori but it just offers nothing when it comes to actual management.

Wdym? You mean you're not sure how to implement the max length of each column list? You can truncate it to a variable limit.
e.g. a limit of 20 (or any chosen number) characters per item, then after that you just get ellipsis.

[2020-05-14 13:48] rachmadaniHaryono commented on #343
so just url (or shortened one or click/hover to see full url) on single line. that maybe simple enough

[2020-05-14 22:27] Unknow0059 commented on #343
Title, then URL displayed on hover

[2020-05-16 13:53] aleprovencio commented on #454
I confirm `buku`'s `pip` package (`termux` here) also carries this.

[2020-05-16 14:08] jarun commented on #454
@rachmadaniHaryono I cannot repro this on v4.3. Can you try?

[2020-05-17 00:22] rachmadaniHaryono commented on #454
the problem is caused by newline after url. keep url a single line and it should be fixed. checked on d41cff6 and v4.2

[2020-05-19 02:10] deliciouslytyped commented on #304
But...why. It's information only you have access to anyway, and it would be useful to have. The actual bookmarks are about as meaningful.

[2020-05-19 03:00] jarun commented on #304
Not necessarily. `buku` needs an internet connection to work. We could study the usage patterns in the background if we wanted.

I understand that's a personal opinion. I am using `buku` over years myself and do find it extremely useful as an end user. One solution cannot be everyone's cup of tea. So feel free to try out other bookmark managers which may suit your use case.

You can also patch it

[2020-05-19 11:15] deliciouslytyped commented on #304
Yeah I was thinking I might try patching things.

[2020-05-19 17:11] jarun commented on #454
@aleprovencio can you send in a patch to fix the case where the user adds a newline?

[2020-05-19 18:37] aleprovencio commented on #454
I'm so sorry I can't contribute to your project right now. I don't have my laptop until next week and I'm terrified about even doing this "\n" stripping from `termux` :/

[2020-05-22 02:21] klartext commented on #343
Any idea on using different database-files?
Found a feature in the list, which supports it internall, but not for usage.
Planned to add that?

[2020-05-22 02:51] jarun commented on #343
Yes, it is intended. Use at your own risk.

[2020-05-22 16:25] klartext commented on #343
I think -d switch to delete the whole database is rather a risk to destroy the data than -db to use a different database-file.

[2020-05-24 19:18] qusvv commented on #343
I use bookmark folders extensively on firefox (rarely tags) and use the "Add parent folder names as tags" option when importing automatically from firefox. I am interested in preserving my folder tree structure and have it reflected in the sequence of comma separated tags.  I therefore removed `sorted()` in the `parse_tags` function.  **buku**  *line 3687*: `unique_tags = set(orig_tags) `

Is ther

[2020-05-25 02:55] jarun commented on #343
I am not sure. Never tested it this way. If your search results are fine maybe it works.

[2020-05-25 17:35] qusvv commented on #343
Thanks for your reply. Actually my solution doesn't work as set() does not preserve the insertion order from the `orig_tags` list. Instead, I am now directly returning the `orig_tags` list (wrapped with delimiter). My search results seem to work fine. I suppose I could run into issues if I use subfolders which have the same name as their parents.... but I just won't

[2020-05-25 17:36] jarun commented on #343
You can have this modification in your fork. At this stage of the project I do not expect too many changes so it shouldn't be difficult to merge at a later point.

[2020-05-28 23:11] kjcole opened #455 "bukuserver: werkzeug.contrib not found, and its use has been deprecated / removed"
I just installed 4.3-1 and see:

    $ bukuserver
    Traceback (most recent call last):
      File "/usr/bin/bukuserver", line 11, in <module>
        load_entry_point('buku==4.3', 'console_scripts', 'bukuserver')()
      File "/usr/lib/python3.8/site-packages/pkg_resources/__init__.py", line 490, in load_entry_point
        return get_distribution(dist).load_entry_point(group, name)
      File "

[2020-05-28 23:19] jarun commented on #455
@rachmadaniHaryono probably a duplicate of #449?

[2020-05-28 23:20] jarun commented on #455
@kjcole please check the above defect.

[2020-05-28 23:20] #455 closed

[2020-06-29 18:52] throwawayaccount0153 opened #456 "utf-8 characters in bookmark titles cause fatal error"
Buku cannot interpret utf8 characters it seems, and currently system locale must be changed in order for buku to not fail fatally.  Out of the box I should not have to change my locale in order for buku to work with utf8 symbols in bookmark titles. Bukubrow has no problem interpreting these characters, but buku errors out on the command line because of this, buku should be able to accomplish the s

[2020-06-29 23:23] throwawayaccount0153 opened #457 "encryption/decryption password file"
I push an encrypted buku bookmarks.db to github for syncing to other machines, and the process of locking and unlocking the bookmark.db is extremely tedious, it should be quick and easy.  There should be a password file I can utilize to do this so I have to do zero work to automate the following process: unlocked db -> locked db -> commit and push -> unlocked db.  This process right now takes 3 ma

[2020-06-30 00:44] rachmadaniHaryono commented on #456
can you share the error example?

[2020-06-30 00:58] throwawayaccount0153 commented on #456
Traceback (most recent call last):
  File "/home/debian/python/bin/buku", line 11, in <module>
    load_entry_point('buku==4.4', 'console_scripts', 'buku')()
  File "/home/debian/python/lib/python3.7/site-packages/buku.py", line 5471, in main
    bdb.print_rec(0)
  File "/home/debian/python/lib/python3.7/site-packages/buku.py", line 1728, in print_rec
    print_rec_with_filter(resultset, self.fiel

[2020-06-30 06:07] rachmadaniHaryono commented on #456
when you run this, does the exact error happened

[code]

[2020-06-30 10:30] jarun commented on #456
Please refer to this issue: https://github.com/jarun/googler/issues/131

Confirm that your locale is UTF8 OR you are setting it to UTF8 when you run `buku`.

[2020-06-30 10:42] jarun commented on #457
Just use 7z (or a similar format) to do the locking and unlocking: https://superuser.com/questions/1095406/7z-how-to-pass-password-and-avoid-prompt

[2020-06-30 10:42] #457 closed

[2020-06-30 13:36] throwawayaccount0153 commented on #456
Python 3.7.3 (default, Dec 20 2019, 18:57:59)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/debian/python/lib/python3.7/site-packages/buku.py", line 4211, in print_single_rec
    print(''.join(str_list))
UnicodeEncodeError: 'latin-1' codec can't encode character '\u

[2020-06-30 13:39] throwawayaccount0153 commented on #456
I'm still not clear, why are we talking about changing the locale on my machine?  Why can buku not interpret utf8 internally?  This should work out of the box.

[2020-06-30 14:19] jarun commented on #456
Did you try:

    alias buku='LC_ALL="en_GB.UTF-8" buku'

You can also set `PYTHONIOENCODING=utf-8`

@zmwangx is there a way to detect and do this automatically? Would it even work?

[2020-06-30 14:45] throwawayaccount0153 commented on #456
Yes, I already mentioned changing my local locale works, but this is not a real solution.  No one that uses buku should be changing their machines locale. even temporarily.  Buku should be able to detect this automatically or set it internally when run.  This is what my submitted issue is about, it's not about setting my machines locale.

[2020-06-30 15:44] jarun commented on #456
Can you confirm if the following patch works?

[code]

[2020-06-30 16:21] throwawayaccount0153 commented on #456
I've testing this and it works fine!

[2020-06-30 17:52] #456 closed

[2020-07-16 09:13] braderhart opened #458 "Delete by tag without prompting for each bookmark"
#### Feature requests
I would like to be able to delete all by tag without prompting:
[code]

[2020-07-19 23:43] RENZOZ78 opened #459 "buku"

[2020-07-23 02:54] #458 closed

[2020-07-23 02:54] jarun commented on #458
You can now use:

    buku -t 'tagname' -d --tacit

[2020-07-23 05:28] braderhart commented on #458
Thanks so much!

[2020-07-28 12:29] numen3 opened #461 "Redirecting standard output from terminal to file while importing, results into a garbled output text file."
Hello,
I am running buku 4.4 on fedora 31, installed with pip with the "--user" option. I have quite a big library of bookmarks that I want to import from firefox (about 2700). The import works great, but I have a problem. I am trying to redirect the output to a file, for 2 reasons: 1. I can check carefully what happened (since some bookmarks are very old I want to look carefully into the whole pr

[2020-07-28 13:28] jarun commented on #461
Redirection just sends the stdout to the file _with color codes_. To export correctly to markdown please use the option `--export`.

[2020-07-28 13:28] #461 closed

[2020-07-28 13:42] numen3 commented on #461
I didn't want specifically markdown format. I wanted plain ascii that was the exact same output as the output given while importing. In fact the ```.md``` part is irrelevant. Doing an export it's not the same, in fact it's not what I am asking at all. I want a backup of what goes on during the import process, plus the ability to search the file. Theoretically I could achieve this by copying the ou

[2020-07-28 13:59] jarun commented on #461
Use the option `--nc`.

[2020-07-28 14:19] numen3 commented on #461
Thank you very much, it worked.
If anyone else will need to this, remember to redirect stderr too for the erorrs, I did something like this: ```buku --nc -i bookmarks.json &> output```. You will not see the buku prompt asking for different options, but it was the fastest no-brainer solution in my case.
Also, I know that my first guess about the problem was plain wrong and stupid, but hey, I'm not

[2020-07-28 14:30] jarun commented on #461
Cool! :+1:

[2020-08-07 03:52] ajakk opened #463 "Test failure: tests/test_bukuDb.py::test_delete_rec_on_non_interger[a-a-1-False]"
Hi, I'm getting a test failure on `tests/test_bukuDb.py::test_delete_rec_on_non_interger`. System is Gentoo, various package versions are below.

[code]

[2020-08-07 06:10] rachmadaniHaryono commented on #463
see #462

[2020-08-07 08:00] jarun commented on #463
Fixed in #462. Thanks!

[2020-08-07 08:00] #463 closed

[2020-08-07 23:29] ajakk opened #464 "Python 3.9 test failure: test_update_rec_update_all_bookmark[y]"
`tests/test_bukuDb.py::test_update_rec_update_all_bookmark[y]` fails with Python 3.9, it does not fail with previous Python versions.

[code]

[2020-08-08 05:28] jarun commented on #464
Python 3.9 is not released yet. If you can enable it on CI and fix the issues seen, you are welcome to do so.

[2020-08-08 05:28] #464 closed

[2020-08-09 23:25] rachmadaniHaryono commented on #464
i tried python3.9 with tox but can't reproduce the issue.

for quick fix, just skip the test

i will redo this test for this week

[2020-08-20 15:07] CaptainQuirk opened #466 "Importing tags in org mode only works if one answers yes to auto generate tag"
Hi !

I'm trying to use the org mode import/export feature and I'm struggling with tags.

**Buku version**: master branch via direct download
**Operating System** : _Linux Mint 20_
**Python**: _3.8.5_
**Terminal**: _rvxt-unicode_
**Shell**: _zsh_
**locale** :

[code]
### Steps to reproduce

- Backup any existing bookmarks.db file, move it out of the way to start anew
- Add a simple bookmark `buku

[2020-08-20 15:13] CaptainQuirk commented on #466
Oh, before I forgot, I've been trying to use `--tacit` and it doesn't seem to automatically respond `y` to the aforementioned question. I still don't get any tags imported though.

[2020-08-20 15:42] jarun commented on #466
U do not use org mode myself. The guy who raised a single PR and moved on doesn't respond. A PR would be great if you can spend the rime to fix the issues in that path.

[2020-08-20 15:58] CaptainQuirk commented on #466
I'll try ! Any pointers on the way the tests work would be appreciated !
Also, since the last time I contributed was a very long time ago, I don't even know how I can develop and test buku locally (without interfering with my homebrew installation)

[2020-08-20 16:03] jarun commented on #466
Please test the functionality you want working first. @rachmadaniHaryono can help you later.

[2020-08-20 16:06] CaptainQuirk commented on #466
There are tests already for this feature but apparently they're lacking. Is @rachmadaniHaryono the one who raised the PR ? It would certainly help me to understand what happens to work in TDD

[2020-08-20 16:07] jarun commented on #466
Yes, @rachmadaniHaryono is a fellow maintainer of Buku.

[2020-08-20 16:14] jarun commented on #466
The problem may be if you say no to "Append tags when bookmark exists", the logic isn't attempting to read the tags. Please check on that line.

This seems to contradict with the last note here: https://github.com/jarun/buku/wiki/Operational-notes#import

[2020-08-21 00:55] rachmadaniHaryono commented on #466
i'm still trying to understand the problem, but it seem the related logic is this one

https://github.com/jarun/buku/blob/964746d3236ea6d46502f66ab617eae0c659de6d/buku#L2420-L2432

from BukuDb.importdb

[2020-08-28 11:36] tamwile opened #467 "Remove all tags from bookmarks"
I tried to run the commands from the Readme.
At section  36. "Append, remove tags at prompt"

command : `buku (? for help) g > 5 3-2`
result : Invalid input
expected : 3 updated

`buku -z`
[code]
OS : Gentoo
Terminal : Sakura
Shell : fish

[2020-08-29 15:31] subnut opened #468 "buku means 'close to the heart' in which language?"
Was mentioned in the README

Just curious :sweat_smile:

[2020-08-29 22:52] jarun commented on #468
Bengali.

[2020-08-29 22:52] #468 closed

[2020-08-29 22:55] jarun commented on #468
Mother's lingo... anyway, I am deleting the defect as I prefer not to reveal the info in public.

[2020-08-30 07:11] #467 closed

[2020-08-30 07:12] jarun commented on #467
Please confirm the patch works as expected.

[2020-08-30 13:25] tamwile commented on #467
I confirm it works for the commands i tested.

[2020-08-30 15:41] jarun commented on #467
Thank you so much!

[2020-09-01 19:47] tdehaeze opened #469 "Remove Spaces and other characters for tags when exporting to org-mode"
Hi Guys,

Using buku for some time now and I absolutely love it :+1:

I just discovered that `buku` can export bookmarks to and orgmode file which is fantastic!

However, I have tags with whitespaces in `buku` which are not accepted by orgmode.

In the orgmode documentation, the tags are specified as following:

I guess and easy fix would be to convert all spaces and special characters to `_`.

Wh

[2020-09-02 16:51] jarun commented on #469
Can you check #466 and raise a PR?

[2020-09-03 08:44] rachmadaniHaryono commented on #469
i think #466 is not related to this, and this issue is actually the one that related to org-mode export logic

specifically this line

https://github.com/jarun/buku/blob/24600085fc3599f05dc6938bd36e4ac14f1e27a9/buku#L2862-L2868

i can create pr for this but there is problem

- i don't use org-mode so i have no idea if the pr will be correct
- will this only apply to export logic or we have to chan

[2020-09-06 15:24] tdehaeze commented on #469
Accent characters also work such as `éèà`...
Based on some experiments, `#` and `%` are also working.

But [a-zA-Z_@] should cover 99% of cases.

I'll vote for that.

First one seems so make more sense, but could be more difficult to implement?

[2020-09-19 12:07] rachmadaniHaryono commented on #469
copy from pr

old rules:

- add additional whitespaces for tags that end or start with a colon
- if colons are inside a tag, add one additional colon

new logic:

1.    any character which don't match [a-zA-Z0-9_@] will replaced with space character
2.    multiple whitespaces will be replaced with underscore character
3.    only unique tags will be returned in ascending order

---

accented charac

[2020-09-19 13:11] jarun commented on #466
@rachmadaniHaryono please add this fix as well and update the docs if required.

[2020-09-19 13:13] jarun commented on #466
But can you explain what the problem is? I still don't get it.

[2020-09-19 14:16] rachmadaniHaryono commented on #466
no. 470 only take care tag conversion. this one related to tag import menu

that is the main question and the answer (cmiiw) yes.

[code]
`--tacit` is equal to give `n` for question `Generate auto-tag (YYYYMonDD)? (y/n): ` in above case
[code]

[2020-09-19 15:02] jarun commented on #466
Got it. maybe just add the simplification you did in https://github.com/jarun/buku/issues/466#issuecomment-677978692 anyway.

I am closing this issue with your explanation.

[2020-09-19 19:09] jarun commented on #469
Closed at #470.

[2020-09-19 19:09] #469 closed

[2020-09-20 04:54] rachmadaniHaryono commented on #466
after thinking about it, maybe we should change the question, because in the question it isn't clear if tag will be imported.

maybe

- "import tags and generate auto-tag (YYYYMonDD)? (y/n): "
- "import existing tags and generate auto-tag (YYYYMonDD)? (y/n): "
-  "add tags and generate auto-tag (YYYYMonDD)? (y/n): "

basically indication that not only date tags but tag from target file will also b

[2020-09-20 04:59] jarun commented on #466
Makes sense. Please raise the PR.

[2020-09-21 14:10] CaptainQuirk commented on #466
I don't understand why we cannot import existing tags without generating auto-tag. Would you be so kind and give me a clue @rachmadaniHaryono please ? :pray:

Thanks in advance !

[2020-09-21 14:20] jarun commented on #466
@CaptainQuirk I believe you want to import tags but do not want the auto-generated tag, right?
If yes, then use the option `--tacit`.

[2020-09-21 14:28] jarun commented on #466
And in verbose mode, if you do not want to generate auto-tag but import tags, do the following:

[code]

[2020-09-21 14:31] CaptainQuirk commented on #466
I've seen no code changes on the logic around `--tacit` and I mentioned that `--tacit` was not working for that purpose. `--tacit` effectively means answering `no` to the `Generate auto-tags question`.
Correct me if I'm wrong but that seems to be the expected behavior, from what I could understand of @rachmadaniHaryono answers.

[2020-09-21 14:32] jarun commented on #466
No, do not mix every damn thing together. let's go one by one. First tell me about the verbose mode what is goign wrong and what you are expecting. then we will go for tacit.

[2020-09-21 14:36] jarun commented on #466
And put it like this:

[code]

What you expect and what actually happens.

[2020-09-21 14:45] CaptainQuirk commented on #466
I was replying to your first comment while you were redacting the second. There's no need to be rude.

I already told what was going wrong with verbose mode. Cannot it be inferred from the subject and body of the issue and my last comment ?

If not : I would like to be able to import existing tags without having to generate a timestamp tag.
Appending is not an issue nor a concern of mine at this p

[2020-09-21 14:51] jarun commented on #466
I keep redacting my comments to make them accurate. Deal with it.

What is the problem with the following?

[code]

If your bookmark exists already, newer tags will be appended. Do you see a problem if the bookmark does not exist?

[2020-09-21 14:59] jarun commented on #466
Logically, if your bookmark does not exist already, tags should be imported. Generate auto-tag has nothing to do with it.

[2020-09-21 15:06] jarun commented on #466
I do not use org-mode. Here's what I see for html import which works as expected:

[code]

That's how it is supposed to work.

@rachmadaniHaryono is this what's happening in org-mode? If not, that's a bug.

When a bookmark does not exist already, everything gets imported, irrespective of your answer to the above 3 specific questions.

[2020-09-21 18:47] rachmadaniHaryono commented on #466
I'm answer it not from my pc,so I will add some detail later

Cmiiw it is based on how variable 'newtag' is checked. Why it is designed so? I also have no idea and just realize when I create example for this issue

No jarun that doesn't work for org mode. See the third example, the tacit section

I forget if I have done this or buku will still not import tags even if I do this. I will add the resu

[2020-09-21 19:30] jarun commented on #466
I tested with html import (shared above) and tags are imported correctly if the bookmark does not exist already.

The URL didn't exist. I cleared the DB earlier.

Yes, looks like an issue in org mode import. The auto tag should not be linked with importing existing tags if the bookmark does not exist.

[2020-09-22 23:15] rachmadaniHaryono commented on #466
i haven't working on bugfix, but here is full html example based on my previous example
<details>
  <summary>html example</summary>

[code]
---
can we reopen this issue that it is now confirmed bug?

[2020-09-22 23:34] jarun commented on #466
I have reopened it.

[2020-09-22 23:41] jarun commented on #466
What is the bug? here's what I see:

    $ buku --db temp6.db --import test.html && buku --db temp7.db --import test.html &&  buku --db temp8.db --import test.html --tacit && buku --db temp8.db -p

The first invocation imports all tags. Bookmark didn't exist.

The second invocation retains the existing tags in existing bookmark and also adds the auto-tag.

The third invocation also imports the par

[2020-09-22 23:45] rachmadaniHaryono commented on #466
html import run perfectly

but compare the first section of that with org mode on first section (`Generate auto-tag (YYYYMonDD)? (y/n): n`, `Append tags when bookmark exist? (y/n): n`) where org mode import don't get any tags

[2020-09-22 23:47] jarun commented on #466
OK, so you are confirming the org-mode specific issue. Got it.

[2020-09-23 15:09] CaptainQuirk commented on #466
Hi @jarun,

I do not have the necessary knowledge in python to tackle this issue in a way that would not be very time consuming. I also find quite difficult for someone who does not know the internals of a tool and the language it is based on to work on a 5000 lines script and I must admit it plays a part in my not feeling ready for the challenge.

I encountered this inconsistency while trying to

[2020-09-24 02:08] jarun commented on #466
@CaptainQuirk no issues! When I mentioned _expectation_ I was thinking more in the lines of confirming the import behaviour with other formats like html/markdown. However, I understand your perspective better now and I can understand why things got mixed up. Thanks a lot for taking time to report the issue!

[2020-09-26 19:13] #466 closed

[2020-10-03 13:51] rachmadaniHaryono commented on #343
@jarun i want to update this page https://github.com/jarun/buku/wiki/Buku-as-a-library

---

`buku` is developed as a powerful python library for bookmark management. All functionality are available through carefully designed APIs. `main()` is a good usage example. It's also possible to use a custom database file in multi-user scenarios. Check out the documentation for the following APIs which acc

[2020-10-03 15:22] jarun commented on #343
Sure thing!

[2020-10-08 23:21] OrionRandD opened #473 "importing bookmards"
When I import a bookmark database,
Does the importing overwrites the existing bookmarks in the original database?
I think it should be explained in the documentation...

buku -i bookmarks.db

[2020-10-09 01:48] jarun commented on #473
No it doesn't.

[2020-10-09 01:48] #473 closed

[2020-10-09 01:48] jarun commented on #473
Ref: https://github.com/jarun/buku/wiki/Operational-notes

[2020-10-13 07:07] zenny opened #474 "[FEATURE REQUEST] `buku` Could be commandline Zotero/JabRef alternative?!"
Hi @jarun

`buku` is a nice piece of innovation in command-line organization which I came across while searching for a  command-line-bookmarks-tool which can replace reference managers like zotero/jabref.

I dared to post this feature request when I didn't find in something like the following in #343

Won't it be good to extend this script similar to zotero for capturing metadata as well as associ

[2020-10-13 08:59] jarun commented on #474
Glad to know you like `buku`.

The goal of the project is to remain text-based. In addition, non-text data would also add to local storage which (maybe after a year) would become a bottleneck for portability. I needed something light and so `buku` is implemented the way it is.

If you are really interested, please feel free to fork and add the additional pieces. I believe you would need another fi

[2020-10-13 08:59] #474 closed

[2020-10-16 11:07] umrwifi opened #475 "cant click items when set BUKUSERVER_PER_PAGE>10"
![Kapture 2020-10-16 at 19 04 07](https://user-images.githubusercontent.com/35317716/96251056-77b04b80-0fe2-11eb-9e21-3e6b25056e3e.gif)

### env
- docker_compose.yml: <https://github.com/jarun/buku/blob/master/docker-compose/docker-compose.yml>

### logs
[code]

[2020-10-16 11:24] rachmadaniHaryono commented on #475
how many bookmark you have? how many did you set for BUKUSERVER_PER_PAGE?

[2020-10-16 11:27] umrwifi commented on #475
i set per_page = 100 ;
and i import  total  123 bookmarks from my pinboard  (it is a html file
like chrome bookmark export file)

rachmadani haryono <notifications@github.com> 于2020年10月16日周五 下午7:24写道：

[2020-10-16 12:00] #475 closed

[2020-11-13 08:35] flux77 opened #477 "Option to preserve bookmark add date during import"
Suppose you import an existing Firefox HTML bookmark file (`buku -i firefox-bookmarks.html`) that contains bookmarks that were added long ago, and immediately export the bookmarks from buku into a Firefox HTML bookmark file (`buku -e buku-bookmarks.html`). When you compare `firefox-bookmarks.html` with `buku-bookmarks.html`, you will notice that buku did not preserve the original time/date when th

[2020-11-13 08:40] rachmadaniHaryono commented on #477
duplicate of #304 ?

[2020-11-13 08:58] jarun commented on #477
Yes.

[2020-11-13 08:58] #477 closed

[2020-11-17 12:53] dennisN86 opened #478 "Bukuserver: Invalid URL / can't add new bookmarks"
Hi everyone,

before explaining my error I do not know how to resolve, I want to thank everyone involved with this project for giving us an easy-to-use bookmarks solution I can use across multiple browsers and devices!

For my error: I'm migrating from Debian 10 (buster) to Manjaro. In order not to have to do the same configuration again and again, I'm setting up an `ansible-playbook`. You find th

[2020-11-17 12:59] jarun commented on #478
@rachmadaniHaryono please take a look.

[2020-11-17 20:36] rachmadaniHaryono commented on #478
can you try #479 ? it is temporarily solution.

the issue come from the form which catch url path and query and the pr only ignore that catch.

if this is merged user can't add bookmark with url that start with `/bookmark/`

[2020-11-21 06:19] rockhazard opened #480 "Encryption Error"
When I try to encrypt my buku DB with `buku -l` I get this error:
`[ERROR] Context was already finalized.`
Later, if I attempt to unlock it with `buku -k` I get this error:
`[ERROR] Both encrypted and flat DB files exist!`
So I remove the non-encrypted DB and repeat the unlock, which gives me this when using the correct password:
`[ERROR] Decryption failed`

The error repeats as above with both de

[2020-11-21 10:03] jarun commented on #480
I tried encryption and decryption without any issues. Plus we do not have any msg like "Context was already finalized."

Is there any other database file in the same location?

[2020-11-21 17:02] rockhazard commented on #480
I created the db using an import operation When I encrypted it, it left the original plus the encrypted version. When I tried to unlock it, it gave me the second error, **so I removed the original unecrypted db.** This left me with one db. Then, when I tried again, it let me try a password, but failed to unlock it, showing the third error, even when I tried to lock a fresh copy with a very simple

[2020-11-21 17:19] jarun commented on #480
Can you share the exact commands you used so I can reproduce this? When I tried to reproduce it, after locking I had only the encrypted file.

Just wondering if you imported using sudo and later tried to encrypt as a normal user. As `buku` would attempt to delete the original file it may fail in that case due to lack of permission,

[2020-11-21 18:55] rockhazard commented on #480
I did not use sudo. However, I'm closing in on the problem. If I createa an empty db, encryption works without errors. As expected, when I add a single record it still works. However, if I import my Firefox json file the encryption stops working. My command sequenc is as follows:

- buku -a https://www.google.com [this works]
- buku -l [this works]
- buku -k [this works]
- buku -i bookmarks.json [

[2020-11-21 18:57] dennisN86 commented on #478
Thanks @jarun and @rachmadaniHaryono for your support. The changes in `commit: 08e81c292392bf7ee0b2e5fbf17647fef976f901` to `bukuserver/views.py` I can confirm as working.

[2020-11-21 20:26] jarun commented on #480
Thanks! I'll check this out.

[2020-11-21 20:50] jarun commented on #478
Thank you for confirming!

@rachmadaniHaryono please make the PR official so we can merge it.

[2020-11-21 23:10] jarun commented on #478
Fixed at #479.

[2020-11-21 23:10] #478 closed

[2020-11-22 11:10] jarun commented on #480
Looks like the error was coming from the crypto module; https://stackoverflow.com/questions/59698196/cryptography-exceptions-alreadyfinalized-context-was-already-finalized

[2020-11-22 11:13] jarun commented on #480
How many bookmarks did you have?

[2020-11-22 11:23] jarun commented on #480
The first problem is we are not removing the partially encoded file when there's a failure. Same thing when we decrypt as well.

Please test commit 5d5b680405dd65548ba403d1baea32f0f5ec8bf6. With this when your encryption fails, only the db file will be left and the incomplete .enc file will be deleted.

[2020-11-22 11:45] jarun commented on #480
We still need to check the problem with encryption.

@zmwangx please share if you have any idea on this. From google it looks like a padding related thing but not exactly sure.

[2020-11-22 11:47] jarun commented on #480
Also adding @gyulaweber for any help with this error.

[2020-11-22 15:06] zmwangx commented on #480
Looked at the crypto code, found bugs. To save you trouble I'll just open a PR.

[2020-11-22 15:07] jarun commented on #480
Thank you!

[2020-11-22 15:17] zmwangx commented on #480
#481.

Also have some qualms with your crypto itself (minus the bugs). It's kind of a hand-rolled authenticated (through writing the SHA-256 hash as part of the data) AES-CBC with a hand-rolled padding scheme (pad spaces and remove them through writing the file length as a struct !! as part of the data). Why not just use a mode with authentication built-in? Like AES-GCM, which doesn't even require

[2020-11-22 15:26] jarun commented on #480
Just raise the PR! I feel you'll reduce some lines of code. ;)

Fixed at #481.

[2020-11-22 15:26] #480 closed

[2020-11-22 15:31] zmwangx commented on #480
Unfortunately it's only gonna be fewer lines of code if you start anew. With legacy encrypted files out there, if you change the crypto (to be simpler and more robust) at the very least you'll have to provide a migration path with the old decryption code, so it wouldn't be simpler at all... Consider the above an unactionable rant.

[2020-11-22 15:43] jarun commented on #480
I don't think that's a big problem. We use the extension `.enc` for the encoded files. So we can use something else for the new encryption algo and decrypt using earlier algo.

For a short stint at it, just add 2 new function for the encrypt and decrypt logic. i will take care of the extension thing.. probably next weekend.

[2020-11-22 16:48] rockhazard commented on #480
Well, buku removed the dupes, but it looks like the original backup has 5464 urls.

Also, the original db file created after import is 588K, while the corrupted enc db is 513K, if that helps. I don't know if you're using compressiong on the enc db, but if not, that is a strange size change, no?

[2020-11-22 17:21] zmwangx commented on #480
Sure, here's a patch implementing a fresh crypto scheme with PBKDF2 + Fernet. See commit message for detailed explanations.

Patch (also in a gist: https://gist.github.com/7cbd65b2cffac771045cf9999a936383):

[code]

[2020-11-22 23:38] jarun commented on #480
@rockhazard your issue should be fixed on master. Please test and confirm.

@zmwangx Thank you!

[2020-11-23 04:48] rockhazard commented on #480
@jarun So, the problem persists with my original bookmark file. However, I deduped the bookmarks and removed a bunch of cruft built up from about two years of using Tab Session Manager, a plugin that I think saves sessions to the bookmarks (a thing I didn't know and which is causing me to re-evaluate my usage of said plugin). After I did that, the file moved from north of 5k urls down to about 170

[2020-11-23 06:57] jarun commented on #480
So you are saying even with the fix from @zmwangx the issue persists? Please ensure you had the patch when you tested.

[2020-11-23 09:54] zmwangx commented on #480
The crypto routine doesn’t care about whether the file is a SQLite database, or a video, or anything. You should be able to put any file there and it either works, or not. Content just doesn’t play a role here, only the byte count.

[2020-11-23 10:47] zmwangx commented on #480
@jarun Btw, may I suggest that you dump a traceback for the last exception in debug mode, like what googler does? Right now you only print the exception message (not even the exception type), and are left guessing where it comes from, which is especially hard when the exception comes from anywhere in your dependency chain, and/or when the exception message isn't clear (sometimes there may not even

[2020-11-23 12:01] jarun commented on #480
Please raise a PR. I am real short of bandwidth.

[2020-11-24 07:55] rockhazard commented on #480
@jarun @zmwangx
After the request to make sure I had the latest files, I redownloaded the git master branch, into a clean mint 19.3 vm. I installed it using `sudo make install`, changed buku to executable, imported the problem file with `buku -i bookmarks.html`  (a Firefox backup) then ran the following commands:
[code]

As you can see, the file still won't decrypt. I just used a one-character pas

[2020-11-24 08:48] jarun commented on #480
@rockhazard would it be possible to share the db or json file if it doesn't have confidential data? No need to share it here. Probably over mail.

[2020-11-24 09:08] zmwangx commented on #480
I simply didn't bother to test the decryption, which has the exact same problem. Trivial to fix.

[2020-11-24 12:44] jarun commented on #480
@rockhazard everything should be working for you on master, thanks to @zmwangx!

[2020-11-25 00:49] rockhazard commented on #480
@jarun @zmwangx Thank you both for your diligence. The latest update worked.
Unfortunately, even though I'm curious what in the file may have contributed to the issue, I can't share the original bookmarks file, as it does contain confidential info.

[2020-11-25 02:47] jarun commented on #480
@rockhazard

Thanks for confirming!

It's not required. We figured the issue. Thanks again!

[2020-11-25 17:00] kajzersoze opened #483 "ID switch"
Is there a way to replace IDs ?
For example I wish to switch bookmark ID 126 with the bookmark ID 2, simply switch their places.

[2020-11-25 17:12] Clarkinia commented on #343
On fedora 33, copying a link in a search (c #id) throws this error:
Failed to locate suitable clipboard utility
I was thinking maybe it's a Wayland issue? When I right-click on the link in terminal I am able to copy.

The reason I want to copy is to be able to open in a browser other than Firefox (or the browsers listed in the Python webbrowser controller). Perhaps this is too much of a pipe dream

[2020-11-25 18:34] jarun commented on #483
You
Switching IDs is not supported as the IDs are auto-generated and auto-handled by SQLite3.'ll have to edit the bookmarks manually to update them.

[2020-11-25 18:34] #483 closed

[2020-11-25 18:37] jarun commented on #343
You may have to install `wl-copy`. See function `copy_to_clipboard()` for a list of supported copiers.

Switching browsers on the fly is not supported.

[2020-11-25 18:38] #343 closed

[2020-11-25 18:38] jarun opened #484 "ToDo list"
Continued from #343.

#### Notes

The list below is a growing one. While suggesting new features please  consider contributing to `Buku`. The code is intentionally kept simple and easy to understand with comments. We'll be happy to assist any new contributor. We need your help!

Some of the fresh-baked features may not have been released yet. Grab the master branch for those.

#### Identified task

[2020-11-25 21:37] Clarkinia commented on #343
Thanks! That worked. I had also installed buku from fedora dnf and the code was older. I looked at the file in /usr/bin/buku and the "wl-copy" info was not there yet. So I downloaded the latest from the buku github repository and replaced the buku file. And I installed wl-clipboard from the fedora's package manager. Now copy works. Thanks.

[2020-11-30 02:14] mtwb47 opened #486 "Open in Existing Tab"
I don't know if this functionality is already available or not, but it would be great if buku could open a bookmark in an existing tab instead of always opening in a new tab.

I'm using buku-dmenu, and along with Buku, this is has been great, but I find myself with tons of open tabs after using it for a while because every time I open up a new bookmark, it opens a new tab.

If this is already poss

[2020-11-30 02:40] jarun commented on #486
I don't consider this an issue from the tool perspsective given there is provision to open multiple bookmarks at once. At this stage of the project it's a little too late to make cosmetic changes.

Also, I don't know if it's possible to do so in a browser-agnostic way. You can give it a try by tweaking the `webbrowser.open()` call and keep using it. There won't be too many changes in `buku` given

[2020-11-30 02:40] #486 closed

[2020-12-01 17:44] rlue opened #487 "Feature Request: Support recfiles (text database) as alternative to sqlite"
I track my buku bookmark database in version control. It would be nice if the database were in plain text format so that each commit could display a diff of what was added/changed/removed.

It appears that there is a plaintext database format called "recfiles" and a GNU utility called [recutils](https://labs.tomasino.org/gnu-recutils/) which could suit this purpose. There's even a [python-recutils

[2020-12-01 17:51] jarun commented on #487
This is as good as re-writing the program from scratch. Feel free to open a PR. I do not have the bandwidth to work on this.

[2020-12-01 17:51] #487 closed

[2020-12-02 08:06] marxenegls opened #488 "no bug just an opinion and some gratitude"
This utility is indispensible to me not just because of the sheer number of bookmarks but the n
umber of hosts - every sync service i.e FF manages to make a dry and tasteless omlette out of em and google manages to go back to prehistoric era and cunjures up bookmarks i made on vm manchines ten years ago -which says plenty in of itself too Google@Yourservice : p
Truth is though that if i hadn't see

[2020-12-02 10:33] jarun commented on #488
Thank you for the appreciation! I think recently someone made a nice youtube video review. Check it out!

[2020-12-02 10:33] #488 closed

[2020-12-02 13:46] jarun commented on #488
Here you go: https://www.youtube.com/watch?v=9HzEHrUBQXE

[2020-12-07 14:13] cocoonkid opened #489 "question regarding fzf"
My apology if this  is the wrong place to ask but I tried for quite some time without success and hope somebody knowledgeable can chime in.

[code]

I am working with this and I love it. But I have 2 issues I'd like to fix.

a) How can I add the tags and description to the fuzzy search results as well?
b) How can I achieve that the specified browser does NOT open a window if I abort the fzf query?

[2020-12-07 14:56] jarun commented on #489
a) I don't think you can do that because fzf cannot understand which one is url and which one is not.
2) For me Firefox does not open if O abort the fzf query with `^C`.

Also, I am not an fzf expert. Please try to figure usability stuff yourself.

[2020-12-07 14:56] #489 closed

[2020-12-07 15:04] jarun commented on #489
BTW, 2things those might help:

- use `--nc` to omit the color codes
- I tried the following and found that with filter 40 the title and tags are separated by `TAB` from URL:

[code]

So the following works by taking out the first column:

[code]

[2020-12-07 15:10] jarun commented on #489
I have updated my answer to your question b above. Please take a look.

[2020-12-07 15:21] jarun commented on #489
In fact `TAB` is the default delimiter for `cut`. So you can simplify the search to:

[code]

And if it is possible for you to use a script, you can easily ignore NULL results when you cancel:

[code]

[2020-12-08 01:21] rachmadaniHaryono commented on #489
single line command
[code]
![20201208_083900](https://user-images.githubusercontent.com/6340878/101424609-45fa9780-3936-11eb-9657-a9393a1bc788.jpg)

[2020-12-08 11:04] jarun commented on #489
@rachmadaniHaryono

I think you can improve it further if you use `-f4` than `-f40` to show the index number... the preview can take the index number (e.g. buku -p 20)... later take out the second column with url rather than the first column when passing to firefox.

[2020-12-08 16:46] jarun commented on #489
Here it is:

    url=$(buku -p -f4 | fzf -m --reverse --preview "buku -p {1}" --preview-window=wrap | cut -f2) ; if [ -n "$url" ]; then echo "$url" | xargs firefox ; fi

[2020-12-13 17:08] cocoonkid commented on #489
This is just PERFECT!  Thanks everyone!!!

[2020-12-13 23:24] rachmadaniHaryono commented on #489
i tried to create another one to edit bookmark

[code]

unfortunately i can't make it to edit multiple selected bookmarks

[2020-12-14 22:31] rachmadaniHaryono commented on #489
other example directly from fzf https://github.com/junegunn/fzf/wiki/examples#buku .

[2020-12-14 23:00] rogeliodh commented on #489
selecting multiple bookmarks and edit them works with something like:
[code]

[2020-12-21 18:48] s3v- opened #490 "buku 4.4: failed test with Python 3.9"
Hi,
tests fail in the latest release of buku (v4.4) because of Python 3.9.
Please note that Python 3.9 will be the default in the next Debian stable release ("bullseye").

[code]

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=975539

[2020-12-21 19:18] jarun commented on #490
@s3v- can you please raise a PR with the patch?

[2020-12-21 20:45] rachmadaniHaryono commented on #490
as a note above test is old version from 4.4

new version don't have special exception for python 3.8

https://github.com/jarun/buku/blob/995b24b9b604ecabb3ac092524f9c1ca94bdaa96/tests/test_bukuDb.py#L1051-L1064

i try to run the test locally with tox and it still pass

[2020-12-21 21:09] s3v- commented on #490
This patch does make tests able to pass **locally** against Python 3.9.
Please note that Debian relies on v4.4 old code as pointed out by rachmadaniHaryono.

[code]
`

[2020-12-24 03:37] szlin commented on #490
@s3v- thank you for your report

@jarun Is it possible to merge [this PR](https://github.com/jarun/buku/pull/491/commits/3da98a14c0334a8ae26865b33813b2246a03c491) and release a new version of Buku recently?

[1] https://github.com/jarun/buku/pull/491/commits/3da98a14c0334a8ae26865b33813b2246a03c491

[2020-12-25 11:56] jarun commented on #490
Yes, I'll make a release soon.

[2020-12-25 11:57] #490 closed

[2020-12-30 04:10] SleeplessSloth opened #492 "[Feature Request] Edit mode"
I have a little annoyance I'd like to have a way to avoid. So, I imported over 5000 bookmarks from Vivaldi via bookmarks as HTML import/export. All went well, buku removed over 9000 of duplicates. The only issue is that I have no easy way to go through each bookmark one-by-one and open/tag/remove it. Basically, I'd like to avoid doing

[code]

and do that automatically. One example I can think of

[2020-12-30 06:12] rachmadaniHaryono commented on #492
have you try fzf + buku combo?

[code]

[2020-12-30 13:35] Trisk3lion opened #493 "Bookmarklet"
I can't find any documentation for the bookmarklet that is referenced in the 4.5 release, is it hiding somewhere?

Thanks for a great project!

[2020-12-30 13:47] jarun commented on #493
See commit 36f4eb5e36a114b57bb2bc9a8a4cb00b5eb4f979.

@rachmadaniHaryono can we add some documentation for this?

[2020-12-30 22:48] rachmadaniHaryono commented on #493
i don't know what to write about this. the bookmarklet is on front page of the bukuserver.

just drag and drop to your bookmark toolbar.

the basecode is here https://github.com/jarun/buku/blob/master/bukuserver/bookmarklet.js

for this feature there is new endpoint on `/endpoint` that will redirect you to either edit/create bookmark based on the input

there is also related issue https://github.c

[2020-12-31 01:21] jarun commented on #493
Cool. People can just refer to this defect.

[2020-12-31 01:21] #493 closed

[2020-12-31 01:22] jarun commented on #492
Closing this with the above reply.

[2020-12-31 01:22] #492 closed

[2020-12-31 01:48] SleeplessSloth commented on #492
Seems pretty nice but sadly there doesn't seem a way to remove the selected bookmark without remembering the id and removing it manually in a separate terminal window. Hopefully I'll be able to modify the script to achieve that. Thanks

[2020-12-31 03:28] szlin commented on #490
@s3v- Please notice that the new version of buku has been uploaded.

[2020-12-31 17:18] tomoakley opened #494 "interest in an iOS app"
Sorry if this isn't the right place to ask this, wasn't sure where else to put it (is there a community chatroom somewhere e.g discord?).

I started using Buku a few months ago and love it. However I've found it annoying there's no iOS app. I'm an iOS developer, and would like to experiment with SwiftUI; developing a Buku app for iOS seems like a good opportunity to scratch both those itches. I th

[2021-01-24 10:52] maxigaz opened #497 "Buku (cli release) is no longer available in the AUR"
I’ve noticed recently that the AUR package `buku` no longer exists. I can’t find it in the official Arch/Manjaro repos either.

`bukuserver` and `buku-git` are still in the AUR, though.

[2021-01-24 12:56] jarun commented on #497
The bukuserver package says:

    pkgdesc="Powerful command-line bookmark manager. CLI and server."

I wouldn't mind having them together given it's very easy to install the cli client from git manually.

Anyway, this is not our bug. You can contact the bukuserver maintainer to see if he can maintain a separate package from buku-cli.

[2021-01-24 12:56] #497 closed

[2021-01-24 12:57] jarun commented on #494
Feel free to do that! :+1:
Ask if you have any questions.

[2021-01-24 12:57] #494 closed

[2021-01-27 02:36] kebler-net opened #498 "where to bind browser settings in container for import"
I want to import bookmarks from Firefox but I am running the docker container.

Where should I bind `.mozilla ` in the container so I can import with `buku --ai`

[2021-01-27 10:51] #498 closed

[2021-01-27 15:52] edwinshelton opened #499 "bukuserver "buku search match all" doesn't match multiple elements"
Hi!
For some reason, I can't enter two+ tags in one search prompt, such as `carhartt jacket`,

![image](https://user-images.githubusercontent.com/77123762/106016272-4a694400-608d-11eb-9869-b0a1b22c2d3a.png)

![image](https://user-images.githubusercontent.com/77123762/106016235-3de4eb80-608d-11eb-853b-b1bb8eca5235.png)

Closest behavior i can replicate is stacking searches together

![image](https:

[2021-01-27 17:42] jarun commented on #499
@rachmadaniHaryono please check.

[2021-01-29 14:00] rachmadaniHaryono commented on #499
in cli user with above input willl get `['carhartt', 'jackett']` from `buku -S carhartt jacket`

but bukuserver will not do any processing with argument so from the op post the second picture will give `["carhart jackett"]` and the third picture will give `['carhartt', 'jackett']` the same as cli.

the second picture from op can be achieved from cli if you pass following argument `buku -S "carhart

[2021-01-29 23:00] edwinshelton commented on #499
Ah, OK!

Is there any sort of way to pass ['carhartt', 'jacket'] into bukuserver w/o doing multiple filters? And if not, perhaps as a feature request?

Thanks for being prompt!

[2021-01-29 23:08] rachmadaniHaryono commented on #499
currently no

in the end there are following options:

1. keep it as it is
2. change buku section filter to use shlex split
3. add 3 more filter option with shlex split

i will let @jarun decide

but in my opinion i am against no 2 because it may change the default behaviour and may need another check with netloc search

[2021-01-30 06:49] jarun commented on #499
I would like to keep it as it is if it's not a big deal.

[2021-01-30 09:36] edwinshelton commented on #499
cool! thanks for the projects!

[2021-01-30 09:36] #499 closed

[2021-02-09 07:36] PowerOlive opened #500 "Import from Onetab"
I know this project too late that I have keep a big list of website using onetab
Will you support import from onetab
Onetab file format look like this with one bookmark per line
//
https://github.com/jarun/buku/ | jarun/buku: Browser-independent bookmark manager

[2021-02-09 13:07] jarun commented on #500
Try to write a script that can convert it to `buku` supported markdown format and import it. See program help.

[2021-02-09 13:07] #500 closed

[2021-02-14 21:52] dennisN86 opened #501 "Docker build stuck on cryptography dependency"
Hello,

the current Dockerfile is not properly executing a build anymore. It gets stuck while trying to build wheels for cryptography. I'm running Manjaro with the latest 5.11.0 Kernel. Thank you for having a look into this.

[dennis@moped buku]$ docker build -t bukuserver .

Sending build context to Docker daemon  5.615MB
Step 1/8 : FROM python:alpine
 ---> 85987b1a8b9d
Step 2/8 : MAINTAINER Amey

[2021-02-15 01:52] rachmadaniHaryono commented on #501
it seems related to https://github.com/docker/compose/issues/8105

[2021-02-15 19:01] 0xFEEDCAFE commented on #501
Cryptography built with rust seems to not be necessary for building the container. A workaround is to modify the docker file as mentioned in the debug assistance section. A simple adding of following line to Dockerfile should fix it:

`ARG CRYPTOGRAPHY_DONT_BUILD_RUST=1`

Then try to build the docker image again.

[2021-02-17 05:39] rachmadaniHaryono commented on #501
pr created based on comment above and other pr i mentioned. if anybody can test it and it work, pr should be accepted

[2021-02-19 10:03] rachmadaniHaryono commented on #484
i just noticed that there is possibility to track user with favicon based on this https://github.com/jonasstrehle/supercookie

i may update bukuserver later to set favicon default to false.

[2021-02-19 10:04] dennisN86 commented on #501
The change above is sadly throwing the same error.

[2021-02-19 10:18] rachmadaniHaryono commented on #501
can you try it once again?

there is actually flag to set env var direct from command line

https://docs.docker.com/engine/reference/commandline/run/#set-environment-variables--e---env---env-file

so you may want to try that to if recent commit failed

[2021-02-19 10:52] jarun commented on #484
Sure thing!

[2021-02-19 15:44] dennisN86 commented on #501
I check out the latest commit and my build went though as well. Thanks for fixing the issue!

[2021-02-19 16:26] jarun commented on #501
Closed at #502.

[2021-02-19 16:26] #501 closed

[2021-03-03 16:07] fenuks opened #504 "Find all bookmarks without tags"
#### Feature requests
Not really a feature request, but more a question. Is it possible to find all bookmarks without any tag? It seems to me from lecture of help and man page that it is not supported? Second, somewhat related question, is it possible to find tags with regex?

[2021-03-04 12:07] jarun commented on #504
Try `buku -S "blank"`. It's in the program help.

[2021-03-04 12:07] #504 closed

[2021-03-04 16:14] fenuks commented on #504
Thank you. You are right, I missed it because I was only reading help regarding `-t` flag. Will read whole help text next time. ;)

[2021-03-14 14:45] syntezoid opened #505 "Buku find only part of bookmarks"
Hi,

I imported from bookmarks.html my bookmarks to buku. I tried to learn it quickly, and then I noticed that buku only show me 10 from 47 bookmarks from reddit.
I tried: buku reddit; buku -s reddit; buku -s reddit --deep reddit; buku -r reddit; same with reddit.com fraze.
If i search other 37 bookmarks with words from their titles, buku show them, but not with reddit or reddit.com.

[2021-03-14 14:55] jarun commented on #505
The results are paged. Type `n` at the prompt and press `Enter`.
As the prompt says, press `?` to learn more about the keys the prompt understands.

[2021-03-14 14:55] #505 closed

[2021-03-14 19:36] syntezoid commented on #505
Oh, gosh, you're right. Sorry to bother you, I didn't notice even though I looked at help so many times.
Thanks a lot. Buku is a great software, I love it!

[2021-03-28 13:39] caywin25 opened #507 "database encrypted ??"
Hello,

Thank for you work.
I´am testing buku and I encrypted my bookmarks database (with -l).
When I want to decrypt my database (with -k) everything works fine.

But when I go to ~/.local/share/buku/bookmarks.db and run : sqlite3 bookmarks.db, database is not encrypted and I can browser my bookmarks without my encryption keys.

Is it normal ???
Thank you
Have a good day

[2021-03-28 13:41] jarun commented on #507
Yes, when you unlock the database is decrypted.

[2021-03-28 13:41] #507 closed

[2021-03-28 13:43] caywin25 commented on #507
No No I tested by rebooting my PC and testing with sqlite3 without running buku first, I can still use sqlite3 without encryption key.

[2021-03-28 14:48] jarun commented on #507
When you start you have `bookmarks.db`

Now you have `bookmarks.db.enc`

Decrypts and leaves `bookmarks.db` for you. If you want to encrypt again, use `buku -l`.

[2021-03-28 17:19] caywin25 commented on #507
Ah yes ok my bad.
All it´s ok !

Regards

[2021-04-02 21:33] secf00tprint opened #508 "Grepable output"
#### Feature requests

Would be nice to have a grepable output including the comments. Couldn't find a flag that stops the interactive mode.

And if you use

`buku -p | grep 'searchstring' `

it only fetches urls and tags.

Use Case: Comments contain my additional information about a url. Now I want to use it to find a specific thing inside those comments or use other tools in my linux tool chain

[2021-04-02 21:43] jarun commented on #508
I see comments are grep-ed:

[code]

You can use `-f` for specific fields too.

[2021-04-02 21:43] #508 closed

[2021-04-02 22:11] secf00tprint commented on #508
Oh yes. My fault :) thx :+1:

[2021-04-21 16:45] dkebler opened #509 "how to set the sqlite db path"
### Help

How can I set the path to the sqlite database.
By default on linux that is ~/local/share/buku but I would like to control it to another location.

Is there an envrionment variable that can be set?

I want to run several databases (one for personal, one for work, etc.) so being able to set via envronment variable would work for that use case.

[2021-04-21 22:01] jarun commented on #509
Please see https://github.com/jarun/buku/wiki/Operational-notes#alternative-db-file

[2021-04-21 22:01] #509 closed

[2021-04-22 15:18] dkebler commented on #509
This is not listed in the usage https://github.com/jarun/buku#usage.  Suggestion would be to link to this wiki page there.   The readme doesn't point to a wiki so didn't bother to go looking as many repos don't have one and would not necessarily looked under operational-notes.  Anyway just a suggestion to make it easier for users to help themselves.   BTW thanks for this project!  It is going to b

[2021-04-22 15:26] dkebler opened #510 "buku server flask module missing when run in venv"
Running bukuserver via docker I have no issues but I would like to run it via the command line and pypi repo

I have installed buku via pypi using pipx which creates a venv.  buku itself runs fine but when I launch bukuserver it can't find the flask (and related) modules

This is not really a buku issue but can you help figure out how to get the dependencies met within the venv.  Have you used pip

[2021-04-22 15:39] jarun commented on #509
We do link to the Operational Notes in the Introduction: https://github.com/jarun/buku#introduction

Also, we wanted to keep this undocumented and only for users who really want it. The default is the simplest approach that works for most users.

[2021-04-22 15:40] jarun commented on #510
@rachmadaniHaryono please take a look.

[2021-04-22 17:58] rachmadaniHaryono commented on #510
for pipx have you triy `pipx install buku[server]` .  i am assuming that will install extra dependencies based on this example

https://pipxproject.github.io/pipx/examples/

`pipx install black[d]`

[2021-04-22 18:59] dkebler commented on #510
sweet!  that was all it took.   I had no idea what the brackets did, loads dependencies?  The pipx docs never explain  Anyway that worked thx.

[2021-04-22 18:59] #510 closed

[2021-04-22 19:45] rachmadaniHaryono commented on #510
sort of

https://www.python.org/dev/peps/pep-0508/#id22

[2021-04-22 22:20] jarun commented on #510
Thank you @rachmadaniHaryono! :+1:

[2021-05-12 11:51] tisttsf commented on #509
I forget backup before reinstall system.So I lost all bookmarks in system harddrive.Is there a way to save that?

[2021-05-12 11:55] jarun commented on #509
You can use the custom db path mechanism OR keep the bookmark in your synced directory and have a symlink to that file in `~/.local/share/buku/bookmarks.db`.

[2021-05-12 12:00] tisttsf commented on #509
ok....ha..I remember that. But the previous bookmarks are already lost permanently.

[2021-05-12 12:01] jarun commented on #509
Sorry about that. I personally take a backup of the file from time to time.

[2021-05-14 14:27] jarun commented on #505
@syntezoid commit 6e959d7b852c37bdb44f77d2d29c7c72b9c10f66 will show you where you are.

[2021-05-14 17:33] jarun commented on #456
@throwawayaccount0153 can you please confirm you don;t see this issue again with commit a4ee497819e0633f560c833bdc0c0dd52193cc07 ?

Please respond in the ToDo list as this thread is auto-locked.

[2021-05-29 23:31] crocket opened #513 "`waiting for input` contaminates buku output."
My programs parse the output of buku. The programs are called by fzf on terminal emulator.
However, the output is often contaminated with `waiting for input\n` at the beginning.

fzf needs to reload the list of bookmarks by calling a script that updates buku cache by calling `buku -p -f 5`.

If fzf called the script after calling `buku -w number` on another terminal emulator, `waiting for input\n`

[2021-05-29 23:46] rachmadaniHaryono commented on #513
related to this issue https://github.com/qutebrowser/qutebrowser/issues/2491

which come from this https://github.com/jarun/buku/issues/447

[2021-05-29 23:51] crocket commented on #513
If you delete `print('waiting for input')`, everything still should work fine.

[2021-05-29 23:55] crocket commented on #513
I mapped `ctrl-r` to `reload(buku -p -f 5)` in fzf.

[2021-05-30 00:05] crocket commented on #513
https://github.com/qutebrowser/qutebrowser/issues/2491#issuecomment-290628622 pointed out that not calling `piped_input` fixed the issue.

qutebrowser worked around `piped_input` by closing standard input.

https://github.com/jarun/buku/issues/447 worked around `waiting for input` by adding `-j file` option.

`piped_input` seems unnecessary to me.

[2021-05-30 06:46] jarun commented on #513
I see the following work if `piped_input` is gone:

[code]

What don't work are:

[code]

How does your script call `buku` and what is the use case where there is no input?

The problem this isn't so straight is - many utilities use `buku` and they have adapted to it. Removing this may cause unforeseen issues.

However, I don't see a reason to wait for data if no arguments are passed. Can you try

[2021-05-30 07:00] crocket commented on #513
Reading command line arguments from standard input is an undocumented feature. Only public contracts should be preserved for some time.

`if len(sys.argv) > 1` would still break my use case because I parse standard output of `buku -p 1 23 ... -f 20` and `buku -p -f 5` in my scripts.

[2021-05-30 07:16] jarun commented on #513
Usually I grep the code of the utilities involved when I try something new and see an error message. I can understand it was unexpected and may get overwhelming when faced the first few times.

Sorry, I don't like your tone an it's not really the time I would want to engage in a war of words on a mundane python script.

You have to understand that I don't owe you or anyone else anything for using

[2021-05-30 07:16] #513 closed

[2021-05-30 07:19] crocket commented on #513
I have been on a high-pressure project. While on a high-pressure project, I had to deal with this. Sorry for being angry at you.
But, you should definitely at least consider my pull request instead of closing it out of bad emotions.

[2021-05-30 07:36] crocket commented on #513
It should be possible to keep piped_input and fix this issue, too.

It's going to be your choice to do nothing out of anger or fix the issue which someone else who's not me will encounter someday.

[2021-05-30 07:38] jarun commented on #513
When you are done with your project and things calm down, re-read this thread and hopefully you'll find many things wrong in the approach.

Coming to the tool issue,

How about adding an option to explicitly instruct buku to skip reading stdin? We can mandate it to be the first argument, if used. That way if we find a valid `argv` with a length and it's the new option, we skip reading stdin.

[2021-05-30 07:39] crocket commented on #513
That is okay, but it is also feasible to add an option to read standard input as command line options.

[2021-05-30 07:50] jarun commented on #513
I would say we should use the option to explicitly say - do not wait for stdin input. Probably `--nostdin`.

And we should update the message to:

   waiting for input (if this blocks, try --nostdin) \n

[2021-05-30 07:52] jarun commented on #513
Please update your PR accordingly.

[2021-05-30 14:44] jarun commented on #513
For the record (I couldn't remember this earlier), we do have a common use-case for reading from a non-tty:

https://github.com/jarun/buku/wiki/System-integration#bookmark-from-anywhere

[2021-06-11 22:31] zbyna opened #515 "Buku and cmder integration (windows)"
[cmder](https://github.com/cmderdev/cmder) creates   `HOME`  variable  in  [`init.bat`](https://github.com/cmderdev/cmder/blob/36f4ce0e3c664b23c3652f180b29e9238860b203/vendor/init.bat#L401-L403)  during its starting.

Buku sets its database path according to existence of **HOME variable**, which **is not default defined in Windows**. For using related projects [bukubrow](https://github.com/samhh/b

[2021-06-12 04:12] jarun commented on #515
Added here: https://github.com/jarun/buku/wiki/Third-party-integration#cmder-integration-windows

Thanks!

[2021-06-12 04:12] #515 closed

[2021-06-17 03:12] FollieHiyuki opened #516 "Default to use system cert, if exists"
In Void-Linux, we have been shipping a small patch to replace certify with the ca-cert path:
https://github.com/void-linux/void-packages/blob/master/srcpkgs/buku/patches/0001-Use-system-cacerts.patch

There is `$BUKU_CA_CERTS`, but it is not ideal for packaging. Therefore I suggest making buku searches for the ca-cert, and if it doesn't exist, will fall back to the env var and certifi. That way pa

[2021-06-17 03:14] FollieHiyuki commented on #516
I opened the issue for discussion, as suggested in https://github.com/void-linux/void-packages/pull/31531

Thanks for the amazing tool btw.

[2021-06-17 05:29] jarun commented on #516
Thanks for the note. Please raise the PR and we'll merge the change. :+1:

[2021-06-17 05:29] #516 closed

[2021-06-17 06:41] anoduck opened #517 "Bukuserver installation?"
I might just be missing something or having a bad day, but I was attempting to reinstall bukuserver on my system and after not finding it with pip I tried following your instructions:

[code]

Neither of which work. The error I receive for both is:
[code]
Did I go full retard today, or is bukuserver deprecated?

[2021-06-17 06:47] jarun commented on #517
@rachmadaniHaryono please check.

[2021-06-17 06:59] rachmadaniHaryono commented on #517
try `pip3 install "buku[server]"` with quote character

[2021-06-17 07:05] anoduck commented on #517
This appears to have done the trick, which is sad...because this means I did go full retard... Ah, FML...

[2021-06-17 07:05] #517 closed

[2021-06-21 19:17] ReneFroger opened #520 "Broken pipe error on Buku"
#### Specs
I use Ubuntu 20.04.2 LTS as operating system.
The Buku version is 4.6
Python 2.7.18 and Python 3.8.5

#### Issue
When I start Buku, it works fine. But I like to filter my results. So I usually use `oil -p` to filter my Buku database.

However, it's not working anymore with the buku database. I get a error instead:

``
Traceback (most recent call last):
  File "/usr/local/bin/buku", line

[2021-06-22 04:58] jarun commented on #520
Please check if any of the latest changes starting from May 14 to the release (not too many of them) has broken this.

[2021-06-22 05:05] jarun commented on #520
@ AndreiUlmeyda can you please  have a look too?

[2021-06-22 05:05] jarun commented on #520
@AndreiUlmeyda can you please  have a look too?

[2021-06-22 13:25] jarun commented on #520
I tried it and it seems the issue exists on earlier releases also. We'll have to wait for the oil author.

[2021-06-22 13:29] ReneFroger commented on #520
@jarun thanks for confirming the issue is not on my side. I'll wait for any reaction from @AndreiUlmeyda

[2021-06-22 13:36] jarun commented on #520
I tried the following which involves piped input and I don't see any issues:

    echo "hello" | ./buku -j --nostdin | less -iR

[2021-06-22 14:14] jarun commented on #520
I have added exception handling for the error at commit e70884710f9b7163c5fb8ade700cd6abbd0e6357. See if it helps.

[2021-06-22 14:48] ReneFroger commented on #520
I cloned the repository, recompiled again with `sudo make install`, then replaced `/usr/bin/local/buku` with the recompiled version (with execution rights passed with `chmod +x`).

Then I tried again with `oil -p` and this time the error message is different now:

[code]

In oil. Then I quit, and see the following in terminal:
[code]

[2021-06-22 14:52] ReneFroger commented on #520
I got this with your flags:
`` buku: waiting for input (unexpected? try --nostdin) ``

[2021-06-22 15:37] jarun commented on #520
I am not sure if it was finding earlier as well. Maybe it didn't find any results, quit and we saw the broken pipe error.

Do you have any bookmark with the string `hello`?

[2021-06-22 16:40] ReneFroger commented on #520
No. But when I search on other strings which I have in my buku bookmarks, the list stays empty.

[2021-06-22 16:42] ReneFroger commented on #520
On my other computer, I have a older version (less than a year old, I believe) of Buku running. `oil -p` is working fine with the Buku bookmarks. So I suspect some changes in the latest versions might cause this issue.

[2021-06-22 16:46] jarun commented on #520
Possible. Maybe some API change has broken it. But the app needs to update too.

With this confirmation, I am closing this defect. If the author of oil gets back on this, we can dig in further.

[2021-06-22 16:46] #520 closed

[2021-06-23 05:32] jarun commented on #520
For an alternative using `zfz`, please check step 7 in Quickstart: https://github.com/jarun/buku#quickstart

[2021-06-23 18:36] lorendias opened #521 "buku-git [AUR] /usr/bin/bukuserver fails to launch"
https://aur.archlinux.org/packages/buku-git/

Archlinux 5.12.12-arch1-1
Python 3.9.5-3
Termite Terminal
ZSH
en_US.UTF-8

[code]
$bukuserver fails to launch correctly, I tried downloading and installing several of the package dependencies from alternative packages but can't seem to get it to run still

https://aur.archlinux.org/packages/?K=buku

Do you have any recommendations or idea what might be

[2021-06-23 18:55] jarun commented on #521
Please see #510.

@rachmadaniHaryono

[2021-06-23 19:06] rachmadaniHaryono commented on #521
i think it is error from aur script

on that script exist this line

```python setup.py install --root="${pkgdir}" --prefix='/usr'```

which only install minimum required package for buku and not bukuserver

https://stackoverflow.com/a/65795219/1766261

that package also not updated

```Last Updated: | 2019-05-14 04:14```

 so i recommend use pipx for now

[2021-06-24 14:35] jarun commented on #521
Did you try: https://aur.archlinux.org/packages/bukuserver/

[2021-06-24 15:51] rachmadaniHaryono commented on #521
i miss that one.

also note that package use https://pypi.org/project/flask-reverse-proxy-fix/ which haven't accept https://github.com/antarctica/flask-reverse-proxy-fix/pull/1 pr.

[2021-06-26 20:50] adnion opened #522 "[Feature request] 'N' for previous page"
Consider adding the key `N` to `show previous page of search results`. In many programs it's quite common to inverse direction with the shift key.

Off topic: I'm curious how you quickly clean many different bookmarks if there's no [interactive delete](https://github.com/jarun/buku/issues/438)? Do you come up with a complex search string that you can use with `--delete`?

Thank you for your work.

[2021-06-27 04:09] jarun commented on #522
I don't have the bandwidth. I think you have to go back on the DB resultset. Please consider contributing. You can refer to the next page implementation.

See if `--tacit` works.

[2021-06-27 04:09] #522 closed

[2021-06-29 10:23] ReneFroger commented on #520
I tried FZF, but I'm missing the tags, categories and everything from Buku. So I would prefer to keep `oil -p`.

@jarun you don't have this issue when reinstalling Oil again from latest release?

@AndreiUlmeyda perhaps is there something you could do, since the latest release of Buku broke the `oil` package?

[2021-06-29 13:34] AndreiUlmeyda commented on #520
Hey there, everybody. Thanks, sincerely, for the patience. I'm struggling to take time to look into it but there should be no excuse. I will try to replicate and fix the issue on thursday night and/or over the weekend. See you then and have a wonderful time.

[2021-06-29 14:01] ReneFroger commented on #520
That would be wonderful! I appreciate that. Let me know if I could assist you in anything.

[2021-06-29 14:57] jarun commented on #520
I still think oil would have to update a bit to catch up with buku. Let's wait for @AndreiUlmeyda.

[2021-07-01 18:42] AndreiUlmeyda commented on #520
Hey there, I got started but haven't replicated the issue yet. Progress will be tracked [here](https://github.com/AndreiUlmeyda/oil/issues/24). Cheers

[2021-07-01 18:45] ReneFroger commented on #520
I'll reply in the other issue :)

[2021-07-03 02:21] Matsu23 opened #523 "buku dont restore tags of .md files"
if you export the bookmarks in .md and import later, the tags, title and description are ignored

[2021-07-03 08:54] jarun commented on #523
Please share the commands you have used.

[2021-07-03 09:03] jarun commented on #523
@ahmedelgabri this problem was introduced in #419. You have made changes in export but not in import.

Can you please fix this?

[2021-07-04 02:47] jarun commented on #523
I am reverting the above change as this is a terrible oversight both from the contributor and me.

If @ahmedelgabri ever gets back and fixes both export and import I'll accept the PR.

[2021-07-04 03:07] jarun commented on #523
Fixed at commit 5bba4ebe858e8f594094770aa81c5becba38fe02.

[2021-07-04 05:56] jarun commented on #521
Closing this as noresponse.

[2021-07-04 05:56] #521 closed

[2021-07-04 17:16] jarun commented on #523
Reopening as I can see tags are not getting imported (which requires a fix), however functionality is not imported.

[2021-07-04 18:43] #523 closed

[2021-07-04 18:43] jarun commented on #523
@Matsu23 please test maser and confirm this works as expected.

[2021-07-15 06:12] capaldo opened #524 "Source of the comments"
Just wanted to ask where exactly the auto-generated comments are being pulled from.

[2021-07-15 06:59] rachmadaniHaryono commented on #524
do you mean description?

https://github.com/jarun/buku/blob/e7b1320d8dbedfa3e679ffd82cb4423bc597cc49/buku#L3526

[2021-07-15 07:01] capaldo commented on #524
Yes. Sorry for the noobie question. I tried reading through it but could not find the URL it was calling.

[2021-08-06 08:55] juanmaguitar opened #526 "[Question] How can I just browse the database of bookmarks?"
I have imported a lot of bookmarks from Google Chrome. Is there a way to just browse the database of bookmarks to check how the bookmarks have been imported¿

I would like to check:
- the number of bookmarks that I currently have in the DB
- an overview of the tags that have been added

[2021-08-06 10:20] roland-rollo opened #527 "How to open multiple sites from tag?"
I wanted to open all sites from one tag in Firefox. I tried:
[code]
and
[code]
But without success. They just show as list in terminal, but nothing opens in Firefox.

[2021-08-06 14:50] jarun commented on #524
Closing this as the question is answered.

[2021-08-06 14:50] #524 closed

[2021-08-06 14:52] jarun commented on #526
Please say yes to auto-tag generation and find the imported bookmarks by tag.

[2021-08-06 14:52] #526 closed

[2021-08-06 14:58] jarun commented on #527
There's no direct way. You have 2 options:

1. use `O` at the prompt to browse multiple results by indices
2. have script that does the following: use program option `-j` and `-f` to get json formatted output from `buku`, then get the DB indices and open them in the browser.

[2021-08-06 14:58] #527 closed

[2021-08-06 16:37] roland-rollo commented on #527
Thank you.

[2021-08-18 22:22] zz5zz commented on #484
The bukuserver is an awesome frontend for Buku!

Some new functionality:
- Add a Dark mode and possibility to turn on & off (create a custom CSS)
- Bootstrap should be updated to minimum "bootstrap 3.4.1" to remove the known vulnerabilities (https://snyk.io/vuln/npm:jquery?lh=3.3.1)
- jQuery should be updated to minimum "jquery 3.5.0" to remove the known vulnerabilities (https://snyk.io/vuln/npm:b

[2021-08-19 02:06] jarun commented on #484
@zz5zz are you interested in raising PRs?

@rachmadaniHaryono please review.

[2021-08-19 08:00] rachmadaniHaryono commented on #484
@zz5zz

these all depend on flask-admin, but i do hope bukuserver can be updated to use latest flask before updating flask admin

bukuserver depend on buku to handle tag so no group and category. but it is actually possible if bukuserver can parser tag and handle part of tag as category/group, for example `programming: python` tag will be under `programming` category group.

buku don't record crea

[2021-08-19 18:29] zz5zz commented on #484
I'll try to contribute by doing a PR. Very long time since I handled python so need to brush up a bit.

[2021-08-19 18:35] jarun commented on #484
Please take your time. Feel free to reach out for any help.

[2021-08-26 09:24] sysid opened #528 "SSL Certificate identification not working on MacOS"
The following lines are failing on MacOS:

[code]

the expression `os.path.isfile` returns a bool and therefore the try/except clause is ineffective. On MacOS this results in the following error:

`[ERROR] network_handler(): HTTPSConnectionPool(host='www.alexblackie.com', port=443): Max retries exceeded with url: /articles/email-authenticity-dkim-spf-dmarc/?utm_source=hackernewsletter&utm_medium=e

[2021-08-27 09:29] chtenb opened #530 "Importing bookmarks from WSL/ubuntu"
I've installed buku on my WSL/ubuntu system. When I attempt to import bookmarks:

[code]

I suspect that this is because my browser doesn't run inside the WSL, but directly under windows. Is there a way to bridge this gap?

[2021-08-27 18:34] #530 closed, assigned to nobody

[2021-10-01 02:24] #528 closed

[2021-10-03 14:38] se7en-x230 opened #532 "Sort database"
Is there a way to sort or group the database?

[2021-10-04 05:46] froschdesign commented on #532
@se7en-x230

Can you explain what you have in mind? For example, on what basis should sorting or grouping be done?

[2021-10-04 07:04] se7en-x230 commented on #532
1. Tag work https...
2. Tag work https
3. Tag programming https
4. Tag work https

If I now add again a work tag it will add it behind.
I would switch 3. With 4. To keep work tags together.

That is not super important but would make it easier to keep an overview over my bookmarks

[2021-10-06 03:47] se7en-x230 opened #533 "bukuDel via dmenu"
I use dmenu to open, add, edit buku bookmarks.
The only thing I fail to do is delete bookmarks. I guess because it waits for user input.
Is there a way to get this working?

` buku  -p -f 5 | sed 's/\t/ /g' | dmenu -i -l 20 | cut -d ' ' -f 1 | xargs --no-run-if-empty buku -d  `

I get the following error.
`Delete this bookmark? (y/n): Traceback (most recent call last):
  File "/usr/bin/buku", line

[2021-10-06 05:37] se7en-x230 commented on #533
sorted

[2021-10-09 13:42] #532 closed

[2021-11-15 23:43] eldorz opened #535 "hangs when adding site"
This site [https://www.health.nsw.gov.au/Infectious/covid-19/Pages/stats-nsw.aspx](https://www.health.nsw.gov.au/Infectious/covid-19/Pages/stats-nsw.aspx) hangs when being added.

I have tracked the bug as far as [this line](https://github.com/jarun/buku/blob/981ace36ef92b74aa929cf60385273b7f757e29e/buku#L3516) where beautifulsoup is called:
`soup = BeautifulSoup(page, 'html5lib')`

Ubuntu 20.04
P

[2021-11-16 13:44] jarun commented on #535
With debug logs enabled (option `-g`) I see this:

[code]

It works if I use the `lxml` parser instead:

    soup = BeautifulSoup(page, 'lxml')

This should be debugged from the bs4 library side.

[2021-11-16 13:44] #535 closed

[2021-11-19 09:26] froschdesign commented on #484
@RichardConroy
You can use [Alfred](https://www.alfredapp.com) with a [custom workflow](https://www.alfredapp.com/help/workflows/). For the script you can use Python (or what you like) to execute the buku CLI command, the [filtering of the bookmarks](https://www.alfredapp.com/help/workflows/inputs/script-filter/#alfred-filters-results) can be done by Alfred.

[2021-12-22 20:52] minger0 opened #536 "nfs"
Hello Jarun, thank you for buku! I am a new user, and I would like to use buku for sharing bookmarks on a local network via nfs. I use version 4.6. It has no -z option. For a buku --ai I get
DB file is being created at /mnt/Stephen/data/bookmarks.db.
...
  [ERROR] database is locked
when it would be inserting the records. So the result is an empty bookmarks table. No journal file.
Following https:

[2021-12-25 22:44] iwconfig commented on #536
I faced the same issue with ArchiveBox a while back. I would assume [the solution to my issue](https://github.com/ArchiveBox/ArchiveBox/issues/894#issuecomment-990721772) is applicable to yours as well.

[2021-12-26 11:52] utmcontent opened #538 "Import (md) files slow and fail"
Slow and fail with 1000 lines.

[2021-12-26 12:04] jarun commented on #538
Share the md file please,

[2021-12-26 12:09] jarun commented on #536
Can you create locally, and later move and symlink?

[2021-12-26 12:13] utmcontent commented on #538
[bookmarks2021-12-18.md](https://github.com/jarun/buku/files/7776952/bookmarks2021-12-18.md)

[2021-12-26 12:59] utmcontent commented on #538
[Uploading bookmarks2021-12-18.md…]()

[2021-12-26 17:47] #538 closed

[2021-12-26 17:50] jarun commented on #538
Please confirm if the fix works.

With this I am able to import the 1137 bookmarks instantly. Both with and without auto-generated tag.

[2021-12-27 07:07] utmcontent commented on #538
After uninstall the old version and reinstall using the newest repository,it success. Thank you!

[2021-12-27 14:15] minger0 commented on #536
It is an option, yes. The back side of it however is that I will not be able to add/remove bookmarks from the browser plugin either. It is then just read-only use.

[2021-12-27 17:06] ebarcsa opened #539 "Html import: lookup more than one parent tag and add as label"
#### Feature requests
Hi, i recently wanted to try out buku, thus tried importing bookmarks from browser vivaldi by html export.
What i found is that my nested folder names are not added as tags, only the most inner folder name.
It would be so much better if buku went through recursively up the html tags and added them as label.

Attached an example,
links under Typescript should have label of Typ

[2021-12-28 06:56] jarun commented on #539
No plans for this. Feel free to raise a PR if you really want it.

[2021-12-28 06:56] #539 closed

[2021-12-30 08:06] dppdppd opened #541 "Line breaks in comment field"
Am I correct that the comment field does not support line breaks?

I’m importing bookmarks from Diigo and trying to stuff all of the comments and annotations into the one field. But without line breaks it’s not legible.

[2021-12-30 09:39] jarun commented on #541
Please try to add a comment with lone break and confirm yourself.

[2021-12-30 16:30] dppdppd commented on #541
Line breaks are preserved when literally added in an editor ("-w"), but '\n' are not interpreted as line breaks when added via -c or add_rec.

Any advice on adding newlines with those methods would be appreciated.

[2021-12-30 18:05] jarun commented on #541
Thanks! I'll take a look.

[2021-12-31 01:35] iwconfig commented on #541
Could this be due to  shell escaping? Have you tried replacing `\n` with its literal escape sequence (by escaping the backslash, i.e. `\\n`)?

[2021-12-31 03:51] dppdppd commented on #541
Doesn't seem to be.

`buku -u 100 -c "h\\n\\n\\ni"`
->
`+ h\n\n\ni`

[2022-01-03 01:01] dppdppd commented on #541
I've managed to push line breaks through add_rec. Which means my script work.

If adding line breaks through -c  is important, then someone can reopen this issue.

Diigo importer here: https://github.com/dppdppd/diigoku/blob/main/diigoku.py

[2022-01-03 01:01] #541 closed

[2022-01-03 02:49] jarun commented on #541
Thanks for sharing the script!

[2022-01-04 09:04] GreenLunar opened #542 "[Feature request] Reviving Bookie as a buku client"
Python based delicious.com replacement
https://github.com/bookieio/Bookie

It's a great project, IMHO.
That project is inactive since 2015.

[2022-01-04 09:15] rachmadaniHaryono commented on #542
i don't think there is anything we can do to on our side.

if you fork it and can succefully integrate buku with it you may want to add that to https://github.com/jarun/buku/wiki/Third-party-integration or https://github.com/jarun/buku#related-projects

if you want to ask people to do it i recommend put it in https://github.com/jarun/buku/issues/484

[2022-01-04 09:20] GreenLunar commented on #484
Please add: Utilizing Bookie

[2022-01-04 09:20] GreenLunar commented on #542
Thank you! Closing

[2022-01-04 09:20] #542 closed

[2022-01-04 20:17] GreenLunar commented on #542
we-get is freaking awesome!
| Column  | Data |
| ------------- | ------------- |
Name | we-get (by rachmadaniHaryono)
Tags | interface:CLI, niche:Search, online-search:BitTorrent, programming-language:Python, software:we-get
Added | 13/8/20

;)

[2022-01-06 07:40] GreenLunar opened #543 "[bukuserver] URIs of xmpp: mailto: etc."
Let user add `tel:`, `magnet:`, `mailto:`, `ssh:`, `irc://`, `git://` URIs.
bukuserver says "Invalid URL."

~~On another note...~~
~~There are plenty of uses to bookmarks, not just `ftp`/`http` links.~~
~~I once wanted to put my contact list into bookmarks but the web browser I was using didn't allow doing so, so I resorted to a directory with 3K of `.vcf` files.~~

[2022-01-06 07:54] GreenLunar opened #544 "Reconsider case sensitiveness"
Following issue https://github.com/jarun/buku/issues/396 by @rameshm76

I bookmark as follows: `brand:Demonii`, `filetype:OpenDocument`, `filetype:OpenVPN`, `filetype:SQLite3`, `manager:Bookmarks`, `music:Violin`, `news:Architecture`, `niche:Telephony`, `service:Freight`, `software:TrueCrypt`.

Please reconsider case sensitiveness. Just set a config option for those who want it.

e1: You can also

[2022-01-06 13:57] GreenLunar opened #545 "[bukuserver] ftp:// URIs are not clickable"
No hyperlink is generated, unlike `http://` URIs

[code]

[2022-01-06 14:25] rachmadaniHaryono commented on #545
can you try #546

[2022-01-06 14:42] GreenLunar commented on #545
It works! Closing

[2022-01-06 14:42] #545 closed

[2022-01-06 16:03] GreenLunar commented on #544
I'm afraid that it would not only require a big of an effort, but I'm more afraid that changing the current tag policy might cause to new bugs and potentially damage users and their databases and that might harm this project.

Closing.

[2022-01-06 16:03] #544 closed

[2022-01-06 16:12] GreenLunar opened #547 "[bukuserver] Don't allow UPPER CASE tags"
Bookmark in question:
[code]

Original set of tags:
[code]

After import:
[code]

After editing inside bukuserver web ui:
[code]

#### Consequential problem
* bukuserver isn't able to locate that specific bookmark by searching for tags "foundation:Free-Software" & "Free-Software" nor "foundation:free-software" & "free-software".
* bukuserver IS able to locate the bookmark in question by searching

[2022-01-06 16:24] GreenLunar opened #548 "[bukuserver] Ignore spaces between commas"
Clicking on the first tag, gives a URL without `+` sign:
http://localhost:5001/bookmark/?flt2_tags_contain=brand%3Agnu
http://localhost:5001/bookmark/?flt2_tags_contain=+foundation%3Afree-software
http://localhost:5001/bookmark/?flt2_tags_contain=+free-software

[2022-01-06 16:38] GreenLunar opened #549 "[feature request] [bukuserver] Read Only Mode"
I read in several instances that the bukuserver is not for production, yet. I know.
bukuserver Web UI is useful even when it is in read-only mode, especially with portable devices, such as PDAs etc.

Please add a read-only mode to bukuserver.

[2022-01-07 10:37] GreenLunar opened #550 "Export to plaintext"
Exporting URLs alone without title into '.txt' plaintext file.

In some browsers, user can select (select & copy) a tag or a selection of bookmark search results and share it over IM to a peer.
Titles or tags are not always what I want to have when sharing a specific selection of links.

With buku's `bookmarks.db` file, it can be done with an SQL query such as `SELECT URL FROM "main"."bookmarks" W

[2022-01-07 12:57] GreenLunar opened #551 "Grammar mistake in manpage"
[code]
I don't understand the last sentence: **Deletes search results when combined with search options, if no arguments.**

TIA

[2022-01-08 18:05] GreenLunar opened #552 "Reconsider column Date for the sake of users"
Please pardon me for reopening issue [#477](https://github.com/jarun/buku/issues/477), which is merely for the purpose of archiving.

Take the desktop application [Bdash](https://www.bdash.io/) which shows just that, analyses of a database by date.
We all find it useful, and yet this may cause issues, as [jarun](https://github.com/jarun/buku/issues/304#issuecomment-630550048) already pointed out.

[2022-01-08 18:05] GreenLunar commented on #552
Closing

[2022-01-08 18:05] #552 closed

[2022-01-08 18:18] GreenLunar commented on #552
I've edited the initial post as follows:

**Example cases:**
User watches too much vain entertainment;
User read too much content of propaganda outlets;
User play too much video games;
etc.

ping @flux77 @dakka2 @deliciouslytyped

[2022-01-08 18:22] GreenLunar commented on #552
@jarun and @rachmadaniHaryono please contact me *directly* on that matter.

My email address is:
genghiskhan@gmx.ca
genghiskhan (AT) gmx (DOT) ca

It's important.

P.S. THIS POST BE DELETED

[2022-01-09 08:01] GreenLunar opened #553 "[bukuserver] Says record was successfully saved when it was not"
Add a `mailto:info@buku.rocks` address using bukuserver web ui.
bukuserver says that it successfully saved the record.
`mailto:info@buku.rocks` is _not_ present in database.

_P.S. buku (cli) saves `mailto:` URIs properly_

[2022-01-09 08:04] GreenLunar opened #554 "[bukuserver] Do not attempt to connect upon saving non ftp/http URIs"
bukuserver attempts to connect to the internet upon saving `mailto:`, `xmpp:`, `ssh` etc. URIs.

_P.S. This **doesn't happen** with buku (cli)_

[2022-01-09 08:28] rachmadaniHaryono commented on #484
i create #546 but after few new bukuserver issue i decided to convert it to draft and merge possible small issue into this pr

unfortunately i can't start weekend but hopefully next few days i can work on it

and maybe if possible upgrade bukusserver to newer flask version

[2022-01-09 10:51] jarun commented on #550
I think this can be achieved easily with a little redirection and parsing using a script. We have several ways to format the output.

[2022-01-09 10:51] #550 closed

[2022-01-09 10:52] jarun commented on #536
Why can't you add from the browser? The browser plugin should refer to the symlink and the changes should go to the actual file.

[2022-01-09 10:53] jarun commented on #551
It means when you combine a search with the `-d` option, search results get deleted.

[2022-01-09 10:53] #551 closed

[2022-01-09 10:54] jarun commented on #551
See example 24.

[2022-01-09 11:51] minger0 commented on #536
My idea was that since the inserts to the db on nfs did not work in buku core, the browser plugin that triggers the same kind of inserts may not work either. But you are right, I will just try and let you know.

[2022-01-09 20:09] minger0 commented on #536
Created locally. Moved. Symlinked.
[code]
Ok, has nottested with the browser plugin, but could that ever work if buku does not?

[2022-01-09 22:57] GreenLunar commented on #551
Thanks!

`s/Deletes/Delete` IMHO

[2022-01-11 13:41] Remiol commented on #484
Buku is a great bookmark manager. I use it daily. I wish some of the related projects also work on windows like the bukubrow server and Oil. Search-as-you-type cli front-end. Maybe also an interface to gvim.
Anyway, thank you for the good work you've done.

[2022-01-12 07:10] aniketfuryrocks opened #555 "[Feature Request] Connect with nextcloud bookmakrs"
Hi, it would be great if the project could support nextcloud bookmarks. If some-one can guide me, I'll love to contribute.

[2022-01-12 09:27] GreenLunar commented on #484
XMPP bot (also other IM platforms that provide API for bots)

[2022-01-12 11:19] rachmadaniHaryono commented on #484
this is current pyproject.toml for buku

[code]
the biggest change should be werkzeug for bukuserver
[code]

this is because flask_api require `werkzeug._compat` which only exist before v0.15.0

so therefore bukuserver packages that need to be upgraded

- flask
- flask-api
- flask-admin
- werkzeug
- flask-reverse-proxy-fix

i'm still waiting pr for flask-reverse-proxy-fix

https://github.com/antar

[2022-01-12 13:56] GreenLunar opened #556 "buku outputs uptime info upon double w"
[code]
[code]

[2022-01-12 14:30] GreenLunar commented on #555
Perhaps a [plugin](https://apps.nextcloud.com/categories/integration?search=bookmarks) for ownCloud/nextCloud

[2022-01-12 16:02] GreenLunar opened #557 "Add diigoku to Related projects subsection"
buku importer for Diigo
https://github.com/dppdppd/diigoku

buku [Related projects](https://github.com/jarun/buku#related-projects)

@dppdppd

[2022-01-12 16:16] GreenLunar opened #558 "Console and CLI behave differently upon exiting editor screen"
When exiting editor screen from `$ buku -w 123456`, buku outputs the entry which was focused on (that is `$ buku -p 123456`).
On the contrary, when doing the same on the console mode, buku displays nothing.
[code]

_It would be nice to output the edited/focused entry on the console mode too just like it is in CLI mode._

[2022-01-12 21:18] jarun commented on #557
Please raise the PR.

[2022-01-12 21:18] #557 closed

[2022-01-12 21:23] jarun commented on #557
Took care of it.

[2022-01-12 21:28] jarun commented on #558
I am not sure which version you are using, but I see the entry post edit:

[code]

Anyway, I am too short of time to handle trivia and cosmetic issues. Fix it yourself if you are seeing it and raise the PR.

[2022-01-12 21:48] rachmadaniHaryono commented on #558
imo i think we can update issue template so user have to fill buku version

https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms

i will create pr for this

[2022-01-12 21:52] rachmadaniHaryono commented on #556
this is debug output
[code]

[2022-01-12 21:56] rachmadaniHaryono commented on #555
can you elaborate more?

if this is application request like https://github.com/jarun/buku/issues/555#issuecomment-1011102951 or https://github.com/jarun/buku/issues/542 i recommend asking it on https://github.com/jarun/buku/issues/484 and see if anyone want to do it

[2022-01-12 22:17] rachmadaniHaryono commented on #557
note:

looking at the project, i don't know if that is good enough. there is only the script but no instruction and no test

i'm not diigo user, so i can't know if this is working

---

https://github.com/jarun/buku/issues/558#issuecomment-1011465882

i would better comment it here than the mentioned issue, because this issue is perfect example than can be directly fixed through pr without creatin

[2022-01-13 07:30] GreenLunar commented on #556
I apologies, I didn't even check. Closing

_P.S. Though I don't think I can voice anything about this, perhaps a different letter as a flag for debugging would be better._

[2022-01-13 07:30] #556 closed

[2022-01-13 09:10] GreenLunar commented on #558
Great! I will.
Thank you

[2022-01-13 10:05] rachmadaniHaryono commented on #556
after i checked this issue again,i just realized that linux have program called [w](https://man7.org/linux/man-pages/man1/w.1.html)

also buku argument parser only accept single `w` and with double `w` flag, shell will run `w` program alongside buku

i don't think it will changed and currently nothing wrong with it

the only problem now is that github issue template state wrong flag (`z` instead o

[2022-01-13 11:11] rachmadaniHaryono commented on #548
can you elaborate more?

[2022-01-13 16:19] GreenLunar commented on #558
Steps to reproduce:

The wanted behavior:
[code]

The unwanted behavior:
[code]

[2022-01-13 16:21] GreenLunar commented on #549
FYI: I've opened a feature request at [SearXNG](https://github.com/searxng/searxng/issues/748), my long-time favorite search engine.

[2022-01-13 17:50] GreenLunar commented on #548
The links listed above are from left to right. That's all.
If a Screencast would help, please let me know and I'll produce one.

[2022-01-13 17:55] rachmadaniHaryono commented on #548
yes

[2022-01-13 18:02] GreenLunar commented on #548
I've just tried again and I didn't find anything like I've posted on the first post.
Perhaps it was because of the upper case letter.

Actually, when I open the links with + I get to see a space in the search form at its beginning " free-software".

I'm going to try to reproduce this.

[2022-01-13 18:08] GreenLunar commented on #548
I've reproduced!
I'm working on a screencast.

[2022-01-13 18:22] GreenLunar commented on #548
Steps to reproduce:
1. Click on the bookmarklet
1. Open the create new record dialog
2. Type spaces between commas.
3. Save bookmark before autocomplete takes effect.
* Each space is realized into a plus.

![image](https://user-images.githubusercontent.com/2053884/149386288-4cd2c2d6-9238-4476-9298-e41144f6e5ff.png)
Don't wait. Press ASAP.

[simplescreenrecorder-2022-01-13_20.09.03.mkv.gz](https://

[2022-01-13 18:28] GreenLunar opened #559 "[bukuserver] Load a specific set of tags upon autocomplete"
I've too many tags for autocomplete (as it is now) to be working properly, even on high end machines.

Buku seems to be loading ALL tags.

I suggest to start scan only on first charter;
Once a character is pressed, load only a certain set of tags that is closest to the given characters;
Doing it otherwise causes to an excessive usage of RAM.

[2022-01-14 03:35] geofflangenderfer opened #560 "feature request: work/personal dbs"
how tough would it be to implement?

[2022-01-14 03:46] rachmadaniHaryono commented on #560
see https://github.com/jarun/buku/issues/509

tldr use --db flag

example: `buku --db personal.db`

[2022-01-14 03:53] geofflangenderfer opened #561 "feature request: include title with `buku --add`"
Currently we can do:
[code]

But how can we do this? What would it take to add this feature?
[code]

[2022-01-14 03:54] #560 closed

[2022-01-14 03:58] geofflangenderfer commented on #561
you can, here's how:

[code]

[2022-01-14 03:58] #561 closed

[2022-01-14 04:05] geofflangenderfer opened #562 "disable url -> title web fetch"
how can we do this?

[2022-01-14 04:34] rachmadaniHaryono commented on #562
can you elaborate more?

[2022-01-14 06:50] geofflangenderfer commented on #562
like it auto grabs a description

[code]

[2022-01-14 06:55] rachmadaniHaryono commented on #562
with immutable flag?

[2022-01-16 19:43] minger0 commented on #536
Perhaps one step back.
How are we supposed to set up buku on a local network? Would it be that the bukubrow-host would need to run on the server that is giving the nfs right now?

[2022-01-17 01:25] rachmadaniHaryono commented on #484
@jarun, sorry i think i push a commit accidentally. c09ecfbc2745bcc7f2e70942975bfceb0536075a

can you revert it? i think i can do it, but it is better if you do it.

sorry for this

[2022-01-17 01:52] rachmadaniHaryono commented on #484
unrelated to above post

but in this issue i thought we could use yaml for issue form

https://github.com/jarun/buku/issues/558#issuecomment-1011482388

but i miss the notification on top of that page

i thought buku should update its template because when you go to https://github.com/jarun/buku/blob/master/.github/ISSUE_TEMPLATE.md there is always this notification

so i create new issue template

[2022-01-17 12:39] GreenLunar opened #563 "Enhancements to Bookmarklet"
Fetch:
- [x] URL
- [x] Title
- [ ] Description
- [ ] Keywords (as tags)

I'll be using xpath.
I'll need some help.
I need to find free time.

[2022-01-17 15:27] jarun commented on #562
Autorefresh happens on using the option `-u`. Please read the docs and try hands-on.

[2022-01-17 15:27] #562 closed

[2022-01-17 22:40] geofflangenderfer commented on #562
it looks like `--add` only accepts url and tag inputs

does that mean it always fetches web for a title?

how do I add a new bookmark without a web fetch?

`buku -w` to pull up my editor does seem to work

[2022-01-17 22:44] geofflangenderfer commented on #562
Q: how do I add bookmarks and ensure there are no http requests?

[code]

[2022-01-18 21:13] geofflangenderfer commented on #562
I wrote a function in bash/zshrc that allows me to bypass web fetches
[code]

output
[code]

[2022-01-20 10:01] GreenLunar commented on #559
Testing once again (I hope it's the right repository I'm testing).
Buku loads tags that contain a given string, not those that *begin* with a given string.
I suggest to load a selection that begins with a given string, so performance will be better.

[2022-01-20 10:11] GreenLunar commented on #543
Confirmed.  Even though editing (e.g. adding tags) seems not to work via bukuserver.

[2022-01-20 10:11] #543 closed

[2022-01-20 10:30] GreenLunar commented on #545
Easy way to get to a SIP call
![image](https://user-images.githubusercontent.com/2053884/150319975-74539740-eba7-4aa6-8fff-d7beafc76ecb.png)

Easy way into XMPP groupchat
![image](https://user-images.githubusercontent.com/2053884/150321370-198f7407-efcf-43be-9930-b98afc251f42.png)

Thank you.

[2022-01-20 10:31] #547 closed

[2022-01-20 10:40] GreenLunar commented on #548
Confirmed. Closing.

P.S. It was very very SLOOOOW, and I've only pressed Ctrl + V. Referring to #559

Pasting: `  tEstIng,           Test        ,   foOd       ,    sTrong        .    StROnger,`
![image](https://user-images.githubusercontent.com/2053884/150322911-a22a0e38-ddcc-4f3b-86e9-8b0a93b123df.png)

Result
![image](https://user-images.githubusercontent.com/2053884/150323016-194aaffe-2fda-49

[2022-01-20 10:40] #548 closed

[2022-01-20 10:48] GreenLunar commented on #554
Not fixed yet.

bukuserver doesn't even attempt to obtain the title.
Test link: `https://www.salixos.org/`

![image](https://user-images.githubusercontent.com/2053884/150324340-9c4a4ac8-ba6a-45ac-bda2-987a0daf40ca.png)

[2022-01-20 10:52] GreenLunar commented on #553
Confirmed. Closing.

[2022-01-20 10:52] #553 closed

[2022-01-20 10:58] GreenLunar opened #564 "[feature request] [bukuserver] Add link to message: Record was successfully created"
#### Feature requests
Currently, bukuserver displays the following message "Record was successfully created."
Please add to this message a link leading to the new bookmark. (i.e. `http://localhost:5001/bookmark/?flt0_id_equals=`)

Example: Record was successfully created as [Title](http://localhost:5001/bookmark/?flt0_id_equals=)

[2022-01-20 11:20] GreenLunar commented on #562
I don't think that systematically marking entries as immutable is a good option.
I think it's gonna be better to have a flag that would just say do not connect.

[2022-01-20 11:59] geofflangenderfer commented on #562
with immutable, it does at most 1 web fetch

what's the downside?

[2022-01-20 13:42] GreenLunar commented on #562
Byte-wise, no downside, since otherwise it will anyway create an entry with 0 instead of 1.

Yet, assume, I'm saving a bookmark when I'm off-line, or behind a proxy or whatever reason, and yet, I might want to update it's title or description or to a new (redirected) URL, weeks or months after I've saved it for the first time.

[2022-01-22 07:33] #554 closed

[2022-01-22 07:35] jarun commented on #536
@rachmadaniHaryono can you please guide?

[2022-01-22 07:47] rachmadaniHaryono commented on #536
i think it should be `-g` instead of `-z` to enable debugging

https://github.com/jarun/buku/blob/c7243adb5c19537a34c05a857e4a6a015ad01631/buku#L5269

unfortunately i have no experience on nfs

i assume so

other than that if you are using bukuserver, you can host it on 0.0.0.0 on computer on local network and access it by that computer ip 192.xxx.xxx.xxx

but that bukuserver is only working if yo

[2022-01-22 07:47] rachmadaniHaryono commented on #559
@jarun, can we reopen this because half of this is not yet fixed by #546?

[2022-01-22 07:53] jarun commented on #536
Yes, I requested you to guide on the installation part only.

[2022-01-22 07:53] jarun commented on #559
Sure thing!

[2022-01-22 08:19] rachmadaniHaryono commented on #536
which installation? buku, bukuserver or bukubrow-host?

other than what listed on readme of both buku and bukubrow-host and also pipx installation of buku, i have no other idea on other os

---

another method i can think about is just to setup cron job to sync your buku database to nfs system

or setup alias so your computer will copy the database after every command

something like

`alias buku-

[2022-01-22 09:08] rachmadaniHaryono commented on #536
i don't know if bukubrow host can be used on local network.

i recommend to ask on bukubrow host repo for that

but for bukuserver i said this before

`other than that if you are using bukuserver, you can host it on 0.0.0.0 on computer on local network and access it by that computer ip 192.xxx.xxx.xxx`

which just basically

1. install buku on the computer that serve that nfs system
2. run  `bukus

[2022-01-23 08:33] GreenLunar commented on #554
note: buku didn't retrieve info from web-ui.
I'll install the next release and update this issue if needed

[2022-01-25 17:43] GreenLunar opened #565 "500 Internal Server Error upon loading an extra page"
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>500 Internal Server Error</title>
<h1>Internal Server Error</h1>
<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>

--------------------------

Steps to produce
Execute bukuserver with`$ bukuserver run --host 127.0.0.1 --port

[2022-01-25 20:29] rachmadaniHaryono commented on #565
1. can you try with `debugger` flag? `bukuserver run --host 127.0.0.1 --port 5001 --debugger`

2. try with `with-threads` flag? `bukuserver run --host 127.0.0.1 --port 5001 --with-threads`

[2022-01-26 01:29] GreenLunar commented on #565
This one is stable.

Do I need to check something or submit a log?

[2022-01-26 01:32] rachmadaniHaryono commented on #565
usually there can be more than what these two lines with that debugger flag

also you can combine debugger and `with-threads` flag and see if there is more output

[2022-01-26 01:34] GreenLunar commented on #565
I'll do.

It seems that the part that is affected is `/tags/*`.

[2022-01-26 01:41] GreenLunar commented on #565
[code]

[2022-01-26 02:04] rachmadaniHaryono commented on #565
it kinda show that bukuserver don't correctly implement how to use buku on multithread

quote from [^2]

i thought with `with-threads` it should be the fix the original problem, but it actually show another problem

perhaps never recommend `with-threads` for user

@GreenLunar can you perhaps do the same thing again but without `with-threads`,
  maybe the error from first post is different than thi

[2022-01-26 10:42] GreenLunar commented on #565
[code]

[2022-01-26 10:45] rachmadaniHaryono commented on #565
what is your `locale` output?

something similar like this

[code]

[2022-01-26 11:43] GreenLunar commented on #565
Can we continue using email?

[code]

[2022-01-26 11:50] GreenLunar opened #566 "[Feature Request] Display tag count"
Upon result display, show the number of instances of a tag next to each tag.
I don't think this should be a default.
[code]

[2022-01-26 11:57] rachmadaniHaryono commented on #565
locale output look ok. at least it is not https://github.com/jarun/buku/issues/30

@jarun have you ever seen error like this?
[code]

---

i rarely open my email and don't use it to handle github issue

[2022-01-26 16:01] jarun commented on #566
You can see it if you run the following command:

    buku -t

[2022-01-26 16:01] #566 closed

[2022-01-26 21:39] GreenLunar commented on #566
I know, but it's not the same.
This is a UX matter which also indicates that tag that has 2 counts or above, already exists in the database.

On January 26, 2022 6:02:08 PM GMT+02:00, Arun ***@***.***> wrote:

[2022-01-29 23:38] GreenLunar commented on #562
Example: https://www.nuegia.net/_-dNZrq2iK87k.mp4 person:steven.rambam  --title  "Live free or die"

[2022-01-29 23:45] GreenLunar opened #567 "Config option or flag to not retrieve data from web"
Try to bookmark this link: https://www.nuegia.net/_-dNZrq2iK87k.mp4 even with `--immutable 1` or via the editor (`buku -w`).
Buku attempts to download the (whole) "page" when there is no page.

[2022-01-30 17:01] GreenLunar commented on #567
Writing down the actual reason: Not always do I have a good connection/ping/latency and it's really annoying to wait for over 60 seconds and even 5 for that matter, for a buku task to complete due to connectivity.

[2022-02-01 12:52] GreenLunar commented on #567
Further adding to my argument.
Links such as mumble://chat.actionsack.com:46304?title=Root&version=1.2.0 will be handled by myself.
Example: `mailto:lukas@rambino.net person:lukas.rambino --title Lukas Rambino --comment Lukas Rambino Personal Email`

[2022-02-01 13:15] GreenLunar opened #568 "Never attempt to fetch data from non-HTTP"
Following tickets #543 and https://github.com/jarun/buku/issues/567#issuecomment-1026809710
When saving non-http uri, just save it and never attempt to connect and obtain data.

[2022-02-07 06:24] GreenLunar opened #569 "Export/Import and Store in XBEL"
Following [comment](https://github.com/yacy/yacy_search_server/issues/452#issuecomment-1031091385) by @Dalethium.

![image](https://user-images.githubusercontent.com/2053884/152751272-0a66ac17-f4c9-462d-9240-d3238fd32036.png) https://floccus.org/assets/img/screen_select_sync_method.png

Also relevant #494 (once applied, there are already apps that can handle XBEL bookmarks for us)

[2022-02-07 09:58] GreenLunar commented on #569
Added Store to title, which would be beneficial to @OtterBrowser users
Otter Browser stores bookmarks at `.config/otter/bookmarks.xbel'

[2022-02-07 22:35] GreenLunar commented on #569
The attached XSL script converts XBEL into HTML.

1) Rename `FILENAME.xbel` into `FILENAME.xml`
2) Open XML file for edit
3) Below first line `<?xml version="1.0" encoding="UTF-8"?>`
4) Add `<?xml-stylesheet type="text/xsl" href="xbel-1.0.xsl"?>`
5) Open XML file

Done

Attachment: [xbel-1.0.xsl.zip](https://github.com/jarun/buku/files/8019193/xbel-1.0.xsl.zip)
From: [twistedmatrix.com](https://we

[2022-02-08 09:02] GreenLunar commented on #567
Another case, saving URLs of a stream `http://relay.publicdomainradio.org:80/classical.aac` from http://relay.publicdomainproject.org/
It never ends `Saving http://relay.publicdomainradio.org:80/classical.aac ...`

[2022-02-11 04:44] GreenLunar opened #570 "Help improving this script"
Hello,

I'm sharing herein a script I use for my own use.
Please let me know if you think there is something to improve.

Thank you, to:
http://tuxdiary.com/2016/03/26/buku-xsel/
https://ulno.net/blog/2017-07-19/of-bookmarks-tags-and-browsers/

EDIT: 22 FEB 2022

[code]
[bukuadd20220222.sh.zip](https://github.com/jarun/buku/files/8116362/bukuadd_20220222.sh.zip)
[bukuadd20220211.sh.zip](https://gi

[2022-02-11 15:07] apraga opened #571 "Cannot import Firefox bookmark on the command-line"
### How to reproduce
Trying to import the first time fails :
[code]

Checking with python:
[code]

Now, **using python only works** !
`
sdb.auto_import_from_browser()`

### Information
buku v4.6
FreeBSD 13.0 RELEASE
sterm 0.8.4
python 3.8.12

[2022-02-15 09:37] GreenLunar opened #572 "[docs] Renaming tags that begin with special chars"
I've tags which begin with `!` (exclamation mark)
I want to rename this character to `_` (low line)

[code]

I've overcome this problem, after reading the following note at https://github.com/jarun/buku/wiki/Operational-notes#tags

`$ buku --replace '!'read_later_travel _read_later_travel`

---

I want to add a note on that in the documentation.

Suggested addition:

**If the Tag contains characte

[2022-02-22 06:43] GreenLunar commented on #570
Update: Critical change, $IDX must not have an empty value so that user wouldn't mistakenly open Remove ALL bookmarks option.

[2022-02-22 12:00] GreenLunar commented on #570
I think that's it! (for my use case)
Comment `# OBJECTIVE` is not likely occur-able because it looks like it's impossible to quit `read` session without closing terminal*. It's still there just in case.

* I don't know if this is a good practice, not to be able to quit using ctrl+c

@jarun & @rachmadaniHaryono Remind me to buy you guys something nice.
Thank you for this wounderful software.
The si

[2022-02-23 15:40] jarun commented on #570
Feel free to donate through Github sponsors. They double it. I desperately need a new rig.

[2022-02-23 15:40] #570 closed

[2022-02-26 20:28] jarun commented on #572
Please add this to the Wiki somewhere.

[2022-02-26 20:33] jarun commented on #568
It's externally-fed. No plans to block at the tool level.

[2022-02-26 20:33] #568 closed

[2022-02-26 20:34] jarun commented on #565
Nope. Needs to be looked at by sqlite3 and not by us.

[2022-02-27 04:54] GreenLunar commented on #568
Are there other fetched contents than these Title and Comment?

What about use case when user uses `--title` and `--comment` flags?
Is there any way to entirely block buku?

I'm asking this because I'm behind Tor and often I find myself with multiple buku instances that are attempting to fetch data.

[2022-02-27 05:00] GreenLunar commented on #572
Is this good?

- If a Tag or URL contain characters like `;`, `&`, `!` or brackets, they may be interpreted specially by the shell. To prevent this, place the URL within single or double quotes (`'`/`"`).  Refer to https://linux.die.net/Bash-Beginners-Guide/sect_03_03.html for further information.

[2022-02-27 05:01] GreenLunar commented on #572
Is this good?

- If a Tag or URL (henceforth: "string") contain characters like `;`, `&`, `!` or brackets, they may be interpreted specially by the shell. To prevent this, place the string within single or double quotes (`'`/`"`).  Refer to https://linux.die.net/Bash-Beginners-Guide/sect_03_03.html for further information.

[2022-02-27 05:15] GreenLunar commented on #569
I don't think it's an orderly way to do so.  I've just posted it for the sake of information.
Would you like me to send a PR (in python) to import and export in XBEL format?

[2022-02-27 08:37] jarun commented on #569
That would be great.

[2022-02-27 23:36] rachmadaniHaryono commented on #484
i tried to use poetry for buku not haven't found better configuration yet.

there is still issue to use it without copy `buku` to `buku.py`

i also kinda wary(?) about this because this should discussed with other packager

---

i also tried to create github page with sphinx on current doc, but it is harder

another possibility is to replace it with mkdocs, but that is last option

i am more famil

[2022-02-28 08:13] GreenLunar opened #574 "[bukuserver] Support cache"
Hi, reading @rachmadaniHaryono and jumping to the top of the page.

I think that support for archive.is is a simple thing to do, for the web interface.

I'm opening this issue for @rachmadaniHaryono or I might add it myself.

[2022-02-28 08:59] GreenLunar commented on #565
Closing.

What exactly should I write them?

[2022-02-28 08:59] #565 closed

[2022-02-28 12:32] jarun commented on #574
@GreenLunar please raise a PR. We are really busy.

[2022-02-28 12:33] jarun commented on #565
Just explain the issue and they might share their own way to debug.

[2022-03-23 15:41] jarun commented on #572
I'll leave it here. It's really a shell thing than a `buku` issue. Thanks for the note.

[2022-03-23 15:41] #572 closed

[2022-03-23 15:42] #571 closed

[2022-03-23 15:43] jarun commented on #569
Closing as we expect a PR for this.

[2022-03-23 15:43] #569 closed

[2022-03-23 15:45] jarun commented on #567
I think it's pretty easy to write a shell wrapper to filter out undesired extensions. Not sure why we need to block in the tool.

[2022-03-23 15:45] #567 closed

[2022-03-28 06:54] bekuno opened #576 "probably maliciously altered Wiki links"
Hi,
a user is currently replacing many links in wiki sites.
This was also dono in your wiki:
https://github.com/jarun/buku/wiki/Installation-on-Termux/_compare/6fc7fb660bc27bd7a009db33767fe8aeddb12dd6...6bd775a7afff2f375617922bd531f64ea9d96826

[2022-03-28 11:40] rachmadaniHaryono commented on #576
thank you @bekuno

fixed with https://github.com/jarun/buku/wiki/Installation-on-Termux/800a2c167cf06dc2a50b2089047130816e167755

any reason why you ( @brlbr ) do this?

[2022-03-28 11:40] #576 closed

[2022-03-28 13:50] jarun commented on #576
Thanks @rachmadaniHaryono. I have made the wiki editable by collaborators only. Rest of the pages are untouched.

[2022-04-07 18:26] pakosaan opened #577 "importlib.metadata.PackageNotFoundError: buku"
os:manjaro,arch

[2022-04-07 19:57] rachmadaniHaryono commented on #577
please post full error log

or if you use aur, contact aur mantainer

[2022-04-22 15:40] akhiljalagam opened #578 "ImportError: cannot import name 'soft_unicode' from 'markupsafe'"
os: arch linux
python: 3.10.4
pip: 22.0.4
install method: pip3 install "buku[server]"
$ bukuserver run --host 127.0.0.1 --port 5001
[code]

[2022-04-22 15:42] akhiljalagam commented on #578
fixed with `pip install MarkupSafe==2.0.1`

[2022-04-22 15:49] rachmadaniHaryono commented on #578
https://github.com/pallets/markupsafe/issues/286

`pip3 install markupsafe==2.0.1`

based on this https://github.com/elastic/ecs/pull/1804

i may create pr tomorrow

[2022-04-24 05:52] jarun commented on #578
@rachmadaniHaryono can you please take a look why docs build is failing?

I see:

ModuleNotFoundError: No module named 'myst_parser'

[2022-04-25 10:58] rachmadaniHaryono commented on #578
actually markupsafe already pinned to 2.0.1

https://github.com/jarun/buku/blob/73df4ce7fe500a694079bcc91080fdd63485f267/bukuserver/requirements.txt#L17

https://github.com/jarun/buku/blob/73df4ce7fe500a694079bcc91080fdd63485f267/setup.py#L52

so i assume pypi version don't have this yet, maybe put this on changelog forr next release

---

@jarun,

i just notice you talk about the same problem abo

[2022-04-25 14:45] jarun commented on #577
Closing as no response.

[2022-04-25 14:45] #577 closed

[2022-04-25 14:46] #578 closed

[2022-04-25 14:49] jarun commented on #578
In case you are not able to see the build details, login with Github account details and I will add you as a maintainer.

[2022-05-24 21:57] GreenLunar opened #580 "[docs] Buku as a library"
[code]

https://github.com/jarun/buku/wiki/Buku-as-a-library

Don't use example.org
Use real URLs, preferably URLs to contents that support buku.
e.g.
https://samhh.com/blog/simpler-bookmarks
https://github.com/Buku-dev

[2022-06-01 14:43] GreenLunar opened #582 "[docs] Manage profiles"
Please add Profile Management title in the documentation.
[code]
https://github.com/jarun/buku/issues/560#issuecomment-1012724197

[2022-06-01 15:16] GreenLunar opened #583 "Automate backup"
Automated [backup](https://github.com/jarun/buku/issues/509#issuecomment-839713564) process.

My backup is in a form of a 7Zip archive `backup_buku_$(date +%Y-%m-%d).7z`

|   |   |
|---|---|
| Archive Size  | 9.9 MB (9,856,908 bytes)  |
| Content Size  |  43.9 MB (43,880,448 bytes) |
|  Compression Ration | 4.45  |

[2022-06-05 03:23] jarun commented on #580
The domain does not exist and it's evident that it's an example from the URL.

[2022-06-05 03:23] #580 closed

[2022-06-06 08:43] sjehuda commented on #580
Ok.

Though the attached diff is not related to my suggestion.
The diff is a mere correction of the current page.

[2022-06-06 16:39] sjehuda opened #584 "XMPP buku bot"
Solved by:

[code]

Hello,

I'm programming a buku bot based on the EchoBot example from Slixmpp project.

[code]

I've a problem with this function:
[code]

[code]

I want to print the resulted New Bookmark.
Must I use `searchdb` for that?

[2022-06-07 09:34] #584 closed

[2022-06-18 02:02] mitchweaver opened #586 "Feature Request: Client / Server, remote location, multiple users"
Apologize if I'm misunderstanding, but is there no way to install buku as a server to enable for remote-access and/or multiple user connections?

I'm imagining for example a buku "instance" installed and an exposed port you could do `buku --remote ip:port` to access.

Currently this is theoretically possible by using the `--db` tag and having an NFS mount of the server's db, on each client. This w

[2022-06-24 23:53] rachmadaniHaryono commented on #586
for now, no.

i don't recommend to add any new feature request for bukuserver until the required package is update

for multiple user, the only way to do it is to use multiple ip and port combination with DB_FILE env variable point to different files

[2022-07-05 16:40] ajakk opened #587 "4.7.1 release on PyPI"
Why is there a 4.7.1 release on PyPI? There doesn't seem to be a tag or release for it on Github. On Repology, 4.7 is now out of date despite it being the newest released version.

[2022-07-06 01:43] jarun commented on #587
4.7 is released as 4.7.1 on PyPI.

[2022-07-06 01:43] #587 closed

[2022-07-06 02:14] ajakk commented on #587
Why not make the versions on PyPI equal the versions in Git?

[2022-07-06 03:54] rachmadaniHaryono commented on #587
wrong upload https://github.com/jarun/buku/commit/da64fdd78fe4ddce9a6db31d3b4bea42caba6f3e#comments

[2022-07-12 03:07] lewisadm opened #588 "Feature requests: add switch for date and search for date."
#### Feature requests
Hello, would be nice to have a switch to add the date and then search for date.
This because if I add a url can be important to know if a certain url is recent or old.
For example I could be interested to search url about malware but only recent (last 12 months) because a post about malware but old of 5 years is not useful.

Maybe it would be better to have two dates, the fir

[2022-07-12 15:38] jarun commented on #588
Sorry, there's no plan date.

[2022-07-12 15:38] #588 closed

[2022-07-14 15:36] apraga commented on #484
Is there a built-in way to add a new tag from the prompt ?
From what I understand, `g` only works with existing tag.

[2022-07-14 16:32] jarun commented on #484
Use `w` to edit a bookmark and add a tag. You can add it to more bookmarks after that.

[2022-07-14 16:48] apraga commented on #484
Right, that’s what I’ve been doing. Here are 2 suggestions if other people are interested :
- add a `G` option to add/modify/set tags by name
- with this option, if the tag does not exist, create it and add it

[2022-07-14 18:39] jarun commented on #484
`buku` design doesn't allow having a tag that's not linked to at least one bookmark.

[2022-07-17 21:54] piegamesde opened #589 "Separate out server to its own repository"
Hi, I'm really happy to see this project growing. But I think it's getting too large for having everything in a single repository. Please consider factoring out the server and other non-core parts to their own repositor{y,ies}. Maybe this would also be a good occasion to transfer all related repositories to a GitHub organization, so that they may be found more easily.

[2022-07-18 01:42] jarun commented on #589
No such plans for now.

[2022-07-18 01:43] #589 closed

[2022-07-31 02:35] pokegamer5547 opened #590 "how to do fresh start when using encryption?"
I used buku long time but later i forgot it's password. I had deleted it's database since i didnt really needed those old bookmarks. But now whenever i'm trying to create new bookmark, it's still asking password twice like.
How can i do a fresh start and remove previous config?
![Screenshot_20220731-080326_Termux](https://user-images.githubusercontent.com/65234485/182007201-7f8c7aca-de4d-453c-b922

[2022-07-31 03:35] jarun commented on #590
Please remove everything under `~/.local/share/buku` and give it a try.

[2022-07-31 03:35] #590 closed

[2022-07-31 03:44] pokegamer5547 commented on #590
I did tried it but still same issue. It's asking password.
![Screenshot_20220731-091317_Termux](https://user-images.githubusercontent.com/65234485/182008943-f254edf4-61ba-4ed1-9502-2567e2fe735f.png)

[2022-07-31 04:09] jarun commented on #590
Please read the program help or man page what `-l` stands for.

[2022-08-17 07:42] GreenLunar opened #592 "Attempt to extract metadata ONLY from html/xhtml/xml files"
When bookmarking a stream or a media file, buku downloads these files. Following https://github.com/jarun/buku/issues/567#issuecomment-1026809710

[2022-08-17 07:43] GreenLunar commented on #592
Test URLs (video streams)
http://marina.art-net.co.il:120/mjpg/video.mjpg
http://marina.art-net.co.il:140/mjpg/video.mjpg

[2022-08-18 16:24] jarun commented on #592
The intention of `buku` is to bookmark web pages, not binary data.

[2022-08-18 16:24] #592 closed

[2022-08-18 16:24] jarun commented on #555
Closing as no response.

[2022-08-18 16:24] #555 closed

[2022-08-18 16:25] jarun commented on #559
@rachmadaniHaryono please confirm if this is fixed.

[2022-08-19 01:06] rachmadaniHaryono commented on #592
i think it mean when buku try to get bookmark tag, it accidentally either download the full content of url or stream the url

 while that may work for specified use case on linked issue, content type on url may not on url itself but header

[2022-08-19 01:14] rachmadaniHaryono commented on #559
no, it not yet fixed. i will look into it this weekend

current proposed solution is to add cache feature for buku tag when bukuserver start

[2022-08-19 02:25] jarun commented on #592
Feel free to raise a PR if you have ideas.

[2022-08-19 07:14] GreenLunar commented on #592
With buku I bookmark `mailto:`, `xmpp:`, and even `magnet:` URIs, which makes buku the best bookmark manager there is (incidently, buku is a contact manager too, and also a very good one).

Yes, please. Option number 3, limit content type.

I write this side note, just in case: If limit content type is applied, just don't prevent it from being added to the database.

@rachmadaniHaryono do you want

[2022-08-19 07:22] GreenLunar commented on #555
@aniketfuryrocks do you know what file format is used by nextcloud to store bookmarks?

[2022-08-19 08:24] rachmadaniHaryono commented on #592
@GreenLunar yes, so I can work on bukuserver

I will review it later when you open pr for it

[2022-08-19 15:18] GreenLunar commented on #592
Thank you.
I will be back (that's, begin to work on this) on Sunday.

[2022-08-21 12:33] GreenLunar commented on #592
I'm reading the code.
At first glance, I wanted to add a nested statement `if` to check for html or xhtml, after status 200 and method GET statements.

Further reading has led me to `SKIP_MIMES` which is a blacklist.
I suggest to turn in into a whitelist (`VALID_MIMES`) to include html and xhtml.

Will it be acceptable if I intervene at this extent of changes that will be required once reversing `

[2022-08-21 16:46] GreenLunar commented on #592
I think this should do the job.  I didn't test it yet.
[code]

[2022-08-21 23:13] rachmadaniHaryono commented on #592
i just look at this and imo better keep it as it is and don't change it for legacy purpose

next big version should have better version if buku want to check url extension

current implementation of `is_ignored_mime` will have false negative on `https://example.com/1.pdf?a=b`

you don't have to

`manager.request('HEAD', ...)` can do head request

---

`network_handler` func can be either HEAD or G

[2022-08-22 09:30] GreenLunar commented on #592
buku stucks here.
[code]
I can make a patch but it won't be the best.

Code:
[code]

Console:
[code]

However, it appears that urlib3, in contrast to urlib, says IceCast streams are html `text/html; charset=utf-8`.

[2022-08-22 09:47] GreenLunar commented on #592
Yes, or once buku finishes downoad `<head> . . . </head>`.

Here's a page sized ~9MB https://btdig.com/9a58b156d8a838951a03401840f5feeedd5efb1b

[2022-08-24 20:15] paolomi opened #595 "cannot import name 'contextfunction' from 'jinja2'"
On archlinux (python-jinja 1:3.1.2-2), when i run bukuserver:

`from jinja2 import contextfunction
ImportError: cannot import name 'contextfunction' from 'jinja2' (/usr/lib/python3.10/site-packages/jinja2/__init__.py)
`

contextfunction was replaced by pass_context in Jinja2 3.0.0 so it's definitely a dependency problem.

[2022-08-25 01:05] rachmadaniHaryono commented on #595
easier solution is to set jinja requirement, but i rather upgrade the entire package for bukuserver, but this will take time

[2022-08-25 02:40] rachmadaniHaryono commented on #595
can you try the linked pr? also what is the output of `bukuserver --version`

[2022-08-25 09:27] paolomi commented on #595
wow! You are great! It works!!!  Thanks a lot!

BTW, I'm not an expert, so I let you close this bug report, I don't know if the time is right now.

$ bukuserver --version
buku 4.7
Flask 2.1.3
Python 3.10.6 (main, Aug  3 2022, 17:39:45) [GCC 12.1.1 20220730]

[2022-08-25 09:45] rachmadaniHaryono commented on #595
i do want to close this issue but the linked pr is  not fully tested yet

tthe linked pr dont show any error as far as i tried it

what do you think @jarun?

[2022-08-25 12:44] jarun commented on #595
If you are OK with it, I am OK to merge. We can revisit if we get some issue report.

[2022-08-25 20:06] DiagonalArg opened #597 "Ubuntu 20.04 & 22.04: `pipx install buku[server]` no longer works."
Installing buku[server] on Ubuntu 20.04 and then 22.04.  [This](https://github.com/jarun/buku/issues/510) is no longer working.  I get the same error on both the older and the upgraded Ubuntu:

[code]

[2022-08-26 00:14] rachmadaniHaryono commented on #597
i create pr for this issue

if you cant wait till new release you can install with `git+https://github.com/jarun/buku.git#egg=buku[server]`

based on this https://stackoverflow.com/questions/30239152/specify-extras-require-with-pip-install-e

[2022-08-26 14:21] #595 closed

[2022-08-26 14:21] #597 closed

[2022-08-26 14:22] #559 closed

[2022-09-30 23:01] rachmadaniHaryono opened #599 "hacktoberfest 2022"
https://hacktoberfest.com/participation/#maintainers

[code]

as todo list

- [ ] Add the “hacktoberfest” topic to your repository to opt-in to Hacktoberfest and indicate you’re looking for contributions.
- [ ] Apply the “hacktoberfest” label to issues you want contributors to help with in your GitHub or GitLab project.
- [x] Add a CONTRIBUTING.md file with contribution guidelines to your reposito

[2022-10-22 13:26] jarun commented on #599
@rachmadaniHaryono can you please have a look at the CI failure?

[2022-10-24 11:10] LeXofLeviafan opened #601 ""tags: not contain" filter in WebUI is processed incorrectly"
When trying to filter bookmarks list in buku server by tags using "not contain" type of filter, the results are vastly different from what would normally be expected from such a condition.

Expected behaviour: only bookmarks without the given tag are displayed (each once or never).

Actual behaviour: _every_ bookmark displayed **as many times** as it has _tags except the given one_.

Example: if a

[2022-10-24 12:04] rachmadaniHaryono commented on #601
i can confirm this

there is something wrong on this line https://github.com/jarun/buku/blob/master/bukuserver/views.py#L248

possibly something is changed with flask after upgrade

i will investigate it further and revert https://github.com/jarun/buku/commit/9a6a2541b4e5a377abe0b85c11955ec4d920ee37 later

[2022-11-01 07:49] #601 closed

[2022-11-01 12:56] LeXofLeviafan opened #603 "The default size of a bookmarks list page cannot be reset in the GUI"
When browsing tags/bookmarks in buku server, default page size is 10 items, and it can be changed by picking another value from a dropdown menu; however, once you switched it, the only way to go back to the default size is by manually editing the URL (or resetting it via navigation, which also resets filters). Neither setting custom page size nor resetting it to default can be done via GUI.

[2022-11-02 00:00] #599 closed

[2022-11-09 12:08] Vinfall opened #604 "DeprecationWarning: 'cgi' is deprecated and slated for removal in Python 3.13"
I got the warning `DeprecationWarning: 'cgi' is deprecated and slated for removal in Python 3.13` after Void Linux bumped the default Python version from 3.10 to 3.11 (yet I don't know why Termux with Python 3.11 does not show the warning, maybe because I installed it from PyPI?).

Although it could take a lot of time for us to get our hands on 3.13, it's still better to get prepared in advance.

[2022-11-09 14:39] jarun commented on #604
Please raise the PR.

[2022-11-10 04:44] #604 closed

[2022-11-12 12:14] LeXofLeviafan opened #606 "The "last page" link in bukuserver doesn't use the current index"
When clicking on the "last page" link in bukuserver pagination (`»`), the page that's being opened isn't the _current_ last page but the one that was last at the time of the current page rendering; if the bookmarks DB had been updated since then (i.e. there was enough bookmarks added/removed to change the amount of pages), the link would be pointing on a page which isn't the last one, or even a no

[2022-11-12 13:01] rachmadaniHaryono commented on #606
i can't decide about this one

first this is flask-admin feature

quick search for `last page` show no issue (only first page, but i will continue to search it later)

if we want to implement this, it mean several things

- edit route from flask-admin to accept `page=last` query
- edit the link for that character. i suspect we have to create new html template that inherit flask-admin template

loo

[2022-11-12 13:31] jarun commented on #606
Please leave it as it is. Not  a big deal.

[2022-11-12 13:59] rachmadaniHaryono commented on #606
i think this issue can be closed for now

reopen this if flask-admin have easier method to implement `page=last` query or someone can hack flask-admin just like above description

[2022-11-12 14:13] LeXofLeviafan opened #607 "The content of details modal in bukuserver overflows"
In the bookmarks list of bukuserver, each entry has a "details" button which opens a modal frame containing a table with bookmark details. In general case, when a row of this table contains long text, it's wrapped as a normal paragraph; however, _if there's a long "word"_ (i.e. a string not containing whitespace), the _table width gets stretched beyond the frame_ (with transparent background). Thi

[2022-11-12 16:48] LeXofLeviafan opened #608 "Tags list in bukuserver is never recalculated"
After modifying tags on some bookmarks (i.e. removing old ones, adding brand new ones) and checking the tags page (`/tag/`) in bukuserver, I found out that it wasn't updated; moreover, after some experimentation I came to the conclusion that the only time tags list/usage counts is calculated is on server startup.

I believe there should be, at the very least, an option to trigger tags list recalcu

[2022-11-14 13:02] newyorkthink opened #609 "build binary file or appimage"
other like fzf and more and more
they use binary file or appimage
they don't install it ,  one file can run everywhere

[2022-11-14 13:05] newyorkthink commented on #609
and my linux cannot get newest version
![image](https://user-images.githubusercontent.com/87791643/201667467-db2e2998-3f7f-4940-b049-019a322bbc47.png)

[2022-11-14 13:06] jarun commented on #609
If you can contribute, great. Unfortunately we don't have the time.

[2022-11-15 03:29] newyorkthink opened #610 "how can remove buku: waiting for input (unexpected? try --nostdin)"
the POSIX script to show a preview of the bookmark as well:
![image](https://user-images.githubusercontent.com/87791643/201819596-87f9a2b9-c8a9-4e6d-accd-bc9e572dcdcf.png)

it can fzf have :
![image](https://user-images.githubusercontent.com/87791643/201819648-08a51001-6700-4222-9562-f0c39e01f125.png)

how can remove buku: waiting for input (unexpected? try --nostdin)

[2022-11-15 09:03] GreenLunar opened #611 "Traceback upon selecting non-existing tag"
I think it occurs also when no results are found, which is actually what happened here.
[code]

[2022-11-15 10:08] newyorkthink opened #612 "make -y argument"
![image](https://user-images.githubusercontent.com/87791643/201891578-46252447-2281-483a-87a0-03afa9a96b53.png)

some times , i delete more bookmark must enter 'y' agine and agine.

can you add '-y' argument

like:
buku -d -y <bookmark>

[2022-11-16 13:13] newyorkthink opened #613 "how can Edit bookmark. readme.md method is error."
![image](https://user-images.githubusercontent.com/87791643/202189493-021280af-96f5-4e1f-8991-ab0ef09f6091.png)

when i edit bookmark use nvim or other editor and selected index.
buku cannot edit it , just display bookmark.

![image](https://user-images.githubusercontent.com/87791643/202189896-bdb90fac-1cf0-487f-b564-b8c5f0846a75.png)

[2022-11-16 13:37] newyorkthink opened #614 "--immutable 1 not work"
![image](https://user-images.githubusercontent.com/87791643/202194910-9ca191bd-583b-437a-be39-ffb9a0329e85.png)

when i add bookmark or create bookmark and dont get web-fetch
I use argu --immutable 1 not work

[2022-11-16 14:13] #614 closed

[2022-11-16 14:14] newyorkthink opened #615 "buku -w bug?"
the offical videos
![image](https://user-images.githubusercontent.com/87791643/202203422-f5d4bc09-12e7-4d99-b581-4426ba941842.png)

and i
![image](https://user-images.githubusercontent.com/87791643/202203436-a7c5254d-754a-4082-9e0b-568c21a614d1.png)

buku -w cannot edit

[2022-11-16 14:23] jarun commented on #612
Use `--tacit`.

[2022-11-16 14:23] #612 closed

[2022-11-17 01:20] dkebler opened #616 "Dependency error trying to use pip to install"
using pip to install buku from pypi

I get this error message

[code]
I tried installing the mentioned dependency but that gives an error too

`  WARNING: Built wheel for flask-reverse-proxy-fix is invalid: Metadata 1.2 mandates PEP 440 version, but '0.2.2rc1.devNone' is not`

so I can't upgrade using pypi :(

[2022-11-17 01:43] jarun commented on #616
@rachmadaniHaryono can you please take a look?

[2022-11-17 03:36] newyorkthink opened #617 "why delete issues ? the --immutable 1 and buku -w is not work"
![image](https://user-images.githubusercontent.com/87791643/202348757-66b9c70b-80f1-4403-beb2-7879de30511a.png)

![image](https://user-images.githubusercontent.com/87791643/202348767-586b672f-48d8-4e01-88d8-28e4a5ca9169.png)

i use buku -w it show error or not edit current bookmark

[2022-11-17 07:58] rachmadaniHaryono commented on #616
already fixed on #597

[2022-11-17 13:48] rachmadaniHaryono commented on #608
i can confirm this.

this is side effect from https://github.com/jarun/buku/pull/594

2 things about this

1. maybe only cache when bookmark under certain amount
2. i agree with that button idea. something similar with like in statistic page

unfortunately i may not be able to work on bukuserver on the next few days, several issue like this and the one with css may need to wait

[2022-11-17 15:36] jarun commented on #608
It's fine. Take your time.

[2022-11-17 19:20] dkebler commented on #616
ok thanks.  Maybe include that `git+[https://github.com/jarun/buku.git#egg=buku[server]]` in the install notes for pip.  If I had known I could install direct from repo I would have tried that.

[2022-11-17 19:20] #616 closed

[2022-11-17 21:47] LeXofLeviafan opened #618 "The search field value on the main page of bukuserver isn't always submitted on search"
The search form on the main page of bukuserver includes two checkboxes ("Deep search" & "Regex"), a text field ("Keyword") and the submit button ("Search"). When either (or both) of the _checkboxes are set_, submitting the form (whether by clicking the button or by hitting Enter) opens the `bookmark/` page with the _textfield value passed as a corresponding parameter_ (such as `?flt1_buku_search_r

[2022-11-20 12:19] m000 opened #619 "Cannot reimport bookmarks from self-exported json."
It appears that the bookmarks exported as json cannot be re-imported.

[code]

[2022-11-24 21:04] piegamesde opened #620 "[bukuserver] RSS feed endpoint"
It would be cool to have bukuserver provide an RSS\* feed with the bookmarks in the order they were added\*\*. This is a useful interface to build third-party integrations. For example I'd like to build a local archive integration (ref. #127) and this could be an interesting alternative to exporting all bookmarks in regular intervals.

\* Does not be RSS, maybe there are newer better feed formats

[2022-11-24 22:06] piegamesde opened #621 "Design an icon for the server"
Buku does not appear to have an icon yet. It would be cool if it had one, especially for use in the server? For reference, this is what the browser extension uses:

![image](https://user-images.githubusercontent.com/14054505/203868707-c348556b-2ee5-4bbc-8980-3ccc116cc71a.png)

[2022-11-24 22:58] virtadpt commented on #620
RSS, ATOM, and a JSON feed would all be very useful to have.

[2022-11-25 14:12] jarun commented on #603
@LeXofLeviafan can you raise PRs for the issues you raised? We don't have bandwidth.

[2022-11-25 14:30] #611 closed

[2022-11-25 15:10] jarun commented on #619
That's not _export_, that's _print_. `buku` doesn't export to json, but supports importing Firefox exported json file.

It would be a good improvement if you can raise a PR.

[2022-11-25 15:10] #619 closed

[2022-11-26 03:54] jarun commented on #621
A bigger version of :bookmark: can be used.

[2022-11-26 03:57] jarun commented on #620
`buku` doesn't save time of addition (please go through the README first). So it can be by index.

Export to multiple formats is available and only URLs can be exported as well. If you still want RSS please raise a PR instead of waiting for others to spend their time on something they don't need.

[2022-11-26 03:57] #620 closed

[2022-11-26 11:18] piegamesde commented on #620
In many open source projects, it is polite to open up an issue and discuss first before opening a pull request, especially for new features. I am not "waiting for others to spend their time" on this, please don't make assumptions like this.

[2022-11-26 12:35] piegamesde commented on #621
While trying to add an icon I noticed this line: https://github.com/jarun/buku/blob/master/bukuserver/templates/bukuserver/base.html#L7

Not only does it make little sense to me (the base64 content literally says "PNG" with some encoding errors and nothing more), that line also does not show up in the running server's HTML output.

[2022-11-26 13:38] rachmadaniHaryono commented on #621
that is based on this https://stackoverflow.com/a/13416784

[2022-11-26 14:06] jarun commented on #620
There's the ToDo list for those.

[2022-11-26 23:22] rachmadaniHaryono commented on #620
for this to happen

1. option to enable reversed sort bookmark by id
2. endpoint for rss something like /bookmark/rss
3. optional, paging for buku, for faster rss, this will benefit bookmark page as well

this issue should be low on priority because this is new feature

currently i want buku to fix bukuserver and then new release first before adding new feature

[2022-11-26 23:26] piegamesde commented on #620
0. Save modification time (and also maybe creation time) for all bookmarks

Since my database is small enough so that I can export everything all the time it'll work with that and a systemd timer for my integration.

[2022-11-26 23:31] rachmadaniHaryono commented on #620
this one will not pass because

 see also https://github.com/jarun/buku/issues/304

[2022-11-26 23:38] rachmadaniHaryono commented on #484
current state for bukuserver before new release

bug (important)

- https://github.com/jarun/buku/issues/603
- https://github.com/jarun/buku/issues/607
- https://github.com/jarun/buku/issues/608
- https://github.com/jarun/buku/issues/618
- https://github.com/jarun/buku/issues/606 (but this is rejected, because it is flask-admin default feature)

feature (lower priority, should add to todo list)

-

[2022-11-26 23:41] piegamesde commented on #620
I don't fully understand that issue, especially: "buku needs an internet connection to work." Sorry what?

(I'd comment under that issue but it is locked; please don't lock old/stale issues)

[2022-11-26 23:49] piegamesde commented on #586
Please don't add any authentication, user management or other features like this to Buku. I like Buku because it is inherently single-user only and local-first, unlike many other bookmarking systems. Those features make installation more complex and are hard to get right, both from a UX perspective and security.

[2022-11-27 00:35] rachmadaniHaryono commented on #620
it should be 'buku have feature that need internet connection to work'  for example title and tags

i will add comment on that issue

but basically that issue explain more why we dont add date information but have `adding date tag` feature

this is automatically done by bot, if you need to ask on some locked issue try to ask it on https://github.com/jarun/buku/issues/484

[2022-11-27 00:38] rachmadaniHaryono commented on #304
it should be 'buku have feature that need internet connection to work' for example title and tags

just more explanation about the context

[2022-11-27 21:29] LeXofLeviafan commented on #603
Well, I can try at least. Haven't worked with Flask before, so I can't exactly vouch for the results…

[2022-11-27 23:03] LeXofLeviafan commented on #586
Should there be a need for authentication (i.e. to limit external access), such a thing can probably be achieved by proxying the access through a proper web-server (such as [nginx](https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication)); so I don't believe there's any reason to add it into the app itself.

[2022-11-28 02:50] #607 closed

[2022-11-28 10:29] LeXofLeviafan opened #624 "Filter indices in bukuserver aren't assigned correctly when modifying filter types (thus changing their order in UI)"
According to [this StackOverflow response](https://stackoverflow.com/a/57297664) (supported by a [direct link to the filters parsing code in flask_admin sources](https://github.com/flask-admin/flask-admin/blob/master/flask_admin/model/base.py#L1714-L1739)):

![image](https://user-images.githubusercontent.com/16271003/204252274-6c93a439-2a94-4ae1-9aac-1f90188185c6.png)

***
Meanwhile, in bukuserver

[2022-11-30 13:41] piegamesde commented on #620
Let's brainstorm other approaches: How about having some kind of web hook or shell hook that gets run every time a new bookmark is added? This would solve the problem of not having to track any time stamps for it to work. The difficulty would be to get this to work across clients: what if somebody adds a bookmark through the CLI or the browser extension?

[2022-11-30 18:59] LeXofLeviafan commented on #624
…After some checking, it turns out to be the current behaviour of flask-admin.
[I've created a ticket in respective repo to find out if this is indeed a bug or actual intended behaviour](https://github.com/flask-admin/flask-admin/issues/2310); depending on its resolution, this issue can be either cancelled (tentatively) or fixed by updating dependency version once a fix is released.

[2022-11-30 19:11] LeXofLeviafan opened #625 "Bookmarks sorting code in bukuserver is broken"
[This section of the code](https://github.com/jarun/buku/blob/65192b5a2d1352c77f8cca7c78823e3dfa71fe31/bukuserver/views.py#L237-L241) is broken, because the sorting column is set by passing `?sort=N` (in URL as request parameter), where `N` is an index in the [declared column list](https://github.com/jarun/buku/blob/65192b5a2d1352c77f8cca7c78823e3dfa71fe31/bukuserver/views.py#L138) (so the only ti

[2022-11-30 23:05] rachmadaniHaryono commented on #625
i am in favor of removing it all together

iirc early design bukuserver have each item from record on its own column

there is actually #620 feature that may benefit from sort by id

it is also possible to sort using env var but it should be done after next release